[2019-03-26 17:28] axelson commented on #769
Here is a link to the merged PR: https://github.com/elixir-lang/ex_doc/pull/974

:confetti_ball: :tada:

[2019-03-26 23:12] josevalim opened #986 "Allow autocomplete (old search) to find by Mod.fun"

[2019-03-26 23:21] wojtekmach opened #987 "Autocomplete improvements"
Ref: https://github.com/elixir-lang/ex_doc/pull/985#issuecomment-476887884

Some ideas here: http://jeremymikkola.com/posts/2019_03_19_rules_for_autocomplete.html

[2019-03-26 23:32] archdragon commented on #987
To keep it simple I would propose:
1. Sorting according to quality where `quality` = `matched chers count`/`total chars count`
2. Prioritising Modules and Functions over Exceptions and Mix Tasks

[2019-03-27 00:00] archdragon commented on #986
Few notes about this behaviour:

Old search returns all function names if the module name matches the search term. By looking at what is highlighted we can tell if the result actually matches or if it was included only, because it belongs to the matching module.
![image](https://user-images.githubusercontent.com/1810732/55040842-8616cb00-502a-11e9-9a59-26f8ac1cac13.png)

"Old search" can find the

[2019-03-27 00:38] josevalim commented on #986
@archdragon yes, please go ahead with the refactoring and this feature then as part of the existing pull request, since it will simplify the code. :D

[2019-03-27 01:20] josevalim commented on #987
Agreed.

[2019-03-27 08:01] archdragon commented on #986
On it! :)

[2019-03-27 10:54] PragTob commented on #902
:wave:

Do I understand the current state here correctly that we now have the elixir metadata to realize this and now we just need to pick it up in ExDoc and render it?

Also, am I seeing things or did this work some time in the past (I thought it did).

[2019-03-27 12:20] josevalim commented on #902
@pragtob you are correct on both.

Before Elixir would add the default docs but that caused some limitations. So we had to remove the behaviour from Elixir and add it here.

[2019-03-27 20:03] eksperimental commented on #951
Here's the WIP commits.
https://github.com/eksperimental/ex_doc/commits/dont_link_to_moduledoc_false
I prefer to upload it so you can have a look and give me your feedback.

The issue here is that we are storing all functions with `@doc` but we are not storing the ones with `@doc false` so ExDoc cannot know whether a function doesn't exist, or it does exist and `@doc` is `false`.

My solution is i

[2019-03-27 20:08] eksperimental commented on #951
@michallepicki it is the same issue

[2019-03-27 23:33] archdragon commented on #986
I've updated the search today - `Module.function` now finds results as expected.

When the search term looks like "Module.function", I've decided to only highlight the function/callback/type name, since the full module name is already displayed in the suggestion description/subtitle:

![image](https://user-images.githubusercontent.com/1810732/55117572-a0fd4400-50eb-11e9-91a3-c70d50e6636a.png)

I'v

[2019-03-28 08:24] #986 closed

[2019-03-28 08:24] josevalim commented on #967
Closing in favor of PR #985.

[2019-03-28 08:24] #967 closed

[2019-03-28 22:51] josevalim commented on #987
Apparently this feature was pushed to the branch already! :D

[2019-03-28 22:51] #987 closed

[2019-03-29 08:12] josevalim commented on #971
Ok, I have an idea on how to make this work without increasing the file size. The pop-over can actually be an iframe, that is going to link to a specific page with a query_string that says `?focused=true`. When focused is present, we will use JS+CSS to hide everything in the page except the module docs or a given function/type/callback if an anchor `#` is given in the URL.

The nice thing about th

[2019-03-29 08:15] josevalim commented on #859
@michallepicki just a quick follow up: did you start the work discussion on Hex side of things? Are you planning to? Is there anything we can do to help? Thanks! :heart:

[2019-03-29 08:21] michallepicki commented on #859
@josevalim There's an old ticket in the hexpm repo: https://github.com/hexpm/hexpm/issues/682 - maybe we should close it and open a new one in the hexdocs repo.

I haven't pushed this any further, sorry about that! I tried reading through the hex and hexdocs source to propose a solution but I couldn't figure it out and I forgot about it.

[2019-03-29 09:00] josevalim commented on #859
New issue opened here: https://github.com/hexpm/hexpm/issues/795

[2019-03-29 09:00] #859 closed

[2019-03-29 09:01] josevalim commented on #859
@michallepicki I have included a bit more of details on the new issue but I don't know exactly where on the Hex repo the changes should happen. :) I asked for clarifications from a Hex team member. :) If you can find time to contribute, either there or on ExDoc, it will definitely be welcome!

[2019-03-29 09:01] josevalim commented on #534
Fixed as we know have full text search.

[2019-03-29 09:01] #534 closed

[2019-03-29 09:05] josevalim commented on #891
Ok, I have added this as design because the work is mostly around the layout and providing good CSS classes.

[2019-03-29 10:06] #973 closed

[2019-03-29 10:13] josevalim commented on #902
Fixed in 1ca9f028aee457b42ec2e0ae18e0cb7d8cb183ca.

[2019-03-29 10:13] #902 closed

[2019-03-31 22:06] ndreynolds opened #989 "Inconsistent vertical spacing in lists"
I noticed a small styling issue related to how Earmark renders HTML for lists. It wraps list item content with `<p>` tags under certain circumstances, which causes the vertical spacing to be all over the place in nested lists such as a table of contents.

Here's a visual comparison of my Elixir library's README.md as rendered by ExDoc and GitHub:

ExDoc | GitHub
:-------------------------:|:------

[2019-04-01 06:09] josevalim commented on #989
Removing the <p> tags sound good to me, especially if it will make the markdown implementations more consistent. :+1:

[2019-04-01 06:44] RobertDober commented on #989
I have changed the corresponding Earmark ticket https://github.com/pragdave/earmark/issues/226 to **bug**.
@josevalim you might want to close it here.

[2019-04-01 07:53] josevalim commented on #989
Thank you @RobertDober !

[2019-04-01 07:53] #989 closed

[2019-04-01 19:51] archdragon commented on #971
I've starting experimenting with this idea a bit. I've prepared a rough prototype of the feature (based on the @josevalim's iframe idea) just to get a feeling for what will be needed, potential problems etc.

I've **[uploaded a demo](http://krowinski.com/ex_doc/popovers/ExDoc.Markdown.Cmark.html#before_closing_head_tag/1)** (very rough draft, for now handles simple functions only :) )

Hover over

[2019-04-01 21:38] archdragon commented on #971
Thanks!

For the prototype I've not implemented any detection - right now it just grabs all `a.no-uderlines`. :)

When it comes to detecting "popoverable" links I think we don't need anything special. I assume `external projects` will always be docs hosted on hex.pm. Then I think it will be enough to:
1) Grab all popoverable elements with a jQuery CSS selector
2) On hover, check (via a simple rege

[2019-04-01 21:52] josevalim commented on #971
Sounds good. Note the .no-underline thing is added on JS, so feel free to rename it to something more meaningful or attach the event in the same place (if you don't do it yet):

[code]

I think it is fine to have it disabled on mobile for now.

[2019-04-01 21:58] wojtekmach commented on #971
Looks great and I agree with all decisions!

When loading data into iframe, for local links do we need to make another request or there's an easy way to optimize it? For external links, if we hover over the same link twice it currently sends 2 requests, right? Do you think it's worth optimising, e.g. to limit number of requests, or should we just let browser do it's thing?

Btw, Fastly sits in fro

[2019-04-01 22:04] josevalim commented on #971
That's my vote :D especially since both the browser and fast.ly are meant to cache it!

[2019-04-02 14:00] LostKobrakai opened #990 "Endless search spinner"
When clicking the search button without text in the search box one will get a not terminating spinner as result.

[2019-04-02 14:03] LostKobrakai opened #991 "Inconvenient shortcut SHIFT + /"
On german mac keyboards `/` is created by `SHIFT + 7`, so it's not possible to hit `SHIFT + /` at all.

[2019-04-02 14:05] LostKobrakai opened #992 "Button to toggle keyboard shortcuts help modal"
See title. I had to come here to find out what shortcuts ex_doc actually supports after reading of the feature on twitter.

[2019-04-02 14:07] #990 closed

[2019-04-02 14:09] josevalim commented on #992
It is on the bottom of the page on purpose. We will give a try on this approach and we will collect feedback as necessary.

[2019-04-02 14:09] #992 closed

[2019-04-02 14:11] josevalim commented on #991
@LostKobrakai does pressing the question mark work for you on GitHub?

I looked into GitHub and they make the shortcut be `?` and not `SHIFT + /`. Is that something we could change @archdragon?

[2019-04-02 14:13] LostKobrakai commented on #992
Ah there it is. I was really wondering if this could've been missed. I would've expected it at the bottom of the sidebar though.

[2019-04-02 14:13] josevalim commented on #991
@LostKobrakai actually, let me change the question. Does pressing the question mark `?` work for you on ExDoc? Maybe it all works correctly, we are just showing the wrong information.

[2019-04-02 14:14] LostKobrakai commented on #991
Yep. `?` does work.

[2019-04-02 14:17] josevalim commented on #991
Ok, so I just need to change the text. Fix coming soon!

Btw, #protip: most websites that support keyboard shortcuts show the help exactly when you press question mark. GitHub, Gmail, etc.

[2019-04-02 14:17] josevalim commented on #991
Fixed in 27ad5b60fc127d77eb6152a895236d8c89cae441.

[2019-04-02 14:17] #991 closed

[2019-04-03 00:42] milmazz commented on #891
@josevalim Sure, I'm not an expert on CSS, but I can give it a try in a few hours.

-------- Original Message --------
On Mar 18, 2019, 14:12, José Valim wrote:

[2019-04-03 19:47] brainlid opened #993 "Full text search fails with error in console"
Love the update and the features being added.

## Versions

Version: 0.20.1
Elixir version: 1.7.3
OS: Ubuntu Linux 18.04

## Context

Generating the documentation for an Umbrella project. It generates without error.

Using either Chromium or Firefox (checked both), it works until a full text search is attempted. It spins forever. There is an error in the console:

**Chromium:**

[code]

**Firefox:

[2019-04-03 20:21] josevalim commented on #993
@brainlid thanks for the report. I have pushed a fix to master, can you please give it a try?

[2019-04-03 20:31] brainlid commented on #993
@josevalim That fixed it. Thanks! Love the new feature! :+1:

[2019-04-03 20:31] #993 closed

[2019-04-03 20:58] josevalim commented on #951
So apparently we already warn for unavailable functions within the same project. We could warn for external functions but that would be too expensive, as it would require us to load bytecode, process it and extract the docs for every external link. So I am thinking the approach we have today is probably the optimal one.

[2019-04-03 23:08] eksperimental commented on #951
I think we warn for unavailable functions with known modules (modules that have docs or functions with docs), but not the ones with @moduledoc false

[2019-04-03 23:10] eksperimental commented on #951
If we are not to link to external apps, I think it would be ideal at least to take into consideration OTP and Elixir, the question here is that this will change from version to version. So I don't know if there is a right way to do this

[2019-04-04 05:01] milmazz commented on #891
@josevalim Ok, you can find a prototype of this feature [here](https://codepen.io/anon/pen/wZMrEB?editors=1100#anon-login), this is assuming that the following input in MarkDown:

[code]

will produce the following HTML:

[code]

The `:has()` CSS pseudo-class sadly cannot be used right now as @pragdave proposed, is an experimental feature that [is not supported by any browser today](https://develo

[2019-04-04 06:06] josevalim commented on #951
We can do it for Elixir, but not for OTP (for now), and it should be fairly stable. We will still have the issue thought it can be very expensive. So I don't know...

[2019-04-04 06:15] michallepicki commented on #951
We can try linking to docs for a specific version for dependencies? I don't know if it's a good idea though, it means dependencies need to be fetched to read the version from their mix.exs, guessing 1.3.0 for ~> 1.3 could be wrong

[2019-04-04 06:56] RobertDober commented on #891
@milmazz What about
[code]

[code]

Less elegant but **safer**

[2019-04-04 07:04] RobertDober commented on #891
Let us try the IAL for the **blockquote** than

[code]

That will give us

[code]

Which could be styled like

[code]

[2019-04-04 07:05] josevalim commented on #891
@milmazz in my opinion the example you posted is excellent. We will just need to change how blockquotes look overall in order to support it.

[2019-04-04 07:12] RobertDober commented on #891
@josevalim unless I am misstaken, and I easily could be, if `:has(...)` is not supported there is no way to style the parent of our `<h*>` element 😢

That motivated my suggestion above, if any CSS guru can prove me wrong that would be great though.

[2019-04-04 07:31] josevalim commented on #891
@RobertDober my proposal is to have the  blockquote CSS be general enough that it work with and without the special headers.

[2019-04-04 07:43] RobertDober commented on #891
@josevalim are we in agreement that this approach only works iff

(i) we can select the parent of the `<h*>` tag in the CSS
or
(ii) we add the class to the `<blockquote>` element

?

Sorry for being stupid, but it is not my fault ;).

[2019-04-04 07:50] josevalim commented on #891
If you look at the examples @milmazz provided here https://codepen.io/milmazz/pen/wZMrEB, He was able to provide nice styling without any of those. Unless I am missing something too!

[2019-04-04 08:02] RobertDober commented on #891
Hopefully I am wrong, but IIANM he styles **all** blockquotes, correct @milmazz ?

[2019-04-04 08:18] josevalim commented on #891
Yes, he does. Hence my proposal to style all backquotes in generic way that
supports both with and without admonition. :)
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-04-04 08:24] RobertDober commented on #891
Ah ok if you are happy with this, why not, sorry that I assumed otherwise.

[2019-04-04 08:31] josevalim commented on #891
@milmazz btw, let's ship with three modes right now: warning, error and info. Regarding the icons, let's pick them from IcoMoon, which we already we use: https://icomoon.io/app/#/select

Let me know your preferences and I will generate a new custom font and include it in the repo.

[2019-04-04 08:47] josevalim commented on #891
Here is a suggestion on how to style the generic blockquote and also support admonition on top of what @milmazz did: https://codepen.io/anon/pen/VNeBrZ - not the most amazing thing in the world but OK?

[2019-04-04 08:58] wojtekmach commented on #534
Should we include page titles in autocomplete suggestions? E.g. it would show "Operators" here (maybe with a "Page" subheading or something)

<img width="508" alt="image" src="https://user-images.githubusercontent.com/76071/55543030-88cb8d00-56c8-11e9-95a6-49ca9b79f1dd.png">

Spoken with @archdragon and it should be relatively straightforward, what do you think @josevalim?

[2019-04-04 09:33] josevalim commented on #534
I thought about this and I think that, in contrast to modules and functions, most people won't know the exact name of the page, nor we want to guarantee the titles stay the same, so I think using the full text search or the menu is best.

[2019-04-04 16:10] eksperimental commented on #951
Michal thats a good idea, it will also help spot mentions to functions that are not supported by.the minum supported version. The question is, if we are compiling the docs with v1.8 and minimum supported version is 1.5, how does ExDoc know what are the available functions for v1.5.
Should we cover 100 of the functions with the @since attribitute? Export a manifest with all publicly available funct

[2019-04-04 16:15] josevalim commented on #951
We always check against the version you are running against so we could use `since`... but it doesn't solve the issue that we will have to load the byte code, parse it, and decode the docs.

[2019-04-04 19:56] milmazz commented on #891
@josevalim Great! I'll create the PR tonight with those 3 modes and also using the suggested font.

@RobertDober Yeah, based on José's feedback this will be a generic style for the `blockquote` element, so, there's no need of using weird CSS pseudo-class here.

‐‐‐‐‐‐‐ Original Message ‐‐‐‐‐‐‐
On Thursday, April 4, 2019 3:31 AM, José Valim <notifications@github.com> wrote:

[2019-04-04 20:03] eksperimental commented on #951
Regardless bytecode loading, are we doing it for Elixir?

[2019-04-04 21:55] josevalim commented on #951
Unsure.

[2019-04-04 22:05] eksperimental commented on #951
I will submit a PR that only keeps track of the current project. So we van move this forward

[2019-04-04 22:07] eksperimental commented on #951
Alternatively we could add and option which will be false by default --deep-scan that will allow the scanning of deps, elixir and otp.
Me, as a developer, I'm more interested in my documentation being correct than in building it fast

[2019-04-04 22:20] josevalim commented on #951
An option sounds good, IMO. It is also a good way for us to give the feature a try without  making everything slow  out of the box.

[2019-04-05 11:53] wojtekmach opened #994 "Autocomplete mix tasks"
Currently it isn't clear that a suggestion is a Mix task:

<img width="656" alt="image" src="https://user-images.githubusercontent.com/76071/55625582-812fe500-57a9-11e9-9186-59c3b4848d5c.png">

We should add a label "(Mix task)" or ideally instead prepend a "mix " so it shows up as:

* "mix compile"
* "mix compile.app"

etc.

If we do the latter though, should we also be able to search by "mix com

[2019-04-05 12:07] archdragon commented on #994
👍

That's clear and simple to add. If we decide to go with this, then I think we need to handle the "mix" prefix in search terms. (ie. both "comp" and "mix comp" should return the "compile" task as a result)

[2019-04-05 12:45] josevalim commented on #994
I like the "mix " prefix because it means we can type `"mix a"` to get autocomplete for mix tasks.

I am also wondering if we should instead fix on the Elixir side of things and make the name of the item "mix ..." in the sidebar. This means we get this for free. The sidebar for Elixir would look like this:

![image](https://user-images.githubusercontent.com/9582/55628571-5c3f7000-57b1-11e9-8c45-22

[2019-04-05 13:40] wojtekmach commented on #994
@josevalim good idea, I'm on it.

[2019-04-05 13:58] wojtekmach commented on #994
Closing in favour of a PR.

[2019-04-05 13:58] #994 closed

[2019-04-07 02:09] kzvi commented on #851
Just for the record I still have this issue on Mojave.

[2019-04-10 18:28] sztosz opened #996 "Search engine does not find documentation for functions like where, from, and, or."
### Current behaviour

https://hexdocs.pm/ecto/search.html?q=where gives no results "Sorry, we couldn't find anything for with.

https://hexdocs.pm/ecto/search.html?q=from gives no results "Sorry, we couldn't find anything for with.

https://hexdocs.pm/ecto/search.html?q=or gives no results "Sorry, we couldn't find anything for with.

https://hexdocs.pm/ecto/search.html?q=and finds only one result

[2019-04-10 18:33] sztosz commented on #996
I believe, looking superficially at different results when using keywords, that it's probably solvable by making sure that all the strings entered into the search input are treated always as strings and never as keywords with special cases for `*`, `^`, etc.

[2019-04-10 20:15] josevalim commented on #996
It may be that we can't fix it in all cases. Words like `and` and `or` are usually removed from full text search engines because they are considered stop words. We could remove the stop words and keep `and` and `or` but they will likely appear on every result.

Maybe a course of action is to add a new entry to the search suggestions that say "If you are looking for a particular module or function,

[2019-04-10 20:33] sztosz commented on #996
If autocompletion works for `and` and `or`, maybe simple solution would be to add those results that we can take from autocompletion to the full-text results?

For me personally, previous search results, I assume they were without full-text search, were better than what I get now. They were more accurate, and had the results I expected and needed. But it's my personal point of view, and I don't ex

[2019-04-10 20:54] josevalim commented on #996
They were not full text search. They were exactly what the autocomplete is now and today you can get those results without having to go to the search page.

[2019-04-10 21:02] josevalim commented on #996
Maybe we should remove stop words and increase the weight of the title.

[2019-04-11 12:21] cw789 opened #997 "Keyboard shortcuts - localization for "/" & "?""
Hey the new keyboard shortcuts are very cool,
but on my german (de-AT) keyboard the "/" and "?" are not working.

Quick research:
Keycode for "/" is 55 (with shift).
Keycode for "?" is 219 (with shift).

Implementation: [keyboard-shortcuts.js](lang/ex_doc/blob/27ad5b60fc127d77eb6152a895236d8c89cae441/assets/js/keyboard-shortcuts.js)

I can have a look at it.

[2019-04-11 12:41] josevalim commented on #997
We have fixed this on master already, thank you!

[2019-04-11 12:41] #997 closed

[2019-04-11 12:44] #996 closed

[2019-04-13 11:32] archdragon commented on #851
I have a theory about where the problem might be. I've tried to reproduce and fix it locally.

@evadne @kzvi If you have a moment can you take a look at:
1) [My demo](http://krowinski.com/ex_doc/safari_scroll/Kernel.html)
2) [Hexdocs](https://hexdocs.pm/elixir/Kernel.html)

and check if you see any difference between 1) and 2) ?

Thanks! :)

[2019-04-13 21:38] rinpatch opened #998 "Duplicate headings have the same id"
Example:
[code]
In this case both h3s will have `changed` as their id, resulting in inability to link to the second h3.

Git{lab,hub} solves this problem by giving duplicates an id that looks like this `name-<number of name occurences starting from the top>`. So in this case the first h3 wil have `changed` as it's id and the second will have `changed-1`

[2019-04-13 23:33] Dalgona opened #999 "Preserve casing of `codes` in table headers"
Currently all words in table headers are uppercased. While this is good for visually separating table headers and bodies, I think it shouldn’t apply to any text in `<code>`, since codes are usually case sensitive.

For example, following is the screenshot taken from the module documentation of `Version` in Elixir 1.8.1.

![IMG_0640](https://user-images.githubusercontent.com/2667858/56086238-3559fb

[2019-04-14 03:11] smfr commented on #851
https://hexdocs.pm/elixir/Kernel.html is slow because it's using overflow:scroll. Your demo is faster because it's using page scrolling, which is more highly optimized in Safari.

[2019-04-14 07:23] josevalim commented on #999
Yes, good call! A PR is welcome!

[2019-04-14 08:30] Dalgona commented on #999
I just opened a pull request #1000. Please review. Thank you!

[2019-04-14 08:43] #999 closed

[2019-04-24 12:54] cybrox commented on #998
Looking into this

[2019-04-24 14:10] #998 closed

[2019-04-28 20:05] eksperimental commented on #998
Awesome is has been fixed, it has been in my bucket list for ages.
Thank you @cybrox for fixing it and @rinpatch for reporting it

[2019-05-05 18:13] webdeb opened #1004 "Markdown link attributes are not supported (e.g. target=_blank)"

[2019-05-05 18:14] josevalim commented on #1004
@webdeb can you please link to the specification and provide examples of the feature you are referring to? Thank you.

[2019-05-05 18:24] webdeb commented on #1004
@josevalim https://yihui.name/en/2018/09/target-blank/

It says its **R Markdown**. However, its not in the original spec here: https://daringfireball.net/projects/markdown/syntax.text, feel free to close it, seems that plain html can also do the job very nicely.

[2019-05-05 18:28] josevalim commented on #1004
Thanks. You can see if Earmark, the underlying engine used by ExDoc supports it, but they may not since there are many markdown extensions.

[2019-05-05 18:28] #1004 closed

[2019-05-16 10:36] garthk opened #1005 "Can't link to remote types in Erlang projects"
Start a new project:

[code]

Replace `mix.exs` with:

[code]

Replace `lib/demo.ex` with:

[code]

Build the documentation and open it:

[code]

Observe:

* There doesn't appear to be a way to link from the `@doc` string to the remote type.

* The description of `hello` appears to correctly describe the types of the argument and return value:

* When you follow the link from `:opencensus.span()`,

[2019-05-16 11:39] josevalim commented on #1005
Unfortunately we can only cross link to projects where the documentation
have been published with ExDoc. Maybe we can have a way to disable this for
projects of your choice if you know they don’t use ExDoc though but I am
afraid we can’t make it work.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-05-16 12:21] garthk commented on #1005
I might be good for a PR once I get Opencensus.Absinthe and Opencensus.Honeycomb settled.

Simplest fix might be to suppress the type link from the function if the package atom starts with a lower case letter At least then we wouldn’t generate _bad_ links. We’d also want to document the limitation. Would a warning on `@doc` backtick refs like `t:lowercasepackage.type/0` be appropriate? Then devs w

[2019-05-16 15:05] josevalim commented on #1005
I actually like this idea. the Mix integration already looks for dependencies in there. We can possibly see if the manager is :mix and not include the dependencies otherwise.

[2019-05-16 15:38] wojtekmach commented on #1005
We already have _some_ support for cross linking to Erlang functions and types, e.g. this already works:

[code]

and it builds the correct _EDoc-style_ url. I'm not sure why linking to OTP works but to modules in dependencies doesn't, seem like a bug that should be relatively easy to fix.

However, this indeed never worked:

[code]

but I think we could support this.

To sum up, I think we could

[2019-05-18 14:41] RobertDober opened #1007 "Upcoming deprecation warnings in Earmark"
I am planning quite some behavioral change in Earmark, making it more GFM like as this seems to be an issue for some users.

In 1.3.3 I will implement pure links rendering as in

[code]

However in order to maintain backwards compatibility `pure_links` defaults to `nil` (that will change in 1.4 as you will see shortly) and we get deprecation warnings like so:

[code]
Forseeing that this might be a

[2019-05-18 14:45] josevalim commented on #1007
A PR would be welcome, thanks for the heads up!

[2019-05-18 14:47] RobertDober commented on #1007
Sure thing.
BTW before 1.4 you might chose to still use `pure_links: false` to not change behavior, I will take care of that according to your wishes, but that will not be very soon.

[2019-05-18 14:50] josevalim commented on #1007
I think enabling pure_links makes sense, as most people would expect it indeed. :+1:

[2019-05-20 14:42] cybrox opened #1008 "Proposal: Add shortcut for switching to other docs on hexdocs.pm"
My biggest annoyance when using hexdocs while working is switching between different project's documentations. I usually solve this by keeping multiple tabs open and having bookmarks for the documentations that I often use. So I was thinking if there isn't an easier way for solving this.

To keep things short, my proposal here would be to:
* Make the docs aware as to wether or not they are viewed

[2019-05-20 16:08] josevalim commented on #1008
I agree with the description of the problem.

Regarding having a feature that does not work on ExDoc by itself, we
alresdy have a similar feature via the versions drop down. The way it works
is that there is a docs_config.js file which sets some variables that
enables it. Hex defined a docs_config.js automatically when you deploy your
docs.

I can see a similar feature working for a “go to project

[2019-05-21 07:21] cybrox commented on #1008
Oh, I didn't know about `docs_config.js`. In that case, it would definitely make sense to use that.

and see which APIs they want to expose for auto completing docs.

For implementing this proplery (with autocomplete for projects and modules), there would definitely be hex APIs required, so I think this is the way to go.

Hexdocs, is to allow users to automatically list projects deps they want to

[2019-05-21 07:32] #851 closed

[2019-05-23 16:31] wojtekmach opened #1010 "Incorrect page section escaping in sidebar"
https://hexdocs.pm/phoenix_ecto/main.html#the-phoenix-ecto-integration

<img width="855" alt="image" src="https://user-images.githubusercontent.com/76071/58269935-df7c4b80-7d88-11e9-9010-fe7d4fac78c0.png">

[2019-05-24 05:38] cybrox commented on #1010
I'll take a look at this

[2019-05-24 08:55] #1010 closed

[2019-06-05 09:14] josevalim commented on #1008
Hi @cybrox, any progress in this front? Were you able to start a discussion with the Hex team? Thanks!

[2019-06-06 21:27] rodespereira opened #1013 "Create a config to switch the EXDocs Blacklist Model to a WhiteList Model"
Nowadays, the default of ExDoc is generate doc for all the .ex files. To exclude any file, we need to put the notation '@moduledoc false' in each file that i want to exclude .

Why don't you provide an optional flag that allow us to choose if all the files will be documented or not? So, when i want to doc some file, i will explicit define that.What do you think about it?

[2019-06-06 21:44] josevalim commented on #1013
Hi! You want modules that have no @moduledoc to be excluded by default?
What is the harm in adding @moduledoc false and be explicit about it?

Plus, even if we change ExDoc to ignore those, other tools that work with
docs, such as the h helper, won’t know about this choice, and then the
behavior between tools would be inconsistent.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder a

[2019-06-07 06:06] josevalim commented on #1013
Closing per the reasons above, thanks!

[2019-06-07 06:06] #1013 closed

[2019-06-07 18:09] chulkilee opened #1014 "Link to module without doc is rendered to hex doc"
I have an umbrella project with apps and extra markdown file (passing it in `extras` option).

In the extra markdown file, I referred `Db.Repo.init/2`, `Db.Post` and `Ecto.Repo`. And I put `@moduledoc false` to `Db.Repo` module.

Results are:

- correct: `Ecto.Repo` => a link to hexdocs page with version (probably in the mix.lock)
- correct: `Db.Post` => a link to `Db.Package.html`
- **incorrect**

[2019-06-07 19:00] josevalim commented on #1014
There is open pull request to do this for the same project but links across
projects will always assume a certain structure and it would otherwise be
very expensive to check.

I know this is a very simplistic answer but can you not link to something
that does not exist publicly?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-06-07 19:14] josevalim commented on #1014
Another option is to allow dependencies to be excluded, so we never link to
them. Maybe there is already an API for this but it is also annoying to
have to specify things you don’t want to link.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-06-07 19:43] chulkilee commented on #1014
Oh, I found #951 and #1009 are for this. Closing this issue.

I'm just mentioning module/func with ` - and actually I was surprised (in a good way) when ex_doc adds links even for extra markdown file (not in elixir code) (e.g. `mix test` is also got link!)

 I'd like to keep it as `Db.Repo` in my markdown since

- it's also rendered by other markdown supporting system (e.g. github/gitlab/..),
- ex

[2019-06-07 19:43] #1014 closed

[2019-06-10 21:39] maartenvanvliet opened #1016 "Structs with more than 32 keys have random order in docs"
When I try to generate the documentation for a struct with a typespec that has more 32 keys, the order becomes random in the generated docs. I believe this has to do with an optimalization that happens to structs with over 32 keys.

See this commit for a failing test case.
https://github.com/maartenvanvliet/ex_doc/commit/5198cf66885a16fdae02d98affb9c0870a8b521b

An output of the failing test
[code

[2019-06-10 22:07] josevalim commented on #1016
For completeness, what is your Elixir version?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-06-10 22:12] maartenvanvliet commented on #1016
Happens for me with
[code]

But also happens on travis https://travis-ci.com/maartenvanvliet/ex_doc
That runs
[code]

[2019-06-11 08:50] josevalim commented on #1016
Quick note: I think this is actually coming with the wrong order from Elixir. I will investigate with more detail later. :D

[2019-06-11 09:28] cybrox commented on #1008
Hi @josevalim sorry for the late reply, haven't gotten around to it, since I was on holidays. I'll inquire about possible solutions this week.

[2019-06-11 11:50] #1016 closed

[2019-06-11 11:54] josevalim commented on #1016
Fixed, thanks for the reproducing steps!

[2019-06-11 12:05] maartenvanvliet commented on #1016
Thanks for the fix!

[2019-06-12 13:04] wojtekmach commented on #1008
project, then Hex needs to index it.

@josevalim are you thinking about displaying package search results in the existing ex_doc autocomplete box? Indexing all of that data aside, I think it might be tricky to come up with relevant search results. That being said, if you know what you're searching for, I must say that it would be incredibly cool to be able to autocomplete things like `Enum.map`, `

[2019-06-12 13:39] josevalim commented on #1008
The sitemap is 1.2MB and it will likely only get larger. I think we would need autocomplete on the Hex side, at least as a starting point.

[2019-06-13 08:14] cybrox commented on #1008
This would indeed be awesone, however, I would still keep it separate from the existing ex_doc autocomplete box. I think it makes sense that the default search only searches the current documentation, otherwise, some confusing situations could arise with similar naming or mix tasks or modules. - But it is a very interesting idea for the future of this "quick switch" idea.

----

As for the sitemap

[2019-06-13 10:30] michalmuskala commented on #1008
My understanding is that the primary reason for cross-package search is to discover functions you can call from inside a project. If that's the case - why not use the information provided by the project to discover & index the documentation? In particular, I'm thinking of a mix task that would download & index documentation for all packages available in the project and exposed them in a unified in

[2019-06-13 11:00] Maples7 opened #1018 "Docs not found in hex.pm"
While I publish https://hex.pm/packages/ex_fieldmask/0.1.0 via `mix hex.publish`:

[code]

But going to https://hexdocs.pm/ex_fieldmask/0.1.0 gets 404.

Source code here: https://github.com/seniverse/ex_fieldmask

Help please!

[2019-06-13 11:02] josevalim commented on #1018
You should file this issue in the Hex project. We only build the docs, we
don’t do any hosting!
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-06-13 11:05] wojtekmach commented on #1018
Please make sure the docs work locally before submitting an issue, you've misconfigured your `:docs` settings and that's why you're getting an error. It needs to be:

[code]

[2019-06-13 11:05] #1018 closed

[2019-06-13 11:11] Maples7 commented on #1018
Thanks very much! Got it!

[2019-06-14 06:35] cybrox commented on #1008
@michalmuskala Thanks for the input! I think we'd have to split the discussion between package switching and fully fledged cross-package search. The original problem I'd want to solve with this issue is just _getting from package A to package B quick_, I think with all the good ideas, we are now discussing three separate enhancements that could be tackled one after the other.

1. I want to just sw

[2019-06-15 20:20] rinpatch opened #1022 "HTML: Explicitly set the text color"
Currently the `background-color` is set but not the `color`. This presents a problem when the user has custom fallback colors, as can be seen below. To avoid that please explicitly set `color`

![image](https://user-images.githubusercontent.com/37929071/59555975-f6970d80-8fc3-11e9-9db1-e8bc1d2772d2.png)

The original issue is [here](https://git.pleroma.social/pleroma/pleroma/issues/992)

[2019-06-16 08:07] #1022 closed

[2019-06-17 09:26] josevalim opened #1023 "Support author attribute"
It will be the author for epubs and use the relevant author tag for HTML: https://www.metatags.org/meta_name_author

/cc @msaraiva

[2019-06-17 09:32] whatyouhide commented on #1023
@josevalim do we need to support this at the module level as an actual doc attribute, or do you mean just using the author in the package config?

[2019-06-17 10:23] josevalim commented on #1023
@whatyouhide in the package config. This will be for the "whole artifact".

[2019-06-17 11:54] ericmj commented on #1008
What kind of API are you looking for to do the autocomplete? Today we have: https://hex.pm/api/packages?search=name:phoen*. It returns some unnecessary data so in the future we can optimize it to only return the name fields if you add `&fields=name` to the query.

[2019-06-17 12:01] ericmj commented on #1008
1. What kind of API are you looking for to do the autocomplete? Today we have: [https://hex.pm/api/packages?search=name:phoen*](https://hex.pm/api/packages?search=name:phoen*). It returns some extra data you won't need but we can add a query to limit the fields in the future.

2. This could be generated by `ex_doc` which the autocomplete script can pull from before hitting the API. Alternatively w

[2019-06-18 10:14] archdragon commented on #971
I've cleaned up the code, added specs, improved UX, and handled a bunch of edge-cases.

I've already opened the PR when I've described the changes more extensively - it's available at https://github.com/elixir-lang/ex_doc/pull/1025 :)

[2019-06-18 13:52] cybrox commented on #1008
1. Thanks for the info @ericmj! I was not aware that a search endpoint like this already existed! I think with this, I would be able to realize the main part of this issue quite easily. (I don't think the unnecessary data is too much of an issue for the moment)

2. Good point. I think I will tackle **1.** first and then take a look at how `docs_config.js` is currently generated. Since the version

[2019-06-18 14:43] wojtekmach commented on #971
Closing in favour of the PR!

[2019-06-18 14:43] #971 closed

[2019-06-20 13:18] alchexmist commented on #466
I would like to know if there is any possibility of adding support for "gettext".
I need to generate documentation for a project: English & Spanish & Galician.

A too complex solution:
[https://elixirforum.com/t/ex-doc-spanish-language-support/23140](url)

Thanks in advance for any help you are able to provide.

[2019-06-20 15:20] alchexmist opened #1027 "Support different cultures & languages"
I would like to know if there is any possibility of adding support for "gettext".
 I need to generate documentation for a project: English & Spanish & Galician.

A too complex solution:
[https://elixirforum.com/t/ex-doc-spanish-language-support/23140](https://elixirforum.com/t/ex-doc-spanish-language-support/23140)

Thanks in advance for any help you are able to provide.

[2019-06-20 15:27] josevalim commented on #1027
We would accept a pull request but note that only a minor part of the content is handled by ExDoc. Mostly section titles. Everything else comes from the project itself. So the work would be in writting your own documentation in multiple languages.

[2019-06-20 16:36] alchexmist commented on #1027
Ok. I will try update the templates myself.

Thanks for the quick response!

[2019-06-20 16:40] wojtekmach commented on #1027
@alchexmist, @joaquinalcerro is working on something similar so I'd suggest to talk to each other!

[2019-06-20 16:55] alchexmist commented on #1027
Thank you for the suggestion. Unfortunately, not much time is left to reach the deadline for the project.
I would need a quick solution.

Anyway, thank you so much.

[2019-06-20 19:56] joaquinalcerro commented on #1027
I managed to make some changes to the templates titles and subtiles using a labels configuration inside the project configuration.

It worked fine but running the test failed so my next step was to review the code and fix it.

My changes where focused on the HTML Formatter so I am still missing the EPUB part.

You can check the changes here:
https://github.com/joaquinalcerro/ex_doc

Am I on the ri

[2019-06-20 21:23] alchexmist commented on #1027
Hi all,

I would adopt a ("standard") Gettext-based approach (i18n and l10n).
I would separate by locale:
* Package (required): ex_doc (international english).
* Package (optional): ex_doc_locale_es_ES (spanish - spain).
* Package (optional): ex_doc_locale_es_ES (galician - spain).

[http://blog.plataformatec.com.br/2016/03/using-gettext-to-internationalize-a-phoenix-application/](http://blog.plat

[2019-06-20 22:42] joaquinalcerro commented on #1027
I still haven't worked with gettext. I will look into it.

Just to be clear about the requirements. Are you expecting to implement gettext on all the ex_doc text or just titles and sub titles like this:

![image](https://user-images.githubusercontent.com/10811135/59885906-25253780-937a-11e9-9184-7d8bfecbfb63.png)

Best regards,

[2019-06-20 23:06] alchexmist commented on #1027
only a minor part of the content is handled by ExDoc. Mostly section titles (@josevalim)

[2019-06-21 06:46] cybrox commented on #1027
Package (optional): ex_doc_locale_es_ES (spanish - spain).
Package (optional): ex_doc_locale_gl_ES (galician - spain).

I think creating a separate package for every locale is a bit of an overkill. Given that most people will only use `ex_doc` in english anyways, it would probably be easiest for people to just add e.g. `ex_doc_translations` when they want to use any other locale.

If you're lookin

[2019-06-21 06:52] michalmuskala commented on #1027
A think to consider is also that given how small the amount of things to translate actually is, it could be fine to bundle it all into ex_doc itself. It's just a dev-dependency anyway, so I think the size constraint is a bit less of an issue.

[2019-06-21 07:08] josevalim commented on #1027
Yes, a `translations` key or module may be enough.

[2019-06-21 07:39] cybrox commented on #1027
That's a very good point.

Considering the way `merge_config/1` works, the default english locales could stored in `ExDoc.Config` and could be overwritten by the user. That would essentially be what @joaquinalcerro has started implementing

[2019-06-21 11:10] whatyouhide commented on #1027
Whatever we end up doing, I think `gettext` would be nice to be able to handle the translations in PO files (which are very nice to work with) instead of source code.

[2019-06-21 12:26] alchexmist commented on #1027
I think it would be possible to re-use PO files from other free/open source projects (MIT, Apache2, etc.)

[2019-06-21 18:05] #1023 closed

[2019-06-21 18:30] alchexmist commented on #1027
I do not have free time!
This is my proposal (commit):
[https://github.com/alchexmist/ex_doc/commit/6c92f6eba0252667e7422c33d9d3fd86f8f73a69](https://github.com/alchexmist/ex_doc/commit/6c92f6eba0252667e7422c33d9d3fd86f8f73a69)

<img width="254" alt="exdoc_translate" src="https://user-images.githubusercontent.com/33812609/59943035-912e9b00-9461-11e9-823e-d1dedb40af05.png">
<img width="198" alt="te

[2019-06-21 19:41] joaquinalcerro commented on #1027
@alchexmist,

Gettext looks pretty simple. Apparently this way you don't have to change much code.

I can put some time in this feature this weekend.

Can we all agree gettext is the way to go? Just to be sure I will be on the right track.

[2019-06-21 20:00] josevalim commented on #1027
I think gettext is a great tool but someone should investigate how someone will set the locale and load .po files in a project that is external to `ex_doc`. It totally works when changing ExDoc itself, but the API we are going for means that someone will use `ex_doc` as a dependency and then configure it.

[2019-06-21 20:20] alchexmist commented on #1027
Hi all,

@josevalim
Would it be possible to use *:language* option? (mix help docs)

[code]

[2019-06-21 21:07] josevalim commented on #1027
We could, but that's not the problem. The problem is making ExDoc compile
its gettext backend aware of external .po files. Maybe you would have to
pass an external backend as argument:

language: "fr-FR",
getttext: SomeApp.Gettext

[2019-06-21 23:27] michalmuskala commented on #1027
I think ex_doc should just ship with ready translations and don't provide extensibility there.

[2019-06-22 06:49] whatyouhide commented on #1027
I don't think we should ship ex_doc with translations of headers and small stuff when we don't have a good support system for translating the actual documentation.

[2019-06-22 07:14] michalmuskala commented on #1027
On one side, I agree, on the other I don't think there's anything that says `@doc` is inherently English. I think the primary concern for now is with entire documentation in another language, not with documentation translated to multiple languages. The later is a much bigger endeavour.

[2019-06-22 12:38] joaquinalcerro commented on #1027
In my opinion, if someone needs documentation in another language than English, say Spanish, they should write the hole documentation in Spanish from scratch. "Automatically" translating technical documentation from any language to any language may introduce words that may change the meaning of what you cited in the other language and confuse the reader of the translated documentation.

The questi

[2019-06-22 17:59] alchexmist commented on #1027
In my opinion, I think perspective is being lost on this issue.

I agree with @joaquinalcerro:

It would be convenient to highlight at least four ideas:
* "Only a minor part of the content is handled by ExDoc". (@josevalim)
    * translate([titles, subtitles, sidebar]) & Unicode === Full language support.
* The translations would remain unchanged.
* Translate the current documentation is not the g

[2019-06-22 18:25] josevalim commented on #1027
The boring part of this issue is not choosing which tool to use, but rather localizing all strings and extracting then out. So my proposal is to find all strings in the source code we want to translate and move it a `translate(config, "String")` function. The default implementation of this function is:

[code]

Then please send a PR which we will merge. Once that is done, we will be able to better

[2019-06-23 19:12] alchexmist commented on #1027
@joaquinalcerro , I have sent the pull request:
[https://github.com/elixir-lang/ex_doc/pull/1030](https://github.com/elixir-lang/ex_doc/pull/1030)

[2019-06-23 19:23] joaquinalcerro commented on #1027
Oh... that was fast... sorry for not being fast enough... glad to help any time. Best regards.

[2019-07-05 08:15] panmichal opened #1033 "Do not move to docs root when switching version"
I noticed this when checking Elixir docs. When you are in a section (module, function etc.) on the docs page and switch version you are moved to the documentation root even when that section also exists in the version you just switched too. This happens a lot to me as I use browser search to look up things and usually land on docs for newest version which is not yet used in my projects.

You can a

[2019-07-05 08:25] wojtekmach commented on #1033
I think this is a good idea, but I'm not sure how we can implement it. Could you elaborate on the opt-in behaviour you mentioned?

Imagine a user is on https://hexdocs.pm/mix/1.9.0/Mix.Release.html and switches to v1.8.0 (where such module does not exist) - what happens? If we naively redirect them to https://hexdocs.pm/mix/1.8.0/Mix.Release.html they'd land on a 404 page. Or do we land them on so

[2019-07-05 08:33] panmichal commented on #1033
That would be this case:
[code]

But now when I started thinking more about it I'm not sure if it's possible to implement. Sections are just static html files and we don't know if given section exists.

Regarding opt-in. I meant by default everything would be as it is now. But you could somehow mark version URLs as base URLs. And that would mean new location would that base URL concatenated with c

[2019-07-05 08:43] josevalim commented on #1033
Unfortunately checking for the exact session is non trivial. The best we
can do is to check if the page exists and if it does, we redirect to it,
otherwise we go to the project root. This checking could be done with an
Ajax request.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-07-05 09:07] panmichal commented on #1033
Checking with Ajax request seems to be a not-so-bad solution. I'll play with it.

[2019-07-05 14:42] eksperimental commented on #1033
How about Chrome's restriction on remote calles when running from localhost?

[2019-07-05 15:15] josevalim commented on #1033
Not a problem here because we have a fallback and it is an opt-in feature
anyway.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-07-06 07:37] #1008 closed

[2019-07-07 06:22] eksperimental opened #1036 "ExDoc should deal with fully namespaced module names"
I think a reference to `Module` and `Elixir.Module` should link to `Module.html`,
same for `Elixir.Module.function/1`

[2019-07-10 23:39] archdragon opened #1041 "Links to functions containing `&` characters do not fully work"
Links to functions containing `&` will direct to the top of the module page (instead of scrolling to the relevant function description).

Took a quick look at it and from what I can see this happens because we're getting `&amp;` in the hash/link and just `&` in the anchor.

To reproduce:

1. Go to https://hexdocs.pm/elixir/Function.html
2. Click on `&/1`

**Current behaviour**: You are being redir

[2019-07-11 00:31] eksperimental commented on #1041
I can look into it.

[2019-07-11 00:31] eksperimental commented on #1041
And thank you for the report.

[2019-07-11 07:25] #1041 closed

[2019-07-11 08:19] archdragon commented on #1041
Thanks @eksperimental ! (it's awesome that I've mentioned an issue just before going to sleep and when I woke up it's already fixed :D )

[2019-07-11 14:21] eksperimental commented on #1036
@josevalim regarding the commit 098b99fcec956a55d3feeae47957ff76e5269d56,
I think if the developer explicitely wrote the fully namespaced module, it should be kept.

It will defeat the purpose of for example this text:

[code]

[code]

[2019-07-11 14:43] josevalim commented on #1036
@eksperimental we can do that as well. A new PR is welcome!

[2019-07-11 14:52] eksperimental commented on #1036
I will work on it

[2019-07-12 00:31] sezaru opened #1043 "Export in markdown instead of html or epub"
So, as far as I understand, ex_doc will first generate a markdown version of the documentation and then convert it into html version.

My question is, can I stop at the markdown version and output it instead of the html one? I need that because I want to try to "inject" the documentation for project inside the github wiki which only accepts markdown.

Is that possible or reasonable?

Thanks!

[2019-07-12 02:46] eksperimental commented on #1043
I would say it is totally feasible.
You will have to create a markdown formatter, which can be based upon both epub and html ones.

[2019-07-12 03:01] eksperimental commented on #1043
One of the features that is missing in IEx and I have wanted to propose for ages is (please enlighten me if I am missing something) the ability of read the documentation for the whole module, ie. moduledoc, plus funtions docs and types.
Supporting a Markdown formatter we could quickly grep and read the whole documentation from a terminal.
I support the idea of having a Markdown formatter

[2019-07-12 06:26] cybrox commented on #1043
I'm playing around with this idea a bit.

[2019-07-12 07:12] josevalim commented on #1043
It is not true that we build everything on Markdown. The docs are in
Markdown but the assembling is in HTML. Since we have standardized the Docs
chunk, I don’t see a reason to have this in ExDoc. Anyone can extract the
docs from the chunk and the API is quite uniform.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-07-12 07:32] cybrox commented on #1043
How would you do this without hooking into the formatting process of `ex_doc`? As far as I know, there is no straight forward way of getting the raw docs chunk, or am I missing something?

[2019-07-12 07:53] wojtekmach commented on #1043
The public API is [`Code.fetch_docs/2`](https://hexdocs.pm/elixir/Code.html?#fetch_docs/1) and it has all docs (but not specs) information you'd need and it's exactly what `ExDoc.Retriever` is using under the hood. Here's a quick example:

[code]

[code]

[2019-07-12 08:04] cybrox commented on #1043
Oh, just when I thought I knew quite a bit about how ex_docs works... 😄
Thanks! - I guess it is obsolete then.

[2019-07-12 12:42] sezaru commented on #1043
Thanks @wojtekmach for the code example, I guess I can use that to generate a task to do what I want without the need to change ExDoc behavior.

Should I close this then?

[2019-07-12 12:50] josevalim commented on #1043
We can do it, thanks!

[2019-07-12 12:50] #1043 closed

[2019-07-14 04:03] eksperimental commented on #1036
Should we close this issue, or there's anything else that needs to be covered?

[2019-07-14 07:02] #1036 closed

[2019-07-14 14:25] rajasekharponakala opened #1046 "Packaging for Debian"
Hey, any progress on the packaging so far? found an RFP bug.

RFP bug: https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=795495

[2019-07-14 15:33] josevalim commented on #1046
We publish ExDoc on Hex, which is Elixir's package manager. If someone wants this available elsewhere, then it is up to them, as we can't maintain packages for all distributions. Thanks!

[2019-07-14 15:33] #1046 closed

[2019-07-16 07:48] krepflap opened #1047 "How to escape backticks in inline code"
Might be an earmark issue, but I can't seem to produce the result I want.

Consider this:

[code]

Building docs gives warning : ``Closing unclosed backquotes ` at end of input``

Expected output:

[code]

Actual result:

[code]

Using double or triple backticks doesn't seem to help either.

[2019-07-16 07:54] josevalim commented on #1047
You write:

  * two backticks
  * space
  * one backtick
  * space
  * two backticks

Btw, this is a genereal markdown question. If you search for "how to ask backticks in markdown", it may show other answers.

[2019-07-16 07:54] #1047 closed

[2019-07-16 08:03] krepflap commented on #1047
Thanks José, I didn't realize the need for the spaces and I (wrongly) assumed I was stumbling on some behavior particular to exdoc/earmark.

It works now.

[2019-07-17 08:33] josevalim opened #1048 "Hardcode Elixir packages for goto functionality"
We should hardcode all 6 elixir packages in our go-to feature: elixir, eex, mix, ex_unit, logger, and iex, so autocompletion works for them too. Given they are specific to Elixir, I think it is worth hardcoding them.

What do you think @cybrox? If you agree, could you please submit a PR?

[2019-07-17 11:58] josevalim opened #1050 "Potentially remove the requestId on iframes for caching"
Hi @archdragon!

You use a `requestId=` when loading the tooltip iframe. Unfortunately that makes it impossible for the page to be cached. Can you explain why the requestId is necessary? Do you know of any other options?

Thank you!

[2019-07-17 12:26] archdragon commented on #1050
Thank you for catching that  - I should have not trouble removing it. I've added it for two reasons:

First - to avoid race conditions. Sometimes I'll see an invalid response when I: 1) hover over a link `A`, 2) hover over a link `B` and 3) `A` sends the answer back just as I start the `B` hover. But that can be fixed just by checking if the requested function/module matches.

Second - to make sur

[2019-07-17 12:27] josevalim commented on #1050
Yeah, I agree. I actually think we can just match the URL. See if the URL in src is the same as in the frame?

[2019-07-17 14:03] ericmj opened #1051 "Link directly to mix tasks in sidebar"
Since mix tasks do not seem to have any subsections except for Top it is unnecessary to show it and we should instead link directly to the task.

![image](https://user-images.githubusercontent.com/316890/61381768-d9e44300-a8ab-11e9-9961-75f2afa9efb9.png)

[2019-07-17 14:07] wojtekmach commented on #1051
This came up many times, and I believe the consensus was, and that's what we do now, is to show a little arrow icon whenever you hover over a sidebar link, if you click that arrow you'd go directly to the page instead of expanding. That being said, personally, I would be ok with not showing the subsections in cases like this one.

[2019-07-17 14:13] ericmj commented on #1051
Do you have the links to the other discussions. I don't see a reason for the extra click since I only have one choice after clicking the task.

[2019-07-17 14:18] josevalim commented on #1051
If we make some of them automatically redirect, then it is confusing because the user may be expecting only to navigate the menu and now they moved away. And that would happprn only in certain cases. Plus some mix talks have functions, such as the profile ones.

[2019-07-17 14:18] #1051 closed

[2019-07-17 14:31] ericmj commented on #1051
Aha, didn't realize some tasks have public functions.

[2019-07-17 22:19] archdragon commented on #1050
I'm on it - it's a bit more involved because of the postMessage, which does not give me a full url directly.

[2019-07-17 22:24] josevalim commented on #1050
@archdragon you can pass the URL as parameter if you want. As long as the parameter is static, we are golden. You may need to escape the URI characters on it though.

[2019-07-17 22:53] archdragon commented on #1050
@josevalim

👍

I've made it a bit simpler and prepared a PR here https://github.com/elixir-lang/ex_doc/pull/1054 - I'm sending the page URL back (next to the hint info) and check if it matches the one we just hovered over.

The URL stays static and cache works.

[2019-07-17 22:58] princemaple commented on #1050
Why did it have to be using an iframe? I'm sure there has been some discussion I didn't see, if I could get a pointer :)

Looking at all the things being passed around I just want to change it to use `(await fetch('https://hexdocs.pm/elixir/master/Kernel.html#content')).text()` and call the extraction functions.

[2019-07-17 23:12] princemaple commented on #1050
That said, I confirm that the cache works :)

[2019-07-17 23:40] archdragon commented on #1050
@princemaple Thanks for checking!

Here is the discussion that contains some info and requirements for the popovers https://github.com/elixir-lang/ex_doc/issues/971 :)

[2019-07-18 00:23] princemaple commented on #1050
The implementation didn't end up using the iframe to directly render the tooltip, do you think iframe is still a good idea? (probably good enough with the cache in place)

[2019-07-18 05:41] #1050 closed

[2019-07-18 07:06] archdragon commented on #1050
@princemaple I agree that iframe is good enough, but fetch would be more elegant. Wouldn’t we run into cross-origin issues with fetch? Tool tips can currently make requests between docs (ie localhost -> hex) and projects (ie Phoenix -> elixir). They also work on local static files (file://..., without a server running)

[2019-07-18 07:24] princemaple commented on #1050
Well, that could turn out to be a big advantage indeed. I guess it's not broken, let's not fix it. Thanks for all the replies!

[2019-07-19 06:05] eksperimental opened #1055 "Go to a HexDocs package list item shouldn't move as you mouseover it"
the purple selection indicator make the whole text to move to the right. It will be a much more smooth experience if there if there is a translucent filler in place, so when you mouse over it, all items stay in place

[2019-07-19 06:11] eksperimental opened #1056 "Versions should be left aligned"
The new version menu looks good right aligned when all versions are of the same length, but then there is for example a Release Candidate, it gives the false impression of having submenus.

You can see it in Elixir,
![version_menu](https://user-images.githubusercontent.com/9133420/61513225-a4b03000-aa26-11e9-8348-f119896ba5cb.png)

changing the direction from `rtl` to `ltr` fixes it, but the title

[2019-07-19 06:17] wojtekmach commented on #1056
The problem with left-align is on non-RC versions we'll have space between currently selected version and the "down arrow" like here:

<img width="207" alt="image" src="https://user-images.githubusercontent.com/76071/61513443-5f2b3d00-a9fd-11e9-87c7-0fd64b434b84.png">

Also, I think the same argument that "it gives the false impression of having submenus." can be made here unfortunately :(

<img w

[2019-07-19 06:18] eksperimental opened #1057 "EPUB issues"
I have come across issues with the generated EPUB documentation: /cc @milmazz

* [ ] 1. The table of contents menu, should have a tree structure like the HTML version. At the moment, the first page shows it right, but when in the reader I choose to open the TOC, it shows a flat list.

* [ ] 2. The TOC page and the TOC element, should take into consideration the --config option to structure the ite

[2019-07-19 06:21] eksperimental commented on #1057
2.  the TOC page and the TOC element, should take into consideration the `--config` option to structure the items.

[2019-07-19 06:22] eksperimental commented on #1056
maybe the arrow go on the left side?

[2019-07-19 06:25] eksperimental commented on #1056
How come? having a gap on the left it what gives the effect (at least on LTR languages)

[2019-07-19 06:26] wojtekmach opened #1058 "Closing "package switcher" with Esc blocks it from opening again"
Afterwards we can't open "?" etc.

cc @cybrox

[2019-07-19 06:28] wojtekmach commented on #1056
we thought about this, it seems it's more common for arrow to appear on right side of dropdowns.

[2019-07-19 06:33] eksperimental commented on #1056
maybe flipping the logo to the left and the title and dropdown to the right? I'm terrible with design, so I will leave it to others

[2019-07-19 06:41] eksperimental commented on #1057
3. Internal links.
Does it make sense to have them?
![image](https://user-images.githubusercontent.com/9133420/61514697-c8757500-aa2a-11e9-8c7e-27d76d1b8ede.png)

- "Anchor for this section" looks too big. I guess it could be removed, since AFAIK we cannot link from anywhere.
- "link to this function" doesn't look as bad, but I see no use for it.

[2019-07-19 06:45] josevalim commented on #1056
We virtually explored all of those options when we added the feature and the best design we could come up with is the current one. So unless someone has a concrete change (i.e. a PR that changes it to something better), I don’t have any new input to add here. Otherwise we can spend hours talking about possible options. Thanks!

[2019-07-19 06:45] #1056 closed

[2019-07-19 06:48] eksperimental commented on #1057
3. Internal links.
Does it make sense to have them?

- "Anchor for this section" looks too big. I guess it could be removed, since AFAIK we cannot link from anywhere.
- "link to this function" doesn't look as bad, but I see no use for it.

[2019-07-19 07:01] eksperimental commented on #1057
4. Deprecated notice is missing.
For example in the Behaviour module, the "This module is deprecated. Use @callback and @macrocallback attributes instead." message is missing.

[2019-07-19 07:03] eksperimental commented on #1057
5. Attributes such as `since`, or when the function is a `macro` are missing

[2019-07-19 07:18] josevalim commented on #1057
Thanks @eksperimental!

PS: btw, I have enabled Two factor auth organization wide for security but you don't have it enabled. They should have sent you an e-mail. Once you enable it, please let me know, I believe I need to give you access again.

[2019-07-19 07:22] josevalim commented on #1055
IMO the "jump" is fine as it helps highlight the transition, especially when using the keyboard to select.  The same happens on autocomplete, so we unless we can say with confidence this is a design bug (rather than a preference issue), I would leave it as is, thanks!

[2019-07-19 07:22] #1055 closed

[2019-07-19 07:25] eksperimental commented on #1057
@josevalim Yes, I got that email by GitHub. I need to fix my phone and I don't have the time and energy for that now. So it will have to wait for a bit.
I will drop you an email when I have enabled that. Thank you for letting me know.

[2019-07-19 07:34] eksperimental opened #1059 "No warnings when non available local function & Linking to no-existent local page when warnings are emitted"
If a local function is not available, ExDoc emits no warning.
For example in URI module.

[code]

emits not warning and the html output is:

[code]

But if the module URI is prepended, it does emit a warning.

[code]

warning: documentation references URI.char_reserved/1 but it doesn't exist or it's listed as @doc false (parsing URI.char_unescaped?/1 docs)

warning: documentation references URI.ch

[2019-07-19 12:30] archdragon commented on #1058
I've tried to reproduce it (on https://hexdocs.pm/elixir/master/ ), but can't.

Did you take any extra steps between opening the switcher and closing it?

[2019-07-19 12:41] wojtekmach commented on #1058
No, all I'm doing is: <kbd>g</kbd> <kbd>Esc</kbd> <kbd>g</kbd>

But thanks for checking in, I just found out the bug is on Safari but not on Firefox!

[2019-07-19 13:14] archdragon commented on #1058
@cybrox @wojtekmach I think I know what might be the case, since something similar happened to me in autocomplete. Will prepare a quick PR and demo to test this. :)

[2019-07-19 13:19] #1058 closed

[2019-07-19 18:01] darrenklein opened #1061 "UndefinedFunctionError when generating docs - ExDoc.Config.default/1"
Hello, thank you so much for all of your hard work on this project.

I was going to publish a package to Hex, and got an error that, through a little Googling, I found meant that I just needed to update my version of `ex_doc` - I ran `mix deps.update ex_doc`, which bumped me from `0.18.1` to the latest `0.21.0`.  However, when I ran `mix doc` on the project, I got the following `UndefinedFunctionE

[2019-07-19 18:08] josevalim commented on #1061
Hi @darrenklein

You probably have ex_doc on a certain environment (like dev or docs) and you are invoking ex_doc using another environment. Make sure to set MIX_ENV properly and it should work.

IN any case, we have also fixed master to have a nicer error message. :)

[2019-07-19 18:08] #1061 closed

[2019-07-19 18:08] josevalim commented on #1061
And thanks for the report!

[2019-07-19 18:13] darrenklein commented on #1061
@josevalim Terrific, thank you so much for your help (and everything you've done for the community)!

[2019-07-19 23:55] tmbb opened #1062 "Ugly font for code fragments (<samp> vs <span>)"
Now that ExDoc uses `<samp>` for code fragments, the font has become really ugly:

![image](https://user-images.githubusercontent.com/2668874/61571093-fab5bf80-aa88-11e9-8e66-d3ef5e9202a2.png)

It used to be like this when it used `<span>` tags:

![image](https://user-images.githubusercontent.com/2668874/61571065-d954d380-aa88-11e9-81a2-19f2a0468a82.png)

(Firefox on windows)

[2019-07-20 06:49] josevalim commented on #1007
I will go ahead and close this, as there is nothing actionable for us right now, but feel free to reopen or continue the discussion. :heart:

[2019-07-20 06:49] #1007 closed

[2019-07-20 06:58] #1062 closed

[2019-07-20 13:33] RobertDober commented on #1007
@josevalim Sorry but I am ready for the release for some weeks now, Dave seems to be on vacation.
As soon as I have his green light I will rebase on upstream and push to this PR.

Is this good 'nuff for you or do you wish me to ping you in a comment too?

[2019-07-20 14:18] josevalim commented on #1007
As you prefer :) thanks for the updates!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-07-20 21:36] cybrox commented on #1048
I definitely agree! It shouldn't be too hard to just add them to the search list by default and re-filter that for display.

I would be happy to submit a PR, however, I can only do so in a week. Don't have my laptop with me atm, sorry.

[2019-07-20 21:43] cybrox commented on #1050
For the sake of completion, @archdragon, cross origin blocking would not be a problem between packages (since the host is always hexdocs.pm). For local -> hexdocs, that would work if hexdocs.pm allowed requests from any origin (which it could, there's no writes happening on the docs API, it's just served assets, so it wouldn't matter). For file:// however, you're most likely better off with iframe

[2019-07-20 22:40] ericmj commented on #1048
Please add `hex` to the list of applications. The full list of applications that are on hexdocs.pm but are not Hex packages is: `elixir`, `eex`,  `ex_unit`, `hex`, `iex`, `logger`, `mix`.

[2019-07-24 05:03] chulkilee commented on #1005
Just hit this bug - as function link for Edoc works great, it would great if we can make type link work!

erlang library functions: https://github.com/elixir-lang/ex_doc/blob/e91ceb66d92402fa144be2b94616e763d43259d0/lib/ex_doc/formatter/html/autolink.ex#L381-L389

erlang core type: https://github.com/elixir-lang/ex_doc/blob/e91ceb66d92402fa144be2b94616e763d43259d0/lib/ex_doc/formatter/html/autolin

[2019-07-24 22:04] chulkilee opened #1066 "Add prefix for explicit linking on module"
Currently, erlang module is not autolinked in docs since it's impossible to tell it's for atom or erlang module. See [ExDoc: link to docs for Erlang dependency ](https://elixirforum.com/t/exdoc-link-to-docs-for-erlang-dependency/17691)

However, EDoc has module page, so it would be great if we can introduce new prefix for erlang module.

## Proposal

Markdown: Add `m:` prefix to the name.

- Erlan

[2019-07-24 22:12] josevalim commented on #1066
AFAIK we only link to Erlang modules, because opposite to Elixir, there is no standard for documentation in the Erlang community. I don't want to add new format for now until Erlang/OTP offiicially adopts the new doc chunk, so we can adopt those options with their input instead of one sided. For the reasons above, explicit references is the best call for now.

[2019-07-24 22:12] #1066 closed

[2019-07-24 22:22] chulkilee commented on #1066
Seems like I wasn't clear enough. This is for markup in Markdown, not code annotation level. So doc chunk is not relevant here.

Is this true? [EDoc](http://erlang.org/doc/apps/edoc/chapter.html) seems to part of main Erlang/OTP , and I could not find any other doc generation tool.

I thought EDoc is de-facto Doc tool for Erlang, as ExDoc for Elixir - isn't it? Also please note that ExDoc already

[2019-07-24 22:25] josevalim commented on #1066
I understand you correctly, the point above still stays.

The Erlang docs themselves actually are not generated with Edoc. Other projects like rebar3 and cowboy have their own style. Unfortunately we cannot assume a standard when it comes to Erlang modules.

[2019-07-24 22:26] josevalim commented on #1066
IIRC this was mostly to cover Erlang stdlib. For anything outside of Erlang's stdlib, I don't think we should link to.

[2019-07-24 22:39] chulkilee commented on #1066
Thanks for the explanation :heart:

Seems like "standard on URLs of generated documentation"  should be a part of [Erlang Ecosystem Foundation – Documentation Working Group Proposal](https://erlef.org/documentation-working-group/)

[2019-07-26 07:41] #1059 closed

[2019-07-28 07:39] adamu opened #1068 "icomoon font doesn't local locally in Firefox 68"
When running `mix docs` and opening the generated docs, I get the following console errors:
`
Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at file:///.../doc/dist/html/fonts/icomoon.ttf. (Reason: CORS request not http).`
`Cross-Origin Request Blocked: The Same Origin Policy disallows reading the remote resource at file:///.../doc/dist/html/fonts/icomoo

[2019-07-28 08:01] josevalim commented on #1068
Is there anything we can do here? Are there other ways to load fonts that
do not use font family?
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-07-28 19:42] archdragon commented on #1068
I did some research and, so far, managed to find only one possible solution.

To fix the issue some people base64-encode the font files. An example can be found here:
https://gist.github.com/awestmoreland/6182292

If we want to use this technique, there are Webpack loaders available (ie https://www.npmjs.com/package/base64-font-loader ) that should encode fonts automatically.

[2019-07-28 20:17] josevalim commented on #1068
Oh, I like that! The downside of base64 is that it increases the size in 33% but overall it takes 16kB, so increasing that to 22kB should be fine!

[2019-07-29 06:45] cybrox commented on #1068
In terms of increasing size, I'm assuming the 16kB currently hold the whole basic icomoon font? If so, we could probably look into creating a font-file with just a subset of icons, including only the icons we really use. I know that other webfonts offer this with an on-site generator, not sure about icomoon.

[2019-07-29 06:54] josevalim commented on #1068
The current files already hold only the necessary subset.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-07-29 07:47] cybrox opened #1070 "Hide packages without docs in quick-switch"
<kbd>g</kbd> + `cowboy` will get search results for cowboy (and some `cowboy_` packages) but none of these have their docs on HexDocs.

Since the feature is now named "Go to a HexDocs package", should we just filter out those entries?

If we decide to do so, I tried to filter by the `releases` key returned from the hex API but all packages seem to have releases with the property `has_docs: false`,

[2019-07-29 07:49] #1048 closed

[2019-07-29 07:57] wojtekmach commented on #1070
that's a Hex bug, I'm looking into it.

[2019-07-29 09:08] wojtekmach commented on #1070
@cybrox the fix is live on hex.pm.

[2019-07-29 09:33] cybrox commented on #1070
@wojtekmach Thanks a lot!

Could it be that some search queries are cached? Querying `ecto*` returns has_docs as false for all the releases of `ecto_audit`, however, querying for `ecto_audit*` returns true for the latest 3 releases.

If it's just cache, I'll PR the change for quick-switch, it will take a while to be included in an ex_doc release anyways :)

[2019-07-29 09:34] wojtekmach commented on #1070
Yup, forgot to mention that we have a cache so you might see stale data!

[2019-07-29 11:02] cybrox commented on #1070
Solved by #1071

[2019-07-29 11:02] #1070 closed

[2019-07-30 16:47] milmazz opened #1074 "EPUB styles"
Hello @elixir-lang/exdoc

I will try to fix all the issues reported by [epubcheck](https://github.com/w3c/epubcheck) after producing the EPUB document for [elixir-lang/elixir/](https://github.com/elixir-lang/elixir/) this week that I have some time, but I was wondering if there is any volunteer that could help me improving the CSS styles for the EPUB document.

I would like to see something as pol

[2019-07-30 16:51] josevalim commented on #1074
Is the swift epub open source? If so, we can check the license of the CSS files and see if we are allowed to use them. If so, we can add it and do some modifications to it (minor ones, like making the border light purple?).

[2019-07-30 17:10] milmazz commented on #1074
@josevalim Yes, the Swift EPUB use these three CSS files from the Sphinx team (BSD license):

* [epub.css_t](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/epub/static/epub.css_t)
* [basic.css_t](https://github.com/sphinx-doc/sphinx/blob/master/sphinx/themes/basic/static/basic.css_t)
* `pygments.css`

[2019-07-30 17:52] josevalim commented on #1074
I believe we can use them then. We just need to make sure to keep the notices in the .css files when we copy their contents!

[2019-07-31 14:45] milmazz opened #1075 "EPUB: Broken links on Elixir embedded documentation"
After creating an EPUB document from the Elixir source code I noticed that the embedded documentation introduce a couple of _broken links_ (basically the markdown link assumes that the extension is `.html`) in the following modules:

* [`Kernel`](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/kernel.ex#L130-L142)
* [`Application`](https://github.com/elixir-lang/elixir/blob/master

[2019-07-31 14:49] josevalim commented on #1075
I can’t think of anything better than that. I.e. we have to rewrite local
links from html to xhtml.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-07-31 17:37] artur79 commented on #1061
@darrenklein I'v encountered similar issue once, after running ```mix docs``` but unexpectedly when I'v triggered that command again docs has been generated without any issue.

[2019-08-04 11:56] #1027 closed

[2019-08-05 11:51] ericmj opened #1076 "Warn if `:main` does not point to an existing file"
It is easy to give the wrong casing on this config. Since some file systems are case insensitive it would work locally but not when uploaded to hexdocs.pm.

[2019-08-06 05:27] cybrox commented on #1076
Can look into this

[2019-08-06 06:20] cybrox commented on #1068
I just took a look at this again.

* Regarding the subset of icons, we currently include `link`, `search`, `cross`, `menu`, `moon`, `sun`, `redo2`, `angle`, `code` of which `moon`, `sun` are unused. If we'd generate a new subset without these, we could probably save the 33% increase of base64 (not that it'd be that critical)

* I did a test with [base64-inline-loader](https://www.npmjs.com/package

[2019-08-06 07:18] josevalim commented on #1076
@cybrox I think we raise a warning but our warning doesn't check for the casing when it runs on a case insensitive OS. So we need to change the warning to check for casing. Probably we should stop using File.exists? and instead we need to get the dir the file name, perform a File.ls and see if the filename is in the returned result or something.

[2019-08-06 07:20] josevalim commented on #1068
Good find. I can look into reducing the set later. :+1: Moon and sun stopped being used once we removed the nightmode from the sidebar.

[2019-08-06 09:44] archdragon commented on #1068
👍

I also took a look at this over the weekend.

1. I think there is no need to embed all the fonts. I propose embedding just one font format - `.woff`, and leaving everything else as it was.

2.

    👍

    What do you think about using `url-loader` ( https://github.com/webpack-contrib/url-loader ) for this purpose? It's a "core" webpack package, always up-to date and looks like the most popular

[2019-08-06 10:43] cybrox commented on #1068
Definitely in favor of that, then! I also think with encoded woff, we should cover [more than enough browsers](https://www.w3schools.com/css/css3_fonts.asp).

Looks :+1:

[2019-08-08 08:44] cybrox commented on #1076
Ah, you're right. I've dug up my MacBook, going to take a look at this.

[2019-08-08 12:39] #1076 closed

[2019-08-13 01:05] asummers opened #1078 "Error Generating Docs For Modules With @compile {:autoload, false}"
So we have a module that includes the module attribute:

[code]

The context there is some NIF loading code, if that's important.

When running `mix docs` it produces the following stack trace:

[code]

This module has `@moduledoc false` and `@doc false` above all the functions, so I'm not sure if there's something I can do to tell it to not try to do this. When removing the autoload false, it suc

[2019-08-13 08:23] #1078 closed

[2019-08-13 12:12] asummers commented on #1078
Can confirm this is now fixed after `24d9783`. Thanks @josevalim

[2019-08-15 10:06] fertapric opened #1079 "Support function expressions with multiple arities `fun/1,2`"
As discussed in [the Elixir mailing list](https://groups.google.com/forum/#!topic/elixir-lang-core/75Rz_Ds-aEk/discussion).

The first arity in the expression should be the one used to create the link (the Erlang documentation seems to do the same). For example `Module.fun/1,2` would link to `Module.html#fun/1`; and `Module.fun/4,3` to `Module.html#fun/4`. This option allows developers to control

[2019-08-15 10:15] josevalim commented on #1079
@fertapric I am not a big fan of the inversed arity. The lack of standard will be confusing for readers.  My suggestion is to always point to the last one and you can use a custom link if you want to change it.

[2019-08-15 10:39] cybrox commented on #1079
I could take a look at this. :)

@josevalim Regarding the _not having a standard_ part, I agree that always linking to the first or last makes sense. For consistency, would it make sense to sort the arities in ascending order, if a user chooses to write `Module.fun/4,3` in their docs or would you just leave that as-is?

[2019-08-15 11:11] fertapric commented on #1079
@cybrox if we want to make the standard stricter and not support inversed arity (or random arity `fun/2,1,3`, then I would only link if the arities are in ascending order.

[2019-08-15 11:14] fertapric commented on #1079
@josevalim I suggested the first arity because:

* that's [how it works in the Erlang documentation](http://erlang.org/doc/man/io_lib.html#fwrite-2)
* it feels more natural to scroll down to see the rest of arities than scrolling up

[2019-08-15 11:18] cybrox commented on #1079
@fertapric Agreed. Also, in a lot of cases the lowest arity version of a function is the "common" one. (e.g. `fwrite/2` for the 'generic' behaviour, `fwrite/3` for when you want to 'customize' it more)

[2019-08-16 01:28] eksperimental commented on #1079
We may not necessarily have only one link.

The way it should work IMO is to have different links but compact the links as much as possible. It should be based on the list of functions with arities that we see in the side bar and compact.

For instance, we get on the side bar for Enum:
* chunk_every/2
* chunk_every/4

So if we write `Enum.chunk_every/2,4`, then `Enum.chunk_every/2` should link to

[2019-08-16 05:56] cybrox commented on #1079
While I do see the benefit of this, I am personally not a huge fan of microscopic mouse movements changing a link target. Or rather, I can imagine this behaviour to be quite confusing for someone using the docs for the first time (especially when it does not always link to the exact arity clicked on because of optional parameters)

I think we could get away with something similar if ex_doc would s

[2019-08-16 09:21] narrowtux opened #1081 "Documentation for typespecs"
It would be great to be able to document `@type`-specs.

My use case would be documenting all the options a function supports in an options keyword list:

[code]

[2019-08-16 09:30] cybrox commented on #1081
You can use `@typedoc` for this, check out [this](https://github.com/elixir-lang/elixir/blob/v1.9.1/lib/elixir/lib/string.ex#L206-L213) as an example.

[2019-08-16 09:34] josevalim commented on #1081
Exactly as @cybrox said. Thanks!

[2019-08-16 09:34] #1081 closed

[2019-08-16 10:59] narrowtux commented on #1081
Oh, cheers!

[2019-08-16 13:05] eksperimental commented on #1079
It is not microscopic. That would be on a pixel level.
It is about accuracy.
When having multiple arities reader will learn that if you click on the arity it WILL take to the function with that arity. Just the anchor will be different as explained above.

The commin use case is to use the arities in ascending order, so if the reader clicks on the function name it will take you to the first functio

[2019-08-16 13:09] josevalim commented on #1079
Let's link only the to the first one. Given there is no visual indication, I don't think people will expect that clicking on a particular number will take them elsewhere. But I am guessing and we can always collect feedback. So while we collect that, let's ship with the simplest one.

[2019-08-20 09:06] cybrox commented on #1079
I think this can be closed with the merge of #1080; I think we can open new issues if feedback / bug reports from the implementation should come in.

[2019-08-20 09:23] #1079 closed

[2019-08-28 16:21] chulkilee opened #1084 "func doc is not generated when @impl is given"
If `@impl` is given - either `true` or module name - the func doc is completely hidden (not even using the doc of the `@callback`).

Expected behavior would be: include the callback doc if `@doc` is missing, even `@impl` is given.

- Elixir: 1.9.1 (compiled with Erlang/OTP 22)
- ex_doc: 0.21.1

[code]

[2019-08-28 16:36] josevalim commented on #206
It has all of the issues above. A callback may refer to a local type defined in the same module as the callback. So we would need to rewrite and said rewrite would still be broken for private types.

[2019-08-28 16:36] josevalim commented on #1084
Yes, it is documented as part of the `@impl` attribute. It automatically sets `@doc false` unless you explicitly override it.

[2019-08-28 16:36] #1084 closed

[2019-08-28 16:52] josevalim commented on #1084
I don't see how we could do that without changing existing behaviour. Because even if we store in different places, you want to change the behaviour `@impl` no longer implies `@doc false`, correct? In your case, you need explicit docs.

[2019-08-29 04:21] yordis opened #1085 "Confusing deprecation warning message"
[code]

I don't have this link in my app. Maybe we meant to replace that link with the link I am using in `message.ex:6` for example?

[code]

Also no clue where tha flag suppose to go

[2019-08-29 07:08] yordis commented on #806
@wojtekmach @josevalim I would love to share a thought about this topic

From the following code

[code]

Why can't we do what `defdelegate` does?

We use `@impl Parser` which means we know which module we suppose to point to and then use the function name to figure out the callback name.

No?

[2019-08-29 10:48] josevalim commented on #806
The reason why @impl hides docs is because it can also be used for
GenServer and similar, where you don’t want the callback implementation to
be part of the documentation. So you have to do it explicitly.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-08-29 11:51] josevalim commented on #1085
/cc @RobertDober

[2019-08-29 18:29] RobertDober commented on #1085
Checking it out....

[2019-08-29 18:39] RobertDober commented on #1085
@josevalim you can close this here, @yordis thank you for the report, and sorry for the mistake.

[2019-08-29 18:40] RobertDober commented on #1085
@yordis the option is set in `%Earmark.Options{pure_links:....}` as second para to `as_html` and `as_html!`

[2019-08-29 18:41] RobertDober commented on #1085
@josevalim did you not merge my PR in the way to avoid the deprecation warning, though????

[2019-08-29 18:44] josevalim commented on #1085
I merge but I did not release a new version. The new version was out just earlier today!

[2019-08-29 18:44] #1085 closed

[2019-08-29 21:46] yordis commented on #1085
🎉

[2019-09-10 09:01] ianrumford opened #1091 "ex_doc 0.21.2: "@spec x_p0_x() :: any" crashes mix docs"
Erlang/OTP 22 [erts-10.4.2] [source] [64-bit] [smp:16:16] [ds:16:16:10] [async-threads:1]
Elixir 1.9.1 (compiled with Erlang/OTP 22)
ex_doc 0.21.2

This compiles fine but `mix docs` crashes:

`defmodule A do
  @spec x_p0_x() :: any
  def x_p0_x() do
    42
  end
end`

Seems to be because of the *_p0_* in the function name:

        (stdlib) :maps.get(:_p0_, %{_p1_: "<a href=\"https://hexdocs.pm/el

[2019-09-16 14:21] yordis commented on #806
@josevalim I know we tried to fix this and we didn't find any viable solution, but, can we give a second try to this issue?

I keep coming back to this issue and I would love to mitigate the misinformation from the documentation.

I am not sure what do you mean by being used for GenServer since I thought this `@impl` was used for defining implementations of `@callback` from a Behaviors. I would lo

[2019-09-16 14:36] wojtekmach commented on #806
@yordis imagine you implement a GenServer with a handle_call function (without marking it as `@impl true`) and generate docs for it, say with ExDoc. Now your module docs will have a huge wall of text which is the handle_call docs, which aren't relevant at all to your module's docs, they're by definition implementation details.

[2019-09-16 15:43] yordis commented on #806
@wojtekmach got it, that is why we decided to hide the docs automatically 😢

What about

[code]

I guess the issue is that we made the decision to hide the doc is now problematic to fix.

[2019-09-16 16:00] wojtekmach commented on #806
if you want to highlight the fact that something is a, say, GenServer, you can do it explicitly today:

[code]

This is my personal opinion, but I just don't see the problem here, given callbacks are implementation details it makes a lot of sense to me to hide them.

[2019-09-16 16:05] wojtekmach commented on #806
btw, regarding copying callback docs to functions that are implementing them, while I originally really liked this feature, it does suffer from the same problem as copying specs would (which we didn't implement), which is, if said docs refer to some local functions/types/etc, these links would be broken when copied.

For this reason, I'd given go as far as not _copying_ callback docs, but instead

[2019-09-16 16:12] wojtekmach commented on #806
Just to be clear, on one hand I'm arguing that we shouldn't show callback docs in the first place, but on the other that if we do, instead of copying the docs we should create minimal ones instead, so what's the deal, right?

One particular use case for copying callback docs is when `use Mod` defines functions that are documented as callbacks and are defoverridable, like `use Ecto.Repo` for exampl

[2019-09-16 17:07] yordis commented on #806
Right, I totally agree, but I am losing the ability to have a nice documentation in non-genserver behaviors.

I really like this idea! It makes the typespec simple and we get documentation linking which is even better/

[2019-09-16 19:09] wojtekmach opened #1093 "Replace callback docs copy with a link"
In #641 we made it so that callbacks docs are copied to a function (unless it has `@doc false`).

There was a similar proposal #815 about copying typespecs which ultimately has not been accepted given the copy can be wrong, if it referred to private types. The same problem exists for copying docs although it's less severe given it's, well, docs.

I'd like to propose to replace docs copy with docs

[2019-09-16 19:39] josevalim commented on #1093
The problem is that @impl true automatically disables docs, so by adding
this we would be basically punishing those who use the @impl true feature
and the behavior would certainly be surprising. I am not sure there is an
answer for this.
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2019-09-16 20:00] wojtekmach commented on #1093
Punished how? Perhaps it wasn't obvious, but just to be clear that if function has `@doc false` (or `@impl true` that sets it), we *will not* copy the docs. The only difference would be for users that were already relying on copying docs, instead of the whole docs they'd just have a link.

[2019-09-16 20:24] josevalim commented on #1093
That’s the point though. Setting @impl true is the best practice. We want to encourage folks to do it.

[2019-09-16 20:28] wojtekmach commented on #1093
grr, what I meant to write was:

just to be clear that if function has @doc false (or @impl true that sets it), we will neither copy nor link to the callback docs.

If your point is that `@impl true` is best practice (which I wholeheartedly agree with) and so we shouldn't spend time on features for people _not_ using `@impl true` where they should - if that's your point, I can get behind that. :+1

[2019-09-16 20:35] josevalim commented on #1093
Yes exactly. The option is to explicitly add docs redirecting, that’s it.

[2019-09-16 20:39] wojtekmach commented on #1093
just to be clear, the proposal was about changing existing behaviour of copying callback docs into creating docs that point to a callback under the same circumstances. But I guess it does fall under "feature for people not using `@impl true`" so let's leave it at that ;)

[2019-09-16 20:52] josevalim commented on #1093
Oh, I see. Yes, let's create docs that point to the callback instead of copying.

[2019-09-16 22:12] #1093 closed

[2019-09-17 19:45] #1091 closed

[2019-09-18 07:16] cw789 commented on #997
This issue isn't fixed.

I would suggest to refactor "keyboard-shortcuts.js" using `KeyboardEvent.key` instead of `keydown.keyCode`.
Even if `KeyboardEvent` is still a working-draft it seems to have a good support: [caniuse](https://caniuse.com/#feat=keyboardevent-key)

[2019-09-18 07:25] cybrox commented on #997
FYI, for `/`, you can use `s`, since it's just an alias.

However, it is still an inconvenience and I do agree that should be fixed, so that shortcuts are consistent for de-DE/de-CH keyboards as well.

Regarding browser support, I don't think there's anything keeping us from using `KeyboardEvent.key` on top of the current implementation and using `keydown.keyCode` as fallback.

[2019-09-18 08:45] cw789 commented on #997
I've not tested it properly but the following change within `keyboard-shortcuts.js` should do the trick:

[code]

[2019-09-18 11:58] Hajto opened #1095 "Docs fail build on first build after update from 0.20.1 to 0.21.2"
## How to reproduce
 - clone: https://github.com/bblaszkow06/ex_doc_update_crash
 - mix deps.get
 - mix docs
 - g checkout ex_doc_21_2
 - mix deps.get
 - mix docs and it crashes

Building above mentioned minimal project reproducing issue we discovered that it crashes only first time after checkout and only when there are some extras.

## Additional information

We discovered this on our guide (htt

[2019-09-18 12:52] josevalim commented on #1095
Hi @Hajto, I cannot reproduce the issue. Note that the mix.lock for master is already using ExDoc 0.21.2, but I hardcoded both ExDoc and Makeup versions and I still could not reproduce it. What Elixir version are you uisng? Have you tried the latest?

[2019-09-18 12:53] Hajto commented on #1095
Elixir 1.9.1 (compiled with Erlang/OTP 22)

[2019-09-18 12:57] Hajto commented on #1095
https://recordit.co/gn2CxO9cBR

[2019-09-18 12:58] Hajto commented on #1095
lock on master is locked on 0.20.1 https://github.com/bblaszkow06/ex_doc_update_crash/blob/master/mix.lock#L3

[2019-09-18 13:05] Hajto commented on #1095
I think this is strong hint may bo going wrong:
[code]

[2019-09-18 13:05] wojtekmach commented on #1095
I couldn't reproduce this either. It looks like by switching branches you are switching between makeup versions and the stacktrace points to it as well. For a lack of a better answer, seems things are working on latest version? On slack you mentioned that  you needed to additionally call `mix deps.compile` to make it work?

[2019-09-18 13:12] Hajto commented on #1095
I execute `mix docs` twice.

[2019-09-18 13:18] josevalim commented on #1095
Ah, good catch @Hajto. I am on Elixir master, which has a fix for this issue: https://github.com/elixir-lang/elixir/issues/9190 :) So it should be all good once a new Elixir version is out!

[2019-09-18 13:18] #1095 closed

[2019-09-24 04:53] thojanssens opened #1096 "Setting @doc to false and with documentation"
Say I have documentation for a function:

[code]

I don't want to add it in the docs for now, so I want to set @doc to false, but I also do not want to lose the documentation already written so far. So I write something like:

[code]

But now this will generate a compile warning:

[2019-09-24 07:30] josevalim commented on #1096
You can do this:

[code]

We want to keep the warning because sometimes people accidentally `@doc false` the wrong function.

[2019-09-24 07:30] #1096 closed

[2019-09-24 15:21] thojanssens commented on #1096
FYI `mix format` doesn't work well with this syntax; it will indent like this:

[code]

The documentation text and the last @doc line are aligned to the ~ character of the sigil ~S.
As soon as I remove `&& false`, the indentation gets back to normal.

I use `mix format` extensively so I have now to check constantly that I do not commit with this weird indentation, and fix the indentation.

[2019-09-24 15:23] eksperimental commented on #1096
can't you just do `@_doc  ~S"""`, or do `@doc_false`, or comment the whole thing out?

[2019-09-28 02:12] thojanssens commented on #1096
@eksperimental
`@_doc` or other attribute name will generate a warning, so it's not a viable solution:

`@doc ~S""" [...] && false` will mess up the formatting with `mix format`.

The best solution is then to comment it out as @wojtekmach suggested.

[2019-10-06 13:33] eksperimental opened #1097 "Missing ellipsis at the end of search result"
In the Elixir documentation if you look for the string "foldl", it will return a weird text at the end.

[code]

It is missing the ellipsis, And it was making me wonder what was that `20 i`

While by just adding it, it's consistent and more clear.

[code]

I think it happens with every search result when it returns only one result.

[2019-10-06 13:40] eksperimental opened #1098 "Searches should search the function/macro/types titles"
This has bug me for quite some time since the new search has been introduced.
When I type something and I hit the enter key, I want to find it in the search results pages, regardless of whether it is the function name or it is in the text. It happens way too many times that I want to access a function name and I hit enter, to get no results, the function appears on the left bar as I type it, but w

[2019-10-06 14:24] josevalim commented on #1098
I believe we can easily make It work by also indexing “mod.fun” and “mod.fun/arity”. You can even see “list foldl” appears in the results.

[2019-10-06 14:32] eksperimental commented on #1098
Well it happends more often when Im searching for a "non-qualified" function name, and I hit enter.
Basically, what I would like to propose is to have the search results on the left sidebar that we've got just before hitting `ENTER`, merged in the the search results on the right, and be at the top of the list.

[2019-10-06 14:33] eksperimental commented on #1098
...since search term if they are part of the function title, and it should be ranked more relevantly

[2019-10-06 14:36] josevalim commented on #1098
If you search only for “foldl” it already works today and it has high
relevance.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-10-06 20:31] #1097 closed

[2019-10-06 20:31] #1098 closed

[2019-10-08 04:32] milmazz commented on #1057
@eksperimental Could you please update this issue with the things that are still pending to fix?

[2019-10-11 02:20] eksperimental commented on #1057
Thank you @milmazz ,
here's the updated report
1. still happening
2. still there
3. fixed
4. fixed, but the deprecation message needs a different background color, or border.
5. fixed

[2019-10-11 02:21] eksperimental commented on #1057
6. can we make smaller the gap between a function signature and a function spec?, it's like a full line empty and it looks a bit odd

[2019-10-11 03:53] eksperimental commented on #1098
awesome. thanks for the fixes

[2019-10-11 03:55] eksperimental opened #1099 "Search "MODULE." should list all module functions in the sidebar and the search results"
So far it is not giving any results.
Let's say I type "Agent.", it should give me all functions in the Agent module

[2019-10-11 09:04] josevalim commented on #1099
I will have to disagree with this one. The autocomplete and the search are distinct functionalities. If necessary, we can make it clearer that search is full-text based. For example, we may add some fuzzing to the autocompletion (similar to editors) that won't be available on search. I don't think we should expect complete parity between both.

[2019-10-11 09:04] #1099 closed

[2019-10-12 00:53] eksperimental commented on #1099
That's acceptable, but IMO still "Agent." should return in the sidebar all functions within Agent module.
Let's say I want to quickly glance all functions in a module because I can't recall its name.

[2019-10-14 14:46] eksperimental commented on #1098
@josevalim the search results are not prioritizing functions with the search name in their terms.
Searching for `quote` gave me a long list of results and `Kernel.SpecialForms.quote/2` in result no. 38!

[2019-10-14 14:47] eksperimental commented on #1098
should I create a new issue, or we reopen this one?

[2019-10-14 14:59] josevalim commented on #1098
I already assigned a very high weight to function names. We can increase it
a bit but it is unlikely we will solve all of these cases.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-10-14 15:02] eksperimental opened #1100 "Search doesn't deal with complete and incomplete `function/arity` terms"
It doesn't return any results in the main search page:

while
* it does deal with `module.function/arity` (ex. `List.foldl/3`)
* it does deal with `module.function` (ex. `List.foldl`)

also
* it DOES NOT work with `function/arity` (ex. `foldl/3`)
* it DOES NOT work with `function/` (ex. `foldl/`)
* it DOES NOT work with `module.function/` (ex. `List.foldl/`)
* it DOES NOT work with `incomplete_fun

[2019-10-14 15:48] josevalim commented on #1100
Yes, and it won't work, as mentioned in previous issues. It is full-text search, it isn't autocomplete. I will change the copy to make it clear which kind of search it is.

[2019-10-14 15:48] #1100 closed

[2019-10-14 15:52] eksperimental commented on #1100
Stil, IMO it should deal with `function/arity` which is the title of the function within the module.

[2019-10-14 16:09] josevalim commented on #1100
Yup, just pushed function/arity and title boosting. Thanks!

[2019-10-14 16:46] eksperimental commented on #1100
@josevalim `foldl/3` still gives no results

[2019-10-14 16:54] josevalim commented on #1100
Fixed.

[2019-10-14 17:51] eksperimental commented on #1100
Sorry, but it is still not showing up

[2019-10-14 17:53] josevalim commented on #1100
it is definitely working here. `foldl/3` directly from Elixir docs.

[2019-10-14 17:57] eksperimental commented on #1100
I see it now. thank you

[2019-10-20 05:14] eksperimental opened #1101 "ExDoc should pull function specs when using defdelegate"
related #902

[2019-10-20 05:43] josevalim commented on #1101
This has come up a couple times and the answer is the same: it is not trivial to copy specs because they may refer to local types, so we would need to copy or rewrite those too, which is further complicated by opaque and private types. So we can’t do much here.

[2019-10-20 05:43] #1101 closed

[2019-10-20 05:45] eksperimental commented on #1101
So what is adviced here? to copy and paste the specs from the function that we delegated to?

[2019-10-20 06:22] josevalim commented on #1101
You can’t quite copy and paste either, but yes.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-10-24 20:08] zacky1972 opened #1102 "Describe math in ExDoc"
I'm developing Numexy, which is a math library for Elixir.

I'd like to describe mathematical expressions in ExDocs because to understand the program code requires to understand the numerical theory of it using them.

Can I describe them in ExDocs?

If not, I propose to make the notation of them follow Jupiter Notebook: https://jupyter-notebook.readthedocs.io/en/stable/examples/Notebook/Working%20

[2019-10-24 20:11] josevalim commented on #1102
I know there are JS libraries for formatting mathematical annotations. ExDoc supports you to add custom ode to your HTML header, so my recommendation is for you to add such JS libraries to your header and have them automatically format it for you. It is probably not a feature we would focus to have on ExDoc itself for now.

[2019-10-24 22:55] zacky1972 commented on #1102
Oh, really? Would you teach me how to add custom JS libraries?

[2019-10-25 01:30] zacky1972 commented on #1102
I got an information.

Is it to add `before_closing_head_tag` to the following `project` setting? :

https://hexdocs.pm/ex_doc/Mix.Tasks.Docs.html

[2019-10-25 05:50] josevalim commented on #1102
Yes!
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2019-10-25 08:45] #1102 closed

[2019-10-30 18:09] josevalim opened #1104 "Make Exceptions a sub-grouping inside modules"

[2019-10-30 18:10] josevalim commented on #1033
@panmichal are you still interested in implementing this? :)

[2019-11-04 19:39] eksperimental opened #1105 "Tooltips should pop-up when hover in any part of a custom link"
I have the following text,

[code]

but the tooltip is only showing when I hover `Phoenix.HTML.Form`, but "struct" which is part of the link doesn't show this behaviour. it is a confusing, as it should cover the whole of the anchor text IMO,  since what gives the order of what to link to is "(`t:Phoenix.HTML.Form.t/0`)" and what's inside the brackets shouldn't matter

/cc @archdragon

[2019-11-04 19:40] eksperimental commented on #1105
Additionally, if there is no anchor text that uses backticks, no tooltip is shown at all

[2019-11-04 19:48] eksperimental opened #1106 "Mention in README how to call `docs` Mix task"
We should mention somewhere that in order to run `mix docs` we need to set `MIX_ENV=docs`

[2019-11-04 21:05] josevalim commented on #1106
That's not a general rule. Some projects chose to put `mix docs` in a special environment, but that is up to them.

[2019-11-04 21:05] #1106 closed

[2019-11-05 17:17] archdragon commented on #1105
I somehow assumed using backticks are always there, but I can totally see how it makes sense to have tooltips working for links without them.

The change is simple - let me just check if it does not create any additional issues and I'll prepare a small PR :)

![image](https://user-images.githubusercontent.com/1810732/68229638-e8d83800-fff7-11e9-83c2-2294e0a127ea.png)

[2019-11-05 17:28] eksperimental commented on #1105
Thank you @archdragon

[2019-11-14 10:19] panmichal commented on #1033
@josevalim yes! sorry for the late reply, was AFK for some time :) but I'll work on it soon.

[2019-11-21 03:57] lizhaochao opened #1107 "can't collect @doc in defmacro function body"

[2019-11-21 08:56] josevalim commented on #1107
Hello! Can you please provide some examples and error messages about what you mean? Thank you.

[2019-11-22 18:43] chulkilee opened #1108 "Code fence with more than 3 backticks"
To include code with three backticks, GFM allows wrapping the code with more than three backticks.

From https://github.github.com/gfm/#fenced-code-blocks

For example:

[code]

This is rendered in GFM  as follows:

[code]

For now, I circumvent it with using `~~~` instead of using four backticks.

Not sure this is earmark bug or ex_doc though.

[2019-11-22 18:46] OvermindDL1 commented on #1108
It's not just a GFW thing, but in every markdown engine I routinely use.  You can use 3-or-more backticks to delinate code blocks:

Like this:
[code]

Which becomes:
[code]

And of course I wrote it with 5 backticks.  ^.^

[2019-11-22 18:48] wojtekmach commented on #1108
Yeah, that'd be responsibility of the markdown engine (e.g. earmark) to handle.

[2019-11-22 18:48] #1108 closed

[2019-12-06 17:36] ityonemo opened #1115 "Allow custom generators?"
I'm building a library which makes a nice interface for ziglang NIFs in elixir (https://github.com/ityonemo/zigler).  One of the features is that it takes zig code, parses the docstrings in the zig code, and marshals it into elixir documentation.  I can readily accomplish this by passing a custom generator to `Mix.Tasks.Doc.run/3` inside of a custom mix task.  However, this won't be executed as a

[2019-12-06 18:16] wojtekmach commented on #1115
Note, you can achieve the same result by overriding `docs` task with an alias that calls Mix.Tasks.Doc.run/3 with desired arguments.

But I think your change about customising generator is fine too, not sure how common it would be though, I believe passing custom generator so far was only used for tests.

[2019-12-06 18:30] #1115 closed

[2019-12-06 18:30] #1107 closed

[2019-12-06 18:31] #1105 closed

[2019-12-06 18:36] josevalim commented on #1115
Oh, you can override the docs task by doing this:

[code]

[2019-12-07 03:18] skbolton opened #1117 "Add repo link"
I have had the case pop up a couple of times lately where I wish that the docs had a link to the source code repository. I think this would be an awesome feature to have.

[2019-12-07 03:19] skbolton commented on #1117
For the record I would be willing to put some work on making this happen just want to get information if this would be something that is considered useful.

[2019-12-07 06:43] wojtekmach commented on #1117
If you set :source_url and :source_ref in your project docs configuration, a source link will be added on each module/function/etc like here: https://hexdocs.pm/ecto/Ecto.Changeset.html

If you propose to have something beyond this, could you describe in detali what you have in mind?

[2019-12-07 06:45] skbolton commented on #1117
Ha! I had never noticed those like code links before. That works perfectly!

[2019-12-07 06:45] #1117 closed

[2020-01-03 22:01] jukvalim opened #1119 "The hierarchical menu of html docs is hard to understand for a newcomer"
This is from the perspective of a person who just got into Elixir (loving it!). It took me embarrassingly long time to grok how the menu at hexdocs.pm works.

I think the issue is that there are four (maybe five) hierarchy levels in the menu, but it's not something that is visually intuitively clear. Once you start clicking around, each hierarchy level behaves differently.

-The first level of hie

[2020-01-03 23:17] josevalim commented on #1119
Hi @jukvalim!

Thank you for your input. We are aware of the issues with the sidebar and we have discussed them a couple times. However, in order to address them properly, we would need a full sidebar redesign and we would probably need to hire someone to do so. It is something we are planning to do this year, since we want to start supporting Erlang projects, so hopefully we will have news sooner

[2020-01-03 23:17] #1119 closed

[2020-01-05 10:21] jukvalim commented on #1119
@josevalim Splendid! Thank you for your fantastic work, and happy new year!

[2020-01-12 20:55] archdragon commented on #1104
Took a look at this one today.

One quick question - should we change the grouping rules on the "frontend" (in the JS menu generation) or on the "backend" side (in the Elixir doc generation code)?

### a) changing the groupings just on the "frontend" side

Currenly JS code receives a data structure that looks like:

[code]

So we can just ignore "exceptions" when generating  root menu elements and

[2020-01-14 03:43] HoumanVSR opened #1121 "Typo / incorrect use of class in html - Library Guidelines"
Hi,
If you please go to:
https://hexdocs.pm/elixir/library-guidelines.html#avoid-using-exceptions-for-control-flow

![Screen Shot 2020-01-14 at 2 41 06 pm](https://user-images.githubusercontent.com/59855903/72312334-eb33ce00-36db-11ea-86b6-0561afc7d7bd.png)

in the HTML code it is:
![Screen Shot 2020-01-14 at 2 41 53 pm](https://user-images.githubusercontent.com/59855903/72312380-128a9b00-36dc-11e

[2020-01-14 06:11] josevalim commented on #1121
Hi, can you please report it to https://github.com/tmbb/makeup_elixir? That’s the project that performs syntax highlighting. Thanks!

[2020-01-14 06:11] #1121 closed

[2020-01-14 07:43] HoumanVSR commented on #1121
Done. Thanks

[2020-01-19 12:02] archdragon commented on #1104
This is how I see it (and how I understand the "sub-grouping inside modules"):

![image](https://user-images.githubusercontent.com/1810732/72680548-5eae5480-3abb-11ea-8a08-7977f8adf208.png)

^ I'm assigning Exceptions to an "Exceptions" group, which is always displayed last under the "Modules" top menu item.

[2020-01-19 12:10] josevalim commented on #1104
Precisely! And i would make "Exceptions" the last group (exactly as you did below deprecations).

[2020-01-21 16:38] kristofvanwoensel opened #1122 "Default port unset"
When I try to send a mail in dev-mode I get following error when I turn off test-mode:

`
FunctionClauseError) no function clause matching in :httpc.default_port/1
        (inets) httpc.erl:334: :httpc.default_port(:"")
        (inets) httpc.erl:542: :httpc.handle_request/9
`

My config:

My function:

              from: Map.get(params, "email"),
              subject: "Nieuw bericht van #",

[2020-01-21 16:41] #1122 closed

[2020-01-23 05:29] chulkilee opened #1123 "nest_modules_by_prefix does not group all modules at once"
### Environment

- ex_doc: 0.21.2
- Elixir 1.9.4
- Erlang 22.2.2

`docs` option:

[code]

Modules:

[code]

### Current behavior

Sidebar structure is:

[code]

### Expected behavior

Sidebar should group modules like this, so that the nested group does not appear multiple times.

[code]

[2020-01-23 08:32] josevalim commented on #1123
Thanks! A PR would be welcome!

[2020-01-30 11:49] #1104 closed

[2020-02-01 11:14] NobbZ opened #1125 "0.21.3, release on hex legit?"
There is a release of `ex_doc` on hex.pm that is not visible in the repository as of writing this.

The release in question is v0.21.3.

The diff has a bunch of Mac specific files added, also there's a bunch of obfuscated JS and CSS. I wasn't able to see much more as my mobile crashed.

[2020-02-01 11:18] josevalim commented on #1125
Yup, the tag has been pushed! Thanks!

[2020-02-01 11:18] #1125 closed

[2020-02-12 15:19] supersimple opened #1128 "generate both html and epub by default"
per: @josevalim
We want to generate both versions of the documentation by default.

[2020-02-12 17:59] wojtekmach commented on #1128
Closing in favour of PR.

[2020-02-12 17:59] #1128 closed

[2020-02-19 21:40] s0kil opened #1130 "Provide A Link In Hex Docs Package Referring To Hex Package Page"
The documentation page for a package ([Crawly on Hex Docs](https://hexdocs.pm/crawly)) should provide a link that refers back to the Hex package page ([Crawly on Hex](https://hex.pm/packages/crawly))

This will make the process of finding a package metadata, repository, etc simpler, easier and potentially improving SEO for a package.

[2020-02-19 21:51] josevalim commented on #1130
Hi @s0kil! ExDoc is a general documentation tool that is not tied to Hex, so we can’t always assume that there is a Hex package. For example, we use it for Elixir and Elixir is not a package. For this reason, we rather suggest for you to add links to the package source yourself. Thanks!

[2020-02-19 21:51] #1130 closed

[2020-03-05 11:43] lpil opened #1131 "Support for other BEAM languages"
Hello!

I'm interested in using exdoc to render documentation for [Gleam](https://github.com/gleam-lang/gleam/).

What is the current situation for use of exdoc with other languages? :)

Thank you,
Louis

[2020-03-05 11:46] josevalim commented on #1131
Hi @lpil!

We are currently working on supporting Erlang. Once the Erlang work is done, we will likely have a behaviour for languages to implement, making it relatively straight-forward to support Gleam.

In any case, implementing EEP 48 is a requirement for ExDoc to work, so if you don't support EEP 48 yet, then that is a good starting point. :)

[2020-03-05 11:51] lpil commented on #1131
Thanks for the update Jose. Is there somewhere I can follow the progress?

[2020-03-05 12:01] josevalim commented on #1131
https://github.com/erlef/eef-documentation-wg/issues

[2020-03-05 12:05] lpil commented on #1131
Thanks!

[2020-03-07 15:25] wojtekmach commented on #951
This is handled in #1132.

[2020-03-07 15:25] #951 closed

[2020-03-07 15:35] wojtekmach commented on #1005
I think we can solve it in #1132. When opencensus will start producing doc chunks we may assume it's docs are hosted on HexDocs.pm (maybe even using ExDoc, or we may need to make it configurable.) Until it's producing chunks we won't be auto linking to it.

[2020-03-07 15:35] #1005 closed

[2020-03-08 11:32] wojtekmach opened #1133 "Function names sorting"
should we keep non-letter functions together?

<img width="1483" alt="image" src="https://user-images.githubusercontent.com/76071/76161985-eb2ed800-6138-11ea-85f4-b03e42ba9461.png">

[2020-03-08 12:10] josevalim commented on #1133
Yes, it would probably be helpful.

[2020-03-09 16:03] michalmuskala commented on #1133
Would it make sense to always separate them into an `Operators` group?

[2020-03-11 11:05] wojtekmach commented on #1133
@michalmuskala not sure, I actually like the idea but grouping sometimes makes things harder. Just the other day I forgot on Elixir docs there's a "Guards" group and couldn't find stuff in "Functions". Speaking of things in "Guards", some of them are operators and we can't have them in both groups.

[2020-03-15 13:13] wojtekmach commented on #1075
what if we embrace that extras pages are always in markdown (though that might change when we support other beam languages) and support:

[code]

and when we parse this we transform it to .html and .xhtml respectively? A nice side benefit is these links will now work on GitHub too (it occasionally comes up in issue trackers). Or that's too clever and may have unintended consequences? Notably, does

[2020-03-15 13:17] josevalim commented on #1075
I like keeping it .md so it works on GitHub. Great call. IEx wil have to handle it too. Keeping it as `.md` makes it easier to handle it there as well.

[2020-03-21 02:41] sezaru opened #1136 "Allow doctest in extra markdown pages"
Is it possible to enable doctest to work with extra markdown pages?

Possible scenario:
I create a new page.md that I add as part of my `:extras` parameter, this page is a "cookbook" that will give an overall example of the app/library, this means that it will have a lot of code, it would be great if this code could be doctested too to avoid it becoming outdated.

[2020-03-21 07:54] josevalim commented on #1136
Right now it is not possible and we don't have plans for it. But you can always parse the Elixir code in there yourself and use the functions in the `Code` module to evaluate the code and what not.

That will probably work better than doctests anyway, because in a cookbook you often need to test one snippet after the other, while doctest would run each snippet in isolation.

[2020-03-21 07:54] #1136 closed

[2020-03-26 19:59] #1075 closed

[2020-03-28 14:11] #1133 closed

[2020-03-28 18:29] RobertDober opened #1142 "Thougths about Earmark"
@josevalim @wojtekmach
Given that you already use `as_ast` and that I am working on the Transformer for Earmark 1.5 (which is buggy in 1.4) I was thinking that maybe the time is come to split Earmark into two libraries.

I have already discussed this with @pragdave a long time ago concerning the command line tool which is imported by thousands of Elixir projects without any need indirectly by `ex_

[2020-03-28 18:32] RobertDober commented on #1142
Oh and BTW if you want to release the internal transformer as a separate lib I would not be offended either ;). But it would be good not to do the same work twice maybe.

[2020-03-28 19:25] josevalim commented on #1142
Hi @RobertDober! Thanks for pinging me!

I think it is well decided we will be using only `as_ast`. However, in my opinion, it is not necessary to split the library. Most of the work is the AST handling. If you move the CLI, would we save what? 200 LOC for the CLI and 300 LOC for the HTML transformer? At the large scale of things, it is not really relevant. Especially because splitting it apart wo

[2020-03-28 20:51] #1142 closed

[2020-03-30 09:59] #1123 closed

[2020-04-15 16:42] davydog187 opened #1145 "Add Module Doc headings to the side nav"
# Feature Idea
The Elixir standard library, as an example, has a lot of great and useful module documentation. Take the [Supervisor](https://hexdocs.pm/elixir/Supervisor.html) module for example. There are several headings that contain useful information that are linkable

* https://hexdocs.pm/elixir/Supervisor.html#module-examples
* https://hexdocs.pm/elixir/Supervisor.html#module-child-specifica

[2020-04-15 16:56] josevalim commented on #1145
It is a great idea! Perhaps we can call it "Sections"? But it doesn't matter. We can decide the name later. Furthermore, we already have all of the logic to extract the headings out, that we already use for pages, so we can probably reuse it. :) PR is welcome!

[2020-04-15 17:03] davydog187 commented on #1145
Yay! I'll get started then :)

[2020-04-18 22:25] davydog187 opened #1149 "Elixir.module_info/1 is undefined (module Elixir is not available)"
While working on #1148, I noticed that the current master of `ex_doc` is broken when running against Elixir (both master and 1.10.2).

[code]

I got around it by changing this line to an empty list `[]` https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/refs.ex#L109

I'm happy to fix this bug if someone can point me in the right direction.

[2020-04-19 08:35] IvanRublev commented on #1149
Same for me. With ex_doc v0.21.3 it works.
@wojtekmach looks like the new autolinker breaks documentation generation for Elixir.

[2020-04-19 09:23] wojtekmach commented on #1149
Thank you both for the report. I couldn't reproduce it. Could you paste your `elixir --version`? In particular, I'd like to know your OTP version.

the root cause is we should never do anything on the `Elixir` module, this module does not exists. So it incorrectly is being treated as a module to generate docs for by some earlier code. Btw, the `module_info` fallback is for the upcoming Erlang supp

[2020-04-19 10:48] davydog187 commented on #1149
Hi @wojtekmach :wave:

[code]

[2020-04-19 11:07] wojtekmach commented on #1149
I still cannot reproduce this. Could you try the following? Just want to make sure ExDoc was compiled using the same Elixir version you're trying to build docs for (though it shouldn't matter that much)

[code]

[2020-04-19 11:32] davydog187 commented on #1149
Same error @wojtekmach

[code]

[2020-04-19 11:34] davydog187 commented on #1149
Happy to pair on it with you if you want

[2020-04-19 11:59] wojtekmach commented on #1149
I paired with @davydog187 and what seems to be happening is `Elixir` is marked as a module because there is a corresponding `Elixir.beam` file, except the file is actually `elixir.beam` (lower case) for the private https://github.com/elixir-lang/elixir/blob/master/lib/elixir/src/elixir.erl. This bug happens on case insensitive file systems like the default on macOS. I'll take care of this.

Thanks

[2020-04-19 14:29] #1149 closed

[2020-04-19 21:10] davydog187 commented on #1149
@wojtekmach It still breaks after you fix.

[code]

[2020-04-19 21:30] wojtekmach commented on #1149
Thanks for testing this, I just pushed another fix on master and we should be good for now.

[2020-04-25 14:01] #1145 closed

[2020-04-26 11:06] davydog187 opened #1153 "Optimize the front end build of ex_doc"
# Problem
I noticed that `ex_doc` was using jquery and handlebars, and wondered how large the frontend build of the project was. I was surprised that it was quite big.

[code]

I quickly added [Webpack Bundle Analyzer]( https://github.com/webpack-contrib/webpack-bundle-analyzer) to the project to get more information.

<img width="1920" alt="Screen Shot 2020-04-26 at 6 43 49 AM" src="https://user-

[2020-04-26 11:26] josevalim commented on #1153
We will be very glad if someone contributes those changes since we don't have the expertize of doing it ourselves. :)

Regarding syntax highlighting though, I would not touch it for now. Our goal is to move as much as possible to `makeup`, so we do it at compile time, and remove the dependency on highlight.js altogether.

[2020-04-26 11:27] davydog187 commented on #1153
I'll take that as a blessing! Thank you @josevalim and noted on highlight.js

[2020-04-26 14:52] whatyouhide commented on #1153
@davydog187 do you have an idea on a plan to make these changes incrementally, so that we can start ripping the benefits and make sure we move more "surgically"?

[2020-04-26 14:53] davydog187 commented on #1153
@whatyouhide I was going to start with the lazy loading (2). As for the move from handlebars to something else, I'm not sure yet, but there is very likely an incremental path forward.

[2020-04-26 14:54] whatyouhide commented on #1153
Sounds great @davydog187, thanks for your answer! Lazy loading seems like a great place to start, agreed. :)

[2020-04-30 17:08] brettbeatty opened #1156 "Broken links to dependent code"
The elixir docs have several broken links from autolinking failing to find modules that belong to applications like `:iex` and `:ex_unit`.

Examples include references to `IEx.Helpers.i/1` (https://hexdocs.pm/elixir/List.html#module-charlists) and `ExUnit.DocTest` (https://hexdocs.pm/elixir/writing-documentation.html#doctests).

The most closely-related issue I could find was https://github.com/el

[2020-04-30 17:22] wojtekmach commented on #1156
Thank you for the report, this is a regression in ExDoc. I see that https://hexdocs.pm/elixir/1.9.0/writing-documentation.html#doctests had the correct link.

[2020-05-01 07:56] #1156 closed

[2020-05-02 02:44] axelson opened #1158 "Feature Request: Show "Table of Contents" for moduledoc"
For modules with in-depth moduledoc's (such as https://hexdocs.pm/phoenix_live_view/Phoenix.LiveView.html) the anchor links on the left do not catch the majority of the document. For LiveView in fact the "Summary" link is already 70% or so of the way through the document. It would be very helpful to have auto-generated links such as "Use cases", "Life-cycle", "Focus and Blur Events", etc.

I think

[2020-05-02 06:19] wojtekmach commented on #1158
This is already done on master thanks to @davydog187, see: https://github.com/elixir-lang/ex_doc/pull/1148 :)

[2020-05-02 06:19] #1158 closed

[2020-05-02 11:02] jvdvleuten opened #1159 "Add support for links in the @deprecated tags"
I tried adding a link to the Kernel.Config and Kernel.Config.Reader in the docs of https://hexdocs.pm/mix/Mix.Config.html, so it would point in the right direction. Unfortunately, the \` \` and () tags are not working inside of the @deprecated tag.

I am not quite sure where to hook this in, so that links will generated to be output by the template...

[2020-05-02 11:10] josevalim commented on #1159
Correct. The deprecated tag is also used by command line tools, the compiler, and other places that are not markdown aware, so you shouldn’t use markdown aware code in there. So this behavior is expected. If necesssry, link to the function in the docs themselves.

[2020-05-02 11:10] #1159 closed

[2020-05-02 11:11] wojtekmach commented on #1159
and fyi this is how this information is stored internally:

[code]

as you can see it's unstructured and for the reasons mentioned above we'll keep it that way.

[2020-05-02 11:27] jvdvleuten commented on #1159
Thanks :) Will try to update in the docs themselves.

[2020-05-02 17:44] axelson commented on #1158
Ah, guess I must have missed that! Thanks davydog :heart:

[2020-05-06 16:53] ityonemo opened #1160 "feature request/proposal: group callbacks in the same way as functions"
related to:

https://github.com/elixir-lang/ex_doc/issues/876

Happy to take a crack at it and submit a pr, I will have some time starting early june.

[2020-05-12 12:11] michallepicki opened #1164 "Replace newlines with spaces in search data/results"
Search functionality seems to be joining separate paragraphs / lines of documentation without any separator. This looks bad in search results and can potentially result in unexpected results showing up. Example:
![image](https://user-images.githubusercontent.com/4972756/81688968-3677a680-945a-11ea-87bd-c0ac17dd0f83.png)

I think in previous `ex_doc` versions, spaces were used.

[2020-05-12 12:56] wojtekmach commented on #1160
Do you have an example use case for this? Perhaps a public project docs that would benefit from it?

[2020-05-15 06:49] ityonemo commented on #1160
https://hexdocs.pm/transport/Transport.html

Note that Transport.Tcp and Transport.Tls are broken into "Server Functions" and "Client Functions" and I'd like to do that for Transport callbacks too.

[2020-05-15 15:24] maartenvanvliet opened #1165 "Html in markdown generates 4 element tuple"
In building the documentation for a package I came across an error in ExDoc when there was html in the markdown. This was the simplest test-case I found:

`ExDoc.Markdown.to_ast("<p>\nTest\n</p>", [])`,  calls into Earmark and it returns a 4 element tuple with ` %{meta: %{verbatim: true}}` in the fourth element.

This is not being matched by `ExDoc.Markdown.Earmark.fixup/1`, see error below. Easy

[2020-05-15 15:33] wojtekmach commented on #1165
Good catch, thank you for the report. I think it's ok to ignore the 4th element in the tuple for now and revisit it later when we'd use Earmark to transform ast back to html (then the extra info in the 4th element might be useful). Could you send a PR that ignores the 4th element?

[2020-05-15 15:48] #1165 closed

[2020-05-17 01:10] garthk opened #1168 "Breaking change in 0.22: HTML entity support"
Not mentioned (explicitly?) in the change log:
[code]
… in 0.21.3 will result in the HTML
[code]
… but in 0.22.0 will result in the HTML
[code]
… with similar results for `&hellip;` _etc._ This diverges from 0.21 and [GitHub Flavoured Markdown](https://github.github.com/gfm/#entity-and-numeric-character-references).

[2020-05-17 03:42] garthk opened #1169 "Breaking change in 0.22: HTML comment support"
[code]
Working backwards…
[code]
I don't expect `String.to_atom/1` to handle an atom, but how'd an atom get there?
[code]
I'm guessing `tag` is `:comment`. Wait, that sounds like it might be related to my split marker:
[code]
Yep: removing the comment prevents the crash.

[2020-05-17 04:30] #1169 closed

[2020-05-17 04:48] wojtekmach commented on #1168
Thank you for the report, that's definitely a regression.

[2020-05-17 11:56] wojtekmach opened #1171 "See "Foo" section docs and linking"
It's common to refer to other sections in the docs, should we link them?

It's actually super easy, see:
* https://github.com/wojtekmach/elixir/commit/dfbb4fc42308a09e39ef33a7fc9105c270980cb5#diff-3b89dff3429a39440b077c60dd5cd932R38

* http://wojtekmach.pl/otp_docs/elixir/mix/Mix.Tasks.Test.html#module-command-line-options

There are 2 minor problems with it:

- [ ] it shouldn't trigger a popover

[2020-05-17 12:00] wojtekmach commented on #1171
Oh, worth mentioning that since we put module section links in the sidebar there's perhaps less of a need for this but I think it's still worth pursuing.

[2020-05-17 12:07] josevalim commented on #1171
Sounds good to me!

[2020-05-17 21:16] kipcole9 opened #1172 "ex_doc 0.22 causes an exception in earmark 1.4.4"
In my [ex_cldr_units](https://github.com/elixir-cldr/cldr_units) lib, `ex_doc` 0.22.0 raise the following error in `earmark`. I'm raising the issue here because whether on `ex_doc` 0.20, 0.21 or 0.22 the version of `earmark` is `1.4.4` so I assume the error is caused by a regression in `ex_doc`.

The exception occurs on Elixir 1.10.3 and master with at least OTP 23.
There is no exception with `ex_

[2020-05-17 21:38] wojtekmach commented on #1172
Thank you for the report. I was able to narrow it down to Earmark:

[code]

Narrowing it down further:

[code]

I can reproduce it too.

Changing it to the following fixes it: (note backtics)

[code]

so that's what I'd do in the meantime. I'll report it to Earmark.

[2020-05-17 21:38] #1172 closed

[2020-05-17 21:40] kipcole9 commented on #1172
Thanks @wojtekmach - No idea how you do that. Take an exception and find the cause so quickly! Much appreciated.

[2020-05-17 21:41] wojtekmach commented on #1172
printf-based debugging ftw :D

[2020-05-18 19:59] mathsaey opened #1173 "Correctly link to sibling in umbrella"
When documentation is generated for an entire umbrella project at once, links between siblings do not behave as expected. I'll explain the exact issue based on an example scenario:

- Umbrella project `:parent`, with child applications: `:core` and `:other`.
- `:core` contains definitions which are used by all other child applications.
- Documentation is generated for the entire umbrella applicati

[2020-05-18 20:06] josevalim commented on #1173
ExDoc, at the moment, can only link to other hexdocs Dependencies, which always assumes a flat structure. We want to support custom linking based on the app, but it is not currently in our plans. If someone wants to submit a PR, we would gladly merge it.

[2020-05-18 20:23] mathsaey commented on #1173
I'm not 100% sure if I understood you correctly.  As far as I understand a "sibling link" is not a link to an external dependency; instead, it is an internal link to the documentation that's currently being generated.

So wouldn't a fix amount to:
1. Detecting if the documentation is being generated for an umbrella project.
2. Checking if a given "target" links to a module of a dependency inside t

[2020-05-18 20:39] josevalim commented on #1173
Exactly. ExDoc treats everything as an external dependency. So we would need to teach it how not to. We can probably skip step 1, but we would need to detect which deps are umbrella siblings (2) and then step 3.

[2020-05-20 07:31] Qqwy opened #1176 "What is ExDoc's versioning policy?"
ExDoc is still at sub-stable versions if we were to look at it from a Semantic Versioning perspective, where every new version might break behaviour of the previous one.

However, at the same time, many projects (essentially all projects that are published to HexPM at least) depend on ExDoc using the document string `~> 0.x`, which will happily switch over to the newest version that might not nece

[2020-05-20 07:41] josevalim commented on #1176
It is semantic versioning but we still have breaking changes on the way - especially as we add Erlang support - which is why we don't plan to release v1.0 quite yet.

[2020-05-20 07:41] #1176 closed

[2020-05-23 09:48] #1173 closed

[2020-05-25 15:03] wesley6j opened #1177 "Unexpected bahavior on hovering over a download link"
Example [Phoenix 1.5.3 doc](https://hexdocs.pm/phoenix/overview.html):

[2020-05-25 15:12] josevalim commented on #1177
We should probably check if the extension is `.html` before we do the pop-up thingy. :)

[2020-05-26 16:22] dotdotdotpaul opened #1178 "Searching for partial matches in snake_cased terms doesn't work"
Problem:

Case came up on Elixir Slack this morning, someone trying to set up Phoenix PubSub was looking for how to set the pool size.  In PubSub, there's a configuration option named, `pool_size` but searching just for 'pool' did not return a match to that section (it did return a match to the Phoenix.Tracker behavior section, because it had the word 'pools' in it).

Possible Solution?

It seems

[2020-05-26 16:32] josevalim commented on #1178
Hi @dotdotdotpaul! I believe this is something doable. Here is the info: https://lunrjs.com/guides/customising.html - You can use the same stemmer for both indexing and searching.

Could you please take a look at this? It is unlikely we will find bandwidth to look at this otherwise. Thanks!

[2020-05-26 16:59] dotdotdotpaul commented on #1178
I'll see if I can take a stab at it, but please -- if anyone else here has a cycle or two and is already familiar with the codebase, please do.  😁

[2020-05-28 09:13] smaximov opened #1179 "Difficult to access mix tasks docs for gettext at hexdocs.pm"
_(originally reported in the gettext repo, see elixir-gettext/gettext#250)_

At [hexdocs.pm](https://hexdocs.pm/gettext), click on the "MIX TASKS" section in the sidebar:

![Screenshot from 2020-05-28 11-24-32](https://user-images.githubusercontent.com/1370047/83118028-7d120580-a0d6-11ea-9e4c-b787faf863a3.png)

## Expected behaviour

The list of all mix tasks for gettext is shown.

## Actual behav

[2020-05-28 09:41] wojtekmach commented on #1179
Thank you for the report, this is really weird, docs for get text v0.17.0 https://hexdocs.pm/gettext/0.17.0/Gettext.html (generated with ExDoc v0.20.2) worked fine.

Unfortunately, I wasn't able to reproduce this locally. FWIW I send a PR to update ExDoc: https://github.com/elixir-gettext/gettext/pull/251.

[2020-05-28 10:15] josevalim commented on #1179
Good call, i pushed a fixed version with latest ExDoc.

[2020-05-28 10:15] #1179 closed

[2020-06-11 17:28] calvinsadewa opened #1186 "Support for markdown with path depedent uri"
Currently there is already support for autolink markdown file (`.md`) to generated html documentation page (`.html`).

However this doesn't extend to path dependent markdown uri, for example `../subscription.md` is still rendered as `../subscription.md` in generated doc (would like to be `subscription.html`).

Would it be okay to extend autolinking for markdown to path dependent uri?

here is exam

[2020-06-11 17:36] wojtekmach commented on #1186
A PR would be very welcome!

[2020-06-11 21:27] calvinsadewa commented on #1186
Here is the PR https://github.com/elixir-lang/ex_doc/pull/1187

[2020-06-11 22:11] #1186 closed

[2020-06-15 22:26] imanhodjaev opened #1189 "Rendering regression in 0.22"
Hey,

In version `0.21` it was rendering markdown with HTML blocks as expected for example the following block

[code]

In version 0.22 `ex_doc` renders tags as plain text.

Also parser is unable to properly parse text blocks for example if you put
[code]
It will render

[code]

Elixir version: 1.10.3
earmark: 1.4.5
makeup: 1.0.3
makeup_elixir: 0.14.1

Thanks.

[2020-06-16 06:55] josevalim commented on #1189
Can you please provide a sample project that reproduces the error? Thanks.

[2020-06-16 09:33] imanhodjaev commented on #1189
Hi Jose,

Project documentation is here https://hexdocs.pm/dust/readme.html and GitHub link is https://github.com/imanhodjaev/dust

[2020-06-16 16:47] eksperimental commented on #1189
The generated HTML is fine and it looks fine in my browser.
Did you try with a different browser or with no extensions installed?

[2020-06-16 17:37] imanhodjaev commented on #1189
@eksperimental yes I tried on different browsers also hex docs https://hexdocs.pm/dust/readme.html show the same thing
<img width="869" alt="Screenshot 2020-06-16 at 19 36 26" src="https://user-images.githubusercontent.com/354868/84808282-c506b700-b008-11ea-9535-0beece1b85f9.png">

[2020-06-16 21:47] eksperimental commented on #1189
@imanhodjaev I see what you mean now.
I went head and wrote a test and ran `git bisect` and the commit that introduced the bug is:

[code]

/cc @wojtekmach
I can share the test and the shell script if needed

[2020-06-16 21:49] imanhodjaev commented on #1189
@eksperimental awesome! Thank you very much for your investigation. ✨🚀✨

[2020-06-16 21:56] eksperimental commented on #1189
a reduced case is this
it converts `<h1>Title</h1>` to `Title&lt;/h1&gt;` and inserts this string in the `<title>` and `<h1>` elements

`<p><img src="image.svg"/></p>` to
to `<p>&lt;img src=&quot;image.svg&quot;/&gt;&lt;/p&gt;</p>`

[2020-06-16 22:28] wojtekmach commented on #1189
Thanks for the report and confirmation. The issue is similar to https://github.com/elixir-lang/ex_doc/issues/1168, we shouldn't escape.

[2020-06-17 00:38] eksperimental commented on #1189
PR submitted #1190

[2020-06-17 06:11] josevalim commented on #1189
Closing in favor of #1190.

[2020-06-17 06:12] josevalim commented on #1168
Closing in favor of #1190.

[2020-06-17 06:12] #1168 closed

[2020-06-17 17:25] Qqwy opened #1191 "ExDoc crashes on the following @spec (macro-spec with `when`)"
Elixir/Erlang version:
[code]

When running `mix docs` on the following code:

This version works:
[code]

This version crashes:
[code]
with a stractrace akin

[code]

To reproduce this quickly, feel free to look at the [broken_spec](https://github.com/Qqwy/elixir-blocked/tree/broken_spec) branch of the new library "blocked" I am building, where I encountered this in the wild.

[2020-06-17 17:30] josevalim commented on #1191
A PR to address this would be welcome! You can add this spec to one of our existing features, some of the fixtures are already related to specs. :)

[2020-06-17 18:56] eksperimental commented on #1191
I can confirm the code does not crash with Elixir v1.10.3 and Erlang/OTP 23

[2020-06-17 19:00] Qqwy commented on #1191
@josevalim I'd love to contribute with a PR. I am however not entirely grasping at this point what the `ExDoc.Retriever` does and why it would attempt to remove the first argument from a macro-spec. :sweat_smile:

---

@eksperimental do you mean that the first example (which should work) does not crash or the second one (which should crash) does not crash?

[2020-06-17 19:11] eksperimental commented on #1191
My bad. I thought we were in the Elixir project, and that the above code would not compile.

[2020-06-18 20:03] eksperimental commented on #1171
@josevalim can you remind me what was the reason we were not linking internally in Elixir? Was is just becuase IEx was showing the link, or something else?

[2020-06-20 09:15] eksperimental opened #1192 "Feature Request: support skip_undefined_reference_warnings_for"
I think it will be useful to have an WE need to add an option: `skip_undefined_reference_warnings_for`:
if a function is listed here and it is referenced to, the warning will be ignored.

It addresses https://github.com/elixir-lang/ex_doc/pull/1151#issuecomment-646730079
where calling `ExUnit.Case.__using__/1`, which is a macro with `@doc false` will emit a warning.

I can submit a PR if agreed on

[2020-06-20 09:19] josevalim commented on #1192
Sounds good to me too!

[2020-06-24 22:57] henrik opened #1194 "Clicking same-page anchor in floating sidebar should close sidebar"
Hi! Whenever I check docs on my phone, I find this a little frustrating:

![issue](https://user-images.githubusercontent.com/216/85635567-100e7300-b676-11ea-902e-2c942e483f0e.gif)

If I click/tap a function in the floating sidebar, I want to read about it, not keep navigating – so I think it'd make sense for the sidebar to close when I click on it.

On a small display the sidebar is effectively mo

[2020-06-25 08:12] josevalim commented on #1194
I understand the need but, I often click on the wrong place on my phone, given the combination of large thumbs and small phone, and I would be extremely upset if I had to go through the whole dance again. :) So I will keep this one as a feature. :D

[2020-06-25 08:12] #1194 closed

[2020-06-25 09:11] henrik commented on #1194
@josevalim Hehe, that's fair. What about if tapping outside the sidebar would close the sidebar, then? That would be intuitive IMO and might address both concerns to some extent.

[2020-06-25 09:14] josevalim commented on #1194
@henrik I like that :+1: A PR is welcome, but it is probably easier said than done. :)

[2020-06-25 09:58] henrik commented on #1194
Great. I may look into it sometime then :) Thank you!

[2020-06-25 10:00] henrik commented on #1194
Another approach I just thought of would be to make it more fat-finger-friendly on small displays - so it does close on click but it’s much harder to misclick.

[2020-06-26 03:03] eksperimental opened #1198 "Some keyboard shortcuts not working"
- `/` doesn't work, while `s` does.
- `?` doesn't work either

tested in latest versions of Chromium and Firefox.

[2020-06-26 11:11] josevalim commented on #1198
Both work here. AFAIK keyboard shorcuts are actually tricky when it comes to location and what not, so you need to find the proper keys it matches to and maybe we should "localize" the UI.

[2020-06-26 13:31] eksperimental commented on #1198
well. the thing is it is working with GitHub, so maybe we can find out what they are doing and do it here.
One of the keys requires the use of <kbd><kbd>Shift</kbd></kbd>, the other one doesn't

[2020-06-26 20:17] kenny-evitt commented on #1033
This is something I notice wanting fairly often.

I think a 404 would be fine, e.g. in the case that a module doesn't exist in an earlier version. That's a somewhat-obvious clue that the thing doesn't exist in the other version and thus I think a *little* nicer than automatically redirecting to the root page.

Maybe even better than checking (e.g. via AJAX) and redirecting to *root* would be to re

[2020-06-27 14:21] eksperimental opened #1203 "Search should support SIGILS"
If I type `~` I should get a list of all `sigil_*/2` functions , and if I type `~s` I should get `sigil_s/2`

[2020-06-27 14:26] wojtekmach commented on #1203
To play the devil's advocate, we cannot (and won't be able to without changing parser) do `iex> ~<tab>` either. I think it is consistent for the autocomplete suggestion to be a strict superset of your input.

[2020-06-27 14:56] eksperimental commented on #1203
Well. search results doesn't return anything. I think it is misleading for beginners who wouldn't know the inners of this feature.

[2020-06-27 15:01] josevalim commented on #1203
If someone wants to contribute, we would accept it, but given the unknowns and potential complexity of this feature, I wouldn't keep it in the "roadmap". Thanks!

[2020-06-27 15:01] #1203 closed

[2020-06-27 15:05] josevalim commented on #1177
Another fix related to the pop-over is that we are loading the pop-over for "#module-" anchor tags and we probably don't want to. We should probably check that if anchor tag finishes with `/N`, where N is a number.

[2020-06-27 15:07] josevalim commented on #1160
@ityonemo can you please submit a PR for this? Here is the code that adds this functionality for docs: https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/retriever.ex#L228 We can either introduce groups_for_callbacks or make the groups_for_functions generic.

[2020-06-27 15:30] eksperimental opened #1204 "QA report on search functionality"
* [ ] 1. Searching for  `~` gives no results, why the suggestions in the side appear. (In Elixir project you can see `=~` or `Bitwise.~~~`. So it is inconsistent the behaviour of the sidebar with the search results.

* [x] 2. In the previous example, the message in the search result page is weird. It mentions `EDIT_DISTANCE`.

  Related: https://github.com/elixir-lang/ex_doc/issues/1203

 * [x] 3.

[2020-06-28 02:36] eksperimental commented on #1204
3+
Another cryptic message, is  if you search for `::` in the sidebar appears the speacial form `::/2` and in the search results this message

[2020-06-29 14:32] ityonemo commented on #1160
Will do!  It might be a bit though as I've just started a new release cycle at work.

[2020-07-06 15:12] josevalim commented on #1033
Closing in favor of #1214.

[2020-07-06 15:12] #1033 closed

[2020-07-07 09:06] #1198 closed

[2020-07-08 10:30] arjan opened #1216 "Retrieve docs as original Markdown?"
It used to be the case that I could retrieve the raw doc annotations from modules, using `ExDoc.Retriever.docs_from_modules`. The returned `%ExDoc.ModuleNode` struct contained the raw markdown in `.doc` and `.docs` field. This has been changed recently so these fields contain an HTML AST.

I understand that I should not rely on internal functions, but my use case is that I extracted the docs from

[2020-07-08 10:39] josevalim commented on #1216
Use Elixir's official API for this, which is `Code.fetch_docs`. You can traverse the application directory to get all modules. :)

[2020-07-08 10:39] #1216 closed

[2020-07-08 10:43] arjan commented on #1216
Thanks!!

[2020-07-08 18:58] wojtekmach commented on #1145
Should we have similar thing but for functions? A function would commonly have two sections "Options" and "Examples" but occasionally they have many more. Notably, [`quote/2`](https://hexdocs.pm/elixir/Kernel.SpecialForms.html#quote/2) has 9 sections :)

[2020-07-08 19:28] josevalim commented on #1145
@wojtekmach maybe it is something to consider on the sidebar redesign (/cc @archdragon) but functions are already very nested. Not sure if worth it.

[2020-07-14 07:03] eksperimental opened #1219 "ExDoc cannot deal with literal map typespecs :optional and :required fields"
Can't deal with

[code]

It assumes `required` and òptional` are types

[2020-07-15 00:40] eksperimental commented on #1204
Searching in ExUnit for "assert" gives results but "assert_" gives no results and "assert_*" does give results

[2020-07-15 01:28] eksperimental commented on #1198
Can we reopen? Still `/` doesn't work , neither `?`

[2020-07-15 01:41] eksperimental commented on #1198
Sorry, it does work. I just had to run `mix build`. Thank you.

[2020-07-15 06:10] cw789 commented on #1198
😅

[2020-07-15 18:52] eksperimental opened #1221 "Sort search results by arity if the same results have the same score, module and function name."
I search for "flatten" and I get `List.flatten/2` first, and second `List.flatten/1`.
If the search result has the same score and share the same module and name, we should sort by arity.

[2020-07-15 18:57] josevalim commented on #1221
It is very unlikely they will have the same score. The score is dictated by many things, such as how many times `flatten` appear in the docs. It is really best to treat the search as a "black box" instead of trying to fine grain the results it returns. :)

[2020-07-15 18:57] #1221 closed

[2020-07-17 08:37] wojtekmach commented on #1168
Btw, this issue has been fixed by switching to https://hex.pm/packages/earmark_parser.

[2020-07-17 12:17] bigardone opened #1222 "FunctionClauseError in ExDoc.Autolink.walk/2"
👋 I have upgraded to version `0.22.1` and I'm getting the following error:

[code]

The documentation generation it's been working for months until now, any idea of what is going on?
Thank you very much in advance.

[2020-07-17 12:21] wojtekmach commented on #1222
Could you also run `mix deps.update earmark` and try again?

[2020-07-17 12:30] wojtekmach commented on #1222
Actually it might be the other way around, if you also upgraded earmark try to revert _that_ change.

[2020-07-19 09:44] wojtekmach commented on #1222
I tried latest stable ex_doc and earmark and couldn't reproduce this. If you tried the steps mentioned above and still experience the bug, please post the exact version of earmark you are using and the doc that triggers the bug (documentation for `"MyApp.Api.Users.get/4`).

In any case, I believe this is already fixed on master anyway.

[2020-07-19 09:44] #1222 closed

[2020-07-20 06:43] bigardone commented on #1222
@wojtekmach I updated `earmark` and the issue persists :(

[2020-07-20 06:47] bigardone commented on #1222
These are the installed deps BTW:

[code]

[2020-07-20 06:50] bigardone commented on #1222
Downgrading back to `0.21.3` makes it work again.

[2020-07-20 07:37] wojtekmach commented on #1222
Could you paste the piece of documentation that was causing the crash?

[2020-07-20 08:11] bigardone commented on #1222
Sure!

[code]

Here's the error after the upgrade:

[code]

[2020-07-20 08:37] wojtekmach commented on #1222
Thank you @bigardone, there was a bug in ExDoc after all, the fix will be in the next release. Earmark started warning on this particular markdown and we were incorrectly handling that warning. You could work around it by updating your docs:

[code]

[2020-07-20 08:46] bigardone commented on #1222
🎉 No problem! Thank you for putting time into it 🙌

[2020-07-20 15:42] eksperimental opened #1229 ""Section" in sidebar should show arrow next to it when hover"
The new "Section" sections does not show an arrow next to it. I think it should work consistently as the rest of the tree branches that expand. As of now to achieve the same result we need to click in the "Top" branch

Introduced in https://github.com/elixir-lang/ex_doc/pull/1148

/@cc davydog187

[2020-07-20 16:06] davydog187 commented on #1229
Happy to address this @eksperimental

[2020-07-20 16:22] eksperimental commented on #1229
Awesome @davydog187

[2020-07-21 13:24] eksperimental opened #1232 "Bug: Reference popover for Kernel.<>/2 shows the introduction for the Kernel module."
/cc @archdragon

[2020-07-21 13:24] eksperimental commented on #1232
/cc @archdragon

[2020-07-21 13:25] eksperimental commented on #1232
Same for the pipe operator `Kernel.|>/2`

[2020-07-21 13:30] eksperimental commented on #1232
Same for:  `||/2`, `</2`, `<=/2`, `>/2`, `>=/2`

[2020-07-21 13:33] eksperimental commented on #1232
I think the reason it is happening is because the href fragment in "id" of those links is escaped.

[2020-07-21 13:34] archdragon commented on #1232
Thanks, that's probably the case. Should be an easy fix - will take a look!

[2020-07-24 17:03] archdragon commented on #1177
Thanks for catching that! I've addressed both issues in #1234

[2020-07-24 17:37] #1177 closed

[2020-07-24 17:37] #1232 closed

[2020-07-24 18:48] eksperimental commented on #1232
Thank you @archdragon

[2020-07-26 17:22] LauraBeatris opened #1236 "Show all the results for a empty search"
## Description

Should be possible to return all the results when searching for an empty value, instead of showing just a "Search" title.

![Screen Shot 2020-07-26 at 14 18 09](https://user-images.githubusercontent.com/48022589/88485257-e5505c80-cf4a-11ea-98fc-df8421ec97e4.png)

## Solution

The template should show a different title according to the search value.

For instance:
- A empty string:

[2020-07-26 17:31] josevalim commented on #1236
Hi @LauraBeatris, thanks for the report!

I don't think we should show all results for an empty string. None of the search engines I tried show something. However, I agree whatever we do right now is not clear enough. Maybe we should add some information instead? For example "<h1>Search</h1><p>Please type something into the search bar to perform a search.</p>". Would this be clearer? Thanks!

[2020-07-26 17:40] LauraBeatris commented on #1236
@josevalim Yup! Makes more sense 😁

I'll send a PR with that modification

[2020-07-26 17:43] eksperimental commented on #1236
I think I reported this, but I cannot find It.
What I proposed, additionally to what you suggesting here, it to disable the submit button if no string has been entered.

[2020-07-26 17:44] eksperimental commented on #1236
It was here: https://github.com/elixir-lang/ex_doc/issues/1204 item 3

[2020-07-26 17:44] josevalim commented on #1236
There is no submit button though. Should we ignore `enter`? That can be confusing to some... So I would prefer to just showing the page and not changing submit.

[2020-07-26 17:46] LauraBeatris commented on #1236
Would be cleaner to not modify the events and just show a different title and text

[2020-07-26 17:49] josevalim commented on #1236
Agreed. Let's just add some extra text for now.

[2020-07-26 17:49] eksperimental commented on #1236
the magnifying glass is a `<button type="submit" class="search-button">`, but yeah. disabling hitting ENTER as well.
Even Google uses this behaviour.
Either way is fine with me.

[2020-07-26 17:51] josevalim commented on #1236
Yeah, good call on Google doing it. So it means we are probably fine with doing it too. But let's discuss that separately. The page can still be rendered manually without a proper input.

[2020-07-26 17:55] eksperimental commented on #1236
Showing the instructions of how to use the search page. same as what you get when no results are found seems like a nice option to show.

[2020-07-26 18:03] LauraBeatris commented on #1236
Agreed! We should show the instructions too

![Screen Shot 2020-07-26 at 15 02 34](https://user-images.githubusercontent.com/48022589/88486042-221f5200-cf51-11ea-8c71-a9fde84d57f5.png)

What do you guys think?

[2020-07-26 18:13] josevalim commented on #1236
Looks great!

[2020-07-26 18:20] eksperimental commented on #1236
Looks good. If we can stress that it we are showing this due to no string being entered. Either by using bold type in "Invalid search" or something.  Just to make it look different from the "no results found" page.
Thank you.

[2020-07-26 18:43] LauraBeatris commented on #1236
Just made a PR https://github.com/elixir-lang/ex_doc/pull/1238

[2020-07-26 18:57] #1236 closed

[2020-07-27 20:00] zdcthomas opened #1239 "compilation error with correct spec"
When compiling docs for my umbrella app, if there is a `@spec` tag with a `|` separating two values inside of a map,
E.g this elixir-ls generate spec
[code]
running `mix docs` from the root of the umbrella app produces this syntax error message
[code]

I'm fairly sure about the `|` being the differentiating factor, as changing only that to, for example ` @spec handle(%{__struct__: HTTPoison.Respon

[2020-07-27 20:12] wojtekmach commented on #1239
Could you try the latest ExDoc? I think we had something like this recently.

[2020-07-27 20:18] zdcthomas commented on #1239
is `v0.22.2` not the latest version?

[2020-07-27 20:19] eksperimental commented on #1239
I am running it with master and it is there.

[2020-07-27 20:21] eksperimental commented on #1239
It is a bug, I think in Elixir Macro.to_string(),  I am looking into it.

for the time being you can obtain the same result with this ( and actually this is the recommended way to write the spec):
[code]

[2020-07-27 20:31] zdcthomas commented on #1239
Yeah, that's been our fix for now, we'll need to figure something else out for other fields that have an "union" typed value, Thanks for looking into it. I'm really to curious to see what you find!

[2020-07-27 20:34] eksperimental commented on #1239
ExDoc has nothing to do with it. Try that code and you will see it does not compile.
yes. Looking into it ATM. Thank you for the report.

[2020-07-27 23:01] eksperimental commented on #1239
It is a bug in Code.Typespec module in Elixir.
I have already fix it. I submit a PR soon

[2020-07-28 01:13] eksperimental commented on #1239
This issue can be closed.

[2020-07-28 06:37] #1239 closed

[2020-08-11 14:53] ScrimpyCat opened #1242 "Details about the HTML AST"
I have a few questions about the new HTML AST approach. I'm not sure what's intentional or what might be a bug, as the docs are kind of non-existent (I'd be happy to update them though outlining the specifics).

## AST structure

Going off the `ast_to_html/1` function it would seem the AST is something like the following: `ast :: { tag :: String.Chars.t, attrs :: [{ String.Chars.t, String.Chars.t

[2020-08-11 16:16] wojtekmach commented on #1242
Hello!

Good call, we should definitely document that. The ast is basically:

[code]

See https://github.com/erlef/documentation-wg/issues/3#issue-522052731 & https://erlang.org/doc/apps/erl_docgen/doc_storage.html for more information.

We need encoding for some aspects but for others it's indeed a regression (https://github.com/elixir-lang/ex_doc/issues/1189), it's still yet to be reconciled.

[2020-08-11 16:17] josevalim commented on #1242
One thing to keep in mind that the AST may change as we integrate both Erlang's Doc AST and Earmark AST. The long term goal is for both of these inputs to emit an ExDoc-specific syntax tree - but that is not fully fleshed at the moment.

[2020-08-12 01:11] ScrimpyCat commented on #1242
I see, but in the meantime that AST spec (the one you're showing @wojtekmach) is what is currently expected (won't be changing in a bugfix version of ExDoc)? Also is it a combination of the two that's allowed to be returned or just `ast`. e.g.

[code]

And for attribute values should we just assume they need to be double-quoted compliant?

For instance if a Markdown producer returns the following

[2020-08-12 07:42] wojtekmach commented on #1242
I think it's best to assume the AST is not stable yet and will most likely change. (it's very unlikely it will change in a bug fix release but we reserve the right to do so.)

We're not ready to commit to a particular shape yet because we don't want to paint ourselves into a corner. On one hand, we work with the Earmark AST but on the other hand in the near future we'll be integrating with the Erl

[2020-08-12 18:22] eksperimental commented on #1192
I already have a working version of this, but I'm waiting for https://github.com/elixir-lang/ex_doc/pull/1233 to be merged

[2020-08-13 13:55] eksperimental opened #1244 "Suggestions wrongly deal with escaped chars"
If you type in the search box "&" you will get the suggestion of functions that their name has been escaped such as "&lt;/2". Same if you type "gt".

I think we should keep the original name and the escaped name.

[2020-08-14 16:44] TheFirstAvenger commented on #1244
@eksperimental I have not yet been able to reproduce this. Do you have an example on hexdocs.pm that you can point me to where this happens? On https://hexdocs.pm/elixir/ I get only the three functions `&`, `&&`, and `&&&` when searching for `&`, and `gt` only suggests functions with the word `length` in them.

[2020-08-14 18:12] eksperimental commented on #1244
I am running ExDoc Master, and Elixir master.
![ex_doc_ampersand](https://user-images.githubusercontent.com/9133420/90279904-a453b580-de2f-11ea-98f6-6c4c3f519a85.png)

please run `mix build` in your master version of ExDoc

[2020-08-14 18:37] eksperimental commented on #1244
I am sure it is introduced by one of these two commits:
- d26ca71417c40f3e5d9ab49d0933b277c983962d
- 5fed479d94d2b94286c9d00a6fc905a63fb1b227

[2020-08-18 06:11] #1244 closed

[2020-08-20 15:36] nathanl opened #1252 "Feature request: automatically document a `@behaviour` and its callbacks"
Using:
- Elixir 1.10.3 (compiled with Erlang/OTP 21)
- `ex_doc` as of the latest commit on master (7fb655fe5661)

If we specify `@behaviour Foo.Behaviour`, that is sufficient to tell Dialyzer to check that the callbacks in the implementation module return the expected types.

However, `@behaviour Foo.Behaviour` and `@impl Foo.Behaviour` have no effect on the generated documentation. Even if we add

[2020-08-20 15:52] josevalim commented on #1252
@nathanl this is complicated because a lot of times the behaviour is an implementation detail. For example, do you care that `Plug.Upload` uses a GenServer or is an Agent behind the scenes? That's the reason why, when you use `@impl Foo`, Elixir will by default also add `@doc false`. If you want it to be documented, you need to publicly do so.

However, I agree there is currently no way to say tha

[2020-08-20 15:56] wojtekmach commented on #1252
I think showing which behaviours the given module is implementing would be a nice addition. We can easily grab it with:

[code]

do you have a proposal how would that look like?

Regarding copying `@callback` as `@spec` we can't reliably do that. Imagine:

[code]

if we copy the specs it is as if we wrote:

[code]

which is incorrect, there's no `t()` type in `B`. So I'm definitely -1 on copying t

[2020-08-20 16:00] wojtekmach commented on #1252
José has a good point that implementing a behaviour is an implementation detail so yeah maybe we shouldn't do anything. After all if you want to signal that e.g. `Mix.Shell.Process` implements a `Mix.Shell` you can just write it down:

[code]

[2020-08-20 19:41] nathanl commented on #1252
What would you think of having a *Behaviours* section near the top of a module's documentation, listing each behaviour that it implements? https://github.com/elixir-lang/ex_doc/pull/1253 would be the first step (I didn't add it to the templates because the autolinking looked like more work than I wanted to bite off at the moment).

[2020-08-21 06:05] josevalim commented on #1252
@nathanl that's a good first step! However, as I mentioned, we probably need to filter those behaviours to keep only the ones that have one of its callbacks implemented publicly and, even then, we most likely need a way to opt-out of this behaviour. Please see my original comment for more details. :)

[2020-08-24 10:10] LostKobrakai opened #1258 "ex_doc <-> boundary integrations"
I'm looking into ways of integrating `Boundary` data into ex_doc generated documentation and I'm wondering if there's an existing best practice to do something like that? I would imagine ex_doc does not necessarily want to depend on each and every third party wanting to provide additional documentation.

Sadly it seems the problem can't be (easily?) solved by using documentation metadata, as `Boun

[2020-08-24 10:11] LostKobrakai commented on #1258
Additional context can be found here: https://github.com/sasa1977/boundary/pull/21

[2020-08-24 10:13] josevalim commented on #1258
I will be honest and say that we currently don't have bandwidth or time to consider nor implement this. Our medium-to-long term focus right now is on Erlang integration so if someone can work out the details and submit a proposal, then that would be great, otherwise we will probably shelve this until our on going work is completed.

[2020-08-24 10:20] LostKobrakai commented on #1258
That's perfectly fine. I was mostly wondering if there might be already things existing or planed. Sounds like it's best to revisit this at a later time.

[2020-08-24 10:20] #1258 closed

[2020-09-01 12:23] eksperimental opened #1268 "Search suggestions in sidebar should mention if they are deprecated"
I use the sidebar for a quick search to remind me what is the module a functions belongs to. For instance if I type "cwd", I got System.cwd as a suggestion, but I doesn't mention that is is deprecated. So I guess it should be added.

[2020-09-01 12:27] josevalim commented on #1268
I would rather not include deprecated entries in the autocomplete. Thoughts?

[2020-09-01 12:31] eksperimental commented on #1268
Use italics? Other than that I don't see any other option.

Additionally the search results and the tooltips do not show that the function is deprectated either.

[2020-09-01 12:38] josevalim commented on #1268
Which tooltips?

[2020-09-01 12:43] eksperimental commented on #1268
When you hover a function.
For instance in the Search result page, I hightlight were it could be included that the functions is deprecated.

![image](https://user-images.githubusercontent.com/9133420/91852672-c79ba480-ec26-11ea-9805-0891a26365ae.png)

[2020-09-13 10:32] kianmeng opened #1272 "Extra large bottom margin in generated section heading in 0.22.4"
The latest version, `0.22.4` seems to generate section heading with large bottom margin which looks slightly off and weird, especially with a list.

Is this a new intended layout or a bug?

## 0.22.4

![image](https://user-images.githubusercontent.com/134518/93015799-f6cef000-f5ee-11ea-8ea9-b865440e2f0d.png)

## 0.22.2

![image](https://user-images.githubusercontent.com/134518/93015807-0817fc80-f5

[2020-09-13 10:34] josevalim commented on #1272
It is definitely a bug. Have you published these docs anywhere so we can take a look at them? :)

[2020-09-13 10:46] josevalim commented on #1272
No worries, I have fixed them on master. New release incoming, thanks!

[2020-09-13 10:46] #1272 closed

[2020-09-13 10:49] josevalim commented on #1160
Closing this for now. If there is still interest, please submit a PR!

[2020-09-13 10:49] #1160 closed

[2020-09-13 10:50] josevalim commented on #1229
Ping @davydog187 :)

[2020-09-13 10:51] #1242 closed

[2020-09-13 10:53] josevalim commented on #1219
Can you please explain what you mean by "can't deal"? Do you get an error? If so, which one? Is it a warning? A failure to render? Thank you.

[2020-09-13 12:05] davydog187 commented on #1229
Oy, I'm a bit behind on my OSS stuff. We just launched our product this week. I will try to get to it ASAP

[2020-09-13 12:06] josevalim commented on #1229
Good luck with the launch!

[2020-09-13 12:33] davydog187 commented on #1229
@josevalim thanks! PR pushed up ;)

[2020-09-13 14:02] #1229 closed

[2020-09-13 14:10] eksperimental commented on #1219
It warns about `t:optional/1` and `t:required\1` not being defined.
this commit in this pending PR solves it.
https://github.com/elixir-lang/ex_doc/pull/1233/commits/16939dfdf6982f7ec50dd776f0d92b5e49551674

[2020-09-13 14:28] josevalim commented on #1219
Thanks, I see! Maybe we should send a separate PR for it with tests. In particular, I would probably handle them in a separate clause. :)

[2020-09-13 16:53] eksperimental commented on #1219
Sorry, it does not work in master. It does in that PR that we fine grain the warnings.

[2020-09-14 19:51] eksperimental opened #1274 "Long-named sections in the sidebard do not show the arrow"
They show the ellipsis, and if you click on it it works as if you clicked in the arrow.
I find it weird it is not consistent depending on the length

[2020-09-14 19:52] josevalim commented on #1274
Can you please provide screenshots that better describe the issue? Or a short way to reproduce. The more information the better.

[2020-09-14 19:57] eksperimental commented on #1274
the cursor is missing in the screenshot, but i am hovering the ellipsis
![image](https://user-images.githubusercontent.com/9133420/93131992-8bdaf300-f69a-11ea-82ed-6a4a26374202.png)

[2020-09-14 20:08] josevalim commented on #1274
I see. We have asked @archdragon to do a redesign of the sidebar to better handle all of this, so we will revisit this once that is proposed, thank you!

[2020-09-14 20:08] #1274 closed

[2020-09-16 13:36] kianmeng commented on #1272
@josevalim Did I miss something in my test? The problem still exists in `0.22.5`.

![image](https://user-images.githubusercontent.com/134518/93344456-4c600280-f864-11ea-943b-0296ea383a8c.png)

[code]

[2020-09-16 16:01] josevalim commented on #1272
You are correct, I forgot to recompile assets. My bad.

[2020-09-16 17:57] josevalim commented on #1272
Done!

[2020-09-18 01:00] aDaichiOta opened #1278 "Auto-linking ignores docs.deps configuration"
## background

Our Elixir project uses a library that isn't published to [hex.pm](https://hex.pm/), and its documentation is stored on a private server. I thought I could link to that docs by using the `docs.deps` config, but it didn't work as expected.

## Reproduction

[code]

## Expected behaviour

The link `Jason.encode!/1` should be directed to example.com

## Actual

The link `Jason.encode!/

[2020-09-19 07:22] #1278 closed

[2020-09-21 11:03] felipelincoln opened #1279 ":filter_prefix yields file not found"
I have a module in my project called `CMS` and I want to generate documentation to it, so according to the documentation I tried
[code]

but this is what I got:
[code]

and when I open docs/index.html I get "file not found".
When I remove the `:filter_prefix` everything works as expected. Since there is not much in the documentation regarding this configuration I may be missing something.

[2020-09-21 11:12] josevalim commented on #1279
You will have to configure `:main` too to point to which module you want to be the new home page. We are most likely redirecting you to Myapp.html, which is why it fails. I will improve the docs, thanks.

[2020-09-21 11:12] #1279 closed

[2020-09-21 11:26] felipelincoln commented on #1279
That's it, thank you! :tada: :tada:

[2020-09-22 12:53] eksperimental commented on #1204
Searching for a "submodule" name such as "LoadError" does not return anything, but "Code.LoadError" does.
"Requirement" does not return "Version.Requirement", which should be at the top of the list.

[2020-09-22 12:58] eksperimental opened #1280 "Search suggestions in sidebar should mention "(exception)""
Otherwise it looks like a regular module

[2020-09-22 13:38] josevalim commented on #1204
We probably need to split on dots for module names? 🤔

[2020-09-22 13:50] josevalim commented on #1280
They are regular modules and we have stopped treating them as something special for some time now (i.e. they don't have their sidebar entry either). Luckily the name provide enough hint too! Thanks!

[2020-09-22 13:50] #1280 closed

[2020-09-22 14:35] eksperimental commented on #1204
But if it is a substring, why isn't it finding it?

[2020-09-22 15:00] eksperimental commented on #1280
well they appear in the sidebar
![image](https://user-images.githubusercontent.com/9133420/93898574-f7cfe380-fcb8-11ea-91ee-fd5f8af77c0d.png)

[2020-09-22 15:05] josevalim commented on #1280
Yes, they appear on the sidebar as regular modules, they don't have their own sidebar *group* (my bad).

[2020-09-22 15:08] eksperimental commented on #1280
they do have it,

![image](https://user-images.githubusercontent.com/9133420/93900861-7f1e5680-fcbb-11ea-8c6f-66705fa7bdce.png)

[2020-09-22 15:13] josevalim commented on #1280
By group i mean the one we had at the top. Like modules and pages. It is easier if you compare to an old version of ExDoc, where exceptions was treated separately from modules.

[2020-09-22 15:17] eksperimental commented on #1280
I get you now. All good then. I just wanted to make sure we were on the same page.

[2020-09-25 07:05] ggpasqualino commented on #1171
What's the status on this? Could I give it a try? I also felt the need to have this before https://github.com/dashbitco/broadway/pull/169/commits/04c47febd7ff03e67566b427da78798262ca0727 😄

[2020-09-28 17:28] joeapearson opened #1282 "Suggestion: remove "Top" links"
I may be alone here, but I find it quite disorientating that, when opening any section of an ex_doc created set of docs I:

1. Click the section
2. Have to click the "Top" link to actually cause navigation to occur

IMHO I'd love to see the removal of Top, and clicking the section header just takes you straight there instead.  If there is still a desire is for the ability to return to the top of t

[2020-09-28 17:38] josevalim commented on #1282
We have discussed this many times and changed it many times and every time we find it, some people find the new behavior confusing. The way you suggested is actually how it worked some time ago. :) So I recommend checking out the previous issues.

At some pint we actually want to rework the whole sidebar. We even got funds for it, but we need a bit of time to prioritize that. Thanks!

[2020-09-28 17:38] #1282 closed

[2020-09-28 18:16] joeapearson commented on #1282
Roger that.  Would it be useful to create an issue for others (myself included) to watch?  Happy to pitch in if needed once decisions made.

[2020-10-03 17:25] wojtekmach opened #1283 "Sidebar entries are incorrectly escaped"
See e.g.:

<img width="486" alt="image" src="https://user-images.githubusercontent.com/76071/94997835-2057b780-05ae-11eb-85d0-a047a3e1d09e.png">

https://hexdocs.pm/phoenix_ecto/main.html#the-phoenix-ecto-integration

It's easy to reproduce this on master.

[2020-10-05 09:00] wojtekmach commented on #1268
If we add it to the sidebar where you suggest, I think it could be interpreted as if the whole module is deprecated, not just that particular search hit. If we add it on the same line, e.g.: `cwd/0 (_deprecated_)`, then I believe we'd eventually run into a problem with long function names, there won't be enough space to display both the function and the deprecation label.

[2020-10-05 12:44] davydog187 commented on #1283
I've got a PR coming

[2020-10-05 13:49] eksperimental commented on #1268
It would be in the same place where we show `(type)` for some matches that are types. We could use italics if space is a problem. By using it users will learn that when the italic is shown, it means it is deprecated

[2020-10-05 13:59] wojtekmach commented on #1268
Gotcha.

I missed Jose's previous comment, I agree with him: I think we could simply not suggest deprecated functions in the first place.

[2020-10-05 14:15] eksperimental commented on #1268
But in the hovering tooltips, we can show that the functino is deprecated. It will save users' precious time.

[2020-10-05 14:18] #1283 closed

[2020-10-06 08:47] wojtekmach commented on #1219
Fixed in #1233.

[2020-10-06 08:47] #1219 closed

[2020-10-06 09:00] #1191 closed

[2020-10-08 19:01] eksperimental commented on #1057
@josevalim I have enabled it. Yes, you need to give me access again

[2020-10-10 15:09] kianmeng opened #1286 "Code block under list without extra empty line failed to render HTML correctly"
Sample Markdown taken from https://raw.githubusercontent.com/elixir-unicode/unicode/master/README.md

# GitHub
GitHub renders it correctly, https://github.com/elixir-unicode/unicode/blob/master/README.md
![image](https://user-images.githubusercontent.com/134518/95658478-443a7080-0b4d-11eb-8855-9a7fa521334f.png)

# ExDoc
`ex_doc` renders it incorrectly, https://hexdocs.pm/ex_unicode/1.11.0/readme.h

[2020-10-10 17:05] wojtekmach commented on #1286
Thank you for the report. I believe it's Earmark bug, it probably produces invalid html for this markdown. Try upgrading Earmark to the latest version and see if it is still incorrectly rendered. If it isn't, consider reporting the bug there.

[2020-10-10 17:05] #1286 closed

[2020-10-12 15:39] CostantiniMatteo opened #1287 "Html doc not generated in umbrella project"
Hi,

I'm trying to build the doc of an umbrella project in the root directory using the command `mix docs` after adding the ex_doc dependency (`{:ex_doc, "~> 0.22", only: :dev}`) both in the root mix and in the app ones.

While the output of the command is the following

[code]

only the `doc.epub` file is generated.

Running `mix cmd mix docs` creates each apps' documentation as expected.

I woul

[2020-10-12 15:42] josevalim commented on #1287
It should have worked at the umbrella root, so this is definitely a bug.

[2020-10-12 15:46] josevalim commented on #1287
Specify the :name in your mix.exs `def project` and you should be good to go. I will change master to raise an error.

[2020-10-19 21:48] sax opened #1288 "`about` links generate warning"
When providing a link to a browser built-in such as `about:blank` or `about:preferences#privacy`, ExDoc produces the following warning:

[code]

I have been looking for a way to silence this warning. I see that there is an option for `skip_undefined_reference_warnings_on`, but thought that this behavior was unexpected and should not issue a warning.

I have a use case set up in the following repo:

[2020-10-27 09:00] #1288 closed

[2020-11-01 13:36] RobertDober commented on #1286
@kianmeng yes this is an EarmarkParser problem, I am currently working on it, alas very slowly

[2020-11-14 11:51] michallepicki commented on #859
Is this something we still could do? For linking back to hex, the javascript config file could be leveraged.

The javascript config is already in place and being generated by hexdocs for the versions dropdown. A link back to hex could be added there, and `ex_doc` javascript could render it when a javascript global is present (similar to how the versions dropdown works).

One more thought, a mix pa

[2020-11-14 12:32] josevalim commented on #859
One of the things we discussed is to add this to the version drop down as The infrastructure is there

[2020-11-22 23:13] garthk commented on #1204
Related: I'd expect a search for ["handle_errors"](https://hexdocs.pm/plug/search.html?q=handle_errors) in the Plug documentation to bring up [Plug.ErrorHandler](https://hexdocs.pm/plug/Plug.ErrorHandler.html), but it doesn't. Previously raised as hexpm/hexdocs#21 but they sent me here.

[2020-11-24 15:47] mfbmina opened #1292 "Wrong HTML generation"
Versions:

- ex_doc: 0.23
- earmarker_parser: 1.4.10

We are generating the following `.md` file:

[code]

Which is being converted to the following `HTML` file (I'm ommitting not relevant HTML code):

[code]

The table is broken because of this and I'm not sure how to fix it.

PS: I'm not sure if here is the right place to open this issue

[2020-11-24 16:21] wojtekmach commented on #1292
Thank you for the report (yup, this is the place to open the issue!)

This is a regression caused by internal changes we've been making preparing for future features, we don't yet have a fix. Here's a similar issue: https://github.com/elixir-lang/ex_doc/issues/1189.

If you need to embed html in your markdown it's probably best to downgrade to ExDoc v0.21.x.

[2020-11-25 09:16] mfbmina commented on #1292
Thanks ❤️

[2020-11-27 15:53] jnfingerle opened #1294 "Feature request: Warnings as Errors"
Hi,

it would be great to have a switch to treat warnings as errors. One could use that in automated builds.

Cheers, Jan Niklas

[2020-11-27 15:59] josevalim commented on #1294
We don't have bandwidth to tackle this right now but I think it is a good idea, so a pull request is welcome!  :)

[2020-11-29 23:53] lszyba1 opened #1295 "Add Next Previous Buttons to theme"
Hello,
Could you add next /previous buttons to a theme in a similar fashion as sphinx (python).

I'm in a middle of reading
https://hexdocs.pm/phoenix/request_lifecycle.html#another-new-page
But I need to step out of learning, figure out where I'm in a tree of documents, then click on next section. Very distracting when you are following along.

Example of how the "Next Button Should Look":
scroll

[2020-11-30 14:44] eksperimental commented on #1295
regardless of introducing the buttons to the interface, the `rel="prev"` and `rel="next"` can be implemented since there is a linear login based on the sidebar tree.

[2020-12-06 06:43] #1153 closed

[2020-12-09 07:10] #1295 closed

[2020-12-09 07:11] josevalim commented on #1252
I will close this one. My suggestion is to explicitly docs the important behaviours you implement in the docs for now.

[2020-12-09 07:11] #1252 closed

[2020-12-09 08:12] josevalim commented on #1292
Closing in favor of #1189.

[2020-12-09 08:12] #1292 closed

[2020-12-09 12:50] henrythebuilder opened #1303 "Building documentation for Elixir failed"
Hi
with last version of ex_doc building documentation for Elixir failed:
[code]
checking latest commits from [v0.23.0](https://github.com/elixir-lang/ex_doc/releases/tag/v0.23.0) it seam the error come from 0a9863f5 with the introduction of 'makeup_erlang' dependency.
Adding this dependency to `bin/ex_doc` with `Code.prepend_path...` seam solve the problem:
[code]
With this change `make docs` work

[2020-12-09 13:08] josevalim commented on #1303
Can you please send your proposed changes to `bin/ex_doc`? I will fix the makeup_erlang dependency.

[2020-12-09 13:23] henrythebuilder commented on #1303
OK, pull request requested, probably the best way, sorry for long issue text but I don't known if the proposed changes are the best to fix the error

[2020-12-09 13:24] henrythebuilder commented on #1303
Thanks for merging :+1:

[2020-12-09 13:39] josevalim commented on #1303
Both this issue description and the PRs are appreciated, thank you!

[2020-12-09 13:39] #1303 closed

[2020-12-16 11:41] eksperimental commented on #1057
ping @josevalim

[2020-12-16 12:05] eksperimental commented on #1057
Thank you @josevalim.
I also had a commit permissions to https://github.com/elixir-lang/elixir-lang.github.com, just in case you want to revert things as they were before.

[2020-12-22 13:27] kianmeng opened #1306 "`:skip_undefined_reference_warnings_on` not working for given module?"
Deps:

[code]

Actual:

Steps to reproduce:

1. `git clone https://github.com/elixir-ecto/ecto_sql.git`
2. `mix deps.get`
3. Update `mix.exs` and add this line 177:

[code]

4. `MIX_ENV=docs mix docs`

[code]

Expected:

[code]

Did I use the `:skip_undefined_reference_warnings_on` option incorrectly or is it a bug?

[2020-12-22 13:45] eksperimental commented on #1306
Hi @kianmeng,
could you please update ex_doc to the lastest version ("~> 0.23") and see if the issue still happens

[2020-12-22 13:52] eksperimental commented on #1306
There are two issues.
1. there is already a key named :`skip_undefined_reference_warnings_on` in that keywordlist, it is just on line 179.
2. `:skip_undefined_reference_warnings_on` does not work for modules you link to as in this case, but for modules you link from. If you add `Ecto.Adapters.Postgres` you will see the warning is gone.

[2020-12-22 13:56] eksperimental commented on #1306
This was previously proposed in https://github.com/elixir-lang/ex_doc/issues/1192 and had a PR https://github.com/elixir-lang/ex_doc/issues/1192 but it didn't make its way in.

[2020-12-22 14:41] #1306 closed

[2020-12-23 12:09] kianmeng commented on #1306
@eksperimental, Awesome! Thanks for clarifying my misunderstanding of the `:skip_undefined_reference_warnings_on` option and shared the historical context of `:skip_reference_warnings_for` option. :+1: :+1:

[2020-12-25 04:33] eksperimental opened #1307 "Wrong link in API Refecence with local links in the module summary."
[code]

The API will link `Foo`  to `#content` intead of `Foo.html#content`.

This happens with any local link

[2020-12-25 04:41] eksperimental opened #1308 "Linking to function starting with underscore gets links but docs do not exist"
[code]

The module docs will link to _foo, but _foo will not show in the generated docs.
A real case happens when you locally link to `__using__/1`

[2020-12-25 07:08] josevalim commented on #1308
Don’t we warn if you link to something without docs?

[2020-12-25 07:14] josevalim commented on #1307
Fixed already with b46dab1b4a8e4fc16663a5e4bb6e90bcd186f6ce.

[2020-12-25 07:14] #1307 closed

[2020-12-25 15:18] eksperimental commented on #1308
Here' s a more complete example

[code]
[code]

the docs: only the first two get linked, and the docs do not exist
[code]

[2020-12-25 16:14] eksperimental opened #1309 "Epub docs not compliying with requirements in README file"
The generate epub is not including the link to this repo on every page.

/cc @milmazz

[2020-12-26 19:37] eksperimental opened #1310 "Searching and clicking on a function in the same page does not close the suggestion box"
Let' s say you are in `doc/elixir/Kernel.SpecialForms.html` and in the search box you type in `import` and you click on "Kernel.SpecialForms.import/2", the suggestion box does not goes away and if you try to hit on `x` icon, it does not work.

Screenshot shows after clicking the import result, the suggestion box is still there, blocking the view of the menu items.
![image](https://user-images.gith

[2020-12-26 19:40] josevalim commented on #1310
Hi @jonatanklosko, I believe this is related to your jQuery refactoring, can you please take a look?

To reproduce, you can try it here: https://hexdocs.pm/elixir/master/Kernel.SpecialForms.html

Thank you :)

[2020-12-26 20:08] wojtekmach commented on #1310
what's your OS/browser? Seems to work fine on macOS/Safari.

[2020-12-26 20:13] wojtekmach commented on #1310
Oh, I found a way to reproduce this. If you go to https://hexdocs.pm/elixir/master/Kernel.SpecialForms.html, search, and click, then it's ok. But if you're already on https://hexdocs.pm/elixir/master/Kernel.SpecialForms.html#import/2, search, and click, then it shows the bug. I could only reproduce the bug when clicking, not when using "enter" on the suggestion.

[2020-12-26 20:17] eksperimental commented on #1310
On Linux, latest versions Firefox and Chromium have the same buggy behaviour

[2020-12-26 20:17] jonatanklosko commented on #1310
@wojtekmach I get the same behavior, gonna have a look now!

[2020-12-26 23:25] jonatanklosko commented on #1308
As far as I understand, the problem comes from the fact that underscored functions get `:public` visibility in the `ExDoc.Refs` cache, but they are ignored when generating docs.

---

Autolinking relies on the `visibility` stored in the `ExDoc.Refs` cache:

https://github.com/elixir-lang/ex_doc/blob/15560a59f39d3d6917ee5070adc121a00f1814db/lib/ex_doc/autolink.ex#L476-L480

This visibility is compu

[2020-12-27 00:09] eksperimental commented on #1310
I'm  reopening the issue as there is a little glitch with the implementation in #1311

When you open a new tab the suggestion box remains open, but when you try to close it clicking on the `x` icon, it does not work and the situation is pretty much the same as described in the original issue.

/cc @jonatanklosko

[2020-12-27 01:56] #1310 closed

[2020-12-27 15:04] eksperimental commented on #1308
Thank you @jonatanklosko, this is the way to go. I already have a working fix for this. I will update it soon.

[2021-01-03 03:36] queer opened #1314 "Syntax error when a function is named something like `/=`"
I've been writing a tiny query DSL for Mnesia for my own needs, and since I've not yet delved into using macros to make it nicer, it currently just generates a lot of functions from a list of atoms, specifically the [`BoolFunction` and `GuardFunction` parts of matchspecs](https://erlang.org/doc/apps/erts/match_spec.html#grammar). Some of these have names that trip up ExDoc though. For example:
[co

[2021-01-03 08:47] #1314 closed

[2021-01-03 21:14] lexmag commented on #1189
The regression happens from the EarmarkParser usage:
ExDoc 0.22 started to use Earmark 1.4 (shipped with EarmarkParser),
and now ExDoc directly depends on EarmarkParser.
EarmarkParser has incomplete support for HTML blocks: (https://github.com/RobertDober/earmark_parser/issues/30), and sometimes it could discard content (https://github.com/RobertDober/earmark_parser/issues/31).

[2021-01-07 17:09] RaymondLoranger opened #1317 "Wrong color and "boldness" in "...>" when line ends with "<>""
See [here](https://hexdocs.pm/noaa_observations/NOAA.Observations.State.html#content).

[2021-01-07 17:44] wojtekmach commented on #1317
This is a makeup_elixir bug. I've created https://github.com/elixir-makeup/makeup_elixir/issues/17.

[2021-01-07 17:44] #1317 closed

[2021-01-08 01:44] andfoy opened #1318 "Adding support for LaTeX rendering via MathJax"
Thanks for your great work on this project! I was wondering if it is possible to bring LaTeX support for docstrings, which could be rendered on HTML via MathJax. Basically, the idea would be to provide support for strings surrounded by $$$$.

I can also implement this functionality if I can get pointers about how JavaScript dependencies work on ExDoc

[2021-01-08 02:44] jonatanklosko commented on #1318
This is a rather specific feature, so it probably makes more sense to set it up manually when needed. ExDoc configuration supports adding custom content to the HTML page via `before_closing_body_tag`/`before_closing_head_tag`, so you can easily load external JS. I created an example of that [here](https://github.com/jonatanklosko/latex_example).

[2021-01-08 07:24] josevalim commented on #1318
Exactly! We support custom assets and custom tags, which means you can bring MathJax in! Thanks @jonatanklosko!

[2021-01-08 07:24] #1318 closed

[2021-01-08 16:36] andfoy commented on #1318
Thanks for the pointers @jonatanklosko @josevalim!

[2021-01-12 10:25] #1189 closed

[2021-01-12 10:28] wojtekmach commented on #1189
@RobertDober sorry for some of the earmark reports that stemmed from this and similar issues, we were incorrectly handling the Earmark AST. Now we're properly differentiating between verbatim and non-verbatim nodes that pretty much solves the problem!

[2021-01-12 11:37] RobertDober commented on #1189
again no need to apologise I am not really up to speed with these issues, we had been planning to make EarmarkParser more GFM like, as it is becoming quite clear that for many, nowadays `Markdown == GFM`, unfortunately I do not have time, energy and inspiration right now, sorry.

I will of course at least tend to my social duties.

[2021-01-12 12:09] josevalim commented on #1189
Hi @RobertDober!

FWIW, EarmarkParser works *great* for us! And to be clear, I don't think anyone should expect you to make Earmark behave more like GFM. If you would welcome contributions that add those features then you can always say so and hope people will contribute, but you shouldn't really sweat or work on it unless you actually want to. :)

Have a great week!

[2021-01-12 14:31] RobertDober commented on #1189
Oh I will certainly accept any PR in that direction, but it is a delicate matter ...

Thanx for your kind encourgament and (IIANM) Prospero Ano Novo

[2021-01-19 03:01] eksperimental opened #1320 "Callbacks are ignored if declared inside a protocol"
If a callback is declared inside a protocol. ExDoc does not list them.

Example:
https://github.com/eksperimental/buildable/blob/master/lib/buildable.ex

[2021-01-19 06:42] josevalim commented on #1320
It shouldn’t. A protocol is already a behavior with its own callbacks, we shouldn’t promote mixing.

[2021-01-19 06:42] #1320 closed

[2021-01-19 16:37] eksperimental commented on #1320
On Mon, 18 Jan 2021 22:42:47 -0800
José Valim <notifications@github.com> wrote:

Then shouldn't we emit some kind of warning in Elixir when this is done?

[2021-01-19 17:02] eksperimental commented on #1320
@josevalim There is also a thread in ElixirForum asking opinions on how to tackle this issue.
https://elixirforum.com/t/putting-non-protocol-functions-in-a-protocol/36503/
I think it will clarify if you can share your input.

[2021-01-20 18:29] milmazz commented on #1309
@eksperimental based on the `README` description, you're right, a direct link is needed to the repository on every page, so I think we should put a new _footer_ template, and then use that template on:

* `title_template.eex`
* `module_template.eex`
* `nav_template.eex`

Should we also update the content of the `head_template.eex` too? I mean, currently we describe the generator as:

[code]

Shoul

[2021-01-20 18:57] josevalim commented on #1309
I will change the README to say it is one reference for every printed material. This means it is per page for HTML and once per PDF. :)

[2021-01-21 01:01] eksperimental commented on #1309
application-name is for applications running the page. I think it does not apply to ExDoc. I also read it is used in mobiles when you want to add a link in the home screen.

[2021-01-23 15:19] eksperimental commented on #1294
I am going to tackle this one as I think it will beautifully integrate with CI and test tasks in general.
If you have any considerations, suggestions, please let me know.

[2021-01-24 13:42] #1308 closed

[2021-01-25 19:16] eksperimental opened #1322 "Deal with custom link that links to undefined/hidden module"
[code]
`Code.Typespec` is a hidden module, in the first example, and ExDoc what it does is to treat  format the text inside the backticks as such generating `<code class="inline">Code.Typespec</code>`

but when using a custom link, the generated code is
```<a href="`Code.Typespec`">code typespec</a>```

I am not too sure what is the best way to deal with this, probably removing the backticks and l

[2021-01-25 19:17] josevalim commented on #1322
Great find. We should warn and remove the link IMO. :)

[2021-01-25 19:22] eksperimental commented on #1322
We are currently warning.
I am not 100% convinced of removing the link because it may hide the error, even though we are warning. A project may generate multiple warnings and this one can get buried there.
But removing it will be consistent  with how we deal in the first example

[2021-01-25 19:23] wojtekmach commented on #1322
Good find. I think we should definitely remove the link because there's nowhere to link to.

[2021-01-25 19:25] eksperimental commented on #1322
Alright +1 with that as we don't have any other options

[2021-02-02 19:30] eksperimental commented on #1322
I will take care of this.

[2021-02-06 18:02] josevalim opened #1332 "Support docs.config"

[2021-02-08 11:06] wojtekmach opened #1333 "Erlang support"
- [x] Basic support
- [x] Render typespecs using erl_pp/erl_prettypr
- [x] Highlight erlang code examples
- [x] Autolink Erlang typespecs
- [x] Rewrite links. E.g. `{:a, [rel: "https://erlang.org/doc/link/seemfa", href: "stdlib:array#new/0", ...}` is rewritten to, based on what docs we generate, an internal link to `array.html#new/0` or external one to erlang.org.
- [x] Warn on invalid refs
- [x]

[2021-02-08 11:06] wojtekmach commented on #1332
Closing in favour of #1333.

[2021-02-08 11:06] #1332 closed

[2021-03-04 12:07] eksperimental opened #1339 "Sidebar gets expanded on windows resize"
If I collapse the sidebar and I resize the window, the sidebar gets expanded every time.

This can clearly be seen when the sidebar is collapsed and you choose to go Full screen mode and back to normal mode.

[2021-03-04 12:18] eksperimental opened #1340 "Sidebar status should be remember across pageloads"
If you collapse the sidebar and hit a link that takes you to another page, within the same project, the sidebar is expanded again.
I think it should remain collapsed.

[2021-03-04 12:24] josevalim commented on #1340
I disagree. :) Those are really distinct pages and for example, if i am going to a completely separate project, it is not clear this state should persist. I think avoiding state here would be a good thing. Thanks for the report tho!

[2021-03-04 12:24] #1340 closed

[2021-03-04 12:31] eksperimental commented on #1340
Yes, they are distinct pages but within the same project. Same happens with disable tool tips and setting the night mode. They are kept across pages, but if you go to a different project, they are lost.

The use case here is that if you are in a mobile, or in a screen where the sidebar is interfering with your reading and you choose to collapse it, IMO it will be really annoying that the user will

[2021-03-04 12:33] jonatanklosko commented on #1340
For small screens sidebar is collapsed by default and we definitely wouldn't want to remember that the user expanded it temporarily =)

[2021-03-04 13:16] eksperimental commented on #1340
Fair point for the mobile case, it wouldn't apply to it. But what about if you are in a desktop of 1024x768, the side bar take 38% of the screen width

![image](https://user-images.githubusercontent.com/9133420/109969235-aa24c180-7cc1-11eb-825a-df0ada2eb0ff.png)

versus the screen with no sidebar.
![image](https://user-images.githubusercontent.com/9133420/109969280-b9a40a80-7cc1-11eb-910c-e105acb1

[2021-03-06 14:03] eksperimental opened #1341 "Add option to link to lastest MINOR and PATCH versions of documentation in hexdocs.pm"
One nuisance I have have across multiple times when reviewing the Phoenix documentation is I noticed they link directly to the stable version of the documentation using a custom link (i.e. https://hexdocs.pm/ecto/Ecto.html), instead of just using backticks and let Exdoc generate the link to the version of the package installed when the docs were generated (i.e. https://hexdocs.pm/ecto/3.5.0/Ecto.h