[2021-03-06 14:24] josevalim commented on #1341
This is complicated because we don't know if the module exists on the latest version of the docs. For example, what if a project is linking to Ecto v2.0 and now there is Ecto v3.0? Having an option pushes this decision to the user but it doesn't really stop the issue from happening. At the same time I understand your pain.

Something that would alleviate my concern is if we could make the not foun

[2021-03-06 14:33] eksperimental commented on #1341
Then we should never link to a different major version, which will also make sense. And if someone wants that, they will have to use custom links as we are doing now.

From the hexdocs.pm side what we could do is redirect:
MAJOR.MINOR links such as https://hexdocs.pm/ecto/3.5/Ecto.html, to the latest version for that MINOR (https://hexdocs.pm/ecto/3.5.8/Ecto.html), but if this latest version is th

[2021-03-06 14:33] wojtekmach commented on #1341
Phoenix cannot use `` `Ecto` `` because it doesn't depend on Ecto.

As you mentioned if someone uses back tics it would generate a URL with the version that you happen to be using right now, if you use a custom link then we'd use the URL of the custom link. Thus I don't think we need to introduce new options as the current system is pretty flexible, isn't it?

[2021-03-06 14:36] eksperimental commented on #1341
I am not following what you mean.
https://github.com/phoenixframework/phoenix/blob/dee4798642901c401c60757ce86277761633ff03/mix.exs#L76

[2021-03-06 14:40] wojtekmach commented on #1341
Oh, didn't know they do that!

OK I think I get what you want to achieve, you want to be able to write `` `Ecto` `` and make that generate a URL to stable instead of URL to versioned. I suppose we could do that, but because we can achieve it using a custom link that's good enough to me and I wouldn't complicate things.

[2021-03-06 14:40] eksperimental commented on #1341
It is flexible, I am not arguing that. But it leads to having to replace external links every time you want to link, and if you forget some the docs are inconsistent.

[2021-03-06 14:49] wojtekmach commented on #1341
Why does Phoenix write `` [`Ecto`](https://hexdocs.pm/ecto/Ecto.html) `` instead of `` `Ecto` ``? What's wrong with generating a versioned URL?

[2021-03-06 14:52] eksperimental commented on #1341
I haven't asked. I assume is because they want their documentation no to have outdated links. It makes total sense linking to the latest PATCH version. It is arguable linking to a different MINOR version. It is probably be wrong to link to the latest stable version.

[2021-03-06 15:05] josevalim commented on #1341
It is most likely the reason is that they were written before ExDoc supported cross deps linking.

[2021-03-06 15:48] wojtekmach commented on #1341
But then it wouldn’t make sense it has `:ecto, only: :docs` :) but probably both is true, some docs were written before and some after exdoc had such support.

[2021-03-07 12:35] eksperimental commented on #1341
Another thing that we can do is rely on the version requirements of the dependencies, and determine whether to link to the exact version, their latest patch, or minor.
config would be `:link_to_lastest_doc`
In case a dependency has the the requirement "> 1.0.0", we can link to the latest stable, but we need to explicitly set it in a config with an additional setting such as `:link_to_latest_stable

[2021-03-07 12:42] josevalim commented on #1341
The problem is to know what latest stable means. We don’t know this when generating the docs (unless we start coupling to Hex). We could add a feature to Hex though to ask it to redirect to the latest of a given requirement. So once again, I don’t see how we can implement this without adding features to other places that are not under our control.

[2021-03-07 12:49] eksperimental commented on #1341
Well, I always had in mind that https://github.com/elixir-lang/ex_doc/issues/1341#issuecomment-791962561 could be implemented.
I haven' t look into Hex's source code. But I am sure this is already implemented because of the feature that lists all the versions in the dropdown in the sidebar. We will just need to add 2 redirection rules for /X/ and /X.X/

This is already solved by Hex. It is the URL

[2021-03-07 12:59] eksperimental commented on #1341
I will work on a PR for hexpm with said feature and come back here

[2021-03-07 13:32] josevalim commented on #1341
Yes, I am aware it is available, but it is not exposed in a way we can consume.

I don’t think the feature should be done with hexdocs redirects. Rather, something like this:

    Hex.on/redirects/latest/hexdocs/ecto?requirement=...

[2021-03-07 14:00] eksperimental commented on #1341
and that would return a version, a URL, or just redirects you to said URL?

[2021-03-07 14:17] josevalim commented on #1341
It just redirects to the highest version matching a requirement.

[2021-03-07 14:24] eksperimental commented on #1341
great. I will take care of it.

[2021-03-07 15:55] josevalim commented on #1341
Thanks! I will go ahead and close this, as it requires elsewhere and I think we have more important issues to tackle in our issues tracker.

[2021-03-07 15:55] #1341 closed

[2021-03-07 15:58] eksperimental commented on #1340
I think this issues should be considered to be reopened, until we come up with a solution that is not annoying for users where the sidebar takes such a significant percentage of the screen-width as mentioned in https://github.com/elixir-lang/ex_doc/issues/1340#issuecomment-790610196

[2021-03-07 16:06] josevalim commented on #1340
I don’t think it is a critical issue, so a PR is welcome, but not something we should be investigating. Thanks!

[2021-03-16 10:25] eksperimental opened #1343 "Mix commands in reference links do not work"
This works.
[code]

And this does not.

[code]

[2021-03-19 15:08] maennchen opened #1344 "Error could not write to file"
## Steps to reproduce

Add the following modules:

<details>
<summary>
<code>hygeia_xml.ex</code>

</summary>

[code]
</details>

<details>
<summary>
<code>sedex/schema.ex</code>

</summary>

[code]
</details>

Based on the following XSD: https://github.com/republique-et-canton-de-geneve/sedex-Message-Handler/blob/master/src/main/java/ch/admin/suis/msghandler/xml/v2/eCH-0090-2-0.xsd

## Output

<d

[2021-03-19 16:53] #1344 closed

[2021-03-19 16:54] wojtekmach commented on #1344
Thank you for the report, could you try latest master? If this works, we'll cut a new release soon.

[2021-03-19 19:09] maennchen commented on #1344
@wojtekmach I'll trylmaster on monday, thanks for the fast fix ❤️

[2021-03-22 12:08] maennchen commented on #1344
@wojtekmach The newest release works

[2021-03-22 12:43] wojtekmach commented on #1344
Great, thanks!

[2021-03-29 10:56] #1164 closed

[2021-03-29 13:27] wojtekmach opened #1345 "Update tooltip to use content from function landing pages"

[2021-03-31 22:57] wojtekmach opened #1348 "Autolink captures"
Say we have these docs:

[code]

it would be nice if we could simply write:

[code]

thoughts? If so, should we do it for local captures too?

[2021-03-31 23:18] eksperimental commented on #1348
+1

[2021-04-01 05:12] josevalim commented on #1348
I am unsure because we start blurrying the line with auto linking code. Should we also autolink: `Kernel.is_atom(:foo)`?

[2021-04-01 07:04] wojtekmach commented on #1348
Fair enough, i don’t think that's a bridge we want to cross yet. I'm gonna close it for now.

[2021-04-01 07:04] #1348 closed

[2021-04-05 16:37] cw789 opened #1350 "Markdown to HTML new line behaviour"
I'm very unsure if this belongs to ex_doc or to another place (earmark_parser).
Sorry upfront if I'm wrong.

Following:
I would expect the markdown below (double space + line ending) to give me the following HTML.

**Markdown**
[code]

**HTML**
[code]

But it seems to me that ExDoc produces double breaks in HTML:

[code]
Means there is an unexpected empty line before the next line.

My quick test

[2021-04-05 16:49] wojtekmach commented on #1350
This is an ExDoc bug:

[code]

we're incorrectly changing `{:br, [], [], %{}}` to `<br></br>` that then gets rendered as two br's.

[2021-04-05 17:00] kelvinst commented on #1350
I can fix this one if no one else is interested.

[2021-04-05 17:04] eksperimental commented on #1350
We need to detect when a tag is a void one.
See this PR as an example

https://github.com/pragdave/earmark/commit/d946315ade9509a4c022f5b60ff1d09d5588b857#diff-07e611b6c1c5c00433da7d769f5c8b5c4135aaeaf6d9726ef003767c01b56fe7R5-R6

[2021-04-06 07:07] #1350 closed

[2021-04-07 01:55] eksperimental opened #1352 "callbacks implementations are not listed in the module if `@impl true`"
Given the following example.

[code]

`mix docs` for `ImplTrue` will not list `something/1`, while for `NoImpl` it shows the function.
Originally reported by vrod in https://elixirforum.com/t/documentation-for-callback/38758

[2021-04-07 02:42] eksperimental commented on #1352
I see it is not an ExDoc issue, it is rather coming from Elixir itself.
[code]

I see where this is coming from.
https://github.com/elixir-lang/elixir/blob/09896a609fa552feeabc53506df846c4ff7bb05b/lib/elixir/lib/module.ex#L1489-L1522

Any specific reason why doing `doc = if is_nil(doc) && impl, do: false, else: doc`?

[2021-04-07 03:28] josevalim commented on #1352
Yes, that’s by design and the docs for @impl mention so. After all, you don’t want to export GenServer callbacks and so on.

[2021-04-07 03:38] eksperimental commented on #1352
Yes, I missed that last sentence in the docs for @impl

It makes sense... now my question is, shouldn't we be consitent and set `@doc false` for callback implementation that do not set `@impl` for the very same reason? after all `@impl` is an optional attribute to aid the user read the code.

[2021-04-07 03:59] josevalim commented on #1352
The goal was to not make this decision implicitly for the user but I believe ExDoc could not show docs for `@callback` by default. WDYT?

[2021-04-07 08:08] wojtekmach commented on #1352
+1

[2021-04-07 14:18] eksperimental commented on #1352
Sorry, I don't fully understand what you mean.
Which way should we take?

[2021-04-07 14:22] josevalim commented on #1352
I mean that if the goal is consistency, we should not show docs for callbacks in ExDoc, unless they are explicitly given.

[2021-04-08 13:09] #1322 closed

[2021-04-11 17:47] eksperimental opened #1355 "Restructure message in landing page"
We are currently showing this message at the top of the page

I think this should be placed at the bottom of the page, in the html structure. but display with CSS where it is. Otherwise it is the first think that will show up in the search engines.

[2021-04-11 17:52] eksperimental opened #1356 "Move landing pages to a subfolder"
I am overwhelmed by the amount of pages in the root folder for the docs.
Currently Elixir has 1370 html files

Maybe having subfolders named `callback/` and `function/` will help with the SEO purposes of this feature

[2021-04-11 19:05] kelvinst commented on #1356
Would gladly take a shot at this one, let me know if someone is already working on it.

[2021-04-11 19:07] kelvinst commented on #1355
If no one else is interested, I can take a shot on this one too.

[2021-04-11 19:12] josevalim commented on #1355
Can we depreoritize it so it doesn’t show up in text engines but still have it at the top?

@eksperimental do you have any example of it showing up first?

[2021-04-11 19:13] josevalim commented on #1356
Won’t happen because it will break all
Links, assets, layouts, which are based on relative paths. We can change it so it is easy to filter them out, but they will stay at rootx

[2021-04-11 19:13] #1356 closed

[2021-04-12 00:09] eksperimental commented on #1355
I was thinking of using the `<small>` tag but still move it to the bottom. I don´t know if an approach like that is what you mean by depreoritizing it.

I haven't since this feature is very recent. Do you
![image](https://user-images.githubusercontent.com/9133420/114326233-75462e80-9af9-11eb-8563-bec64cd37e38.png)

[2021-04-12 00:11] eksperimental commented on #1355
Also, "link to the function" can be hidden for SE if the is a trick to to that.

[2021-04-12 00:27] eksperimental opened #1357 ".build file is not listing landing pages"

[2021-04-12 07:07] josevalim commented on #1355
https://developers.google.com/search/docs/advanced/crawling/special-tags?hl=en&visit_id=637538080264416026-2100439240&rd=1#inline-directives

[2021-04-12 07:08] josevalim commented on #1355
Closed by 66f3a15bb1a05e14792bb786200b04d2e98113a7.

[2021-04-12 07:08] #1355 closed

[2021-04-15 08:22] LostKobrakai opened #1358 "Allow html files as extras"
It would be nice for extras to allow for plain .html files, which ex_doc would just link to from it's navigation. The use-case is coverage reports, which excoveralls exposes as a single .html page.  Currently one needs to go on one of the markdown pages and click a link there, which is more navigation and even more less obvious.

[2021-04-15 08:35] josevalim commented on #1358
Thanks for the request but we don't have plans to support this at the moment. The link is likely the best option for now. :)

[2021-04-15 08:35] #1358 closed

[2021-04-15 18:38] stefanluptak opened #1359 "Autolink of `Application` module incorrect - missing / after master"
Here  https://hexdocs.pm/mix/master/Mix.Tasks.Escript.Build.html

<img width="599" alt="Screenshot 2021-04-15 at 19 55 30" src="https://user-images.githubusercontent.com/23926/114920437-b906a400-9e29-11eb-9cef-27046cf5b188.png">

**Current behavior:**
Link to `Application` module is https://hexdocs.pm/elixir/masterApplication.html

**Expected behavior:**
Link to `Application` module should be http

[2021-04-15 18:51] josevalim commented on #1359
For the error, you need to compile ExDoc with the Elixir version you are building docs for. :)

[2021-04-15 19:11] #1359 closed

[2021-05-05 11:32] matt-mazzucato opened #1360 "Problem rendering unicode characters"
The documentation I'm working on makes use of some fancy characters such as &#x2714;.
Currently the symbol isn't rendered in the correct way and the generated html simply renders it as `&#x2714;`.

From a quick test I can see that `&` is replaced with `&amp;`, which breaks the rendering:
[code]

I think that dropping the replacement of `&` with `&amp;` fixes the problem. I tested it on my machine

[2021-05-05 11:45] wojtekmach commented on #1360
This should have been fixed in the latest release, could you update and double-check? If the option persists, could you share a minimal repo that exhibits the problem? Thanks!

[2021-05-05 13:04] matt-mazzucato commented on #1360
Thanks @wojtekmach for your reply.
I just created a repo with a minimal example. Here you are the link: https://github.com/matt-mazzucato/minimal-doc-example

Additional info: I'm working with `elixir 1.11.4-otp-23`

[2021-05-05 13:13] wojtekmach commented on #1360
Thank you, this is extremely helpful!

Note that if you write down the actual emoji:

[code]

it will render correctly:

<img width="459" alt="image" src="https://user-images.githubusercontent.com/76071/117145892-ece34280-adb3-11eb-8edd-63149742a271.png">

Another reason to prefer the actual thing is then it will be nicely rendered in `iex> h` too, as opposed to seeing the escape code.

But perhap

[2021-05-05 13:18] eksperimental commented on #1360
I think we should. At least, that is what the CommonMark parsers are doing.

[2021-05-05 13:18] matt-mazzucato commented on #1360
I am aware that the symbol is correct if rendered from the markdown file (as we can see opening the .md file here on GH). But I suppose that if you check the doc generated with `mix docs` you won't see the checkmark symbol, both epub and html.

[2021-05-05 13:21] wojtekmach commented on #1360
The screenshot posted above is from the HTML generated by `mix docs`.

[2021-05-05 13:40] matt-mazzucato commented on #1360
Sorry I was keeping on trying with the unicode char. Working with the actual emoji fix my issue.
Thank you so much!

[2021-05-16 14:47] Kartstig opened #1363 "Error generating docs"
Elixir: 1.11.2
OTP 22
erts-10.6.4

I got the following error:
[code]

so I upgraded ex_doc to 0.24.2

and now I get this error:
[code]

[2021-05-16 15:12] josevalim commented on #1363
The second one should be fixed by running the command again or removing _build. It is a bug we had when upgrading ExDoc versions. Can you please try again?

[2021-05-16 15:23] Kartstig commented on #1363
That did the trick!

It's been a while, and I probably should have known to run a `mix clean`

I really appreciate the quick response. Now get back to doing cooler things :)

[2021-05-16 15:23] #1363 closed

[2021-05-25 08:41] tedhexaflow opened #1366 "Link to URL should not include ".""
Related to PR https://github.com/elixir-lang/ex_doc/pull/1362

While checking the demo, I just noticed the "." in the URL ("https://github.com/hexpm/specifications." instead of "https://github.com/hexpm/specifications"

Hence, clicking on the link, go to the Github 404 page.

![image](https://user-images.githubusercontent.com/2466052/119465293-bfb00180-bd6d-11eb-9d85-1da8901bf437.png)

But clickin

[2021-05-25 09:18] wojtekmach commented on #1366
Thank you for the report, a simple fix is https://github.com/hexpm/hex_core/commit/851649f90efa9566d12b30fcab2246b515c42b3f.

I'm not sure if handling URLs like that is part of markdown, basic commonmark, or some kind of extension like GFM. Fwiw I saw the following:

[code]

that is, cmark doesn't even render it as url, so I think the fix is good enough. If you can confirm that this behaviour is a

[2021-05-25 09:18] #1366 closed

[2021-05-25 10:30] eksperimental commented on #1366
I can confim that the `<URL>` format is a basic feature implemented in the original Markdown syntax.

https://daringfireball.net/projects/markdown/syntax

It is also supported in CommonMark, and all but one formatters in BabelMark.

https://johnmacfarlane.net/babelmark2/?normalize=1&text=%3Chttps%3A%2F%2Fjohnmacfarlane.net%2Fbabelmark2%2F%3E.

I have actually used it myself recently when reviewing

[2021-05-25 10:47] wojtekmach commented on #1366
The problem was with `URL`, not `<URL>`. The latter was the fix :)

[2021-05-25 10:54] eksperimental commented on #1366
Hahah. I totally misread it.
I will be a bug if the link is not rendered without the `.`, as this char it valid in URLs.

[2021-06-01 14:25] ForgottenGensym commented on #1268
I’d suggest that we still show deprecated results, because if someone is looking for docs for a deprecated function, it could be confusing if it doesn’t show up in the search.

I would add a deprecation notice in the main “search results” section, but I don’t think we’d need to put that in the sidebar.

Maybe replace
`System.cwd/0 (function)`
with
`System.cwd/0 (function) (deprecated)`
?

Just a s

[2021-06-07 22:12] josevalim opened #1368 "Default to preview.hex.pm on the current version as source location"

[2021-06-10 11:29] wojtekmach commented on #1343
Given that our references like `` `foo` `` are in a way our extension to Markdown, I think it is understandable that it doesn't necessarily work everywhere. Given the fix is trivial

[code]

(sure, we don't have our custom link text but in this case I'd say the custom one is worse)

I'm inclined to leave this unresolved, but of course feel free to pursue it if you want.

[2021-06-10 11:29] #1343 closed

[2021-06-10 11:38] wojtekmach commented on #1360
In that case I guess it should be handled by Earmark?

[code]

Feel free to pursue this on Earmark front but honestly given the workaround exists, I'm inclined to leave this as is as we all have bigger fish to fry first. Thanks for the report though!

[2021-06-10 11:38] #1360 closed

[2021-06-10 11:41] wojtekmach commented on #1294
Let's hold off on this given while working on Erlang support, we're revamping that part of ExDoc. I'd wait until at least next release. Given it's not a high priority feature, I wouldn't even track it, but anyone is of course welcome to send a PR!

[2021-06-10 11:41] #1294 closed

[2021-06-10 11:55] josevalim commented on #1343
It should definitely require the mix explicit. That's the rule.

[2021-06-10 13:16] Adzz opened #1369 "Unable To See full Module Name"
Hello I  ❤️  ex_docs, but for some libs it's not possible to read the full module names in the sidebar, and i can't seem to scroll even (on firefox if that makes a difference).

Attached a screenshot of what i mean.

![image](https://user-images.githubusercontent.com/8428277/121531531-63e4aa00-c9f6-11eb-8663-c2a8101f34c4.png)

[2021-06-10 13:28] josevalim commented on #1369
What version are you using? There has been improvements in this area lately, so please try latest and let us know. Thanks!

[2021-06-10 13:50] Adzz commented on #1369
Ah good point, I can't for the life of me find mention of ex_docs in the google libs

BUT I can see we are using version `0.22.2` and we have the same problem.

I'll try the latest and report back.

[2021-06-10 13:52] wojtekmach commented on #1369
https://hexdocs.pm/google_api_secret_manager/api-reference.html is generated with ExDoc v0.24.2

[2021-06-14 15:42] fuelen commented on #1369
Having something like `docs: [nest_modules_by_prefix: [GoogleApi.SecretManager.V1]]` might help a bit

[2021-06-15 09:40] wojtekmach opened #1370 "Default extras title to the filename if it is empty"
This is so we don't need:

https://github.com/elixir-nx/kino/blob/76f9971a4e90ede80bd6c3ce69bd6d37a4745646/mix.exs#L42

we could infer the title as "README.md" -> "README"

Low priority given we can override things as shown above.

[2021-06-17 10:03] wojtekmach opened #1371 "Add -pa option to escript cli"
Let's say https://github.com/hexpm/hex_core depends on https://hex.pm/packages/gpb and we want to create a reference to the `gpb` module like this:

[code]

We generate the docs like this:

[code]

and currently we'd get a broken reference warning since the module cannot be found:

[code]

With this proposal, we could do:

[code]

And it would basically just work.

This is of course not needed whe

[2021-06-25 14:15] #1371 closed

[2021-07-03 15:49] kianmeng opened #1377 "Copy code block in generated HTML"
Not sure if this has been raised before, is it possible to enable (optionally) copy code block feature in generated HTML doc.
Something similar to copy code block for Markdown file in GitHub.

See:
- https://twitter.com/natfriedman/status/1391862005095485440
- https://github.com/sindresorhus/refined-github/issues/1095

[2021-07-03 16:00] josevalim commented on #1377
Yes, a PR is welcome.

[2021-07-20 14:52] #1345 closed

[2021-07-20 14:52] #1357 closed

[2021-07-20 14:52] wojtekmach commented on #1370
If someone wants to send a PR please do, but given it's really low priority we're not even going to track it.

[2021-07-20 14:52] #1370 closed

[2021-07-20 14:55] wojtekmach commented on #1171
@ggpasqualino sorry for dropping the ball on this, if you are still keen on giving this a shot, please do after we land full Erlang support which should be in ExDoc v0.26.0.

I'm gonna close this for now.

[2021-07-20 14:55] #1171 closed

[2021-07-27 18:22] ericmj opened #1381 "Search does not work on punctuation marks"
Examples:

https://hexdocs.pm/elixir/search.html?q=all%3F
[https://hexdocs.pm/elixir/search.html?q=struct!](https://hexdocs.pm/elixir/search.html?q=struct!)

[2021-07-30 10:19] wojtekmach commented on #1352
Just for some extra context, we initially implemented the feature in https://github.com/elixir-lang/ex_doc/pull/641.

We later revised it in https://github.com/elixir-lang/ex_doc/pull/1094. Instead of copying the callback docs, we now emit docs that contain a link to the callback docs. Worth repeating the example from #1094. If you have an app with an Ecto repo, today the repo will be documented l

[2021-07-30 10:24] josevalim commented on #1352
Let’s keep things as is. There is a clear track to why we arrived to the current status.

[2021-07-30 10:24] #1352 closed

[2021-07-30 10:24] josevalim commented on #1352
If you don’t want to show it, @impl true it.

[2021-07-30 10:35] wojtekmach commented on #1369
@fuelen is absolutely right, we already have such functionality. With this patch:

[code]

we'll get this:

<img width="1379" alt="image" src="https://user-images.githubusercontent.com/76071/127640745-1abd4ee3-0c13-4708-ba48-d3323c15d3e4.png">

which goes a long way. There are still minor design issues, the name of the project is really long and doesn't fit at the top of the sidebar but not sure w

[2021-07-30 10:35] #1369 closed

[2021-08-12 14:36] mgibowski commented on #1368
I see two issues about it:

1. Currently, preview.hex.pm is missing core elixir packages (`eex elixir ex_unit iex logger mix hex`)
2. Landing on GitHub makes it very easy to introduce quick simple changes to documentation. Since some time you can "suggest an edit" to any file - user clicks and edit button and GitHub automatically creates a fork without leaving their UI.

I guess the first one coul

[2021-08-12 16:08] #1368 closed

[2021-09-04 16:33] michallepicki opened #1388 "Search does not include specs"
Currently [searching for trap_exit](https://hexdocs.pm/elixir/master/search.html?q=trap_exit) does not bring up [Process.flag/2](https://hexdocs.pm/elixir/master/Process.html#flag/2), probably because specs are not used for search. Maybe this could be improved?

[2021-09-04 16:51] josevalim commented on #1388
I think the actual issue here is that Process.flag does not document all options and instead delegates to Erlang. If it was a pure Elixir function, the possible values would be documented on the function doc. I am skeptical about adding specs, I don't think the work and extra bandwidth is worth it and they may even add to false positives. :)

[2021-09-04 16:51] #1388 closed

[2021-09-04 16:55] michallepicki commented on #1388
It does document them, through specs... But alright.

[2021-09-04 17:06] josevalim commented on #1388
Let's do this: we will remove all documentation from the Elixir code, we will leave only typespecs. How documented is our code now? :)

What I am saying is, if we were not delegating Erlang, we would have a section describing all options and what they do in the docs themselves. The specs are always auxiliary information.

[2021-09-04 17:16] michallepicki commented on #1388
I agree, specs alone are not good enough documentation, I just think they could help in cases like the above, indexed with low "weight" - no issue if you think it's a bad idea

[2021-09-08 17:12] epinault opened #1391 "Add support for custom SIDEBAR Types"
so currently it s only supporting Pages , Modules and Tasks. I would also love to see some integration with Absinthe or Phoenix to auto document APIs/Objects etc

 I am working on converting GraphQL schema from JSON to Markdown and have a running libraries. I can easily add the page into ex_doc at the moment. I have attached a screenshot of what it looks like for now. It works but it s not ideal.

[2021-09-08 20:05] josevalim commented on #1391
You can use the functionality for sidebar grouping, similar to how it is done in Phoenix: https://hexdocs.pm/phoenix/overview.html - you don't get a new sidebar type, but you will be able to organize multiple pages, one for queries, one for mutations, and so on. WDYT?

[2021-09-08 22:32] epinault commented on #1391
yea I was thinking about that. I will need to make my code generate multiple files instead them which is doable. But it wont look as nicely grouped/filtered than what module/task filter provides . But that s a good temporary solution. Would be nice to have a way to add plugins to ex_doc and add other types :)

[2021-09-09 06:05] josevalim commented on #1391
We want to redesign the sidebar, so I don't want to commit for now with such a feature. Once the sidebar is redesigned, feel free to reach out again and we can revisit the discussion. :)

[2021-09-09 06:05] #1391 closed

[2021-09-09 15:35] epinault commented on #1391
thanks! sounds good to me. can t wait to see what you will come up with for the redesign then!

[2021-09-11 02:51] kianmeng opened #1393 "Can't generate Erlang library documentation using ExDoc"
Running on Erlang: 24.0.2
Erlang library tested: https://github.com/certifi/erlang-certifi

I was following the instruction here, https://github.com/elixir-lang/ex_doc#using-exdoc-with-erlang-projects, but stuck at step 4.

`rebar.config` as follows:

[code]

To generate doc using rebar3:
[code]
No issue, works just fine:
![image](https://user-images.githubusercontent.com/134518/132933723-7eed1c20

[2021-09-11 03:55] wojtekmach commented on #1393
Did you follow all the steps from the readme, in particular changing`rebar.config` to use edoc chunks and changing `certifi.app.src` too?

[2021-09-11 03:56] wojtekmach commented on #1393
Please use `edoc_opts`, not `erl_opts` for edoc stuff

[2021-09-12 06:48] kianmeng commented on #1393
@wojtekmach I still get the same result when running:

[code]

The diff of my changes, https://github.com/certifi/erlang-certifi/compare/master...kianmeng:gen-doc-with-exdoc?diff=split

[2021-09-12 12:39] michallepicki commented on #1393
Hitting the same issue with a different library ([sesterl_stdlib](https://github.com/gfngfn/sesterl_stdlib/)) - following commands from README results in generated documentation being empty

[2021-09-12 14:26] josevalim commented on #1393
Can you please compare your setups with the one in beam-telemetry/telemetry? That one is working for sure, so maybe it can help :)

[2021-09-12 19:42] devtayls commented on #1339
I have a pull request up for this issue:

https://github.com/elixir-lang/ex_doc/pull/1394

[2021-09-12 20:36] #1339 closed

[2021-09-13 07:47] michallepicki commented on #1393
The only differences I see are:
- setting `edoc_opts` in a `docs` profile instead of on top level
- `{preprocess, true}` option being set which expands erlang macros

I made those changes and they didn't make a difference, generated html is still empty - I don't think they make a difference in that case.

Here are steps to reproduce with `erlang-certifi` (it's probably a better test case):
[code]

[2021-09-16 02:30] kw7oe commented on #1393
Hi all, I have briefly look into this issue and able to generate the Erlang docs successfully by applying this diff:

[code]

 It appears that ExDoc requires documentation on the top level module to be able to generate it successfully. I might be wrong tho.

 See screenshots as result of fixes:

 ![Screenshot 2021-09-16 at 10 29 18 AM](https://user-images.githubusercontent.com/12683067/133539594-2

[2021-09-16 08:14] michallepicki commented on #1393
So in elixir modules one has to explicitly set `@moduledoc false` but in Erlang modules this is assumed default? So it could be either
1. `edoc` setting the doc chunks wrongly
2. `ex_doc` interpreting the missing information wrongly
3. ambiguity and behavior not specified in EEP

[2021-09-16 08:50] josevalim commented on #1393
Awesome find @kw7oe! 💯

@michallepicki I don't think this is a wrong setting. It is rather a difference of defaults: edoc legit considers everything not explicitly doc-ed as private, Elixir has a different perspective. The EEP does not say what the defaults should be, only how values should be stored. I will update the docs!

:green_heart: :blue_heart: :purple_heart: :yellow_heart: :heart:

[2021-09-16 08:51] michallepicki commented on #1393
If that would be the case, wouldn't those modules be hidden in html documentation generated by edoc?

[2021-09-16 08:55] josevalim commented on #1393
Oh, you are 100% correct. I missed that. Let's bring in the big guns: @erszcz :)

[2021-09-16 09:14] josevalim commented on #1393
@erszcz I believe I found the root cause:

https://github.com/erlang/otp/blob/master/lib/edoc/src/edoc_layout_chunks.erl#L452

I think it should return an empty map, otherwise it gets the same treatment as `edoc`'s `@private`. WDYT?

[2021-09-16 09:16] josevalim commented on #1393
@michallepicki I think I mixed the edoc behaviour with Erlang/OTP's XML behaviour. In Erlang, they consider everything not explicitly doc-ed as private. But don't hold that against me because now I am not sure. Thanks for catching it.

[2021-09-16 09:17] michallepicki commented on #1393
`hidden` is returned separately from `none`, so alternatively `ex_doc` could maybe check here for `if doc != :hidden`:
https://github.com/elixir-lang/ex_doc/blob/4655d525a4713c4a35693e5ac46a91dfcd1e9a4e/lib/ex_doc/language/erlang.ex#L12

[2021-09-16 09:19] josevalim commented on #1393
@michallepicki IIRC we recently a discussion to standardize `:none` on being "do not show docs". That's why Elixir v1.12 changed all `:none` to empty maps.

[2021-09-16 09:19] josevalim commented on #1393
@michallepicki you can even see in the codebase we added notes to the places we check only for `:hidden` to be changed to check for maps.

[2021-09-16 09:37] michallepicki commented on #1393
I understand there are ongoing discussions but as an outsider I'll just point out that the semantics seem to have been clearly defined in the EEP-48: https://github.com/erlang/eep/blob/fd2c7be792211fcd510bda5d2e956e09c79bf0ea/eeps/eep-0048.md#part-2-the-docs-format

There's no documentation information for the module, so it's correctly set to `none` IMO. `@private` would set it to `hidden`

[2021-09-16 09:43] erszcz commented on #1393
Indeed, with certifi master and these `rebar.config` opts:

[code]

I can see the chunk gets generated properly apart from one little detail - `module_doc = none`:

[code]

When we add a top-level module doc, this changes to:

[code]

The immediate fix to get ExDoc HTML for certifi is to add top-level doc comments to the modules in question. A fix in upstream Erlang/EDoc is only going to be availa

[2021-09-16 09:52] josevalim commented on #1393
@michallepicki good call! I actually think the terminology there is actually pretty vague ("may"). I will send a PR there!

[2021-09-16 09:53] josevalim commented on #1393
@erszcz thank you! I will keep this issue open for guidance. Meanwhile please add the moduledocs, it won't hurt anyway. :)

[2021-09-19 07:32] kianmeng commented on #1393
Thanks for the ongoing discussion.

Is the PR  https://github.com/open-telemetry/opentelemetry-erlang/pull/268 by @kw7oe and https://github.com/beam-telemetry/telemetry the recommended practice to follow to generate Erlang library with ExDoc?

Do we need to introduce extra files like `docs.config` and `docs.sh` which is not really part of an Erlang library?

[2021-09-19 07:56] wojtekmach commented on #1393
You need `docs.config` for configuration that is not available via CLI flags. `docs.sh` is a totally custom script which is not needed but i imagine almost everyone will have something like that.

[2021-09-20 18:24] svrdlans opened #1395 "Breaking change in version 0.25.2 in ExDoc.Autolink module"
Running on Erlang: 24.0.5

In version 0.25.2 there was a change in how a check was made if a module exists. Currently the private function `app_info/1` is used:

[code]

It doesn't handle a possible return value of `:code.which/1` - `:cover_compiled`, and in combination with `ex_coveralls` library when there is a ~~behaviour~~ module defined, if it's not tagged with `@moduledoc false`, generating

[2021-09-20 18:28] wojtekmach commented on #1395
Thank you for the report. Do you have a public project where we could reproduce this? (It's ok if you don't.)

[2021-09-20 18:31] svrdlans commented on #1395
I don't, but let me prepare one for you.

[2021-09-20 18:52] svrdlans commented on #1395
The repo is ready [here](https://github.com/svrdlans/simple_ex_docs)

So there is a `bless` mix task created that executes some tasks:
[code]
If docs task is invoked after coveralls, then the issue occurs, if I rearrange them, there is no issue. The thing is up until version 0.25.2 there was no issue whatsoever.

[2021-09-20 19:23] wojtekmach commented on #1395
I'm not familiar with coveralls. Out of curiosity, the module that is reported as :cover_compiled, is it getting docs generated for it? If not, do we expect it to get it? In any case, if it fixes the crash, feel free to send a PR and I'll happily merge it. Again, thank you for reporting it and digging into it!

[2021-09-20 19:32] svrdlans commented on #1395
Yes, I would like to have docs generated for it, but that's where the CaseClauseError happens. If I disable generating docs by adding `@moduledoc false` after `defmodule`, then the docs are not attempted for that module and there is no issue.
But in my case I wanted to have at least some basic docs in place.

Checking erlang docs for `:code.which/1` it really returns 3 values: `:preloaded`, `:cove

[2021-09-20 19:52] svrdlans commented on #1395
When doing changes for the PR and checking Erlang docs again, I noticed that my previous solution wasn't 100% correct, although it did provide working docs.
Better solution would be to handle `:cover_compiled` match separately, because that means that the module was previously found, some stuff were added to it to facilitate counting function invocation for test coverage, and so the solution shoul

[2021-09-20 20:34] svrdlans commented on #1395
PR opened [here](https://github.com/elixir-lang/ex_doc/pull/1396)

[2021-09-21 10:43] svrdlans commented on #1395
@wojtekmach would you mind approving running workflows on the PR?

[2021-09-21 13:28] #1393 closed

[2021-09-21 13:50] #1395 closed

[2021-09-22 13:38] mathieuprog opened #1397 "Unclear error messages"
As I try to publish a new version of a library, I got the following error:

But as I had no information as to where is an error, I first just tried to update `ex_doc` from 0.21 to 0.25 in the hope it would be more clear, but now I got the following error:

Anyone knows what's happening?

[2021-09-22 13:39] mathieuprog commented on #1397
Deleted deps, re-fetched deps and recompiled, now it works.

[2021-09-22 13:39] #1397 closed

[2021-09-27 18:52] #1381 closed

[2021-10-08 11:18] cw789 opened #1402 "Erlang: non exported functions are included"
I'm currently trying to generate docs with ExDoc for `gen_smtp`.
But it seems that all non exported functions, which should be private by default in my understanding, are also included in the generated docs.

Is there something I misunderstood? I'm currently lost where to debug this more in detail.

---

ExDoc v0.25.3
Erlang/OTP 24.1.1

[2021-10-08 11:43] josevalim commented on #1402
@cw789 you can do `mix escript.install github elixir-lang/ex_doc` and it should work until we address it in Erlang/OTP or we do a new release.

[2021-10-15 06:45] DHager opened #1404 "Linking to `source_url` when project is a subdirectory of a repo"
Currently the code assumes a 1:1 relationship between projects and repos. It would be nice to improve the flexibility of `source_url_pattern` to handle the case where multiple projects are in one repo.

If there's general approval for this feature, I'm willing to make a PR.

## Problem description:

Suppose I have a repo hosted at `git@github.com:_myorg_/_myrepo_.git`. However it contains projects

[2021-10-15 07:43] josevalim commented on #1404
Hi @DHager!

I am not sure if this is necessary. `source_url` and `source_ref` are used exclusively to build `source_url_pattern`. So if you are passing `source_url_pattern`, you can put it all directly:

[code]

If for some reason you have those variables defined elsewhere, then you can interpolate it yourself, it doesn't need to be handled by ExDoc:

[code]

Does this make sense?

[2021-10-15 21:37] bcardarella opened #1405 "Some documentation assets don't look great in darkmode"
Example: https://hexdocs.pm/floki/readme.html  see the logo in darkmode. Screenshot:
<img width="890" alt="Screen Shot 2021-10-15 at 5 35 29 PM" src="https://user-images.githubusercontent.com/18524/137556145-0375df2b-6aa1-42ac-9e21-b8928ebb868d.png">

I don't know what the best path here is. Either a nudge to authors that they should check their logos in darkmode or if ex_doc supported darkmode/da

[2021-10-16 07:51] josevalim commented on #1405
To be fair, the same issue happens on GitHub when running GitHub on dark mode. How does GitHub solve this?

[2021-10-16 08:20] cw789 commented on #1405
I think this should be tackled by logo / banner designers.
It's doable within the `.svg` itself.

[2021-10-16 20:16] yordis commented on #1405
Should this issue be brought up to CommonMark folks? This sounds like a markdown issue unless we want to solve it for `ex_doc` specific.

A trick we could do is to inject `?theme=` query to all the links pointing to an image, and hopefully the server knows what to do with it, but it is less than ideally IMO.

[2021-10-16 20:18] yordis commented on #1405
Otherwise, I would suggest to suggest people add some background to the logos, but obviously this is a workaround

[2021-10-16 20:34] josevalim commented on #1405
Yeah, I will close this because this is not an ExDoc issue per-se. Feel free filing up issues upstream though.

It is also worth noting that in ExDoc the preferred style is to add the logo to the sidebar, which is always a single color, and therefore it doesn't have those issues.

Finally, Hex will eventually add README rendering to packages, so there is even less reasons to add the README to the

[2021-10-16 20:43] yordis commented on #1405
@josevalim  if you don't mind, what does that mean?

I have been trying to move away from adding anything to README.md other than contribution and non-elixir stuff and move it to somewhere else, so I am curious to understand where this is going because still less than ideal at the moment for me.

[2021-10-16 20:49] ericmj commented on #1405
We will display the readme on the hex.pm package page in the future. This page: https://hex.pm/packages/ex_doc.

[2021-10-16 21:03] yordis commented on #1405
oooh LETS GOOOOOO!

[2021-10-18 08:15] wojtekmach opened #1406 "mix docs: Add `--open` flag"
This flag will run `open file:///path/to/doc/index.html`. See https://github.com/hexpm/hex/blob/v0.21.3/lib/mix/tasks/hex.docs.ex#L307:L313.

Note, by default we use both the html and epub formatters, so the flag should open _both_.

[2021-10-18 08:30] #1406 closed, assigned to nobody

[2021-10-19 16:06] maennchen opened #1407 "Wrong formatted docs for `mix release`"
## Problem

There seems to be something off with the Markdown Compiler. When writing a list inside of a paragraph of a list, the paragraph will be part of the inner list `li` instead of being a `p` inside of the outer list `li`.

https://github.com/elixir-lang/elixir/blob/adff27d277d07cf0a31e418c6e6f6f6995127636/lib/mix/lib/mix/tasks/release.ex#L365

[code]

## Current Output

![current](https://u

[2021-10-19 16:19] josevalim commented on #1407
The issue seems to be that anything more than two paragraphs is getting collapsed by Earmark. For example:

[code]

Both "I am a paragraph" is getting collapsed. Can you please report your original case and the case above to the earmark project? This is not really an ExDoc issue. I will fix it meanwhile in Elixir, thanks!

[2021-10-19 16:25] maennchen commented on #1407
@josevalim Ah yes, I should've reported it there directly. I did not fix it in Elixir directly because I think that the markdown in the docs is actually correct.

[2021-10-19 16:25] #1407 closed

[2021-10-20 15:42] kianmeng opened #1409 "Duplicate `API Reference` title in 0.25.4"
![image](https://user-images.githubusercontent.com/134518/138125763-ba961daa-1199-46dc-8e7d-428552979147.png)

[code]

[2021-10-20 16:12] #1409 closed, assigned to nobody

[2021-10-21 04:48] kdawgwilk opened #1411 "Support --strict flag that fails with non-zero exit code for warnings"
To ensure docs don't get merged with invalid links or syntax that fails to parse it would be great to add support for a `--strict` flag that fails the `mix docs` task with a non-zero exit code so that way we can create a job in CI to indicate an issue with doc generation before it merges.

[2021-10-21 05:28] #1411 closed

[2021-10-29 12:21] cybrox opened #1415 "Handling escape characters in code blocks"
I looked over the escape character related issues but did not find anything mentioning this.

The current [libcluster docs](https://hexdocs.pm/libcluster/3.3.0/Cluster.Strategy.Kubernetes.html#content) have a code block including the following line:
[code]

In the actual source code, this is correctly written as:
[code]
(note the backslash before the dot)

The command without the `\` is wrong and

[2021-10-29 12:25] #1415 closed, assigned to nobody

[2021-11-04 13:09] fuelen opened #1418 "Search by sections"
I'm having a hard time with search by sections. They are not present in autocomplete and barely visible on search page.
It would be great if sections are properly indexed and displayed on the search page in relevant order.
![зображення](https://user-images.githubusercontent.com/588762/140318663-9b9c5b90-9bc7-446f-ab71-c49c74fcd3c8.png)

[2021-11-04 13:41] josevalim commented on #1418
It is full text search running on the client, there is a limited amount of work we can do. We did try autocompletion in the past and that was often not satisfactory either, as there is no fuzzing there. Unfortunately this is really a limitation of how search works.

[2021-11-04 13:41] #1418 closed

[2021-11-05 10:50] mat-hek opened #1419 "Generating documentation for 'private' modules"
Hello!

Currently, the standard way of documenting the code seems to be to add comments for private stuff and docs for public stuff. When it comes to private functions, it seems reasonable, as comments usually don't make much sense without code. Things get more complicated when a 'private' codebase grows within a project, new modules are created and naturally, there's an API between them. I think

[2021-11-07 19:27] josevalim commented on #1419
Hi @mat-hek! I added in the main branch support for a custom function in `filter_modules`. So now you can do something like this in your mix.exs:

    filter_modules: if System.get_env("EX_DOC_INCLUDE_PRIVATE") do
      fn _, _ -> true end
    else
      fn _module, metadata -> metadata[:api] != :private end
    end

Now, whenever you want to include the private modules, you can set the environmen

[2021-11-07 19:27] #1419 closed

[2021-11-08 14:05] mat-hek commented on #1419
Hi @josevalim, thanks. Would it be possible to make the metadata visible in the docs? Now when I set EX_DOC_INCLUDE_PRIVATE, there's no option to see which modules are private and which are not.

[2021-11-08 15:01] josevalim commented on #1419
@mat-hek for now, you can combine that with `:group_for_modules`:

[code]

Then they will all get their own section on the sidebar (but nothing in the page).

[2021-11-08 15:15] mat-hek commented on #1419
Ok, we can contribute to making it more visible if you'd like

[2021-11-08 15:27] josevalim commented on #1419
Sounds good to me! We can allow annotations to be listed for modules, like we do for (macro) here: https://hexdocs.pm/phoenix/Phoenix.Controller.html#action_fallback/1 - except they are hardcoded for functions for now too. :)

[2021-11-10 17:11] epinault opened #1428 "Configurable Livebook URL"
Would it be possilbe to make this https://github.com/elixir-lang/ex_doc/pull/1408/files#diff-2de343f41e8c9bc4a79c58c52c6170765675f8b437643ca73b7813911a23b97eR44 configurable and point to localhost when you have a local one running? The reason is we have private docs for private packages and being able to go directly to localhost would be better or any DNS without having to go to livebook.dev ?

[2021-11-10 17:15] jonatanklosko commented on #1428
livebook.dev doesn't run the notebook though, you only tell it where to redirect, in this case localhost. Pointing to a specific address would be brittle, especially that people may run Livebook on different ports.

[2021-11-10 17:17] epinault commented on #1428
yes, I get that , let me rephrase that

I , as doc publisher, know my doc viewer are all internal dev on private packages we have (and private docs) server. I already know they would need to use a localhost or our own hosted livebook server anyway. So having a way to override the default would allow me to provide a more direct experience for that case?

[2021-11-10 17:21] jonatanklosko commented on #1428
As soon as you have a hosted Livebook, people will have two ways of running the given notebook though, right? And my point is that even assuming localhost, someone may very well run Livebook on a different port.

Is your concern related to the additional click, or something else?

[2021-11-10 17:25] epinault commented on #1428
1. Additional click
2. Exposing inernal url and internal name (security team might get on my case) in the outside world

And yes, they could run a different port, but that on the dev to follow our prescription and tooling in our company.

Dont get me wrong, it s awesome to have it for public notebook etc and perfect default behavior. Just for the above reason, giving a way to override sometime mig

[2021-11-10 17:28] jonatanklosko commented on #1428
I see. So the additional click is something we could make configurable on livebook.dev side, but the security concern is something else. @josevalim thoughts?

[2021-11-10 17:35] josevalim commented on #1428
One option I can think is to configure the ExDoc Livebook URL in the browser and we obey that. Because my concern with allowing a custom URL is that now someone can change their package on Hexdocs to point to something else that can be used to confuse the user.

[2021-11-10 20:58] jonatanklosko commented on #1428
@josevalim so we would have a UI where the user either picks livebook.dev or a "direct" redirect and specifies this instance? Any ideas where would that go? Maybe we should have a settings modal and move "toggle night mode" and "enable/disable tooltips" there too.

[2021-11-10 21:11] josevalim commented on #1428
@jonatanklosko yes, that's probably the best call.

[2021-11-11 15:47] #1428 closed

[2021-11-12 16:42] derek-zhou opened #1431 "change OTP document location to the canonical one"
According to this:

https://github.com/erlang/erlang-org/issues/53#issuecomment-967222778

The canonical OTP document location shall be https://www.erlang.org/doc/man not https://erlang.org/doc/man The redirect don't always work, such as now. I'd suggest to point to the canonical location sanctioned by the OTP team.

[2021-11-12 16:56] eksperimental commented on #1431
We chose erlang.org because of the shorter domain.
I can take care of fixing ex_doc and the documentation in Elixir linking to the cannonical domain.

[2021-11-12 17:47] josevalim commented on #1431
@derek-zhou they didn't mention www.erlang.org is the canonical though? Simply the one is currently working. The reason I say so is because Erlang docs themselves use "https://erlang.org", for things like "https://erlang.org/doc/link/seetype".

[2021-11-12 18:07] derek-zhou commented on #1431
I guess we can wait a bit and let the OTP team officially pick on URL.

[2021-11-12 18:17] derek-zhou commented on #1431
Another idea we can entertain is to always build and host a full set of OTP doc on hexdoc itself. It is not very big anyway; and most people don't need the search.

[2021-11-13 10:42] henrythebuilder opened #1432 "Error on build 'Phoenix' documentation from source"
Hi,
I've found problem by building the documentation in some projects like Phoenix.
I'm not sure if the problem concerns only ex_doc, but building the docs produce this error:

[code]
The same error was found with _ex_doc 0.25.5_ and _0.26.0-dev_

In this case the source of problem seems to be the `callback handle_control`

`lib/phoenix/socket/transport.ex:201:  @callback handle_control({message :

[2021-11-13 11:37] josevalim commented on #1432
Thanks for the report! This was an Elixir bug and I am submitting a fix shortly.

[2021-11-13 14:18] henrythebuilder commented on #1432
Thanks :+1:

[2021-11-14 12:47] eksperimental commented on #1431
@josevalim and the URL https://erlang.org/doc/link/seetype actually worked? Because now it is isn't

[2021-11-14 13:04] josevalim commented on #1431
It doesn’t work but my point is that the fact their official docs are generating erlang.org does confirm the fact the one with www. Is the canonical one. We need explicit confirmation. :)

[2021-11-14 13:07] eksperimental commented on #1431
Yes. I am going to submit a PR to OTP unifying the URLS. But my question is did the link mentioned above ever worked? or it was a URL just for reference?

[2021-11-14 13:08] josevalim commented on #1431
I think it is just a reference.

[2021-11-14 18:11] eksperimental commented on #1431
I will explicitely ask, but for references.
https://github.com/erlang/erlang-org#redirection-fixes

[2021-11-15 12:16] NickNeck opened #1433 "struct/0 is displayed differently"
When `defstruct` has an `@doc` annotation the function will be displayed as `%MyStruct{}` in the content area but the link in the sidebar has the text `__struct__/0`. Example: https://hexdocs.pm/elixir/1.12.3/Task.html#__struct__/0

Is this intended?

[2021-11-15 12:50] josevalim commented on #1433
That's a bug. Thanks for the report!

[2021-11-15 13:51] eksperimental commented on #1433
I can take care of this.

[2021-11-15 20:38] fhunleth opened #1434 "Trimmed whitespace in embedded HTML breaks Mermaid.js diagrams"
I am trying to use [Mermaid.js](https://mermaid-js.github.io/mermaid/#/) to add state diagrams to my documentation. Why Mermaid.js? Mostly because it looks easier to maintain than what I'm currently doing with ASCII art and exporting PNGs from another tool.

There is a good blog post on this at
https://fireproofsocks.medium.com/enhancing-elixir-documentation-with-mermaid-charts-340fad5c6426. To su

[2021-11-15 20:46] jonatanklosko commented on #1434
Hey! Instead of using a div directly it would be cleaner to use a code block, then do any necessary transformations with a bit of injected JavaScript. So basically

[code]

This is loosely related to [embedding Vega-Lite plots](https://github.com/elixir-lang/ex_doc#rendering-vega-lite-plots). Once we figure this out, we can add it to the README too.

I will try integrating this shortly :)

[2021-11-15 21:37] #1434 closed

[2021-11-16 01:43] fhunleth commented on #1434
Oh wow, this works really well. Thank you @jonatanklosko!!

[2021-11-21 12:03] josevalim opened #1436 "Add translate=“no” attributes to menu and indexes"

[2021-11-21 15:20] #1436 closed

[2021-11-21 15:25] #1431 closed

[2021-11-21 19:30] Qqwy opened #1437 "Support the contents of types and specs in full-text search"
Currently when searching for the name of a type, the type shows up in the results.
But this is the only way a type is searchable.

However, it is not possible to search where (in which other types and as part of which function specs) a type is used.
This would be very helpful to for instance:
- See which functions depend on a particular type
- See which other types depend on a particular type
- Se

[2021-11-21 19:37] josevalim commented on #1437
This is unfortunately much trickier to do in practice. For example, what if a function uses a type through an alias? Do we want direct uses only or indirect too?

Wr could use full text search but I don’t feel like full text search would be the correct way to tackle this, it doesn’t solve the problems above, it won’t be well tokenized, etc.

I think this problem could be really interesting to tack

[2021-11-21 19:37] #1437 closed

[2021-11-21 19:43] josevalim commented on #1437
In any case, thanks for opening the issue and asking! Sometimes when I reply from my phone I am too brief.  :D

[2021-11-21 19:46] Qqwy commented on #1437
No worries! I think there might be some merit in doing the simple thing (e.g. just use the text as-is, similarly to code examples are currently searched),
but if you think this will do more harm than good then I trust your judgement :slightly_smiling_face:.

[2021-11-21 20:01] josevalim commented on #1437
Yeah, it is just that full text indexing is really not that reliable for stuff like this due to the tokenizer and everything else. It has to be structured but that has its own challenges.

[2021-11-22 11:30] LostKobrakai opened #1438 "Trap focus on settings modal"
The newly introduced settings modal doesn't trap focus, which would be best practice for accessibility.

[2021-11-22 11:36] josevalim commented on #1438
Can you please send a PR? :)

[2021-11-23 16:30] eksperimental opened #1440 "Sort items "naturally" in menu, summary, function list, etc."
Functions in the menu are current listed like this:

- reraise/2
- reraise/3
- send/2
- sigil_C/2
- sigil_D/2
- sigil_N/2
- sigil_R/2
- sigil_S/2
- sigil_T/2
- sigil_U/2
- sigil_W/2
- sigil_c/2
- sigil_r/2
- sigil_s/2
- sigil_w/2
- spawn/1
- spawn/3

I was trying to hop from the documentation from sigil_S to sigil_s, and i found it counter intuitive that they were that far apart, specially inside

[2021-11-23 17:17] josevalim commented on #1440
Sounds good to me. A PR is welcome.

[2021-11-23 17:46] eksperimental commented on #1440
If anybody wants to tackle it, please be welcome. If not, I will eventually take care of it. As of now, I am kind of busy with other stuff.

[2021-11-25 01:03] yordis commented on #1405
https://docs.github.com/en/github/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#specifying-the-theme-an-image-is-shown-to

Hah, related to

Maybe we should follow them on this one?

[2021-12-05 17:21] bortzmeyer opened #1441 "Depends (indirectly) on Erlang development environnement"
[code]

This is because the file `yeccpre.hrl` is distributed only with Erlang development files. An Erlang runtime is not enough. IMHO, it is worth to mention this dependency (on Debian, just install the package `erlang-dev`).

[2021-12-05 17:49] josevalim commented on #1441
Can you please send a pull request that updates the README? :)

[2021-12-06 07:16] bortzmeyer commented on #1441
Done, see #1442.

[2021-12-06 07:51] #1441 closed

[2021-12-06 10:11] mkaput opened #1443 "Add an ability to sync night mode with system preferences"
Currently, night mode is controlled by a local storage variable, and it must be manually enabled/disabled. Some people tend to extensively use the system settings for controlling the light/dark mode depending on lightning conditions, and this does not play well with the local storage approach ex_doc uses. Ideally, it would be best if there was an `Sync with system` option, just like for example Gi

[2021-12-06 10:54] josevalim commented on #1443
A pull request to implement this would be welcome. IIRC, we already consult the system preference, but then we store that in the cookie.

[2021-12-06 10:54] josevalim commented on #1438
Ping. :)

[2021-12-06 10:55] josevalim commented on #1402
This should be addressed!

[2021-12-06 10:55] #1402 closed

[2021-12-06 10:55] josevalim commented on #1404
Closing this for now. Please let me know if the above is not enough!

[2021-12-06 10:55] #1404 closed

[2021-12-06 10:55] #1432 closed

[2021-12-06 10:58] josevalim commented on #1405
@yordis if somebody wants to send a PR, it will be welcome. My understanding is that it all happens on the JS side of things. When you go into light mode, show all images that end with `#gh-light-mode-only` and hide all ending with `#gh-dark-mode-only`, and then the opposite for dark mode.

[2021-12-06 10:58] josevalim commented on #1433
@eksperimental ping :)

[2021-12-06 11:00] josevalim commented on #1131
Erlang is well supported at this point. There are places that could be improved, but the basic foundation is here. If any other beam language wants to use ExDoc, pull requests are welcome.

[2021-12-06 11:00] #1131 closed

[2021-12-06 12:18] cw789 commented on #1402
Thanks. Concerning ExDoc it is definitely addressed.

[2021-12-06 15:57] josevalim commented on #1433
There is no rush, the ping was just in case you forgot about it. :)

[2021-12-06 17:09] josevalim commented on #1440
We should avoid libraries in ExDoc because otherwise your documentation generation tool can impose restrictions on your actual lib/app code. :)

[2021-12-06 17:14] eksperimental commented on #1440
A library like this is likely to to not have dependencies... given this and the Elixir requirements match the ones of ExDoc, would this still be an issue?

[2021-12-06 17:30] josevalim commented on #1440
First, that library will be unable to use ExDoc to publish their own docs, so we would need to coordinate at least that with them.

Second, any user of that library may not be limited by ExDoc particular requirements. So my answer would still be a no. :)

[2021-12-06 18:28] LostKobrakai commented on #1438
I'll try to get to it at the end of the week :)

[2021-12-06 22:50] yordis commented on #1405
@josevalim I think you can do it with CSS thou, you hide or show the image based on the theme, something around the lines of

[code]

Let me try and see how that goes.

[2021-12-06 22:58] josevalim commented on #1405
Ah, smart!

[2021-12-07 00:14] yordis commented on #1405
Hey folks, any idea how to deal with `epub` having the image twice?

https://github.com/elixir-lang/ex_doc/pull/1445#issuecomment-987405219

[2021-12-07 00:17] bcardarella commented on #1405
@yordis hiding the `img` element as is suggested in the PR could work but it might be better to have a background image that swaps out depending upon the dark/light mode rather than the `img` tag. This would avoid the double render

[2021-12-07 00:57] yordis commented on #1405
@bcardarella how do you see the markdown to work for that?

Would you mind elaborating a bit more? I am confused about what to "swap out".

The double rendering would be only in the `epub` which I have never done it before so I am not sure if JS is the way to fix things there.

[2021-12-07 01:10] bcardarella commented on #1405
@yordis I would imagine that this CSS could be modified: https://github.com/elixir-lang/ex_doc/blob/4b2f4704f1c1cdaf52efd4f3e56293a8d79a7d05/assets/less/sidebar.less#L49-L55 to something like:

[code]

then the `img` element I believe would have to be changed to a `div`. This is off the top of my head so push back if this direction isn't desirable.

[2021-12-07 01:16] yordis commented on #1405
@bcardarella Aaah I see where your head is at, as far as I can tell, only the main content changes theme, while the sidebar stays the same, see the video.

The changes I did are only for the main content.

https://user-images.githubusercontent.com/4237280/144948058-1807591a-ce32-4a57-8afc-678ee67f1695.mov

[2021-12-07 01:21] bcardarella commented on #1405
@yordis looking at the dev console it looks like Hex will add the class `night-mode` to the body tag. In that case a rule like this should override the day mode setting:

[code]

a background-image for day mode element still needs to be done and the `img` tag changed to a `div`

[2021-12-07 01:32] yordis commented on #1405
@bcardarella I don't think it is needed for the sidebar. But please, correct me here.

[2021-12-07 02:05] bcardarella commented on #1405
d'oh! The issue I opened and I was way off on the solution :)

So I just looked at what GitHub actually does. They appear to render both the dark mode and the light mode elements. For the following markdown:

[code]

renders the following HTML

[code]

The following two rules exist to manage the toggling of the day/night mode images:

<img width="298" alt="Screen Shot 2021-12-06 at 8 57 23 PM" src

[2021-12-07 02:54] yordis commented on #1405
@bcardarella yep, I am using `:not` at the moment, and that is quite closer to what I ended up doing.

[2021-12-08 04:58] eksperimental commented on #1440
I am already taking care of this.

[2021-12-08 07:48] #1405 closed

[2021-12-08 11:46] am-kantox commented on #1440
Since the “natural” in “natural order” is quite specific here, I’d propose the custom sorter that is explicitly optimized for valid elixir names (unquoted Unicode atoms, variables, and calls to be in NFC form).

It is nimble for 99% of the input and has a fallback to properly sort exotics like Greek/Cyrillics and/or umlauts and other diacritics.

[code]

[2021-12-08 15:03] josevalim commented on #1440
@am-kantox that's an interesting approach, thanks for sharing! I wonder if we can simplify it by doing `to_charlist` and then sorting everything as usual for the ascii ones?

The reason why I think we can simplify this further is because mixed case is extremely uncommon, so I think we don't really need to worry about it besides ascii.

[2021-12-08 15:08] am-kantox commented on #1440
That’s right, but it’s still handled in the last clause, that’s why I said in 99% of cases we go through bitstream pattern match. I am not sure if `charlist` match would be faster, are you? I could have done benchmarks tonight.

One it’s the last clause, I don’t get why would not we handle it as well. ASCII goes through the first clauses.

Several clauses are still needed because of ordering here:

[2021-12-08 15:53] am-kantox commented on #1440
The only glitch I see is `Äpfeln/1` and `äpfeln/1` are not consequent. I’d appreciate seeing them together, but AFAICT that’s impossible without extra clauses to handle diacritics.

Also, I’ve just figured out that clauses for ASCII might be actually generated (as those in `String.{down,up}case/1`) to avoid going through `:unicode.characters_to_nfkd_list()` for long strings.

OTOH, the number of i

[2021-12-08 15:57] josevalim commented on #1440
Right, as I said above, it won't happen in practice because identifiers can't start with uppercase. Also note this is order defined by Unicode too (Á comes before A).

I also use sort_by, which is not pairwise, so it should be faster generally.

[2021-12-08 15:59] am-kantox commented on #1440
Well, technically it will.

[code]

but we should not care much about it, yes.

[2021-12-08 16:12] eksperimental commented on #1440
Thank you @am-kantox for chiming in.
I found https://github.com/BinaryNoggin/natural_order
and I have submitted a PR with improvements, but the code is here.
https://github.com/eksperimental/natural_order/blob/refactoring/lib/natural_order.ex

I will for sure take any lessons from this discussion and apply it to that library.

[2021-12-08 16:22] josevalim commented on #1440
We either need to support the full Unicode specification, which is complex, or we do only a subset, and any subset we pick is random. So I am more inclined to go with the solution I posted above, for the ASCII only subset, and call it a day. :D

[2021-12-08 16:28] eksperimental commented on #1440
@josevalim the one other issue with your approach the how it treats numbers,

[code]

[2021-12-08 16:30] josevalim commented on #1440
Which is fine. Once it becomes an issue, we work on it? But you could also do a pass in my code that converts any sequence of numbers into a regular integer, so they are compared correctly.

[2021-12-08 16:30] josevalim commented on #1440
I can update the snippet to address numbers later.

[2021-12-08 16:45] adkron commented on #1440
I released a new version of `NaturalOrder` with the changes that @eksperimental submitted.

https://hex.pm/packages/natural_order if that helps.

[2021-12-08 18:47] am-kantox commented on #1440
FWIW, benchmarks:
[code]

[2021-12-08 19:47] josevalim commented on #1440
Solution with numbers solved and moved underscored before letters [as proposed by Unicode](https://www.w3.org/TR/xml-entity-names/bycodes.html):

[code]

[2021-12-08 20:45] #1433 closed

[2021-12-08 21:11] yordis commented on #1443
If you want to observe the theme changes

[code]

[2021-12-19 23:54] starbelly opened #1448 "ExDoc as an escript does not support multiple formatters at once."
Currently, the mix task for ex_doc will iterate over multiple formatter options (defaults to `["html", "epub"]`) to produce html and epub by default, This is not supported when ex_doc is an escript.

In order to support this from the escript, most of the following would need to change I believe :

- add `formatter: [:string, :keep]` around here https://github.com/elixir-lang/ex_doc/blob/c86f4b81c2

[2021-12-20 07:48] josevalim commented on #1448
Hi @starbelly!

I was writing a somewhat longish reply and I realized it would be simpler if i did the changes. In a nutshell, I wanted to keep the handling of multiple formatters in the cli/task and not in the internals. I pushed my code!

[2021-12-20 07:48] #1448 closed

[2021-12-27 13:53] RobertDober opened #1451 "UTF8 or not UTF8?"
I just got this [issue](https://github.com/RobertDober/earmark_parser/issues/80)

and EarmarkParser crashes on the particular input because it is not legal UTF8 so I somehow suspect (actually: I am horrified) that I need to handle non UTF8 input?

Is this true or can I (and you in ex_doc :blush:) just reject non UTF8 input.

Here is the string again for your convenience:

[code]
which happens beca

[2021-12-27 15:02] josevalim commented on #1451
We don't expect to handle not non-UTF8 input. It is fine to crash IMO. :)

[2021-12-27 15:02] #1451 closed

[2021-12-28 17:22] jwilger opened #1452 "Earmark GFM Footnote Return to Article Link Text Rendered Incorrectly"
When parsing a markdown document that contains footnotes with the option `footnotes: true` passed to Earmark, the link that is inserted at the end of the footnote by Earmark has the link text set to `["&#x21A9;"]` (https://github.com/RobertDober/earmark_parser/blob/5797a53a1d60003e5d0038c326bfd1e8b129c85f/lib/earmark_parser/ast/renderer/footnote_renderer.ex#L31).

When rendering the documentation

[2021-12-28 17:34] josevalim commented on #1452
@jwilger looking at the earmark code you linked, it is not set `verbatim: true` to that particular node, so maybe that's what we should do? Can you please send a PR to earmark_parser and see if it works?

[2021-12-28 18:05] jwilger commented on #1452
In addition to looking into @josevalim's comment above, there's a somewhat kludgy workaround using CSS for anyone else who runs into this; just add the following to your `mix.exs`:

[code]

[2021-12-30 20:19] #1438 closed

[2022-01-02 17:29] Odaeus commented on #602
May I ask what happened to this proposal? The last comment doesn't quite make sense to me, it was approved but nothing changed? I was about to request feedback on whether we could improve the "Specs" heading and found this old issue which matches my thoughts exactly!

[2022-01-02 17:39] eksperimental commented on #602
Hi. The issue is 5 years old. A lot has changed, and without a copy of the html at the time that this proposal was done it is really hard to understand what is being talk about in this thread.

In which ways you think the specs could be improved.

[2022-01-02 18:02] Odaeus commented on #602
Hi @eksperimental, what I mean is that the "Specs" header and definition appears unchanged since this issue was raised. Perhaps the HTML is different but the visual display looks identical to me. Admittedly, I don't think there is a screenshot of the style at the time, and I am inferring this from the comments and mock-ups.

I agree with the problem statement in the very first comment that started

[2022-01-02 18:17] eksperimental commented on #602
I agree. It is confusing. It makes sense for documentation of types, but not for functions.
Maybe something like this?
![image](https://user-images.githubusercontent.com/9133420/147885359-3976d93a-335f-4163-b82a-3a33cd3e50b0.png)

[2022-01-02 22:40] Odaeus commented on #602
@eksperimental it's definitely an improvement as it conveys that the heading and the content are grouped together now. So I'd be really happy to see that change as it solves my main complaint!

Optionally, I'd argue that the word "Specs" itself is superfluous as I think the convention of monospaced typeface, no background (unlike code), and placed underneath the function signature is strong enough

[2022-01-02 23:58] eksperimental commented on #602
We could maybe remove the "Spec" header, and use `@spec map_join(...) :: ...` the same way IEx shows the specs

[2022-01-03 09:35] Odaeus commented on #602
That has a lot going for it! It's low-key, descriptive, and consistent with defining a spec and IEx output. I think it's great.

I did some quick mock-ups as I noticed the IEx output has the "@spec" keyword coloured, which I think makes sense because this will be a repeating element. It makes it quicker to identify and visually skip it if there's a slight distinction. I know syntax highlighting do

[2022-01-03 09:40] eksperimental commented on #602
Grey looks beautiful. I really like this one addition.
It removes the ambiguity and brings in consistency.

[2022-01-03 09:41] eksperimental commented on #602
@Odaeus feel free to send a PR if you can.

[2022-01-07 01:27] josevalim commented on #1443
Closing this for now but a PR is welcome if you want to improve this!

[2022-01-07 01:27] #1443 closed

[2022-01-07 01:28] josevalim commented on #1452
Closing this, as I believe it is not an ExDoc issue!

[2022-01-07 01:28] #1452 closed

[2022-01-07 01:31] josevalim opened #1458 "Incorporate new sidebar designs"
* [ ] Improve sidebar navigation (Top should no longer be required, clicking navigates by default)
* [ ] Replace all icomoons by their remix equivalent
* [ ] Bring keyboard shortcuts inside settings (see screenshot below for an example)

/cc @cristineguadelupe

<img width="515" alt="Screenshot 2022-01-07 at 02 23 43" src="https://user-images.githubusercontent.com/9582/148476498-0f0dff65-239f-46d5-

[2022-01-09 14:52] cristineguadelupe commented on #1458
Done!

[2022-01-09 14:59] #1458 closed

[2022-01-10 13:00] felipedotcom commented on #1333
Hello, It is possible to tackle one of those?

[2022-01-10 13:08] josevalim commented on #1333
Definitely! :) You can start for example with the first one availables, such as "(UI) Search by module:fun/arity" and "(UI) Footer link: [Erlang programming language](https://erlang.org)". :)

[2022-01-10 16:32] mkaput commented on #1443
If anyone would like to work on this, then please welcome! Sorry for not mentioning this earlier, but I do not have free bandwidth.

[2022-01-10 16:46] Qizot opened #1465 "Few notes regarding the new design"
1. With a new design of the sidebar the module gets automatically loaded on expand action. It is quite distracting for a user (at least for me) that the page start to reload resulting in lost position of the scroll. The selected module gets scrolled to the top of the sidebar.

It looks quite strange to see the accordion to expand and then after a while to reset its position after the load. It was

[2022-01-10 17:15] bblaszkow06 opened #1466 "Overflow of text in the new sidebar - still an issue"
As the changelog states:

I'm reaching out to let you know the new sidebar might not be enough :wink:

In particular, `membrane_core` has a bunch of structs like `Membrane.Pipeline.CallbackContext.CrashGroupDown`, `Membrane.Bin.CallbackContext.CrashGroupDown` and `Membrane.Element.CallbackContext.Caps` that look like this with `ex_doc` at a011116

![image](https://user-images.githubusercontent.com

[2022-01-10 17:18] josevalim commented on #1465
Yes, we are working on it. :)

People complained that the previous one was too soft. Maybe the new is too aggressive, we will keep our ears open for feedback.

[2022-01-10 17:59] josevalim commented on #1466
Ah, we definitely need to bring it back then. Can you please send a PR then that reverts b9afe96c971f5376da9ccef7997e9a5b6b5313b1 and adds styling to the nesting? Previously nesting had its own style but I think we can make it have the same styling as the current sidebar groups.

[2022-01-10 18:02] josevalim commented on #1465
We will push a slightly reduced contrast soon. Closing this as we are working on it right now. :) Thanks!

[2022-01-10 18:02] #1465 closed

[2022-01-10 19:10] felipedotcom commented on #1333
sorry for the trouble but I'm not sure how to start tho, I've cloned the ex_doc repo, but I failed to see where should I start the implementation. I'll need a little help plz

[2022-01-10 20:19] josevalim commented on #1466
It is back!

[2022-01-10 20:19] #1466 closed

[2022-01-10 21:18] josevalim commented on #1204
The reason why `~` and `:` cannot be searched is because they are reserved query keywords, that's explain in the docs below. The autocomplete and search are ultimately different, they are triggered by the same UI but once you trigger the search, the behaviour is different. Not much different to GitHub search.

[2022-01-10 21:18] #1204 closed

[2022-01-11 08:48] cw789 opened #1469 "Order of extras / pages"
I'm not 100% sure if desired or a bug.
The order of extras changed since a time in main and so in 0.27.0.

I would tip on https://github.com/elixir-lang/ex_doc/commit/18c5fde1d9bbbf288465193a800e9b5991ad65b3.

If the order of extras gets random with this change i would consider it as a bug.

[2022-01-11 08:57] #1469 closed

[2022-01-11 13:50] adamu opened #1470 "JS null error when loading"
When I open the elixir `main` docs: https://hexdocs.pm/elixir/main/, I get a JS error (happens in Firefox, Safari, and Chrome):

<img width="875" alt="image" src="https://user-images.githubusercontent.com/498229/148954237-8ce97541-c29c-4272-9e64-8c31df96180a.png">

Clicking the ⚙️ icon here does nothing.

However, it seems isolated to `main`, because , https://hexdocs.pm/ex_doc/, which is on v0.27

[2022-01-11 13:59] josevalim commented on #1470
Thank you! That's a nightly build, so it may error, it will be automatically updated again soon and it should be good!

[2022-01-11 13:59] #1470 closed

[2022-01-11 18:29] starbelly opened #1474 "Bug with settings menu in 0.26.1"
In generating documentation with the latest release, the settings menu would not pop, I found an error in the console of my browser. This was from publishing rebar3_ex_doc 0.2.5, which I reverted per this bug.

I also tried this in an elixir project, locally, and got the same problem.

[code]

I'm happy to look into this further, but it'll be a minute.

[2022-01-11 19:37] cristineguadelupe commented on #1474
Hey @starbelly
I don't know why but when I generate the documentation for Ecto using the current 0.27.1 and when I do the same for rebar3_ex_doc I got a different footer and I'm almost sure that's the reason for the problem. The rebar version is not rendering the hex search.

Ecto footer with the hex search and no problems
<img width="591" alt="Screen Shot 2022-01-11 at 16 26 21" src="https://user

[2022-01-11 19:51] jonatanklosko commented on #1474
The first part is rendered conditionally here:

https://github.com/elixir-lang/ex_doc/blob/0d4ca8be0fb765ad42edacc563902a4dba398dcb/lib/ex_doc/formatter/html/templates/footer_template.eex#L2-L4

`rebar3_ex_doc` doesn't define `project()[:package]` in `mix.exs`.

So the "Search" link may not be there, and we should have a check before adding listener here:

https://github.com/elixir-lang/ex_doc/blo

[2022-01-11 20:03] josevalim commented on #1474
I am pushing a fix and shipping new versions soon. But you may want to pass the package option forward if you have this information available.

[2022-01-11 20:10] josevalim commented on #1474
v0.27.2 is out, thanks everyone!

[2022-01-11 20:10] #1474 closed

[2022-01-11 22:04] starbelly commented on #1474
@josevalim @jonatanklosko Thanks for pointing out the package issue, patched rebar3_ex_doc to pass that long ❤️

[2022-01-12 17:09] kianmeng opened #1476 "Is `API Reference` Page Still Needed?"
I've noticed that ExDoc generated an extra `Modules` and `Mix Tasks` tab section, and it looked like a duplication of the `API Reference` page. Should the `API Reference` page be deprecated or removed in favour of the new tab section?

![image](https://user-images.githubusercontent.com/134518/149187600-3b930bbf-df23-4585-a09a-be0577d57eb2.png)

[2022-01-12 17:14] josevalim commented on #1476
Yes, it provides a quick listing of all modules, and it is the default page unless users configure something otherwise. :)

[2022-01-12 17:14] #1476 closed

[2022-01-14 13:16] moogle19 opened #1480 "Custom scrollbar in `sidebar`"
The current scrollbar looks kind of out of place (especially when using the light theme in Chrome).
In my opinion it would be nicer to use a themed scrollbar for the `sidebar`.

For WebKit based browsers this could be achieved with `::-webkit-scrollbar` and Firefox has `scrollbar-color`.

I add the following to the generated css for testing (The colors were just for testing):

[code]

And here are

[2022-01-14 13:19] josevalim commented on #1480
Hi @moogle19, agreed. However, I think the color purple is a bit too strong. I think we should keep the purple for highlighting. Incidentally, I think the default Firefox color is quite good. Maybe we can settle on a gray color, quite similar to what Firefox is doing? WDYT? Do you want to send a PR?

[2022-01-14 13:23] moogle19 commented on #1480
@josevalim
Yes, the purple was just for demonstration purposes 😄.

I'll take the default Firefox colors and make a PR for that.

[2022-01-14 14:28] moogle19 opened #1482 "Menu button interferes with sidebar content"
While testing the custom scrollbar, I noticed that the top menu doesn't have a background when the browser windows height is relatively low.

This looks a bit odd:
<img width="647" alt="Screenshot 2022-01-14 at 15 22 48" src="https://user-images.githubusercontent.com/792046/149530699-227d2866-c990-4409-9b9b-70c05d827f94.png">

I am not sure what would be the best solution, without wasting too much

[2022-01-14 16:17] eksperimental opened #1483 "Zero digit looks off in Upper case text"
The digits in general look smaller, but the problem with 0 is the passes as lowercase "o".

![image](https://user-images.githubusercontent.com/9133420/149548481-784f173c-9595-407c-9ed0-9b4084e3af9a.png)

The font in question is Merriweather Light.

[2022-01-14 16:23] eksperimental opened #1484 "Plain text files are rendered a bit lower in the page"
I expect the first line to be at the top of the page, but because it has not set Title,
the `<h1>` block is still there but empty.

![image](https://user-images.githubusercontent.com/9133420/149549391-7f4bac16-8342-4ef5-b25e-2309a775c379.png)

I think the `<h1>` block should be removed when no title is present.

[2022-01-14 16:24] eksperimental commented on #1484
This is a regular page.

![image](https://user-images.githubusercontent.com/9133420/149549673-591d1564-2086-43b6-9abf-6a24f17bc3e8.png)

[2022-01-14 16:31] eksperimental opened #1485 "filename option in extras config fails with underscore"
There are two issues.

1.

[code]

it will create a file named `license_0bsd.html` but the generated html file links to `license-0bsd.html` giving an 404 error

2.  I don't know if this is documented, or if it's a bug.
if i give a subfolder as the path for the filename `filename: "license/0BSD"` it crashes.
It makes sense because it is "filename" and not "path" but maybe we could raise with a bett

[2022-01-14 17:17] josevalim commented on #1483
That's [how the font works](https://fonts.google.com/specimen/Merriweather?preview.text=0OS%20Almost%20before%20we%20knew%20it,%20we%20had%20left%20the%20ground.&preview.text_type=custom). We could revisit the fonts used in the application, but we would need a designer to consistently look at how fonts are used in the app, which is not in scope for now. Thanks!

[2022-01-14 17:17] #1483 closed

[2022-01-14 17:22] josevalim commented on #1485
I cannot reproduce this. Here is what I did in this repo:

1. I renamed `CHANGELOG.md` to `CHANGE.LOG.md`
2. I changed `extras` in `mix.exs` to this:

[code]

3. I called `mix docs`

Navigation worked as expected in the sidebar. Can you please provide reproduction steps?

[2022-01-14 17:25] josevalim commented on #1484
Yes, this is intentional. Otherwise, if your first line is a long line, it ends-up clobbering and conflicting with `</>` and the cog. You can explicitly set a title. I am also glad to receive a PR with different approaches, but for all purposes, it is meant to not conflict with the page layout. Thanks!

[2022-01-14 17:28] josevalim commented on #1482
@moogle19 can we make it so the hamburger icon actually doesn't scroll with the sidebar? It should just always on stop.

[2022-01-14 17:54] eksperimental commented on #1484
the title is set in the extra config.

[code]

[2022-01-14 17:55] josevalim commented on #1484
Oh, so we are ignoring the title in those cases? Hrm, we should not. I will investigate.

[2022-01-14 18:02] eksperimental commented on #1483
IMHO, being technical documentation what we are generating we should avoid fonts that will treat numbers like that,

[2022-01-14 18:03] eksperimental commented on #1485
it is actually the contents of the .md file that link to the wrong file, not the navigation

[2022-01-14 18:06] josevalim commented on #1485
Do you mean the content that you wrote in another page? We don't rewrite links, except for the extension, because you might as well be linking to another resource that you are adding manually to `doc`.

[2022-01-14 18:10] eksperimental commented on #1485
the contents of the README.md file

[code]

with config `filename: "license_0BSD"` it links to a `license-0BSD.html` (giving error 404),
with config `filename: "license-0BSD"` it links to a `license-0BSD.html` and it works as excepected.

[2022-01-14 18:39] #1485 closed

[2022-01-14 18:56] eksperimental commented on #1485
Cool. The fix seems to work.

What about the second issue, if the filename has a subfolder, it raises.

[code]

Should we allow the creation of subfolders? or raise with a better message when parsing the filename?

[2022-01-14 18:59] eksperimental commented on #1485
oh.. I thin we alraedy had the discussion about the subfolder generating an issue with the assets that are relative to the base folder.
So I guess we should raise as soon as we read the configs

[2022-01-14 19:00] eksperimental commented on #1484
Awesome, much better now.
Closing it since it is fixed in 2ce41968b676db04aee006abb1d8abc4ed72d14b

[2022-01-14 19:00] #1484 closed

[2022-01-14 19:13] moogle19 opened #1486 "Search field doesn't resize when scrollbar uses full height"
The `sidebar-header`s background resizes and keeps it's `12px` margin to the scrollbar, but the search field  doesn't.

<img width="306" alt="Screenshot 2022-01-14 at 20 08 15" src="https://user-images.githubusercontent.com/792046/149571606-ec9e70bc-cdcc-455c-af30-44f7af119e1c.png">

I tried to fix it but couldn't find the class which controls the background and margin for the search field (`sideb

[2022-01-14 19:16] eksperimental opened #1487 "Are there plans for a new tab in the sidebar?"
I am asking this question because I don't know if there is any ongoing plan on making use on the spaces on the right of the tabs "PAGE" and "MODULES".

If not, I would like to make a proposal, but I will have to carefully think about it first.

[2022-01-14 19:20] moogle19 commented on #1482
@josevalim
No quite sure if I understand that correctly.

So the menu stays with the search field and can scroll out of view? That could be a bit tricky, because the menu button is outside of the sidebar (probably because it needs to be visible when the sidebar is closed).

I considered to move it to the right, so it is outside of the sidebar, since there is enough space on the left of the content

[2022-01-14 19:20] josevalim commented on #1487
That’s already used for “Mix Tasks” in certain projects, such as hexdocs.pm/mix.

[2022-01-14 19:20] #1487 closed

[2022-01-14 19:23] josevalim commented on #1486
@moogle19 I could not reproduce this on Firefox nor Chrome. None of them resize for me. How do you reproduce this? :)

[2022-01-14 19:25] josevalim commented on #1482
Exactly. When the sidebar is opened, it should stay within that sidebar location. If the sidebar is closed, then it moves. There is already some JavaScript to manage it, perhaps we could use that code to move it around.

[2022-01-14 19:29] moogle19 commented on #1486
I tried it on Firefox for macOS.
Just went to the ExDoc site and made the windows height <500px.

[2022-01-14 19:30] moogle19 commented on #1482
Sounds good. That could also fix the behaviour in the video, where the button jumps around.

[2022-01-14 19:34] eksperimental commented on #1487
I see.
Well, I was thining about an "About" sections.
I feel there is a disconection from ExDoc documentation linking to the project Repository (I may be missing something here),
but I feel it is easy to  get to the docuementation in hexdocs.pm from the Project repository (for example Github) and from the hex.pm package page, but it is not easy to get to the repository or the hex.pm package page.

[2022-01-14 19:39] eksperimental commented on #1487
Additionally I would like the title of the project and the log to link to the main page (index.html) or to the API reference (maybe this one option is better).

As of now I cannot find a way to go back to it easily,
for example, when I read the Elixir documentation I never ever go to "https://elixir-lang.org/docs.html",
but maybe hundread times i go to Kernel , same with other projects, if it link

[2022-01-14 19:40] josevalim commented on #1486
Same here and I cannot reproduce it. :(

[2022-01-14 19:43] moogle19 commented on #1486
Strange.

This is how it looks for me:
https://user-images.githubusercontent.com/792046/149575545-a31100e1-7ca5-4c3e-afe4-abd67a646657.mov

[2022-01-14 19:46] moogle19 commented on #1486
I think it is because I set `Show scroll bars` to `Always` in the System Preferences -> General.
When I set it to `When scrolling` nothing resizes.

[2022-01-14 20:36] josevalim commented on #1487
We could allow external links under “Pages”. Also note that we have all of those Hex links in the footer. Perhaps we could have a Hex icon and move it to the top.

[2022-01-14 21:13] eksperimental commented on #1487
As of now I only see the link to the current package, but it is way too inconvenient at the bottom specially for long pages.

That is a really good idea. How about an "About" page under PAGES tab?  It will be standard in every package, same like API Reference.

[2022-01-14 23:36] #1482 closed

[2022-01-14 23:36] #1480 closed

[2022-01-14 23:39] #1486 closed

[2022-01-14 23:46] josevalim commented on #1487
I would like to avoid introducing new pages into the user docs. So we have:

1. Introduce the package information at the top of API Reference.
2. Introduce a Hex icon close to the settings and source icons
3. Add external links to the "Pages" sidebar

[2022-01-15 02:03] eksperimental commented on #1487
+1 for number 1

[2022-01-15 08:31] josevalim commented on #1487
PR welcome! We can have the about section there!

[2022-01-15 11:45] eksperimental commented on #1487
So this information will be coming from the package config in the Mix file?

[2022-01-15 11:49] josevalim commented on #1487
Check how we handle the footer. But we have the package name, and we can render links to the rest from it. :)

[2022-01-15 14:16] davydog187 opened #1488 "Idea: CMD+K menu for easier navigation"
Opening an issue as this is an idea/experiment that I'd like to bring to `ex_doc` but haven't had the time to explore myself.

## Background
`ex_doc` provides several keyboard shortcuts such as `g` for switching between packages, or `/` to highlight the search menu. What I'd love to see is a faster way to navigate and jump between modules or sections, using the [CMD+K Menu](https://uiw.tf/cmdk) UI

[2022-01-15 14:23] josevalim commented on #1488
We discussed ways of unifying the current Hexdocs search with the current autocomplete and that sounds like a good way to do it. I like how it could be used to navigate everything though. My only question is if it is a separate modal or we reuse the existing search.

[2022-01-15 14:39] davydog187 commented on #1488
I would suggest that search and the quick find menu be separate. The project navigation could be consolidated into this widget.

Ideally search is for fuzzy find of content, while quick find is for navigation

[2022-01-15 15:15] josevalim commented on #1488
Correct. My point is that the search today already has this duel behaviour: it works for fuzzy but also a quick find. We shouldn't have fuzzy and two quick finds. :)

[2022-01-15 16:41] davydog187 commented on #1488
Got it, agreed!

[2022-01-16 13:51] eksperimental commented on #1204
points 4, 5 and 6 are still unsolved.

[2022-01-16 13:55] eksperimental commented on #1488
Interestingly the new Erlangs docs use the same for opening up the Search modal.

[2022-01-16 13:58] josevalim commented on #1204
Those are all correct to me. 4 shows the error message I mentioned. `assert` brings up `assert_impl` and others, `LoadError` brings the relevant results too. All verified here: https://hexdocs.pm/elixir/

[2022-01-16 14:06] eksperimental commented on #1204
Regarding

- 4. neither `::`  nor `:` are mentioned in the docs as special characters. Actually ":"  does return search results, it is "::" that does not.
- 5.  It is "assert_" does is reported not to work and still does not.
- 6. "LoadError" does not return results

[2022-01-16 14:13] eksperimental commented on #1204
give me a second, I was checking on a local version, maybe not the latest one. I will compare the results locally and in hexdocs.pm and update my previous comments

[2022-01-16 14:52] eksperimental commented on #1204
I have updated my comments based on hexdocs.pm's version of ExDoc.
https://github.com/elixir-lang/ex_doc/issues/1204#issuecomment-1013882573

[2022-01-16 14:56] josevalim commented on #1204
About 6:

<img width="921" alt="Screenshot 2022-01-16 at 15 54 59" src="https://user-images.githubusercontent.com/9582/149665198-ae61a9ed-1d8f-4c2c-b7f4-4a3d6d16d8e5.png">

The error message when you use `:` also indicates that `:` is being used as a field. For 5, please open up a separate issue.

[2022-01-16 14:57] josevalim commented on #1057
@eksperimental can you please resubmit this issue using checkboxes in the issue for everything that is still valid? PRs are welcome, as EPUB is HTML. Thank you!

[2022-01-16 14:59] eksperimental commented on #1204
The error message is unclear. as we are not using foo:bar, only "::".
by the way shouldn't this feature only grep fro "field:" and "doc:" search terms?

[2022-01-16 15:01] josevalim commented on #1204
There isn't much we can do, that's how the full text library work. I will clarify the text though.

[2022-01-16 15:01] eksperimental opened #1490 "Udenscores whithin search terms do not work"
Searching in ExUnit for "assert" gives results but "assert_" gives no results and "assert_*" does give results

"assert" works: https://hexdocs.pm/ex_unit/search.html?q=assert
"assert_" does not work: https://hexdocs.pm/ex_unit/search.html?q=assert_

[2022-01-16 15:40] eksperimental commented on #1204
I understand.  That's the best we can do I guess.

[2022-01-16 15:56] eksperimental commented on #1057
Updated and checked

[2022-01-17 14:00] eksperimental opened #1492 "Feature Request: Add `:short_title` to `:extras`"
Sometimes I would like to use a shortened title in the side bar due to the limited space there.
For instance, I have this license file titled "Creative Commons Zero Universal version 1.0 license"
but on the side bar I would like to shot it "CC Zero"
and for the other files remove the "license" word since it is redundant.

![image](https://user-images.githubusercontent.com/9133420/149781377-c366cef

[2022-01-17 14:26] josevalim commented on #1492
Can't you keep the title permanently short and then immediately clarify its full context using a subheading in the page?

I am not convinced there is a lot of need for this functionality and the issue here seem avoidable. :)

[2022-01-17 14:31] eksperimental commented on #1492
what do you mean?

[2022-01-17 14:42] josevalim commented on #1492
As I mentioned above: you can just give it a short title altogether. :)

[2022-01-17 14:53] eksperimental commented on #1492
In the particular case of the license no, I prefer to leave the license file as it is.

As we group items in the sidebar I think there is a need to edit the titles as they may become redundant, as in this case removing the word "license" as the groups is named like that.

Personally, I think since the sidebar is a little space with too much information, every little thing to unclutter it helps.
I

[2022-01-17 15:23] cw789 commented on #1492
Isn't it covered by the `extras` `title` customization?:

[code]

[2022-01-17 15:30] eksperimental commented on #1492
that is the title that will show at the top of the page.

the config the the screenshot above is the following:

[code]

[2022-01-17 15:33] josevalim commented on #1492
Yes, just make the title a short one. You can call it License for example, and clarify the type of License inside the page. There are other options too, I don't think we  need a separate option for this. :)

[2022-01-17 15:33] #1492 closed

[2022-01-19 11:17] MaSven commented on #5
So, what was the outcome of this?

[2022-01-19 11:31] wojtekmach commented on #5
For `defprotocol` we have this:

<img width="775" alt="image" src="https://user-images.githubusercontent.com/76071/150121783-a7b42572-3126-4a2c-9c23-2fe20c8b7f7a.png">

I don't think we have anything for `defimpl` as these tend to not to be documented.

[2022-01-20 21:56] nicnilov opened #1495 "Contrast of the sidebar is too harsh in normal mode"
The sidebar styling, introduced, I believe, [by this commit](https://github.com/elixir-lang/ex_doc/commit/f860c527ae7ed254d5167c178d335facecf7005c), looks pretty in Night mode, but in normal mode it is quite unpleasant (subjectively, of course).

![image](https://user-images.githubusercontent.com/1060177/150427021-0b6e6259-d7e9-42d3-9c8a-194eb5bbfb05.png)

At a glance there is nothing wrong with t

[2022-01-20 23:11] josevalim commented on #1495
If someone wants to explore a sidebar in night mode, we will be glad to consider it, but it is not in our current plans. Thank you!

[2022-01-20 23:11] #1495 closed

[2022-01-20 23:22] nicnilov commented on #1495
Sorry for not making myself clear. The sidebar is already styled consistently with the night mode. The request is to match the sidebar styling to normal mode.

[2022-01-20 23:30] josevalim commented on #1495
Sorry, it was my bad. I understood it correctly but I wrote the wrong thing. :) yes, if someone wants to explore a sidebar for “day” mode, we will be glad to take a look at it.

[2022-01-21 10:37] wojtekmach opened #1496 ""Copy to clipboard" should skip `$ `"
<img width="873" alt="image" src="https://user-images.githubusercontent.com/76071/150512588-7ea8fab7-0f41-4667-b1e3-85497d03e6bc.png">

(https://hexdocs.pm/mix/main/Mix.Tasks.Release.html)

When I click the button this is copied:

[code]

it would be really nice to just copy:

[code]

that is, only the _selectable_ text.

[2022-01-21 11:15] #1496 closed

[2022-01-24 07:46] lukaszsamson opened #1497 "Crash on package publish"
version:  0.27.3

`mix hex.publish`
[code]

Edit:
It looks like it's a transient issue. After `mix deps.clean --all && mix deps.get` the publish succeeded. Probably elixir (1.13.2) is loading the wrong versions of some of the modules after update (I updated from 0.19 to 0.27.3) as there was a warning o compilation.
[code]

[2022-01-24 08:26] josevalim commented on #1497
The issue is that `mix docs` is invoked, then it calls `compile` which forces the deps to be recompiled. So at this point the old `docs` is in memory but the rest of the library is new. I have an idea for a fix.

[2022-01-24 08:36] josevalim commented on #1497
Ah, the fix is to use `@requirements ["compile"]` as it aims to solve exactly this. Pushing soon.

[2022-01-24 08:36] #1497 closed

[2022-01-26 18:05] sanks64 opened #1498 "The classic color scheme as an option"
I noticed the recent design change and don't really like the colors used (they are too contrast for me)

Using [Stylish](https://chrome.google.com/webstore/detail/stylish-custom-themes-for/fjnbnpbmkenffdnngjfgmeleoegfcffe?hl=en) the color scheme is easily changeable. However, it requires having the extension installed

I already have CSS that brings back the old color scheme:
![image](https://user

[2022-01-26 18:11] josevalim commented on #1498
We don’t plan to bring the old style back for now. Some prefer the old, others prefer the new. At the same time, we can’t bear the complexity of maintaining two styles, especially as our goal is to support more languages (which may have smaller variations).

thanks for reaching out though!

[2022-01-26 18:11] #1498 closed

[2022-01-27 22:40] weiss opened #1500 "Erlang: Incorrect @type macro link"
I'm using ExDoc for documenting Erlang code (thank you!).  When referencing a `{@type foo()}`, the generated link points to the non-existent target `#type-foo`.  The type definition is available via `#t:foo/0` instead.  (Not sure `{@type foo()}` macros are supposed to be supported?  But this does work with EDoc.)

[2022-01-27 22:45] wojtekmach commented on #1500
Thank you for the report.

Yes, they are supported. When ExDoc generates links, it'd use the `#type-foo` when linking against erlang.org/doc/man/* as that's the "EDoc-style" and `#t:foo/0` everywhere else, the "ExDoc-style". So it seems that ExDoc got confused when trying to generate links for your own types.

What's the ExDoc version you're running? Could you share your project or create a minima

[2022-01-28 09:09] weiss commented on #1500
ExDoc v0.28.0.

I stumbled over the issue [in eturnal][1], but I've now put together a minimal example of [the type macro][2] and the [resulting documentation][3].

[1]: https://github.com/processone/eturnal/blob/1.8.1/src/eturnal_module.erl#L38
[2]: https://github.com/weiss/example/blob/34a23fb1ef482f4d782973336e7d8bece0a121f4/src/example_app.erl#L1
[3]: https://eturnal.net/tmp/example/example_ap

[2022-01-28 09:39] wojtekmach commented on #1500
Thank you, I can reproduce this locally and it's definitely a bug. Stay tuned!

[2022-01-28 10:00] wojtekmach commented on #1500
Okay, I know what this is.

On `{@type foo()}`, EDoc essentially writes the following to the doc chunk:

[code]

but on `{@link foo()}`, we have:

[code]

we vastly prefer the latter as it's more precise given we can check against `rel="https://erlang.org/doc/link/*` and we do that for other things like references to modules, functions & callbacks.

So TL;DR, use `{@link foo()}`.

We _could_ suppo

[2022-01-28 11:25] weiss commented on #1500
Works for me, except that only _exported_ types can be referenced that way.  But I guess that might be fine, as documenting local types usually makes no sense anyway.  Oh and e.g. `{@link atom()}` yields an `undefined or private` warning as well, whereas `{@type atom()}` seems happy, produces no link, but proper `<code>` markup.  But so does `` `atom()' ``.

Yeah, actually I remember wondering abo

[2022-01-28 11:44] wojtekmach commented on #1500
Thanks @weiss!

If anyone would like to follow up with the OTP team regarding EDoc deprecating `{@type}`, that'd be appreciated!

[2022-01-28 11:44] #1500 closed

[2022-01-28 11:47] wojtekmach commented on #1500
I believe OTP 24.2 documents built-in types on the Erlang module, e.g. https://www.erlang.org/doc/man/erlang.html#type-atom, and it is supposed to "just work" with ExDoc. :)

[2022-01-28 12:11] weiss commented on #1500
Hmm, doesn't seem to work here with OTP 24.2 (I pushed an [exampe][1]):

[code]

See <https://eturnal.net/tmp/example/example_app.html> for the result.

[1]: https://github.com/weiss/example/commit/be7bd572c4a24c9f866779642a987683e941b71e

[2022-02-01 03:54] oskarkook opened #1504 "Extra whitespace in signature?"
I noticed extra whitespace in this signature, is this on purpose? https://hexdocs.pm/elixir/1.13/DateTime.html#add/4
The previous version does not have this: https://hexdocs.pm/elixir/1.12/DateTime.html#add/4

[2022-02-01 09:05] josevalim commented on #1504
Great catch, fixed in Elixir!

[2022-02-01 09:05] #1504 closed

[2022-02-08 18:33] wojtekmach opened #1506 "Incorrect spec rendering"
This spec:

[code]

is rendered as:

<img width="294" alt="image" src="https://user-images.githubusercontent.com/76071/153052682-a9ea7846-24dc-4562-8fc1-649c08d10e91.png">

there should be no extra newline.

Interestingly, when we switch `keyword()` to `Keyword.t()`, it is rendered correctly. Same if it is `foo(keyword()) :: ...`.

Full snippet to reproduce:

<details>

    Mix.install(
      [

[2022-02-14 23:35] Odaeus opened #1515 "Test failures in `ExDoc.Language.ErlangTest`"
With the latest head (277c4019) I get 6 test failures in the form:

[code]

This is with a clean repo and running `mix setup`.

[code]

Obviously the tests pass on CI so it has something to do with my system, but wanted to report this in case anyone else hits this issue or someone has already solved it.

[2022-02-15 06:44] josevalim commented on #1515
It is most likely that your Erlang version was not compiled with docs. @wojtekmach perhaps we should change the `:otp24` tag to not be about otp24, but rather if there are docs for the Erlang modules.

[2022-02-15 08:20] wojtekmach commented on #1515
@josevalim yup, good call

[2022-02-15 09:26] #1515 closed

[2022-02-18 09:11] timothyvanderaerden commented on #1506
This seems to be caused by `Macro.to_string/1`, in Elixir 1.12 this returns `"foo(String.t(), keyword()) :: :ok"` but for Elixir 1.13 it returns `"foo(\n  String.t(),\n  keyword()\n) :: :ok"`

Elixir 1.12
[code]

Elixir 1.13
[code]

[2022-02-18 09:23] josevalim commented on #1506
This has been fixed in Elixir v1.13 and main branches!

[2022-02-18 09:23] #1506 closed

[2022-02-20 09:15] josevalim commented on #891
Closing in favor of the PR!

[2022-02-20 09:15] #891 closed

[2022-02-20 09:16] josevalim opened #1518 "Include page titles in the search autocomplete"

[2022-02-20 09:17] josevalim commented on #1440
@eksperimental do you want to send a PR for this or we can leave it up for grabs? :)

[2022-02-20 09:19] josevalim commented on #1488
I will close this for now. It is a change we would like to explore but we don't have the bandwidth to work on it. If someone wants to work on it, let us know! Thank you!

[2022-02-20 09:19] #1488 closed

[2022-02-20 14:45] davydog187 commented on #1488
Thanks Jose, if I find time in the next few months I will try to take on

[2022-02-20 15:39] eksperimental commented on #1440
To give the possibility to new contributors to ExDocs, I'll leave it up for grabs, but if in one week nobody takes it, I will take care of it.

[2022-02-20 20:35] davydog187 opened #1519 "Admonition block dark mode bug"
![image](https://user-images.githubusercontent.com/1019721/154863281-73140091-f7a8-4c82-9a31-fe2269d6c145.png)

Adding this from my phone but looks like the highlight on text in the blocks needs adjustment

[2022-02-20 21:25] josevalim commented on #1519
@davydog187 it is the new spoiler tag! 😅

[2022-02-20 21:31] josevalim commented on #1519
I have pushed a fix but I have asked the designer to see if a dark mode variation of the blocks make sense. /cc @milmazz

[2022-02-20 21:32] #1519 closed

[2022-02-20 21:37] milmazz commented on #1519
@josevalim Thanks for taking care of this. Once you have the feedback from the designer, please let me know. Then, I can apply the changes to the dark theme.

[2022-02-22 02:30] milmazz commented on #1309
@eksperimental This issue seems fixed since José updated the last paragraph of the license.

Do you agree on closing this issue now? or is there any remaining action?

[2022-02-22 02:36] eksperimental commented on #1309
Yes. Thank you

[2022-02-22 02:36] #1309 closed

[2022-02-22 06:22] simonmcconnell opened #1520 "Hiding and showing the sidebar scrolls to weird position in narrow browser window"
I often have docs open on half my screen.  When the browser window is narrow and you hide/show the sidebar, it scrolls to somewhere on the page.  If you've got the sidebar open, click a function and hide the sidebar, all good.  But if you show it again, you're scrolled to a "random" position.  If you hide it again, you'll go back to that function.

When you show the sidebar, you should not be scro

[2022-02-22 07:36] josevalim commented on #1520
I am actually not sure if we can address this. The sidebar reduces the size of the readable area. The only option would be to allow the sidebar to overlap the content, like it does on small screens, but I actually think it would be worse.

[2022-02-22 08:09] simonmcconnell commented on #1520
Hmmm, there must be something we can do.  I'll poke around the internet, see what I can find.

[2022-02-22 22:00] sorentwo commented on #1519
<img width="868" alt="Screen Shot 2022-02-22 at 3 58 37 PM" src="https://user-images.githubusercontent.com/270831/155226583-cdda263a-7efd-4913-8cc7-719acf6bb08d.png">

Here's another example with the admonition in dark mode. Aside from it being _really_ bright, the link (at the end) lacks contrast.

[2022-02-22 22:21] josevalim commented on #1519
I fixed links (sorry, I saw your edit just now). I have already asked the designer, I will open up a new issue once I have the new mockups. :)

[2022-02-23 17:35] akoutmos opened #1521 "Incorrect admonition text block dark mode formatting"
First of all...I just want to say thanks for this feature. Really nice improvement to the documentation experience!!

I was updating the PromEx docs when I noticed that the formatting when using code back-ticks and darkmode is a bit off and hard to read. Guessing it is just a minor CSS issue but wanted to point it out. Light mode looks, so it is just an issue in dark mode:
Light mode:
<img width="

[2022-02-23 18:24] akoutmos commented on #1521
I guess my first ex_doc contribution will have to wait for another day 😄. Thanks Jose!!

[2022-02-23 18:24] #1521 closed

[2022-02-23 18:26] josevalim opened #1522 "Admonition block for dark mode"
![image](https://user-images.githubusercontent.com/9582/155383396-ab4c4358-b3c7-4eaa-a4d2-97234ff2af62.png)

/cc @sorentwo @davydog187 @milmazz

[2022-02-23 18:35] davydog187 commented on #1522
@josevalim is there any highlighted text blocks in there, e.g. `v1.7`. Seems like that needs a background color?

[2022-02-23 18:37] milmazz commented on #1522
@josevalim Are we adding support for a new class? Currently, we have `warning`, `error`, `info`, and `neutral`, and here I see five callouts.

I'm assuming the following:

* red = `error`
* blue = `info`
* gray? (the last one in your screenshot) = `neutral`
* brown = `warning`

What's the purpose of the green one?

[2022-02-23 18:40] josevalim commented on #1522
@milmazz we do not need to add the green one. If you want to add it, we can open up a separate issue later. :)

[2022-02-23 18:41] josevalim commented on #1522
@milmazz I also know we used different icons, so just pick the colors. :)

[2022-02-23 18:42] josevalim commented on #1522
@davydog187 the code/link colors we use today (fixed from your reports) should work for those new colors too.

[2022-02-23 18:43] milmazz commented on #1522
@davydog187 Please let me know if you want to tackle this issue. If not, I can do it.

[2022-02-23 18:55] sorentwo commented on #1522
Those look much better! The green one seems handy, too.

[2022-02-23 19:11] milmazz commented on #1522
![Screen Shot 2022-02-23 at 13 08 55](https://user-images.githubusercontent.com/34700/155390138-d4d831f0-b80f-4679-9d11-f192f5574883.png)

Do you see a difference? I'm using the _Digital Color Meter_ included in macOS to guess the hex color values

[2022-02-23 19:37] davydog187 commented on #1522
Seems like you've got it handled @milmazz and it looks great!

[2022-02-23 20:10] #1522 closed

[2022-02-28 15:41] eksperimental commented on #1440
I will start working on it then.

[2022-03-01 08:52] #1440 closed

[2022-03-05 04:54] milmazz opened #1527 "Should ex_doc emit a warning when it finds a broken internal link?"
Today I was trying to remember some advanced syntax to find jobs using the Oban Web search bar. After checking the [Oban Web Overview](https://getoban.pro/docs/web/overview.html), I found a broken link; the doc pointed to `search.md` instead of `searching.md` (an internal doc or guide), I reported the issue, and now it's fixed. But @sorentwo made a good suggestion, or I think we should consider it

[2022-03-05 05:36] wojtekmach commented on #1527
I thought we did that already. I will investigate.

[2022-03-05 08:06] josevalim commented on #1527
It is hard to warn for html links but I think we can warn for .md ones indeed!

[2022-03-05 10:23] akash-akya opened #1528 "Low contract link color in block with night-mode"
The issue seems to be present only in normal blocks (not admonition blocks) and only in night-mode.

[code]

<img width="298" alt="Screenshot 2022-03-05 at 3 45 40 PM" src="https://user-images.githubusercontent.com/9396022/156878941-10f40ebf-c17c-47ef-b28c-bf6bbdf877d0.png">

Maybe It's because admonition-block in night-mode has light background, but normal-block has dark background.

Version:
[co

[2022-03-05 11:01] #1528 closed

[2022-03-07 03:34] yordis opened #1531 "Leverage GitHub Release and/or Improve CHANGELOG"
Hey peeps, just want to share something that happened to me because it was an honest expectation as a user.

I was looking for the new admonition text support, so I opened the repo and tried to look for the Releases, but I noticed that nothing was there.

So the final option was to look for the `CHANGELOG.md` entry to figure out what was the change so I can start leveraging the tool. But the entry

[2022-03-07 06:43] josevalim commented on #1531
We have no plans to generate releases because it requires duplicating efforts. We already keep a CHANGELOG and generating releases from commits, even if carefully controlling what goes to main, always have tons of noise.

we could start linking to PRs, but may I ask why you are looking for the PR explicitly? All of the usage information should be in the README, otherwise you can search the repo. :

[2022-03-07 15:53] yordis commented on #1531
It was easier to look for the PR to learn about the introduced feature than finding the documentation for it. I still don't know where it was documented.

The PR was my form of seraching strategy since I knew about the feature was there.

What do I suppose to look for when I didn't even remember the name of the feature?

English is hard, the first time I saw the admonition word before so before I

[2022-03-07 17:34] wojtekmach commented on #1531
The resolution is we'll continue to maintain the changelog manually. Thank you for the offer to automate it though.

[2022-03-11 19:48] paridin opened #1533 "night-mode The blockquote has a wrong contrast for the code tag."
Currently
![Screen Shot 2022-03-11 at 13 09 10](https://user-images.githubusercontent.com/5170054/157947047-7e89b052-6a77-4ba2-9087-343b27c72fa4.png)

Proposed
![Screen Shot 2022-03-11 at 13 38 31](https://user-images.githubusercontent.com/5170054/157947112-5299c27f-331e-4ed4-bd42-a737bfc1b139.png)

The proposal is based on the current color to keep the same theme feeling.

![image](https://user-i

[2022-03-11 20:01] josevalim commented on #1533
It has been fixed in master already. :) thanks for offering tho!

[2022-03-11 20:06] paridin commented on #1533
I tried master before the issue. I'm seeing this.

![image](https://user-images.githubusercontent.com/5170054/157951320-9907ca7b-22f6-4f9e-baff-571038168e20.png)

[2022-03-11 21:20] josevalim commented on #1533
Oh, so I misunderstood it by something else. Reopening. PRs welcome!

[2022-03-12 09:59] #1533 closed

[2022-03-15 01:39] yordis opened #1535 "[Docs] References the API Reference page"
What is the best way to point to the “API Reference” page from the docs?

I am trying to follow [Diátaxis Framework ](https://diataxis.fr/) and I can't find a way that I could link to it from my `README.md`, example:

[code]

I ended up using `[References](api-reference.html)` but I am not sure if I should be doing this or if there is an alternative I should be following.

[2022-03-15 06:34] josevalim commented on #1535
What you used is correct.

[2022-03-15 06:34] #1535 closed

[2022-03-18 15:02] jeregrine opened #1536 "Proposal: mix docs.local to build and include all of our deps docs too"
Let me know if this unwelcome or better served by hex docs or something that would be better served as a third party dep, or if this has been discussed before and I missed it.

## Problem

As elixir grows and our dep tree's grow deeper and deeper it can become a hassle to figure out where a function specifically lives and read its documentation.

A good example is Phoenix a function that is import

[2022-03-18 18:22] josevalim commented on #1536
A PR to add something like `mix deps.docs` would be very welcome!

[2022-03-18 18:24] josevalim commented on #1520
@simonmcconnell any news? :)

[2022-03-18 18:40] wojtekmach commented on #1536
Let's start with the use case at hand but later on I think it might be interesting for the docs for Elixir itself since it is split between elixir, mix, logger etc. I think it would be cool to autocomplete Mix functions from Elixir docs and vice versa.

[2022-03-18 19:08] josevalim commented on #1536
Yes, I think there are two use cases here. Mixing search items for Phoenix/Elixir and the local one. Feel free to open up an issue for the search one @wojtekmach.

[2022-03-19 16:19] ByeongUkChoi commented on #1518
Isn't the page title already included in the search autocomplete?

[2022-03-19 16:44] josevalim commented on #1518
They appear on search but not in the autocomplete afaik?

[2022-03-19 22:38] simonmcconnell commented on #1520
@josevalim I've had a couple of looks but haven't tried any of the options yet. I'm not going to have much free time for a number of weeks so you can close and I'll come back to it when I'm more available.

[2022-03-20 02:33] ByeongUkChoi commented on #1518
Sorry, I didn't understand. Aren't those the titles of the page shown in the screenshot?

<img width="600" alt="image" src="https://user-images.githubusercontent.com/43606066/159145471-0efe9124-e9d6-4b67-ae5a-2561cdcfe47a.png">

[2022-03-20 11:25] josevalim commented on #1518
Oh, by "pages" I mean the "Extras" / "Guides" / etc. You can customize how they are called, so in Ecto's case, it is "Guides". For example, I can't autocomplete for "Getting Started" in Ecto: https://hexdocs.pm/ecto/getting-started.html

And i think both the "Pages" title and the subtitles for each section are already available, we just don't autocomplete them.

[2022-03-23 09:17] josevalim commented on #1520
Closing this for now but if you can crack the code, I would love to see a PR. I tried but failed :) Thanks!

[2022-03-23 09:17] #1520 closed

[2022-03-23 13:37] dustinfarris opened #1538 "weird look in exdoc"
i'm not sure when this changed, but exdoc nav feels off recently
<img width="313" alt="Screen Shot 2022-03-23 at 6 36 54 AM" src="https://user-images.githubusercontent.com/1087165/159712341-c30874c7-3869-4c46-af42-d88893126357.png">

[2022-03-23 13:38] josevalim commented on #1538
Can you expand on what feels off?

[2022-03-23 13:47] dustinfarris commented on #1538
yes, sorry, the drop shadow is having an odd effect on my scroll bar

[2022-03-23 14:00] josevalim commented on #1538
I see! Can you please include OS and browser version then?

And please take a look if it still happens on the latest version, released today. If it does, a pull request is welcome. :) You can see the ExDoc version for Phoenix.LiveView by scrolling to the bottom of the page.

[2022-03-23 14:24] jeregrine commented on #1536
@josevalim I will tinker on this, maybe I can use some iframes to get a basic setup working first.

FOR SOME REASON I thought livebook was doing something like this for all Mix.install'd deps but realizing now it was just the autocomplete.

[2022-03-23 14:33] josevalim commented on #1536
I think no iframes are necessary. You can pass multiple paths for us to generate the docs from. So you can pass the ebin paths of your dependencies and it should generate the docs for everything at once. So all of the infrastructure is likely in place already.

[2022-03-23 16:42] eksperimental opened #1539 "Unable to build Elixir Docs"
Running both up-to-date branches Elixir and ExDoc.

[code]

[2022-03-23 17:17] #1539 closed

[2022-03-23 17:21] eksperimental commented on #1539
It works now. Thank you.

Question: How come CI was passing on Elixir?

[2022-03-24 14:14] eksperimental commented on #1539
I see building docs is part of the release.yml, but not part of the CI.yml.
I wonder whether we should test the building of Elixir Docs, with the master version of ExDoc.
With the introduction of the `--warnings-as-errors` flags in ExDoc we could guarantee that the Elixir Docs are generating no warnings.

[2022-03-24 14:36] josevalim commented on #1539
@eksperimental I like that. Can you please submit a PR?

[2022-03-24 14:42] eksperimental commented on #1539
@josevalim Should we wait until #1412  is merged?
I found a way to exit with an error in Linux, so it could still be done I guess.

[2022-03-24 14:45] josevalim commented on #1539
We can do without #1412 and add the flag later. :) Catching a broken docs build will already be good enough.

[2022-03-24 14:46] eksperimental commented on #1539
So no warning catching for now.
I will submit a PR.

[2022-03-26 19:28] eksperimental opened #1540 "Git tag missing for release v0.28.3"

[2022-03-26 19:39] josevalim commented on #1540
Tks, fixed!

[2022-03-26 19:39] #1540 closed

[2022-03-26 19:52] eksperimental commented on #1539
@josevalim Would it be possible to have a new release that includes this change? I am working to make Elixir build docs automatically based on the latest stable version of ExDoc for building docs (and testing the latest release of ExDoc at the same time) and it is not working because of this bug.

[2022-03-26 19:57] josevalim commented on #1539
I would rather prefer to have Elixir run against master, so we catch bugs earlier. No?

[2022-03-26 19:58] eksperimental commented on #1539
Another thing that we may consider is to add to the CI of ExDoc a test for bulding Elixir documentation

[2022-03-26 20:03] eksperimental commented on #1539
I answered above partially this (as I was writing the previous message your comment popped in)

I think we can:
- [ ExDoc CI ] Build Elixir docs from
- [Elixir Release Github Action] Build Elixir docs for Elixir releases using the latest stable release of ExDoc and this is chosen automatically.
-  [Elixir CI Github Action]  Build Elixir Docs with either ExDoc master or latest stable.

[2022-03-27 07:30] josevalim commented on #1539
I retaged v0.28.3 to include the update bin, so we should be good now!

[2022-03-28 19:31] josevalim commented on #1538
Let me know how it goes. If this is still an issue, please post the versions, browser and stuff, and I will gladly reopen. Thanks!

[2022-03-28 19:31] #1538 closed

[2022-03-28 19:31] josevalim opened #1542 "Move to esbuild"
We will probably need npm still, for handlebars, but it should streamline things considerably.

[2022-03-29 03:45] sigu commented on #1542
I can get started in this, what is the procedure?

[2022-03-29 06:21] josevalim commented on #1542
The next step would be to submit a PR that replaces webpack by esbuild. Please let me know if you have any questions. :)

[2022-03-29 09:04] osbre commented on #1542
Is this a complete webpack removal or adding [esbuild-loader](https://github.com/privatenumber/esbuild-loader) to speed it up?

[2022-03-29 11:11] DavidOliver commented on #1542
@sigu, it sounds like you're taking this, but let me know if not as I'd be happy to have a go in between other bits over the next few days.

@josevalim, I wondered if this would be a good time to remove Less for CSS. I tend to use plain CSS now as browser support for custom properties (variables) is good.

[2022-03-29 12:16] josevalim commented on #1542
Ah, I forgot about less. I think we can definitely consider removing it. Perhaps before moving to esbuild. Do you want to analyze how doable doing so is? Thanks!

[2022-03-29 12:34] DavidOliver commented on #1542
Sure - will do at some point this week hopefully, unless @sigu chooses to look at that part before I get to it. :)

[2022-03-29 12:47] sigu commented on #1542
Hello @DavidOliver I will have a look at how doable it is in the next few hours and share my findings. You can also have a look in parallel

[2022-03-29 13:32] cw789 commented on #1542
Removing less is in my opinion a good idea.

[2022-03-31 09:43] DavidOliver commented on #1542
Hi @sigu. What's the state of play with this your end? I started to have a quick look through the less files and saw that some reworking would be required with regards to nested selectors and content variables. I'd be happy to take a look at handling the switch to plain CSS next week if you'd like?

[2022-04-05 03:02] Eiji7 opened #1544 "Incorrect documentation for callback implementation"
### Environment

[code]
[code]

### Keep documentation metadata in callback

This was fixed only for `iex`, but not for `ex_doc` yet, see:  elixir-lang/elixir#11219

### Setting `@impl` attribute removes documentation

See: elixir-lang/elixir#11741

### Different default callback documentation in `ex_doc` and `iex`

Not sure if `ex_doc` here is just not updated (see documentation metadata section)

[2022-04-05 04:45] josevalim commented on #1544
Closing as the behavior is intentional ler the Elixir issue. :)

[2022-04-05 04:45] #1544 closed

[2022-04-05 13:22] fireproofsocks opened #1545 "Using @impl true masks the spec of the implemented @callback"
When generating documentation using ExDoc, if I have defined a `@callback` and I have a function that implements that callback and is flagged via `@impl true`, my expectation is that the generated docs will list the `@spec` as it was defined in the original `@callback`.  However, the actual behavior is that no `@spec` is included with the generated documentation.  The only way I've found to get a

[2022-04-05 13:29] josevalim commented on #1545
The issue is that the spec from the behaviour may use types that are exclusive to that module. So we can't simply copy the types. We would need to copy and rewrite any local reference. If someone is interested in tackling this, we would accept a PR, but it is not something we have in our roadmap at the moment. Thank you! :)

[2022-04-05 13:29] #1545 closed

[2022-04-05 13:42] wojtekmach commented on #1545
I believe it is particularly problematic with something like:

[code]

The spec we'd automatically get is `@spec foo() :: Behaviour.private()` and I'm not sure if it is allowed to reference private types from outside. I think at the very least ExDoc would warn.

[2022-04-05 14:31] ByeongUkChoi opened #1546 "How to move from documentation page to github repo?"
What do you think about making a button for redirect github?

[2022-04-05 14:41] josevalim commented on #1546
Hi! 👋

What do you mean? A link back to source?

[2022-04-05 15:51] josevalim commented on #1546
We already include a link on every page on the top right and on every function if you configure the relevant source_url. We don’t plan to add more links for now but you can always link yourself in your pages as well, the main moduledoc, and so on. :)

[2022-04-06 09:39] Exadra37 commented on #1544
Hi Jose, you slipped a Portuguese word on your sentence `ler`.

[2022-04-06 09:48] josevalim commented on #1544
Fixed, thanks

[2022-04-09 15:11] LostKobrakai opened #1548 "Proposal: docset formatter"
There are many ways to consume ex_doc generated documentation. One very popular one for mac users is using [dash](https://kapeli.com/dash). Dash does have a built in (but proprietary) integration with hexdocs to pull in (and keep up to date) the documentation for any library published on hex. There's also a windows and linux alternative in [zeal](https://zealdocs.org/), which can also consume the

[2022-04-09 17:18] anthonator opened #1549 "Support <br> in markdown tables"
A common way to handle line breaks in markdown tables is using the `<br>` tag. Right now, `ex_doc` renders `<br>` as a literal string rather than HTML.

**Markdown**
[code]

**GitHub rendering**
| Field                           | Validations        | Constraints |
| ---                             | ---                | ---         |
| `:accepted_privacy_policy_at`   | required           |

[2022-04-09 18:25] josevalim commented on #1549
Please File an issue on the earmark project. Although it’s probably a won’t fix,  Since earmark accepts HTML only at very specific locations.

[2022-04-09 18:25] #1549 closed

[2022-04-09 18:27] josevalim commented on #1548
Unfortunately that would be a big dependency to add to the project. My suggestion is to build it on top of ex_doc Via a custom formatter And let us know of any API You may require.

Thanks for reaching out!

[2022-04-09 18:27] #1548 closed

[2022-04-11 09:13] yordis opened #1550 "[Improvement|Bug?] Multiple README files from multiple directories"
I have the following config

[code]

As you can see they are multiple `README.md` files because I have multiple directories.

When I generate the docs I got the following:

![Screen Shot 2022-04-11 at 5 11 02 AM](https://user-images.githubusercontent.com/4237280/162704210-1f4ecb5f-6129-4c32-9144-6710c4f05036.png)

Notice that multiple things have the `selected` state, and the URL is adding a hash

[2022-04-11 10:07] josevalim commented on #1550
Good find. We automatically build the ID from the path, but we need to guarantee they are unique.

[2022-04-12 13:05] Benjamin-Philip commented on #1550
Can I work on this?

[2022-04-12 13:06] josevalim commented on #1550
Yes please, it will be very appreciated!

[2022-04-12 13:07] #1518 closed

[2022-04-12 15:02] josevalim opened #1551 "Add reference_apps"
The idea is to allow a list of apps to be given. Then we will support autocompleting the modules and functions of additional apps in the autocompletion bar. They can also be searched but only on their name (not their documentation otherwise it may get too expensive).

Once clicked, we will navigate to the page of the module/function in another completely different URL (as we do for regular links).

[2022-04-12 15:14] josevalim commented on #1551
Yes and yes!

[2022-04-14 14:48] eksperimental opened #1552 "Javascript Script libraries' licenses are missing in doc builds"
app-DIGEST.js.LICENSE.txt is missing from doc builds, `dist/app-DIGEST.js` mentions:

[2022-04-16 18:29] #1552 closed

[2022-04-17 13:13] cw789 commented on #1520
Hey guys. First of all this wont be achievable without JS.

The nearest ("best") solution I could imagine.
We could scroll to the first section heading in view. Would do you think?

[code]

Probably also doing a `document.body.scrollHeight`  on the start and end the event and do a no op if it hasn't changed.
So it only will affect the narrow browser window.

Opinions? Is this behavior at all bette

[2022-04-17 13:18] cw789 commented on #1520
The over solution would be to change the sidebar behavior.
Make it slide in only if the page width allows it (extra space given).
Else always make it an overlay, how it currently is done on mobile (real narrow screens).

[2022-04-17 13:47] cw789 opened #1554 "Feature to store sidebare state across reloads"
Is it desired to store the sidebar state in ~~`localStorage` or~~ `sessionStorage`?

For me if I go into my docs "reading mode".
Means I close the sidebar and read page by page using the "Next Page →" link on the bottom of each page.
It is annoying if on every next page the sidebar pops up "opened" again.

I could contribute this feature when the dev environment is ready to be used on latest node

[2022-04-17 13:53] josevalim commented on #1554
This is tricky because it is stored Per Domain and also we don’t want necessarily for a closed side bar to stick when you come back to hexdocs a week later. So my  thought at the moment is no. :)

[2022-04-17 14:13] cw789 commented on #1554
I understand. But if we use `sessionStorage` it would only be valid for your Browser tab session.
Means sidebar would only be still closed if you use the same Browser tab a week later (just hitting the peoples never closing tabs - and finding them a week later again ;).

[2022-04-17 14:15] josevalim commented on #1554
Ah, so that works for me!

[2022-04-17 14:25] cw789 commented on #1554
Fine. Then keep it open.

[2022-04-17 14:29] josevalim commented on #1554
Btw, a PR that bumps to latest node is welcome (i.e. a PR that makes it work for you). Otherwise no one might submit this feature.

[2022-04-17 14:55] cw789 commented on #1554
I know, but first I've tried to get rid of `less` and switch to `esbuild`... Then my time ended.
The setup here has grown quite some complexity.

[2022-04-17 15:03] josevalim commented on #1554
I think it is easier first to just update to latest node, instead of doing a full migration. :)

[2022-04-17 17:06] cw789 commented on #1554
So I've really tried now to update `ex_doc` to be compatible with latest Node.
But I'm sorry I've not managed to be successful.

Doing an immediate update of webpack 4 to webpack 5 to make it work (for now) seems to much energy for now for me.

[2022-04-17 23:02] simonmcconnell commented on #1520
That's all I could think of but wasn't sure if it would be a much better UX. I think treating it like the mobile menu would be better but @josevalim doesn't seem convinced.

[2022-04-18 05:58] cw789 commented on #1520
I'm also not really convinced. I'll keep an eye open for a future good solutions.

[2022-04-18 13:17] eksperimental opened #1555 "ExDoc could potentially wipe out any directory"
While working on improving the `make docs`  command in Elixir, I accidentally discovered this bug that deleted my entire Elixir repo locally loosing all local branches. I don't know if there could be any implication of anybody running ExDoc, but it could potentially wipe out the entire disk in a remote or a local user machine.

When `--output`  is provided to the ex_doc command, and it is empty, i

[2022-04-18 13:30] cw789 commented on #1554
I've spent bit of time again. Downgraded Node to LTS v16 on my machine - no success.
So it's either that the setup does not work on Windows or does not work with latest Node v16 either.

Then I've tried to ditch webpack with esbuild - no success.
The handlebars plubin I've found for esbuild doesn't seem to work.

This is not any critic. This is just a public log what I've already tried.

[2022-04-21 00:38] yordis opened #1558 "[Feature] Add diff highlighting"
### Proposal

Add support for `diff` highlighting

Example:

[code]

#### Notes

Related to https://github.com/elixir-makeup/makeup_diff from https://twitter.com/sorentwo/status/1516873187358879746

[2022-04-21 04:05] simonmcconnell opened #1559 "link in admonition block is too dark"
Hello.  I was perusing the LV docs and noticed the link text in this admonition block was a bit too dark.

![image](https://user-images.githubusercontent.com/22566656/164362705-78f070e5-d08a-4493-8251-ac03d93ef5c8.png)

[2022-04-21 04:15] simonmcconnell commented on #1559
Sorry, this looks like it's already been fixed :)

[2022-04-21 04:15] #1559 closed

[2022-04-21 06:11] josevalim commented on #1558
It should just work if you add that package as a deep in your project.

[2022-04-21 06:11] #1558 closed

[2022-04-21 06:40] josevalim commented on #1558
I have updated the README to mention that how can add them as a dep and it just works.

[2022-04-26 17:35] DavidOliver commented on #1542
I've been away but have now made a start on removing Less.

[2022-04-28 07:04] Nicd opened #1563 "Search should prioritise exact module name match"
When you search for a module and don't click on the autosuggestion but go to the search page instead, the module is not the first result but down the list somewhere. Example: https://hexdocs.pm/elixir/search.html?q=String

Earlier, the String module used to be at the top IIRC, but now it's way down somewhere, even though it's an exact match to the search string. I think such a module should be pri

[2022-04-28 07:08] josevalim commented on #1563
Are you sure? I went back to earlier Elixir versions on hexdocs and I could not reproduce this behaviour. I see what you are mean about going to the exact match but doing so also makes it a bit inconsistent. Today the search option is always first.

[2022-04-28 07:11] Nicd commented on #1563
In Elixir 1.8.0 docs String comes first: https://hexdocs.pm/elixir/1.8.0/search.html?q=String -- But maybe it's a lucky accident.

What do you mean by "search option"? I would expect "String" to be the best match for my search string "String".

[2022-04-28 07:22] #1563 closed

[2022-04-28 07:22] josevalim commented on #1563
Oh, sorry. I got confused. You are literally talking about the search result and I was thinking about the autocomplete. I agree with you.

[2022-04-28 10:20] DavidOliver commented on #1554
Relevant to this, I've started to work my way through the Less files, converting to CSS, and hope to subsequently have a go at moving to esbuild. (#1542)

[2022-05-01 10:52] LostKobrakai commented on #1548
I've a working, but not complete, WIP for building a docset based on just the html files created by ex_doc:

https://github.com/LostKobrakai/doc_supply/blob/d8a49bfbe993659f7f1d508365b889da29d4c291/lib/doc_supply.ex#L12

There's a few potentially brittle parts with building directly on the html output:

* The sqlite db indexing the documentation needs to know a mapping from "type of content to ind

[2022-05-01 13:47] LostKobrakai commented on #1548
Got the actual ex_doc formatter started as well: https://github.com/LostKobrakai/ex_doc_docset

[2022-05-02 16:06] DavidOliver commented on #1542
@josevalim, while I'm going through all the CSS, should I remove styles and assets that were added to support now-out-of-scope(?) browsers such as IE and old versions of current browsers? E.g., removing all font formats except for woff2.

[2022-05-02 16:27] josevalim commented on #1542
Sounds good to me!

[2022-05-03 21:02] fuelen opened #1566 "Text in @deprecated is not processed using Markdown"
The summary is in the title
[code]
![зображення](https://user-images.githubusercontent.com/588762/166565547-afa2a7d5-e4e5-4dee-aab9-1f985b577d92.png)

[2022-05-03 21:10] josevalim commented on #1566
Correct. This text is also show in terminal by the Elixir compiler and so on. So Markdown is not expected.

[2022-05-03 21:10] #1566 closed

[2022-05-04 07:29] fuelen commented on #1566
@josevalim but wouldn't it be better if Markdown is expected? Could you please elaborate why showing this text in terminal by the Elixir compiler is an issue? I thought this is already present in Elixir  :thinking:

Typically, I write `
[code]
and it would be great if link to function is recognized automatically.

[2022-05-04 08:07] josevalim commented on #1566
You should think of the deprecation message as an error message. Elixir standard library won't format markdown in error messages, for example, as it shows those error messages in editors, CLI, etc.

[2022-05-04 18:56] patatoid opened #1568 "About displaying images available in a project"
Hi,

Thanks for the great work done on ex_doc, one of the best documentation tools I ever worked with.

I have incorporated an image in the README of one of my projects, those are displayed in GitHub or GitLab providing the relative path to it. Is there any way to have the same behavior with ex_doc?

Adding the image to the extras in mix.exs configuration raises an error while compiling the docs:

[2022-05-04 19:26] josevalim commented on #1568
Please check the :assets configuration in the docs: https://hexdocs.pm/ex_doc/Mix.Tasks.Docs.html

[2022-05-04 19:26] #1568 closed

[2022-05-07 11:00] moogle19 commented on #1542
@DavidOliver
I played around with the `lessc` command line tool and got a working version with less completly removed (see https://github.com/moogle19/ex_doc/tree/less_less). It didn't produce the most beautiful css but could be a good starting point.

[2022-05-08 18:42] hunterboerner opened #1570 "Tex/LaTeX Support"
TeX or LaTeX support would be greatly helpful when reading the Nx documentation. For example, there is unrendered LaTeX on this page https://hexdocs.pm/nx/intro-to-nx.html#broadcasts. I've used [KaTeX](https://github.com/KaTeX/KaTeX) before and it's worked very well. I have time to implement this if you could give some guidance for where to start.

[2022-05-08 19:43] josevalim commented on #1570
Good find! We do support katex rendering (check the README) but the Nx project was mis-configured. I have fixed that and republished the docs!

[2022-05-08 19:43] #1570 closed

[2022-05-08 20:00] josevalim opened #1571 "Preprocess .livemd documents"
Unfortunately Markdown documents try to escape backslashes. Which means that a Katex formula like this:

[code]

Will appear in the HTML as:

[code]

Which will render the formula without the newline. However, Livebook handles this case correctly. This means that rendering Livebooks as Markdown documents differ within Livebook and using ExDoc.

@jonatanklosko, how hard do you think it would be to

[2022-05-09 08:58] DavidOliver commented on #1542
@moogle19, cool - thanks. Based on a very quick look, my approach is a more manual (and slow!) one, giving attention to each included file, and I'm preserving comments and the specifying of alpha values in the main CSS by separating out h, s, and l values in the custom properties where necessary. I'll carry on in this vein with long-term maintenance in mind, but it's good to see you've got it all

[2022-05-09 12:56] jonatanklosko commented on #1571
In Livebook we handle it by parsing with `parse_inline: false`, however when parsing the document as a whole we are back to a the issues, such as underscore italic in `$x_{1} x_{2}$`.

**What delimiters should we actually use?**

LaTeX standard delimiters for math are `\(` `\)` for inline and `\[` `\]` for display ([ref](https://www.overleaf.com/learn/latex/Errors/Display_math_should_end_with_%24%

[2022-05-19 11:15] eksperimental commented on #1440
Cool!
Same should apply for `?`

[2022-05-19 19:03] eksperimental opened #1572 "Warn on invalid format inside backticks in links"
[old Erlang child specification](`t:supervisor.child_spec()`)

will generate

    <a href="`t:supervisor.child_spec()`">old Erlang child specification</a>

I find myself making this kind of mistakes, and ExDoc not warnings about it.
I think if Exdoc ends up generating a link that starts with a backtick, it should emit a warning.

~Well. Actually i think the format should be supported to avoid this

[2022-05-19 19:04] josevalim commented on #1572
We should warn for invalid syntax indeed.

[2022-05-19 19:32] eksperimental opened #1573 "Warn on missing column when linking to types and callbacks to Erlang docs"
I am missing a `:`

    [Text](`t:supervisor.child_spec()`)

the correct text should be

    [Text](`t::supervisor.child_spec()`)

ExDoc should warn and suggest to use double colon for types and callbacks, if no module named `supervisor` is found locally, and one in Erlang is.

[2022-05-19 19:58] josevalim commented on #1573
This is the same as #1572. It is really invalid syntax. It parsers the first part to a variable, which we can warn on, as there is no valid reason to have backticks inside the link part.

[2022-05-19 19:58] #1573 closed

[2022-05-19 20:04] eksperimental commented on #1572
What I would expect is ExDoc to emit a warning in every case and suggest a solution to correct the problem if possible. ie. to add backticks, to add missing color, to replace arguments with arity

[2022-05-19 20:07] josevalim commented on #1572
I would start with backticks only  and move forward with more warnings if no false positives show up.

[2022-05-19 20:08] eksperimental commented on #1573
As of now, the only way to link to Erlang modules in custom links is with backticks.

[2022-05-19 20:08] wojtekmach commented on #1572
+1 for emitting a warning and NOT generating the link, returning a href with backticks is obviously a bug. Let's ship that and then in the future we can iterate on it, trying to be more helpful.

[2022-05-20 03:35] josevalim commented on #1571
GitHub officially supports `$` and `$$`, so we can likely request the same for Earmark: https://github.blog/2022-05-19-math-support-in-markdown/

[2022-05-20 23:05] eksperimental commented on #1079
Is this feature no longer supported?

[2022-05-21 04:16] wojtekmach commented on #1079
I don’t think it was on purpose but it probably got nixed on auto linking rewrite a couple years ago. Unless there really was a reason not to, I think we can support it again.

[2022-05-25 04:26] starbelly opened #1575 "Error processing erlang source when function is called record"
An issue was reported on rebar3_ex_doc (https://github.com/starbelly/rebar3_ex_doc/issues/26). Specifically if a function is called record and more specifically has an accompanying spec an edge is hit. I came up with a quick fix (as seen in the issue), but this is probably not a good approach (i.e., may cause other issues).

We specifically hit here : https://github.com/elixir-lang/ex_doc/blob/935

[2022-05-25 06:39] wojtekmach commented on #1575
Please send a PR!

[2022-06-04 15:32] mickel8 opened #1577 "Add more colors for easier navigation"
Sometimes it's pretty hard for me to navigate through the docs as almost everything is white. Functions, Callbacks, Types, everything in the sidebar looks the same.

What about introducing more colors, something that Rust already does in their documentation.

E.g.

![image](https://user-images.githubusercontent.com/24651552/172012415-dedd3bf5-21f9-4d3c-a617-8991dbc19b97.png)

[2022-06-04 15:51] josevalim commented on #1577
Hi @mickel8! Can you please provide an example (and/or links) of where Rust uses different colors in the sidebar to help with navigation?

[2022-06-04 16:08] mickel8 commented on #1577
I messed it up, actually they don't do this in the sidebar but in some kind of summary e.g. https://doc.rust-lang.org/std/future/index.html. Things in the sidebar are blue but in the summary, Traits, Structs, Macros have their own colors.

This would correspond to `Summary` section in Elixir docs. I mean this section https://hexdocs.pm/elixir/1.13.4/Regex.html#summary

[2022-06-04 16:21] josevalim commented on #1577
Oh, it seems they are consistent and separate constructs always appear within those colors in headers and summary (except for the sidebar).

I am not sure how impactful this change would be for Elixir. As a typed language, types are much more pervasive in Rust than Elixir, so you see stuff like `pub fn pending<T>() -> Pending<T>` where `pending` is a function and `Pending` is a type, but those don

[2022-06-04 16:21] #1577 closed

[2022-06-15 14:39] epinault opened #1578 "Index @ in search"
so I was looking for this https://hexdocs.pm/mix/search.html?q=%40requirements but it would not find anything  .

What I was really after is figure out https://hexdocs.pm/mix/Mix.Task.html#module-attributes

and event without the @ sign It was difficult to find. Maybe we can help the search to be better around this?

[2022-06-15 15:47] epinault commented on #1578
I ll see if I can carve time to figure it out

[2022-06-25 16:40] #1578 closed

[2022-06-27 22:40] BartOtten opened #1582 "Mix tasks with flags are not linked"
While writing the [README for Phoenix Localized Links](https://github.com/BartOtten/phoenix_localized_routes/blob/main/README.md) I noticed that ExDocs does not link to a Mix task when it includes a flag.

**Software versions**
* Elixir 1.13.3 (compiled with Erlang/OTP 24)
* ex_doc 0.28.4 (Hex package) (mix)

**Working**
Run `mix gettext.extract` links to https://hexdocs.pm/gettext/Mix.Tasks.Gette

[2022-06-27 23:52] wojtekmach commented on #1582
We would not autolink these either:

[code]

and the idea is we try to keep things simple, not adding special cases. There is always an wscape hatch which is creating a custom link: `` [`mid foo --bar`](`mix foo`) ``.

Id personally be open to include these and your example but I know José wanted to keep it limited.

[2022-06-28 06:55] josevalim commented on #1582
As Wojtek said. :)

[2022-06-28 06:55] #1582 closed

[2022-06-29 07:41] fuelen opened #1584 "Autolink mix tasks with args"
I noticed, that
[code]
 is automatically linked, but
[code]
isn't.
I suggest ignoring arguments and apply autolink to such commands too.

[2022-06-29 07:43] josevalim commented on #1584
See #1582. :)

[2022-06-29 07:43] #1584 closed

[2022-07-15 13:59] DavidOliver commented on #1542
Sorry for the long delay. I've since moved, and I'm hoping to be in a position to resume work on projects at some point next week.

[2022-07-19 11:14] moogle19 opened #1585 "Wrong color for heading in admonition in dark mode"
If using markdown headings (`#`) in an admonition, the heading color is white in dark mode, which isn't really readable.

<img width="856" alt="Screenshot 2022-07-19 at 13 05 32" src="https://user-images.githubusercontent.com/792046/179737188-4ae6dda0-6658-4d44-a97a-14b9d324aae9.png">

[2022-07-19 11:43] josevalim commented on #1585
Can you please give us a link? What is the ExDoc version? A PR is also welcome. :)

[2022-07-19 11:49] josevalim commented on #1585
https://github.com/phoenixframework/phoenix/pull/4889/files#r924399203

[2022-07-19 11:49] #1585 closed

[2022-07-19 13:28] eksperimental commented on #1079
I am needing this function as docs are becoming unnecessarily verbose. Should I create an issue so we don't forget about it?

[2022-07-21 03:43] btkostner opened #1586 "ex_doc extensions / library generated documentation"
## What

This is an idea to allow library modules to generate documentation in ex_doc. Ideally this would be used for documenting things that don't follow Elixir modules, have a better way to organize, and would be tedious to hand write, like http routes. I don't have an exact API (I think the community can collectively make a better one), but see the [Example](#Example) section for my thoughts.

[2022-07-21 07:10] josevalim commented on #1586
Hi @btkostner, this is something we want to tackle in the long term, we already have a limited support via formatters, but we are not ready yet because the internals are changing, especially as we add other languages. I think once things estabilizes and we release v1.0, we will be ready to tackle this. Thank you!

[2022-07-21 07:10] #1586 closed

[2022-08-12 13:33] tcoopman opened #1588 "Search doesn't find `phx-update`"
Searching for: `phx-update` on https://hexdocs.pm/phoenix_live_view results in no direct result. As you can see in the screenshot below, it first searches for `update` variations and then for `phx` but not for `phx-update`. The page I was looking for (found via google):
https://hexdocs.pm/phoenix_live_view/dom-patching.html is really far down.

Searching for: `"phx-update"` (with `"`) or `phxupdat

[2022-08-12 14:07] josevalim commented on #1588
It may be we are not indexing `-`, changing it should address it. A PR is welcome.

[2022-08-12 15:14] tcoopman commented on #1588
I might give it a go, but I'm not familiar with the codebase and `lunr`. Reading through some of the issues though it should be working already in the current version of `lunr`. Anyway, I'll try to take a look at it next week.

[2022-08-16 10:31] #1588 closed

[2022-08-17 21:37] DavidOliver commented on #1542
I've now picked this up again, and have rebased and incorporated the improvements to dark mode made since I started removing Less. I'll continue working my way through the remaining Less files.

(Sorry again!)

[2022-08-18 13:45] Eiji7 commented on #755
@josevalim Looks like exactly same happen for `@macrocallback`. What's interesting there was a test for `term()` as first argument for this case, but I think it's inconsistent with `defmacro`. WDYT?

[2022-08-18 18:43] Eiji7 opened #1591 "Extra whitespace characters caused by different line values in signature meta"
I found another inconsistent behaviour. This time it's in code for generating signatures.

It's possible to reproduce problem when using 2 or more (see `to_var/2` function quoted below):
1. Structs, for example: `%Date{}`
2. Type names, for example: `integer` or `integer()`
3. Remote types, for example `String.t` or `String.t()`

together with a case when for example `mix format` expands said sign

[2022-08-18 20:18] #1591 closed

[2022-08-20 07:59] josevalim commented on #1536
See #1593.

[2022-08-20 07:59] #1536 closed

[2022-08-23 22:24] DavidOliver commented on #1542
Initial run-through mostly complete. I'm now reworking how custom properties are used and tweaking some selector blocks in order to cut down on highly repetitive selector rules and to avoid the need to redefine colours in the 'night' files.

E.g., we can define most colour custom properties for light and dark upfront as follows:

[code]

Then we only need to set most color properties once:

[code]

[2022-08-24 21:09] jaminthorns opened #1594 "Regression in search result highlighting"
I recently used a library that hasn't had a release in a while and has its documentation published with an older version of ExDoc (v0.19.1). I noticed that the old search functionality highlights the parts of a function name that match the search query. Since then, full text search has been added. In newer versions of ExDoc, the matches within documentation are highlighted, but the matches in the

[2022-08-24 21:23] josevalim commented on #1594
The change was intentional because the highlighting would make it harder to read the context.

my understanding is that search engines don’t highlight titles either, so we plan to keep it as is. Thanks!

[2022-08-24 21:23] #1594 closed

[2022-09-02 21:04] DavidOliver commented on #1542
PR to remove Less CSS submitted. I can also have a go at moving to esbuild, but I thought I should get the removal of Less CSS in before any more styling changes are made if possible. :)

[2022-09-08 17:25] DavidOliver commented on #1542
Status update: the main/basic build using esbuild is working. :partying_face:

Handlebars was the biggest issue; I worked around not being able to get either of the available loaders to work by setting up precompilation of the templates, which I think in theory saves some processing power in the browser.

I'm yet to check that things like the optional logo and extra assets are working, but will do

[2022-09-08 17:56] josevalim commented on #1542
Please don't, I will do it right after :) Thank you! :heart:

[2022-09-09 13:24] lubien opened #1604 "Search does not escape "%" and raises InvalidSecurity error"
This was originally pointed out on Elixir lang's #phoenix channel on Slack

https://user-images.githubusercontent.com/9121359/189359900-07e394b1-042d-4ad1-96b3-9eafb6e64a9a.mov

I could not find a similar issue and seems a very minor concern

Apparently as long as you write "%" it errors

[2022-09-15 15:30] #1542 closed

[2022-09-16 12:34] cw789 opened #1607 "Static hosting of google fonts"
ExDoc states:

- Generates HTML documentation accessible online and offline

Yes it is offline usable but not that pretty without the fonts.

The other thing about using google fonts is the GDPR topic in some European countries - if you host our ExDoc docs in those countries.
At least in Germany it is problematic - in Austria it's currently also a topic.

Are we open to add the fonts directly to t

[2022-09-16 14:24] josevalim commented on #1607
Closing in favor of PR.

[2022-09-16 14:24] #1607 closed, assigned to nobody

[2022-09-16 14:27] #1554 closed

[2022-09-18 12:20] shahryarjb opened #1610 "`no_tool` can never match in `ExDoc.Language.Elixir` module"
Hi, Thank you for all your efforts in advance.

I see some warning about not matching in `case` conditions

https://github.com/elixir-lang/ex_doc/blob/main/lib/ex_doc/language/elixir.ex#L838-L848

In top code, we never match with `no_tool` because it is not returned `no_tool` to the function which is called

### `ExDoc.Autolink`

[code]

It reruns `:ex_doc`  and ` :otp`

and The other is in `lib/e

[2022-09-18 12:26] josevalim commented on #1610
Yes, that branch exists in case fetch_docs changes in the future and starts returning something like docs_v2. It cannot match today but it is there in case things change in the future. :)

Thanks!

[2022-09-18 12:26] #1610 closed

[2022-10-02 16:25] eksperimental opened #1614 "Include signatures in sidebar items"
I think it will improve the user experience to include the function signature for every function, type, guard, callback, etc in the side bar.

This could be added to the `title` attribute in the anchor element, and it would look like this when you hover it:

![image](https://user-images.githubusercontent.com/9133420/193464878-db5e20f4-cfec-43fd-aae5-e65f63b4e4cf.png)

The only drawback is that it

[2022-10-02 16:28] eksperimental commented on #1614
The use case is that many times there are functions with same name but different arities and it you don't know which one to choose because you don't know what these arguments are. Other times, you only need to know the order of the arguments, so you don't even need to leave the current page, as  this feature can also be implemented in the search suggestions in the sidebar.

[2022-10-02 16:34] josevalim commented on #1614
Yes, agreed. A pull request would be appreciated!

[2022-10-02 16:41] eksperimental commented on #1614
Anyone willing to contribute, please grab the issue.
If not I will eventually contribute a PR.
Cheers

[2022-10-04 23:44] the-mikedavis commented on #1333
Support for Erlang Extras would also be useful.

Currently there's a TODO for not hard-coding as Elixir: https://github.com/elixir-lang/ex_doc/blob/6ad3fdd375a91f2e9bc9c566b8cae1cbb9d1001b/lib/ex_doc/formatter/html.ex#L387-L388

If the language is not passed through, auto-link doesn't work for functions written with Erlang syntax, like [here in the Telemetry README](https://github.com/beam-telemet

[2022-10-05 06:52] josevalim commented on #1333
PRs welcome! Let’s use ExDoc syntax but using Erlang notation. :)

[2022-10-27 07:29] #1575 closed

[2022-10-28 20:47] vinibrsl commented on #1604
I could not reproduce this locally with `mix build`. I'm guessing this is related to hexdocs.pm's web server?

[2022-11-08 20:43] philosophy-is-poison commented on #1498
Hello, could you please tell me the name of the color scheme that is used in https://hexdocs.pm/elixir/Kernel.html to highlight the code

[2022-11-09 08:44] sanks64 commented on #1498
This issue is not the right place to ask, but it's Monokai

[2022-11-09 13:03] philosophy-is-poison commented on #1498
Excuse me, please. You are absolutely right. That was awkward.

[2022-11-29 11:09] eproxus opened #1635 "Multiple markdown images with links are not parsed correctly"
When using markdown images with links, `ex_doc` incorrectly parses them when they are in one paragraph.

## Input

[code]

Full example: https://github.com/eproxus/unite/blob/v0.4.0/README.md

## Result

<img width="852" alt="Screenshot 2022-11-29 at 12 04 55" src="https://user-images.githubusercontent.com/112878/204513068-2995c4c2-3261-44c0-9d71-d6bc25267c69.png">

### HTML

[code]

## Expected

[2022-11-29 11:45] stefanchrobot opened #1636 "Suggestions for UX improvements"
Hey, I'm opening this issue to suggest some user experience improvements for ExDoc. Not an UX expert, so some of these things are definitely up for discussion.

### 1. Delay on quick search

Typing "/string" to quick search for "string" doesn't work - some initial characters are eaten up. This might be due to the animation or throttling. Either way, this is pretty annoying.

![quick-search](https:

[2022-11-29 13:50] josevalim commented on #1635
Can you please file a bug report on Earmark if none has been filled yet?

[2022-11-29 13:51] josevalim commented on #1635
To clarify, the Markdown handling and parsing is done in Earmark.

[2022-11-29 16:28] josevalim commented on #1636
Thank you. I have read through and I agree PRs to fix all suggestions are welcome.

And yes, not sure if there is a fix for 5. :)

[2022-11-30 07:15] RobertDober commented on #1635
I will take care of myself because it goes into EarmarkParser, ex_doc does  not use EarmarkParser anymore

This issue is strangely familiar....

[2022-11-30 07:20] josevalim commented on #1635
Closing this here as @RobertDober is tracking it.

btw @RobertDober, you should be able to transfer the issue between repos that you own with a link on the sidebar in the right!

[2022-11-30 07:26] RobertDober commented on #1635
@eproxus I understand why you use the _delayed url definition form_ of the links and images and I will eventually fix the bug. However this might not be possible this year, as a workaround you could use the inline definition which works fine.

[code]

as can be confirmed at hex.pm 😉