[2012-04-26 08:11] josevalim opened #1 "Add search"

[2012-04-26 08:12] josevalim opened #2 "Add hierarchy to the navigation pane"
For example, List.Chars should be visible at:

[code]

[2012-04-26 08:13] josevalim opened #3 "Documentation should generate links to the source"
At the end of each method, we can add a link "view source" that points to a given URL. This URL is optional, that said, we should support projects where view source will be enabled or not.

[2012-04-26 08:14] josevalim opened #4 "Add special notation to defrecord"
We should detect if a module is a defrecord and use a special notation for it.

[2012-04-26 08:14] josevalim opened #5 "Add special notation to defprotocol and defimpl"
We should detect if a module is a defprotocol or defimpl and use a special notation for it.

[2012-04-26 08:14] josevalim opened #6 "Add special notation to defexception"
We should detect if a module is a defrecord and use a special notation for it.

[2012-04-26 08:15] josevalim opened #7 "Autolinking"
We should inspect the documentation source and provide autolinking. For example, if we mention a function as `function/2`, we should automatically add a documentation link for it. The same for external functions as `External.function/2`.

[2012-04-26 08:16] josevalim opened #8 "Discuss an API for developers to use their custom layouts"
We need to discuss more about this before going forward.

[2012-04-26 08:19] josevalim opened #9 "Discuss how we should handle default values"
Today, functions can have default values, as in:

[code]

But Elixir does not leak this information. This means we can't know if a given function was generated from a default clause and we need to fix that first in Elixir and then port the features here.

[2012-05-03 19:32] rafaelfranca opened #15 "Exdoc should receive options from command line"

[2012-05-03 19:32] rafaelfranca opened #16 "Define a way to configure exdoc in the projects"

[2012-05-04 20:53] #1 closed, assigned to nobody

[2012-05-04 20:53] #2 closed, assigned to nobody

[2012-05-04 20:53] #3 closed, assigned to nobody

[2012-05-04 20:54] josevalim opened #17 "ExDoc should work with other projects besides Elixir"

[2012-05-05 09:59] #4 closed, assigned to nobody

[2012-05-05 09:59] #5 closed, assigned to nobody

[2012-05-05 09:59] #6 closed, assigned to nobody

[2012-05-23 19:13] josevalim opened #20 "Docs shouldn't be generated for protocol implementations"
Go to http://elixir-lang.org/docs/ and type size in the search box. You'll get one entry for the Dict protocol's function and one docless entry for each implementation. Docs won't be written for implementations (in general) so we should probably make @doc false a default for them.

Original report here: https://github.com/elixir-lang/elixir/issues/293

[2012-07-10 15:55] #9 closed, assigned to nobody

[2012-07-26 16:40] josevalim opened #21 "Functions defined by protocols have odd naming"
Check any function defined by protocols, their signature contains xA, xB and so forth.

[2012-09-12 09:05] josevalim opened #24 "Callbacks should have a proper section too"

[2012-09-12 09:37] #20 closed, assigned to nobody

[2012-09-12 09:37] #21 closed, assigned to nobody

[2012-09-12 11:06] #24 closed, assigned to nobody

[2012-09-29 11:14] yrashk opened #25 "publish package.exs"
:)

[2012-12-07 05:06] alexrp opened #27 "Module list should be consistent"
Right now, e.g. `GenServer.Behaviour` shows up with its full module name in the module list. This is of course because there's no `GenServer` parent module, but the behavior is rather confusing to someone not in the know; it gives the impression that other modules don't have submodules (e.g. `Kernel.SpecialForms` isn't in the list). With the current behavior, submodules also aren't very discoverab

[2013-02-19 19:04] #8 closed, assigned to nobody

[2013-02-19 19:04] #15 closed, assigned to nobody

[2013-02-19 19:04] #17 closed, assigned to nobody

[2013-02-19 19:04] #25 closed, assigned to nobody

[2013-04-24 17:11] #16 closed, assigned to nobody

[2013-04-29 17:24] jdeisenberg opened #31 "Build problem on Ubuntu"
Attempting to do a mix compile, and get this:

[code]

gcc -version gives me this:

[code]

[2013-05-08 16:12] alco opened #32 "Broken source links in the docs"
We need to have **source** links in the stable docs point to a frozen commit/tag. Currently, this is what the source link of `Enum.map` points to in both master and stable docs -- https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/enum.ex#L554

[2013-05-15 11:01] mururu opened #34 "Build fail on MacOSX"
I build according to "Using ExDoc via command line" in README and I get the following error message.

[code]

I use Max OS X 10.7.4, Erlang R16B and Elixir master branch.

iex info

[code]

gcc info

[code]

[2013-05-24 02:33] jeremyjh opened #37 "Include @specs in Documentation?"
Hi, is it possible to include any @specs in the docs ? If its possible and you'd consider a PR could you give me a hint of how it might be done? I can't see how to get them out of __ info __  or otherwise retrieve the @specs and @types for a module.

[2013-05-31 21:16] kitofr opened #38 "Missing file?"
Hey, I'm trying to create some docs here.

Seems like ex_docs are looking for a file that can't be found. Did we loose it somewhere along the line, or should I have it from somewhere else?

$ mix docs

=ERROR REPORT==== 31-May-2013::23:14:38 ===
Error in process <0.79.0> with exit value: {{badmatch,{error,{load_failed,"Failed to load NIF library: '/home/kitofr/code/elixir/issues/deps/ex_doc/share/

[2013-06-03 18:34] #38 closed, assigned to nobody

[2013-06-13 15:00] pragdave opened #41 "Ubuntu Build Problem"
This may be related to #31

I had a report in the book errata page:

[code]

[2013-06-17 06:15] #31 closed, assigned to nobody

[2013-06-17 06:15] #41 closed, assigned to nobody

[2013-06-17 06:16] #34 closed, assigned to nobody

[2013-06-17 11:07] #32 closed, assigned to nobody

[2013-07-01 13:47] AlbertMoscow opened #44 "Can't compile ExDoc on Windows"
tovmasyan@input255 ~/ex_doc
$ mix test
src/markdown.c:1:0: error: -fPIC ignored for target (all code is position indepe
ndent) [-Werror]
cc1.exe: all warnings being treated as errors
make[1]: **\* [src/markdown.o] Error 1
make: **\* [sundown/libsundown.so] Error 2
cd sundown && make
make[1]: Entering directory `/u/ex_doc/sundown'
gcc -c -g -O3 -fPIC -Wall -Werror -Wsign-compare -Isrc -Ihtml   -c -

[2013-07-06 22:29] cheeyeo opened #45 "Can't generate documentation on OS X Lion"
Crashes with the following error:

[code]

[2013-07-30 07:27] josevalim opened #54 "Issues in the current implementation"
The current implementation of ExDoc contains a series of issues, I would like to fix in the long term. The most prominent consequence of those issues is the difficulty in testing, either because the APIs are not well exposed or because the different modules are too coupled. The main issues are:
1. ExDoc as the main driver for logic. Initially we have thought about having ExDoc driving the main log

[2013-08-16 08:55] #45 closed, assigned to nobody

[2013-08-17 06:59] josevalim opened #60 "Do not show the drop down if the item has no children"
For example, `EEx.AssignsEngine` has no children but it still has the "drop down icon": http://elixir-lang.org/docs/master/

[2013-08-18 18:10] #60 closed, assigned to nobody

[2013-08-18 18:10] #27 closed, assigned to nobody

[2013-08-19 07:29] #54 closed, assigned to nobody

[2013-08-19 07:29] #37 closed, assigned to nobody

[2013-08-19 13:49] josevalim opened #64 "Now that we no longer nest modules, find a good mechanism to print protocol implementations"

[2013-08-19 18:21] #7 closed, assigned to nobody

[2013-08-19 18:21] josevalim opened #65 "Autolinking for external functions"
We should be able to generate autolinks to external functions in modules that belong to the same project.

[2013-08-19 18:22] josevalim opened #66 "Autolinking for external types"
We should be able to generate autolinks for types in modules of the same project. /cc @pminten

[2013-08-20 07:42] pminten opened #67 "Linking of nested types doesn't allow selecting inner type"
[code]

Creating documentation for this yields a `t()` `foo()` type with a link to `foo()`. It doesn't have a  link to `String.t()`.

[2013-08-20 09:33] #67 closed, assigned to nobody

[2013-08-20 12:57] #66 closed, assigned to nobody

[2013-08-20 12:58] josevalim opened #68 "Remove fixtures in favor of defining modules in the test cases"

[2013-08-31 13:19] pminten opened #75 "Adding user's guides"
We'd like to be able to add user's guides to our documentation, like Erlang has.

The current plan is to allow passing a list of markdown files to ex_doc which will be used as the user's guide. Directories can be passed as well, those are expanded to the files in them (alphabetically).

[2013-09-30 21:31] ericmj opened #80 "Source links doesnt point to source_url"
The source links here: http://elixir-lang.org/docs/ecto/ points to the current page instead of the github repo. Seems to be because the href attribute is empty.

[2013-10-07 18:55] #80 closed, assigned to nobody

[2013-10-11 18:56] ericmj opened #87 "Discern between exceptions and records"
Discuss!

[2013-10-12 08:30] #65 closed, assigned to nobody

[2013-10-12 15:21] jwarwick opened #89 "Autolink erlang functions"
Autolink erlang functions in the docs (of the form `:module.fun/arity`) to the erlang manual pages.

I've almost got a working version of this and will submit a PR soon.

[2013-10-16 12:44] 0xAX opened #90 "mix docs error"
Hello,

Tried to build docs with `mix docs` but getting error:

[code]

Any ideas?

[2013-10-18 08:58] #90 closed, assigned to nobody

[2013-10-21 20:09] morero opened #94 "Problems compiling ex_doc"
$ mix -v
Elixir 0.10.4-dev

/projects/ex_doc$ mix compile
*\* (ArgumentError) argument error
    :io.put_chars(#PID<0.24.0>, :unicode, [<<109, 97, 107, 101, 58, 32, 34, 112, 114, 105, 118, 47, 109, 97, 114, 107, 100, 111, 119, 110, 46, 115, 111, 34, 32, 228, 114, 32, 102, 228, 114, 115, 107, 46, 10>>, 10])
    /projects/elixir/lib/mix/lib/mix/tasks/compile.ex:78: Mix.Tasks.Compile."-run/1-fun-2-"/

[2013-10-22 06:13] #94 closed, assigned to nobody

[2013-11-07 09:38] reset opened #96 "Umbrella project support"
Placing the ExDoc dependency in the `mix.exs` file at the root of an umbrella project and running `mix docs` does not generate documentation for each application found within your `apps` directory.

It would be awesome to be able to manipulate documentation at the umbrella level!

[2013-11-15 07:37] #96 closed, assigned to nobody

[2013-12-02 02:05] vanstee opened #103 "Support syntax highlighting in examples"
It would be super nice to have syntax highlighting for all of the code examples in the documentation. I'm guessing this might be a decent bit of work if we can't depend on something like [pygments.org](http://pygments.org/).

[2013-12-08 02:49] #89 closed, assigned to nobody

[2013-12-09 09:13] josevalim opened #105 "Provide a docs.all task"
The idea of the docs.all task is to go through all dependencies in a project and generate their documentation inside `docs/PROJECT`. Then generate an index file with links to each project and put it in `docs/index.html`. This way, developers will have easy access to the documentation of all dependencies in a given project.

In order for this to work, we should also change the default target of the

[2013-12-09 10:06] josevalim opened #106 "Allow types auto-linking"
What if we auto-link `t:acc/0` to types in the current module and `t:Foo.acc/0` to types in another modules?

/cc @jwarwick @pminten @ericmj

[2013-12-12 21:36] jwarwick opened #107 "Kernel.++/2 doesn't autolink"
`Kernel.++/2` doesn't appear to auto-link in the docs. Probably need to update the regex for discovering functions. Should also validate other special forms.

[2013-12-27 14:42] ericmj opened #110 "Do not link to undocumented types"
Here: http://elixir-lang.org/docs/master/Version.html we link to the types `Version.Schema.t` and `Version.Requirement.t`. The types are not documented which is creating 404 links.

We should make sure we are not creating 404 links and we could warn that we are referencing a type that is not documented.

[2013-12-31 02:50] #107 closed, assigned to nobody

[2014-02-14 17:15] myers opened #116 "Create custom mix task that will create/checkout gh-pages branch, generate, then push"
I think it would be a good idea to make publishing docs as quickly as possible.  With github project pages we can publish static html quickly.

I would like to create a mix task named docs.publish or docs.gh-pages that would

1) verify we are in a git repo
2) either create or checkout an orphan branch named gh-pages in a directory called "docs"
3) run "mix docs"
4) push that branch to github

I'm

[2014-02-14 17:19] #116 closed, assigned to nobody

[2014-04-04 01:53] jwarwick opened #120 "Behaviour signatures removed from Elixir?"
In elixir-lang/elixir@d33463dcd5e36b4c5f8190dbd69d4f34cf757e36, @josevalim removed the signature info from the `Behaviour` docs. This is generating a match error in `ExDoc.Retriever.get_callback/4`, where we use the signature information in the `ExDoc.FunctionNode`. Does this information live some other place in the beam file? Or is there a better way to capture it for the docs?

[2014-04-28 02:28] lowks opened #122 "How do you compile ex_doc with Elixir-0.13.0 ?"
How do you compile ex_doc with Elixir-0.13.0 ? The latest release on Elixir is 0.13.0 but then the Elixir asked for in ex_doc's mix.exs is 0.13.1-dev ?

[2014-04-28 04:45] #122 closed, assigned to nobody

[2014-05-05 22:26] alco opened #123 "Wrong instructions for CLI usage"
A weird thing happened. I clearly remember changing the README [here](https://github.com/elixir-lang/ex_doc/commit/d0d36fa6043c3b18e018c6bf20021cc155f0d3da) because I was able to generate docs for a project that way. And it corresponds with the usage docstring.

Today I was getting this error on two different projects – https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/retriever.ex#L53-

[2014-05-06 08:55] #123 closed, assigned to nobody

[2014-05-06 08:56] #87 closed, assigned to nobody

[2014-05-06 08:56] #105 closed, assigned to nobody

[2014-05-06 08:56] #106 closed, assigned to nobody

[2014-05-06 08:56] #120 closed, assigned to nobody

[2014-05-24 11:28] #64 closed, assigned to nobody

[2014-05-24 11:29] #68 closed, assigned to nobody

[2014-05-24 11:34] josevalim opened #126 "Update to Elixir v0.14.0"
We need to upgrade to Elixir v0.14.0-dev:
- [x] v0.14.0 no longer supports `module.__info__(:docs)`. Instead `Code.get_docs(module, :all)` should be used
- [x] There are no longer records in v0.14.0-dev. We should remove support for records in ExDoc and instead check if the module defines a `__struct__` function. If such function is defined and its documentation is not set to false, we are going t

[2014-05-26 02:59] smpallen99 opened #128 "Does not compile with Elixir v0.13.2"
Is there a reason why ex_doc is not versioned? I'm getting build errors. I suppose I'll have to fork and roll back changes to get a version to compile. Any other suggestions?

Thanks

[2014-05-26 07:50] #128 closed, assigned to nobody

[2014-06-10 18:13] #126 closed, assigned to nobody

[2014-06-18 10:09] #44 closed, assigned to nobody

[2014-06-22 10:18] josevalim opened #136 "Enable pandoc build on travis-ci"
@alco do you know an easy way to get pandoc up and running on travis?

[2014-06-22 13:01] #136 closed, assigned to nobody

[2014-07-18 14:15] eraserewind opened #144 "Earmark.Options.__struct__/0 is undefined, cannot expand struct Earmark.Options"
Hi,

[code]

Mix lock for ex_doc: `"ex_doc": {:git, "git://github.com/elixir-lang/ex_doc.git", "3ea24c19e759ab6b676cd77501d0112755eb5d19", []},`

Elixir 0.14.3.

[2014-07-18 14:45] #144 closed, assigned to nobody

[2014-08-15 22:17] alexrp opened #146 "ANSI coloring needs updating for 0.15.1"
[code]

[2014-08-16 12:45] alco opened #147 "Table rendering is broken for Elixir docs"
http://elixir-lang.org/docs/master/elixir/Kernel.Typespec.html

See the Built-in Types table. Fragments:

[code]

etc.

[2014-08-16 21:12] #146 closed, assigned to nobody

[2014-08-17 20:56] wkhere opened #148 "not using CamelCase for a frame in index"
Real world example: my toplevel module is called WebAssembly, the htmls generated have proper names in CamelCase, but the `index.html` contains reference:

[code]

To reproduce: grab [WebAssembly](https://github.com/herenowcoder/webassembly), run mix docs and see `docs/index.html`.

Note it is possible _you don't see the problem in browsers on your Macs_ because HFS is still by default case-insens

[2014-08-18 07:48] alexrp opened #149 "Dependency tracking?"
It seems that ExDoc doesn't do any actual dependency tracking. Whenever I invoke `mix docs` it seems to always regenerate *all* of the documentation.

This is a bit inconvenient if you have an alias that's supposed to build everything, e.g. `make: ["deps.get", "deps.compile", "compile", "docs"]`, because that last `docs` step will always take a couple of seconds even if it doesn't need to do anyth

[2014-08-20 22:53] #148 closed, assigned to nobody

[2014-08-25 13:38] Dignifiedquire opened #150 "Design Refresh"
I really enjoy the integration of elixir, with the automated documentation generator but felt myself wishing for a more up to date design of this documentation. So I opened up Photoshop and started designing. This is what I've come up with so far, I would love some feedback on this before moving onto the details and implementation.

A few things should be noted, this design expects the removal of

[2014-08-27 04:05] alexrp opened #151 "Why isn't there a struct list?"
It seems strange that we have a list of exceptions but not a list of structs. Both are essentially the same thing under the hood, so why not have a struct list?

[2014-08-27 14:19] #151 closed, assigned to nobody

[2014-10-14 18:11] #147 closed, assigned to nobody

[2014-10-14 18:11] josevalim opened #158 "README is no auto linking modules"
If you open up plug docs, we have a bunch of modules in the REDME but they are not being auto linked: http://hexdocs.pm/plug/0.8.1/README.html

[2014-10-16 09:19] #158 closed, assigned to nobody

[2014-10-19 10:52] eksperimental opened #163 "Semantics: Restructuring of the heading tree"
Take for example the Doc page for the [Agent Module](http://elixir-lang.org/docs/stable/elixir/Agent.html)

**Current structure:**

[code]

**Proposed structure:**

[code]

_The proposed changes should not required any change in the way of writing the documentation, it will only require modifications on ex_doc_

What I am not sure of is if subheading under H1, like Example under Agent, should be h

[2014-11-11 23:46] ScrimpyCat opened #164 "Macro specs"
I was wondering if macro specs were meant to be stripped from the generated documentation or not? Since I think specs for macros are still useful for documentation purposes.

I'm specifically referring to https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/retriever.ex#L151
Since it's looking up the specs for the function with name and arity, however macro specs are prefixed with `MACRO-`

[2014-11-14 06:47] #163 closed, assigned to nobody

[2014-12-09 19:03] ericmj opened #169 "Link to hexdocs.pm for references to dependencies' modules and functions"
1. Should the link be to the mix.lock version or the latest version (http://hexdocs.pm/plug/Plug.Conn.html vs http://hexdocs.pm/plug/0.8.4/Plug.Conn.html)?
2. Should we always assume that an Elixir dependency has published docs on hexdocs.pm or should we query first?

/cc @josevalim @tonini @chrismccord

[2014-12-19 08:20] eksperimental opened #172 "hightlight-js is inconsistent identifying IEX and Elixir code"
/cc @tonini
hightlight-js is inconsistent identifying IEX and Elixir code. Sometimes it identifies it as elixir, and other times as erlang when it's an IEX snippet.

Output from my browser inspector in Kernel.SpecialForms.html
    <code class="hljs elixir">
      iex&gt; map = %{<span class="hljs-symbol">a:</span> <span class="hljs-symbol">:b</span>}
      iex&gt; map.a
      <span class="hljs-sym

[2014-12-19 08:23] eksperimental opened #173 "Always provide uncompressed/original version of libraries, to facilitate debugging."
_I came across this issue trying to debug #172_
It's kind of hard to know what compressed into, specially when it's a customized version of the library, like in the case of highlight-js. So I think it's advisable to also have the uncompressed version. Same should go for JQuery.

Also, in the case of taylored versions, a comment explaining what options were included in would be greatly appreciated.

[2014-12-24 01:54] eksperimental opened #175 "Frameless Docs + New Menu"
In #150 @alco mentioned that the core team is ok with removing the frames. The questions is raised, how are we going to get rid of those frames.
* just the module list itself now in HTML weights: 180KB
* modifying this html to pack it as much as possible i could only make it weight 50KB
* the data itself (just the module names, and the functions (with no module name and with a separator), all weig

[2015-01-03 03:26] eksperimental opened #176 "0.7.0 not passing test"
Tests are not passing now..
[code]

By the way, shouldn't we be using Travis?

[2015-01-03 04:28] eksperimental commented on #172
true!, there are lexers for all of them
http://pygments.org/docs/lexers/#lexers-for-erlang

I will update this soon

[2015-01-03 08:55] josevalim commented on #176
Run `mix clean` to clean up the compiled fixtures and you should be good!

[2015-01-03 08:55] #176 closed

[2015-01-03 09:39] bgianfo commented on #164
Can this be closed, as the PR has been merged and appears to fix the issue?

[2015-01-03 09:44] #164 closed

[2015-01-03 09:44] josevalim commented on #164
Definitely, thanks!

[2015-01-05 02:46] eksperimental commented on #175
I will starting with porting everything to json/javascript, and from there we'll see
do you recommend an json library?
I was thiking of using [jazz](https://github.com/meh/jazz) the whole repo is 38kb, but i haven't looked much into this one really, or any other options.

[2015-01-05 08:34] josevalim commented on #175
Hrm... I would go with [poison](https://github.com/devinus/poison). But maybe it would be easy enough to generate the JSON by hand? Up to you! :D

[2015-01-10 18:04] kevinmontuori opened #179 "Documentation Issue."
ExDoc.Formatter.HTML.generate_readme/3 expect that the value of config.readme will be a path; the documentation in Mix.Tasks.Docs:29-30 indicates that the value for :readme is a Boolean.  Seems like a trivial documentation error.

[2015-01-10 19:06] josevalim commented on #179
Yes, thank you, let's fix the task docs! A pull request is welcome!

[2015-01-11 20:45] whatyouhide opened #181 "Issues with functions that use the `do:` keyword"
`ex_doc` messes whitespace up when functions are defined with

[code]

instead of

[code]

Here's a minimal working example for which this issue comes up:

[code]

The generated output:

![screen shot 2015-01-11 at 21 48 10](https://cloud.githubusercontent.com/assets/3890250/5696756/8d534e2a-99db-11e4-86d9-bb4b2b0e3451.png)

I noticed this happens in quite a few stdlib modules too.

I generated th

[2015-01-11 20:54] josevalim commented on #181
It may be an issue of the syntax highlighter. Have you checked if the generated source is correct or what happens when you remove the highlighter command directly from source before loading the page?

[2015-01-11 21:03] whatyouhide commented on #181
The HTML source is kind of weird actually, I think it nests a `<span>` into another `<span>`, which causes some troubles.

The `.html`-only source in `ExDocIssue.html` seems to be fine:

[code]

so it's probably the highlighter. You're using highlight.js right?

[2015-01-11 21:12] josevalim commented on #181
Yes.

[2015-01-11 21:21] whatyouhide commented on #181
Ok, I can confirm it's an highlight.js issue. For further reference, this HTML code can reproduce the bug:

[code]

I'm deeply sorry I wasted your time by pointing at the wrong repository! :disappointed:

[2015-01-11 21:41] josevalim commented on #181
It is completely ok. If it doesn't  work , it is an ex_doc bug too.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-01-12 22:40] whatyouhide commented on #179
@josevalim I think #180 actually solved this issue, maybe we can close this?

[2015-01-12 22:42] whatyouhide commented on #149
@alexrp @ericmj does this still need to be open? Just trying to help cleaning out "dead" issues :smile:.

[2015-01-12 22:44] whatyouhide commented on #103
If I understand correctly, this should be now solved since ex_doc is using highlight.js (with Elixir support) to highlight code examples in the documentation. Should we close this?

[2015-01-12 22:48] vanstee commented on #103
Yep good call. Here's the relevant ex_doc PR: https://github.com/elixir-lang/ex_doc/pull/168

Thanks for following up @whatyouhide.

[2015-01-12 22:48] #103 closed

[2015-01-12 22:49] whatyouhide commented on #103
@vanstee no problem, my pleasure!

[2015-01-12 22:54] whatyouhide commented on #173
The jQuery version at https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/formatter/html/templates/js/jquery.js already has a version tag at the top of the file. As for highlight.js, I have no idea what version https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/formatter/html/templates/js/highlight.pack.js is. If I get that, I'll be happy to send a quick PR for this!

[2015-01-12 23:01] ericmj commented on #149
This can be closed. If someone wants to do the work for checking if docs rebuild is necessary a PR would be appreciated. It is definitely not a priority for the core team at the moment.

[2015-01-12 23:01] #149 closed

[2015-01-13 03:06] eksperimental commented on #173
hi @whatyouhide
I had packed already a new version that supports a few more formats that will be common in elixir projects.
I will probably update this tomorrow as I will have some free time, and also submit an issue to hightlighthjs to include a comment at the top of the file and a link to license.

[2015-01-13 07:33] #179 closed

[2015-01-15 04:41] eksperimental commented on #173
we can close this one, if it's all good with the new changes.

[2015-01-15 06:50] #173 closed

[2015-01-25 22:16] h4cc opened #183 "Printing chars as default parameters in readable form instead of number."
Code to document:
[code]
The created documentation entry will look like: `slugify(text, separator \\ 45)`

Maybe we could print that char as `?-` instead of `45`.

[2015-01-26 07:44] josevalim commented on #183
@h4cc we won't be able to fix this one because it is impossible to know if it was given as a number or as a character as their representation in the AST is the same. :(

[2015-01-26 07:44] #183 closed

[2015-01-26 07:55] whatyouhide commented on #183
@h4cc Be sure to document that the argument with the default value is expected to be a codepoint in the function's `@doc` block :smile:

[2015-02-03 02:31] eksperimental commented on #181
I think the issue should be reopened

[2015-02-03 02:40] eksperimental opened #186 "New Github Label for Low Priority Enhancement"
I was reading #149
Where it was closed because it was considered not a priority for the core team, but I'm afraid a lot of these good ideas will just get lost in the pile up new issues.
Wouldn't it be good to have a label that we can still reference to these ideas. An easy way to find them all in one place, even though the issue has been closed.
While not a priority, a lot of newcomers to elixir,

[2015-02-03 03:01] eksperimental opened #187 "new option: generated zipped file"
this idea comes from https://github.com/elixir-lang/elixir/issues/2989

I think it will be a good asset to have an option to generate a .zip/.gz/.gzip version of the docs for easier distribution.

[2015-02-03 03:06] eksperimental commented on #187
the question is whether should it be created by default, parent folder makes sense, ex:
/docs/stable/elixir/
/docs/stable/elixir_v1.0.3_doc.zip

the thing is that we may not always have writing access to it. Otherwise inside the folder, but there are so many files there it can be lost and pass unnoticed.

Also a good name for the file will be good: Elixi

[2015-02-03 12:03] ericmj commented on #186
Closed issues can still be found when you search. Keeping around every potential feature as an open issue has the exact problem you are talking about; important issues will be lost among them.

[2015-02-03 12:08] eksperimental commented on #186
@ericmj maybe I didn't explain myself clear enough, the idea is to apply this level to the closed issues, so they don't get lost. that's the main idea.

[2015-02-03 12:08] ericmj commented on #187
A zip file can easily be created by aliasing the docs task. I don't think this is the job of exdoc. If you think we should distribute core docs as zip files we can discuss it on the mailing list as it is not directly related to exdoc.

[2015-02-03 12:09] ericmj commented on #186
Ah :+1:

[2015-02-03 12:15] eksperimental commented on #187
Well, my idea is to have the feature in ex_doc, regardless whether it's a good idea or not for the elixir project.
I think docs should be available in every useful format possible, not only only and zip.

[2015-02-03 12:17] eksperimental opened #189 "Use External link icon for External links"
It's a bit confusing when you link to an external site if that's part of the documentation, or it will take you somewhere.

Same concept as in Wikipedia.
We could actually use the same icon:
http://en.wikipedia.org/wiki/Help:External_link_icons

[2015-02-03 13:05] josevalim commented on #187
I agree with @ericmj. This is a very slippery slope. We start with supporting .zip, then it becomes tar.gz and so on. I don't think we should worry about this given it is very easy to create mix (or make) tasks that will package it afterwards!

[2015-02-03 13:05] #187 closed

[2015-02-03 13:07] eksperimental commented on #187
that's true

[2015-02-03 13:16] josevalim commented on #189
:+1:

[2015-02-03 13:18] josevalim commented on #186
:+1: we could start tagging those from now on, even if closing!

[2015-02-03 13:18] #186 closed

[2015-02-03 13:26] eksperimental opened #190 "Remove headings from summary (and problably other html code)"
An image is better than a thousand words
![exdoc_heading_in_summary](https://cloud.githubusercontent.com/assets/9133420/6020774/834221a4-abe2-11e4-981f-4fc576df2ef3.png)

We can leave stying code, such as `<strong>`, `<em>`, `<u>`, `<a>`, but not more than that.

Is there a function for the job, or we just need to do it with Regex.replace ?

[2015-02-03 13:31] josevalim commented on #190
The summary is meant to contain just the first paragraph. How this whole text ended up there? :D

[2015-02-03 13:35] eksperimental commented on #190
hahaha. that is the first paragraph indeed! ;-D
Let's say someone wakes up one morning and said, I want to start my documentation with a heading.

[code]

[2015-02-03 13:57] josevalim commented on #190
I am unsure if we should do something... People need to follow some standard to have nice summaries. For example, keeping the first line short. So I would rather work on documenting on how to document the functions properly than try to provide different fixes. :)

[2015-02-03 13:57] #190 closed

[2015-02-03 13:57] josevalim commented on #181
/cc @knewter @tonini

[2015-02-03 14:58] eksperimental commented on #190
I agree, but there is one case that may happen, is that people don't write any text, and just go with
## Examples

[2015-02-03 14:59] josevalim commented on #190
That's exactly why they should write a text. :)

[2015-02-04 03:43] RichMorin opened #191 "allow Source links to local destinations"
guess_url (ex_doc.ex#L54-L69) seems to be hard-coded to go to only Bitbucket or GitHub.  I'd like to have a way to point to a file system destination (eg, "file:...") on my local machine, or a URL that is accessible on the LAN or WAN.

[2015-02-04 13:53] eksperimental commented on #191
Link to the code: https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc.ex#L59

We need to have a format for the links that are neither the two repositories mentioned above.
--source-url "http://anothergitserver.com/src/{ref}/{path}#Line{line}"

I think it's safe to use curly brackets because they get encoded in urls, in the unfortunate situation that the url includes {ref}, {path} or {line

[2015-02-04 13:54] whatyouhide commented on #191
@eksperimental seems nice, go for it!

[2015-02-04 14:17] josevalim commented on #191
We already support it via `source_url_pattern`. We can automatically inflect the pattern based on source_url or source_ref but in cases we don't, `source_url_pattern` is the way to go!

[2015-02-04 14:17] #191 closed

[2015-02-04 14:17] josevalim commented on #191
Maybe this is a documentation issue but the feature is there! :D

[2015-02-05 11:12] #172 closed

[2015-02-10 11:04] eksperimental opened #192 "Linking (internally) to non-existent function/types"
you can see in
http://elixir-lang.org/docs/master/elixir/Dict.html
Where it reads "Based on these functions, Dict generates default implementations for the following functions:"
* [get/2](http://elixir-lang.org/docs/master/elixir/Dict.html#get/2)
* [get/3](http://elixir-lang.org/docs/master/elixir/Dict.html#get/3)

funtion [get/2](http://elixir-lang.org/docs/master/elixir/Dict.html#get/2) doesn't

[2015-02-15 01:56] RichMorin opened #195 "auto-generated links for exception/1 need love"
It appears that the documentation for exception/1 and message/1 in the Exceptions documentation (eg, ArgumentError) ie auto-generated. In any event, the results look like:

  Callback implementation of Exception.exception/1.
  Callback implementation of Exception.message/1.

I think that "of" should be changed to "for".  More critically, shouldn't "Exception.exception/1" be changed to "Exception.e

[2015-02-15 01:59] eksperimental commented on #195
links?

[2015-02-15 02:06] RichMorin opened #196 "displayed URL should reflect web page location"
If I go to a new location in the frames-based version of the online documentation (whether by following a link or using the sidebar for navigation), the web page should display the new URL.   For example:

  http://elixir-lang.org/docs/master/elixir/Exception.html#message/1

[2015-02-15 02:17] ericmj commented on #196
Can you do that with frames? It's the the subframes URL and the browser will always display the URL of the page that includes the frames.

Maybe if we changed the way we do the frames it would be achieved, but that's a larger undertaking and has other consequences.

[2015-02-15 02:25] eksperimental commented on #196
hi @RichMorin, this has in someway already been implemented recently,
it's good when you need to link from other pages
your link will be:
http://elixir-lang.org/docs/master/elixir/#!Exception.html#message/1

just add #! and then the name of the file, and it will take you there,
the reason why you cannot update the url in the address bar is because of security reaons that a child frame cannot updat

[2015-02-15 03:38] ericmj commented on #196
Getting rid of frames is the proper fix, thanks for working on it.

[2015-02-15 03:38] #196 closed

[2015-02-15 10:02] RichMorin commented on #195
I'm referring to the generated HTML links in the online documentation.  Exception.message/1 shows up as a link, but Exception.exception/1 does not. Does that answer your question?

[2015-02-15 10:06] eksperimental commented on #195
sorry, I was asking for the URLs to see what you are talking about.

[2015-02-15 10:08] eksperimental commented on #195
anyway, i found it: http://elixir-lang.org/docs/stable/elixir/#!ArgumentError.html

[2015-02-15 10:25] josevalim commented on #195
Ah, we should point to the callback link and not the Exception.message/1 link.

[2015-02-15 11:53] josevalim commented on #195
There is currently a bug in Elixir so this will be fixed in master in a day or two (when the build tool kicks in) but the old docs will remain wrong. :) Thanks for reporting!

[2015-02-15 11:53] #195 closed

[2015-02-27 23:01] eksperimental opened #198 "Add favicon.ico"
Add elixir favicon.ico as the default icon.
and
`<link rel="shortcut icon" href="/favicon.ico" />`
to the header

So we can validate these files, with html-proofer

[2015-02-27 23:03] eksperimental commented on #198
oops. i though I was posting it in my repository, anyway, I will take care of this

[2015-02-28 00:12] ericmj commented on #198
I'm not sure about this, at the very least it should be configurable. The link to the favicon also needs to be relative instead of pointing at root.

What does favicon have to do with HTML validity?

[2015-02-28 06:50] eksperimental commented on #198
Well, it is not HTML VALIDITY per se, but the html-proofer has an option to check for missing favicon icon.
Favicon its automatically requested by all browsers so it speeds up the loading of pages to have it, and saves the server's error log a 404 entry.

yeah, i meant `href="favicon.ico"`, ExDoc documentation is flat anyway.
I' m thinking we should use elixir's favicon when none is provided, the

[2015-03-04 19:29] ericmj opened #199 "&<=/2 becomes :erlang.make_fun(:erlang, :"=<", 2) in default arguments"

[2015-03-04 19:36] josevalim commented on #199
This is probably an Elixir bug. We are expanding things too early in the function signature.

[2015-03-04 19:41] josevalim commented on #199
Elixir bug for sure.

[2015-03-04 19:41] #199 closed

[2015-03-06 08:34] eksperimental opened #200 "Do not link to the current page"
Take [HasDict](http://elixir-lang.org/docs/stable/elixir/HashDict.html) as an example:

**HashDict** is mentioned three times in the introduction, and every time it is linking to the very same current page.

Well, this applies to every Module page because the first word is a link to the module itself. This first word I think should be bold, and the rest of the links maybe italics.

Maybe after int

[2015-03-06 08:43] josevalim commented on #200
I am ok with not linking to itself and replacing it by bold while generating ExDoc. /cc @ericmj @alco

[2015-03-06 09:59] ericmj commented on #200
We could also just keep it in the <code> formatting.

[2015-03-06 10:03] josevalim commented on #200
Good point.  Let's just keep it in the formatting and skip the link.

[2015-03-06 10:23] eksperimental opened #201 "Fix inline code that is a link"
You won't be able to see this online here http://elixir-lang.org/docs/master/elixir/Regex.html#run/3
but if you generate the docs with master, you will see it,

[code]

will produce

[code]

but i have created a style that was missing before formatting inline code in a previous commit,
but now we are not seeing the link, because the color gets overriden by .line

this is how it looks like, notice

[2015-03-06 10:27] eksperimental commented on #200
what about from summary downwards, do we link to the top of the page? or we remove the link?

[2015-03-06 10:28] eksperimental commented on #200
I think we should link internally to the top of the page.

[2015-03-06 10:30] josevalim commented on #201
Have you reloaded the page? I am seeing this:

![screen shot 2015-03-06 at 11 29 13](https://cloud.githubusercontent.com/assets/9582/6523861/12125e70-c3f4-11e4-9b1f-eee3b66c2d6b.png)

I have removed the border for inline code from docs because it was too distracting and consequently fixed this bug. :)

[2015-03-06 10:30] #201 closed

[2015-03-06 10:34] eksperimental commented on #201
oops. I forgot to pull from master,
I was waing to mention it actually, if we should change the style,
but i think we DO need a style,
something like github does, no border, grey background. something `like this`. What you think?

[2015-03-06 10:36] josevalim commented on #201
Nah, it is fine to leave it as is. It works fine and doesn't distract much.

[2015-03-09 19:30] ericmj opened #202 ":main should default to overview.html"
Today it seems to be default to linking to the capitalized app name, but that module may not even exist.

[2015-03-09 19:38] josevalim commented on #202
In master.

[2015-03-09 19:38] #202 closed

[2015-03-18 09:30] alco opened #204 "Quotes are inexplicably prefixed by backslashes"
See here http://hexdocs.pm/plug/Plug.Router.html.

This is what you can see there now:

[code]

It should be this instead:

[code]

[2015-03-18 09:42] josevalim commented on #204
Fixed, thanks.

[2015-03-18 09:42] #204 closed

[2015-03-22 02:11] rranelli opened #205 "Missing the 0.7.2 tag?"
I've noticed in the git log that there is a commit `Release v0.7.2` but no `0.7.2` tag.

![screenshot from 2015-03-21 23 10 23](https://cloud.githubusercontent.com/assets/4231743/6767712/a772cf04-d01f-11e4-81d6-8736bf400888.png)

Is this intentional ?

Ty

[2015-03-22 09:05] josevalim commented on #205
Oops, good catch! fixed, thank you!

[2015-03-22 09:05] #205 closed

[2015-03-22 14:08] rranelli commented on #205
Happy to help :)

On Sunday, March 22, 2015, José Valim <notifications@github.com> wrote:

[2015-03-25 06:36] eksperimental opened #206 "import @spec from callback functions"
`@spec` from the callback function should be imported from the `use`d module, if they are not set in the current module.

For example
[`Map.equal?/2`](http://elixir-lang.org/docs/master/elixir/Map.html#equal?/2) is a callback of [`Dict.equal?/2`](http://elixir-lang.org/docs/master/elixir/Dict.html#c:equal?/2),
but the specs are not avaible in `Map`

[2015-03-25 06:44] eksperimental commented on #206
Well, now that I see the whole `@doc` could be imported.
Is there a decision behind for not importing it, or it just hasn't been implemented yet?

[2015-03-25 14:01] josevalim commented on #206
@eksperimental we could import the specs in exdoc but i wouldn't import the docs, i would just keep a link as today. The reason for this is that the docs are often written in abstract way that often doesn't make sense in the implementation code.

[2015-04-01 02:38] slogsdon opened #207 "Issue with example code containing {:"
Hi all,

I'm running into an issue with rendering documentation of a module that contains `{:ok, term}`. Earmark (not sure if this affect other parsers) interprets the `{:` as the start of an HTML attribute for the previous block and raises a `(Earmark.HtmlRenderer.EarmarkError) Invalid Markdown attributes: {ok, [1, 2, 3]}`.

I have no idea if this is truly caused by ExDoc or if Earmark is incorre

[2015-04-01 10:17] josevalim commented on #207
Which ex_doc and earmark versions? Have you tried calling earmark directly
 with the faulty string and isolate the bug?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Lead Developer

[2015-04-01 13:48] slogsdon commented on #207
This happens with slightly older versions of Earmark and ExDoc as well, but I'm currently using the latest versions available from Hex. From my mix.lock file:

- `"earmark": {:hex, :earmark, "0.1.15"}`
- `"ex_doc": {:hex, :ex_doc, "0.7.2"}`

Looks like it has something to do with the code samples not being indented properly:

[code]

Easy fix would be to simply fix the documentation in Poison as E

[2015-04-01 14:30] josevalim commented on #207
Yeah, so it is definitely an Earmark bug? Can you please report it there?
If you can include a way to reproduce it directly, even better!

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-04-01 19:41] ericmj commented on #207
It's a known issue: https://github.com/pragdave/earmark/issues/12

[2015-04-01 22:54] slogsdon commented on #207
Thanks guys. Looks like I'll just catch the exception when it's raised and alert the user.

[2015-04-01 22:54] #207 closed

[2015-04-17 09:49] #181 closed

[2015-05-07 21:42] lstor opened #210 "Escaping escaped HTML in output"
Escaped HTML in example output is incorrectly rendered. See [Phoenix.HTML](http://hexdocs.pm/phoenix/Phoenix.HTML.html).

For example, for `safe_concat/2`, the [source heredoc is](https://github.com/phoenixframework/phoenix/blob/9e94594e256df472ca660034261129e5161965ca/lib/phoenix/html.ex#L126):

- - -
![image](https://cloud.githubusercontent.com/assets/613821/7526282/920f3556-f510-11e4-967c-4ab98

[2015-05-20 14:08] milmazz commented on #150
@Dignifiedquire Your proposal looks really nice! Any recent progress on this issue? I can help you if you want, just let me know.

[2015-05-20 14:27] Dignifiedquire commented on #150
@milmazz yes please, I haven't had any time to work in this recently, the most pressing task on the code is to incorporate all the changes that have been made since I started work on this. Feel free to ping me if you have any questions (warning the code is in a bit of a mess :( )

[2015-05-20 22:30] milmazz commented on #150
@Dignifiedquire Great, I've reviewed  your `design` branch and the amount of changes is huge! So, do you mind if I try to split your proposal in a series of PR? I ask because there are some changes that are not related with the design (e.g. `:fenced_code` options for `Hoedown`, among others).

[2015-05-20 22:51] Dignifiedquire commented on #150
sure go ahead..there was one thing leading to the other when trying to implement it and so it grew and grew...

[2015-05-26 03:07] milmazz opened #214 "function `pretty_codeblock` leaves an end tag for `code` element which is not open"
The current [`pretty_codeblock`](https://github.com/elixir-lang/ex_doc/blob/7c7365c18f3763482695bf3440fd2c10baa7bc7f/lib/ex_doc/formatter/html.ex#L80) function in `html.ex` generates invalid HTML code, this function leaves an end tag for the `code` element which is not open.

[code]

One way to solve this is updating the *regex*:

[code]

But, if we look further, right now there is no rule for the

[2015-05-26 07:44] josevalim commented on #214
/cc @eksperimental

[2015-05-26 21:00] ericmj opened #215 "Delete output directory before generating documentation"

[2015-05-27 13:15] #215 closed

[2015-05-27 15:08] milmazz commented on #214
Hello @tonini, I really want to know your opinion about this issue. Do you remember the [`pretty_codeblock`](https://github.com/elixir-lang/ex_doc/commit/7c7365c18f3763482695bf3440fd2c10baa7bc7f#diff-fc9775865b82e656523d7cbbe16526d2) function purpose?

[2015-05-27 19:21] josevalim commented on #214
@milmazz the idea about `pretty_codeblocks` is that "\`\`\`" by defaults adds `<code class="">` and that is not going to be formatted as Elixir. Now that we are enabling "\`\`\`" everywhere, we should fix it by somehow setting the default language for such code blocks to Elixir (it can be with a regex) or by changing highlight.js to use elixir by default when another language was not specified.

D

[2015-05-27 19:30] milmazz commented on #214
@josevalim Got it!, I'll try to work on this.

[2015-05-27 20:53] milmazz commented on #214
This comment is just a reference of the different outputs per Markdown parser.

<pre><code>
$ cat ~/test/demo.md
line 1
[code]

line 2
[code]

Output with `pandoc -f markdown+fenced_code_blocks -t html ~/test/demo.md`:

[code]

Output with `hoedown --html --fenced-code ~/test/demo.md`:

[code]

/me Take this into account when working on the PR :point_left:

[2015-06-02 16:56] milmazz commented on #175
@josevalim @eksperimental I think that we can replace `{modules,exceptions,protocols}_list.html` for something like `sidebar-items.js`:

[code]

Then we can recreate the current layout for the sidebar with `jQuery`:

[code]

As a side note, the previous code sample is just a proposal, for me its better to control all that mess with a template system like `Liquid` or `Handlebars`, but I'm assuming

[2015-06-02 17:53] josevalim commented on #175
This sounds quite good to me. Let's see if @eksperimental or @alco have some thoughts to share, otherwise we can go ahead.

[2015-06-02 17:54] milmazz commented on #210
This issue was resolved in the `Earmark` parser in its version *0.1.16* and the current master depends on *0.1.17* or *2.0*.

[2015-06-02 17:55] #210 closed

[2015-06-02 17:56] lstor commented on #210
Damn, @josevalim, you're fast.

[2015-06-02 18:02] milmazz commented on #214
This issue was resolve with #217 :+1:

[2015-06-02 18:02] #214 closed

[2015-06-02 18:57] milmazz opened #218 "Themes support"
One improvement that I want to see in `ExDoc` is theme support. So, I've been thinking that after we can resolve the issue #175 and define the default structure for a theme, I can start working on a proposal for themes support in `ExDoc`.

The initial idea is to add a new entry in the Config struct and from there we can select the theme that the user wants, for example, we can provide 2 themes at

[2015-06-03 08:20] josevalim commented on #218
@milmazz my biggest trouble with supporting custom themes is that all of ExDoc internals now become public. And today the internals are very specific to the current templates.

For example, a lot of today's code is about gathering all information upfront and then calling the templates. If we need to change the template... we need to change how the information is gathered. So the flow is: gather al

[2015-06-04 16:37] milmazz commented on #218
@josevalim let me see if I get this right, the proper workflow for you is the following: After define a particular template, the user invoke the template, then that template somehow request for information to the _backend_ (`ExDoc` is this case), and then the _backend_ will provide this information. Right?

Maybe I’m wrong, but I feel that the current workflow is OK. I see `ExDoc` as a static gene

[2015-06-09 14:18] milmazz opened #220 "Add sitemap support"
What do you think about add support for [Sitemap.org](http://www.sitemaps.org/)?

The result could be something like this:

[code]

[2015-06-10 18:03] josevalim opened #221 "New ExDoc version is not respecting the index page"
The index page is not always the "overview" one. For example, for elixir, the index page is meant to be "Kernel". For EEx, it is the "EEx" module itself, not overview. It seems this information is no longer respected.

This is how I am generating it:

    ex_doc/bin/ex_doc "Elixir" "1.0.5" "lib/elixir/ebin" -m "Kernel" -u "https://github.com/elixir-lang/elixir" --source-ref "67501bcddc6105afb8bc80

[2015-06-10 18:04] josevalim commented on #221
/cc @milmazz

[2015-06-10 18:07] milmazz commented on #175
@josevalim I think this issue is already fixed :smiley:

[2015-06-10 18:24] josevalim opened #222 "New ExDoc version requires double click after search"
I can reproduce this on Safari and Chrome. Steps:

1. open up index.html
2. search for "agent"
3. Click on the "Agent" link

The third step will act as if another search is being done and it won't redirect to the Agent page. The next click works though. I would expect it to work on the first click.

/cc @milmazz

[2015-06-10 18:25] josevalim commented on #221
You can access Elixir docs to see how the generated pages are meant to look like: elixir-lang.org/docs/stable/elixir/

[2015-06-10 18:26] #175 closed

[2015-06-10 18:34] Dignifiedquire commented on #150
@josevalim after all the great work from @milmazz I want to pick this up, just wanted some feedback from you if you like the direction of the design.

[2015-06-10 18:41] josevalim commented on #150
That's awesome, @Dignifiedquire! The original design looks excellent. At first look I wouldn't add nor remove anything from it. :) Do you want me to check something in particular?

[2015-06-10 18:46] Dignifiedquire commented on #150
No, just wanted to be sure not to go in the wrong direction :)

[2015-06-10 18:53] josevalim commented on #150
It is readable, it is clean and elegant. Go for it!

[2015-06-10 19:38] milmazz commented on #221
@josevalim Oh, I miss that!, I'll fix it asap. Thanks for the report.

[2015-06-11 14:30] josevalim opened #224 "New ExDoc version is not functional on mobile"
That's because the sidebar takes all the space. @milmazz, thoughts?

[2015-06-11 15:01] milmazz commented on #224
@josevalim I can add certain CSS media queries to solve this inconvenience.
The first thought that comes to my mind is that we can offer something like
a "hamburger button" to toggle the sidebar, do you agree in something like
this?

On Thu, Jun 11, 2015, 09:30 José Valim <notifications@github.com> wrote:

[2015-06-11 15:18] Dignifiedquire commented on #224
How about using this for the navigation http://mmenu.frebsite.nl/ and setting it to be always open on desktop.

[2015-06-11 15:27] Dignifiedquire commented on #224
Here is a demo of what I mean: http://mmenu.frebsite.nl/demo/index.html?demo=widescreen

[2015-06-11 16:07] josevalim commented on #224
That sounds great! We don't want to take your attention away from the
redesign though. :)

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Lead Developer*

[2015-06-11 16:12] Dignifiedquire commented on #224
Maybe I can squeeze that in, that way we don't have to change the menu twice ;)

[2015-06-11 16:21] milmazz commented on #224
@Dignifiedquire That plugin is really nice, please let me know if you
can/want to work on this. I have some free time in just 30 minutes, so, I
can work on this issue if you prefer to focus on the new design.

On Thu, Jun 11, 2015, 11:12 Friedel Ziegelmayer <notifications@github.com>
wrote:

[2015-06-11 16:24] Dignifiedquire commented on #224
Sure go ahead, probably won't have a lot of  time today myself.

[2015-06-11 18:57] Dignifiedquire commented on #150
New branch https://github.com/Dignifiedquire/ex_doc/tree/new-design new luck

Current state:
![screen shot 2015-06-11 at 20 57 31](https://cloud.githubusercontent.com/assets/790842/8115559/8472c7a0-107c-11e5-81ab-1a5fa47d38e4.png)

[2015-06-12 03:22] milmazz commented on #224
@Dignifiedquire @josevalim Guys, I must be honest, I prefer the current search field and its current behaviour. The search field offered by [mmenu](http://mmenu.frebsite.nl/) plugin does not substitute the current features (e.g. highlight, search find inner nodes) that we offer in the sidebar. Also, I think that `mmenu` plugin adds more complexity when the user wants to navigate through the nodes

[2015-06-12 06:58] josevalim commented on #224
@milmazz good points. I don't think we need to use their whole menu though. Maybe we should just copy the hamburger menu functionality?

@lucasmazza any ideas on how we could improve this? The latest versions of the docs can be found here: http://elixir-lang.org/docs/master/elixir/

[2015-06-12 07:41] Dignifiedquire commented on #224
Yes seeing it in action, it doesn't really work on a desktop machine. I will give it some thought as I wanted to do some tweaks to the menu in my design branch anyway.

[2015-06-12 08:19] josevalim commented on #150
Looking great! :D

[2015-06-12 14:24] lucasmazza commented on #224
@josevalim given the layout I think will be hard to go too far from the hamburger style menu :). If the jQuery plugin doesn't match our need, we can easily implement the toggling ourselves and preserve the current search behaviour in the sidebar. But would make sense to wait for the redesign to tackle this.

[2015-06-12 19:12] milmazz commented on #224
@Dignifiedquire Yes, please. Maybe the following is obvious, but I want to be sure that you have all the required information to accomplish this task.

 * Right now all the nodes required to fill the `#full_list` unordered list are located in the `sidebar_items.js` (sidebarNodes object).
 * The JavaScript function ` fillSidebarWithNodes` receive the object `sidebarNodes` and then apply a filter to

[2015-06-12 19:36] milmazz commented on #222
@josevalim I have reproduced this error, thanks for the detailed report. I'll look into this.

[2015-06-12 19:54] Dignifiedquire commented on #224
@milmazz if you want to help me the following is the underlying structure change that I would like to see.

* Get rid of the absolute positioning of the sidebar and content elements, so we get one scroll bar for the whole page
* Use an `affix`/`scrollspy` to fix the navigation and make it update on scrolling

In general have a behaviour like the navigation on this page: http://getbootstrap.com/com

[2015-06-16 04:07] milmazz commented on #224
@Dignifiedquire Please let me know if the latest changes in the PR #226 works for you.

[2015-06-17 14:37] milmazz commented on #221
@josevalim @ericmj I think this issue can be closed. Thanks!

[2015-06-17 14:41] #221 closed

[2015-06-17 18:19] #198 closed

[2015-06-17 21:17] #218 closed

[2015-06-17 21:18] #220 closed

[2015-06-21 07:20] milmazz commented on #222
@josevalim I've been able to reproduce this error in the stable version too, so, this means that the error was introduced in a previous version. I took as example this page: http://elixir-lang.org/docs/stable/elixir/

Anyway, I'll try to fix this, as you mentioned that kind of behaviour is not expected.

[2015-06-21 08:39] milmazz commented on #189
@eksperimental Are you working on this? If you need some help just let me know.

[2015-06-21 09:06] eksperimental commented on #189
@milmazz feel free to go ahead with it

[2015-06-21 10:01] #222 closed

[2015-06-21 12:32] eksperimental opened #230 "Make backward compatible link to pages in frames"
We need to make this change (https://github.com/elixir-lang/ex_doc/pull/219/files#diff-6f3ff294b7369383c8be9c35ec910a9bL8) backward compatible with this feature: https://github.com/elixir-lang/ex_doc/pull/188

redirect anything liking
from: /index.html#!Module.html#function
and: /#!Module.html#function
to: /Module.html#function

as discussed in https://github.com/elixir-lang/ex_doc/pull/188#issuec

[2015-06-21 12:55] eksperimental opened #231 "Show sidebar menu open"
One thing that I miss from the old version with frames is that we could navigate through the sidebar menu and we will still be positioned and the current page will be highlighted in blue,
I think it will be a good idea if the sidebar menu could already be positioned according to the page being loaded.

The tricky part is when we are accessing a module that is going past down the first page, how ca

[2015-06-21 12:57] ericmj commented on #231
Another issue with the new version is that searches are lost when navigating the menu.

[2015-06-21 12:59] eksperimental commented on #231
@ericmj true. that's really bad ;-(

[2015-06-21 13:17] eksperimental opened #232 "Issues with new sidebar menu"
I have found a few glitches, I will list them:

1. ~~When visiting a module page, the link to this module page in the menu shouldn't link to a new page, but to the top of the page itself (we probably should update the address in the address bar to be /Module.html and not /Module.html#)
Example: http://elixir-lang.org/docs/master/elixir/Base.html clicking on Base (on the menu) shouldn' t reload the

[2015-06-21 14:27] josevalim commented on #232
Thanks for reporting @eksperimental! We would love if you can you help with fixing some of those too!

[2015-06-21 14:28] josevalim commented on #231
@eksperimental this should be fixable because every page knows which module it is showing, so we could just highlight it in the menu.

@ericmj and this can be fixed by adding a ?search=foo for all links once there is a search. Then, on page load, we check the query string and properly update the search field.

[2015-06-21 14:31] josevalim commented on #230
I know this is a breaking change but ExDoc hasn't reached 1.0 out, so we can afford to do so. :) So I wouldn't fix this, I don't think anybody is using it besides Elixir docs itself (which we are changing soon).

[2015-06-21 14:31] #230 closed

[2015-06-21 14:56] eksperimental commented on #230
@josevalim sure, no worries. I just felt the need to report it since I was the one that introduced this feature ;-D

[2015-06-21 14:58] eksperimental commented on #231
@josevalim I know the problem is then you are viewing  a module that is way down the list,

[2015-06-21 15:50] milmazz commented on #232
@eksperimental Thanks for your report, maybe we can solve all this issues if we do the following:

1. Right now the `fillSidebarWithNodes` function is in charge of the creation of the `#full_list` children, so, through this function I think is feasible to control the behaviour that you mentioned.
2. Maybe there is some missing CSS rules or HTML layout.
3. Maybe this can be fix if we add something

[2015-06-21 17:37] eksperimental commented on #232
you are welcome @josevalim, I don't think I will time to contribute for now ;-(  , but maybe I manage to do a little bit here and there.

[2015-06-29 18:47] milmazz opened #235 "Improve how ExDoc performs with assistive technologies"
After a few tests with [tota11y](http://khan.github.io/tota11y/) (an accessibility visualization toolkit) I noticed a few things that we can improve:

- _Header hierarchy_: the *Examples* title (inside of the sub-sections: _Functions_, _Macros_, etc.) normally are marked with the `<h2>` element tag and the sub-sections title itself are also marked with the `h2` element tag.
- The `input` element (

[2015-06-29 21:32] whatyouhide commented on #235
Great job @milmazz! :+1:

[2015-07-04 02:33] eksperimental commented on #235
regarding the Header hierarchy, the code is valid html as well as semantically speaking. The reason behind this is that we shouldn't  rewrite code that was written in markdown.  Have a look at my issue https://github.com/elixir-lang/ex_doc/issues/163

[2015-07-10 09:07] mesosteros opened #236 "Generated docs not including custom comments?"
I have made a few comments in modules that don't show in the generated docs.
I have written them as:
`@doc """
this is a comment
"""`
And they simply don't show. Isn't this package supposed to document all of these comments for custom documentation?

EDIT: I'm using this with a Phoenix project.

[2015-07-10 10:25] ericmj commented on #236
Docstrings will be stored and only those associated with a function, comments will not be stored. Can you show your code?

[2015-07-10 10:32] mesosteros commented on #236
I got it working in a new project. Really didn't do anything different. :/

[2015-07-10 10:32] #236 closed

[2015-07-14 09:45] eksperimental opened #237 "unable to open new tab when clicking on the menu"
this happens with both, the new and the old menu.
When I use the middle-button, and CTRL-CLICK, SHIT-CLICK on any of the links in the menu,
it loads the pages in the same tab, instead of opening it in a new tab

[2015-07-14 09:56] eksperimental opened #238 "↑ [to the top of the page] internal-links are not working"
even though the element with id "content" exist, it is not working.

[2015-07-14 16:53] eksperimental commented on #232
I have updated the list with a 4th issue:

[2015-07-20 12:22] josevalim commented on #238
Can you please send a PR once you figure it out?

[2015-07-20 12:22] josevalim commented on #238
/cc @milmazz

[2015-07-20 12:23] josevalim commented on #235
A PR for this would be welcome!

[2015-07-20 12:26] josevalim opened #239 "Invitation to the ExDoc team"
Hello @eksperimental and @milmazz,

You have both been doing a fantastic work to bring ExDoc and Elixir documentation forward so I would like to invite you to be authors and maintainers of the ExDoc project too.

Being part of the team does not change the dynamics, just continue the excellent work you have done so far. I am looking forward for what is coming!

[2015-07-20 12:26] josevalim commented on #239
Let me know if you are ok with this and I will add you to the team on Github.  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-07-20 12:29] josevalim commented on #150
Hey @Dignifiedquire, how is this working? Is there anything we can do to help? Once the design is ready, we can probably help with integrating it into exdoc.

[2015-07-20 14:07] milmazz commented on #238
Hi @eksperimental I can send a PR if you're not working on this. Just let me know. /cc @josevalim

[2015-07-20 14:51] Dignifiedquire commented on #150
Hey @josevalim sorry, the time I was hoping to have didn't turn out to be as much as I hoped, I'll try to get to it as soon as I can

[2015-07-20 15:09] milmazz commented on #239
@josevalim Thank you very much for the invitation, I'm so glad that you asked me to join to the ExDoc team, I will make sure to keep having fun hacking with ExDoc and always keep in mind that the goal is to improve the user experience with the Elixir documentation in every possible way.

[2015-07-20 15:46] josevalim commented on #150
Don't be sorry! Just let us know if we can help with anything!

[2015-07-21 02:18] milmazz commented on #224
@josevalim I think this issue is already fix in master.

[2015-07-21 02:38] milmazz commented on #238
@eksperimental @josevalim This is already fix in `master`.

[2015-07-21 06:44] #224 closed

[2015-07-21 06:44] josevalim commented on #224
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-07-21 06:44] #238 closed

[2015-07-21 13:12] josevalim commented on #239
Thank you! Invitations have been sent!

[2015-07-22 04:34] eksperimental commented on #239
@josevalim: Thank you very much for the invitation!
You can count me in ;-D

[2015-07-22 04:48] eksperimental commented on #238
great @milmazz.
Sorry for the late reply, I was gone for a little while.

On Mon, 20 Jul 2015 19:38:30 -0700
Milton Mazzarri <notifications@github.com> wrote:

[2015-07-22 08:14] josevalim commented on #239
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-07-22 08:14] #239 closed

[2015-07-23 07:17] #189 closed

[2015-07-24 11:48] josevalim opened #242 "Sidebar does not scroll on elixir master docs"
This is due to our latest changes.

See: http://elixir-lang.org/docs/master/elixir/

/cc @milmazz

[2015-07-24 14:48] milmazz commented on #242
@josevalim The scroll is working (I just checked on Chrome and IE), or at least I think is the expected behavior with the [Affix](http://getbootstrap.com/javascript/#affix) component from Bootstrap.

![bootstrap-affix](https://cloud.githubusercontent.com/assets/34700/8876747/42cd1062-31e7-11e5-8c72-738ce89296d0.gif)

Or are you referring to something like the [stable docs](http://elixir-lang.org/d

[2015-07-24 15:00] josevalim commented on #242
Yes, you can just scroll at the end of the page. Since Kernel is huge, people will be confused and won't be unable to scroll the sidebar. So I was thinking something like before or something that scrolls from the beginning (and not the end). Thoughts?

[2015-07-24 15:09] eksperimental commented on #232
@milmazz i realized now when you hit the clear (X) , the focus on the search box is lost. and you need to click again inside the box to start typeing again.

[2015-07-24 15:15] milmazz commented on #242
@josevalim I agree, in some cases (like Kernel) is confusing as you mentioned. So, let me look into that and I'll try to fix it.

[2015-07-24 15:21] milmazz commented on #232
@eksperimental Ok, I'll push a fix for that asap.

Can you please update the list of issues remaining on this ticket?

[2015-07-24 15:24] eksperimental commented on #232
@milmazz thanks a lot.
Next week hopefully I will be able to catch up on ex_doc with the latest changes. for now I will just report whatever issues I come across
I will update that list now.

[2015-07-24 15:37] eksperimental commented on #232
@milmazz I have updated the list. Please let me know if I missed something.

[2015-07-25 03:55] eksperimental opened #244 "master/docs should not be created from master ex_doc"
I think it is not a good idea to have the elixir documentation (master), http://elixir-lang.org/docs.html#master
 using the master version of ex_doc,
as we are still developing many times the documentation maybe not usable, I think we should always run on the latest release of ex_doc, but not on master,

Additionally i think we could add a new set of documentions, called maybe "dev"
http://elixir-

[2015-07-25 05:36] josevalim commented on #244
I disagree because a bunch of the bugs we have had reported came exactly from the master website. It is much better to test it on master than find out just later on when doing a stable release. :)

[2015-07-25 05:52] eksperimental commented on #244
that's true @josevalim
It's just that with the new changes coming to ex_doc things will not be working optimally, and soft of fell that it maybe be a nuisance for the elixir users who just want to use the docs.

[2015-07-25 05:56] josevalim commented on #244
I don't think we need to worry about that because we first link to the stable docs. So if people are running on master, they must be aware that things might not be as polished. :)

[2015-07-25 05:56] #244 closed

[2015-07-27 16:56] milmazz opened #246 "Search process never ends if the module type list is empty"
This issue happens with both, the new and the old menu.

How to reproduce this issue:
- Visit [ExUnit](http://elixir-lang.org/docs/stable/ex_unit/) (stable) or [ExUnit](http://elixir-lang.org/docs/master/ex_unit/) (master) docs
- Select  _Protocols_ in the navigation area.
- Put something in the search bar.

**Result:** Search process never ends.
**Expected:** _No results were found_ message.

[2015-07-27 17:14] eksperimental commented on #246
true! Maybe if there are no elements in the tab, it shouldn't shouldn't be a link, if it contains no items. I think having greyed out is a good option.

[2015-07-28 07:36] eksperimental commented on #232
@milmazz  I have added 2 new issues that i found ( no. 6 and 7). thank you for your work ;-D

[2015-07-28 10:47] #246 closed

[2015-07-28 11:29] milmazz commented on #232
@eksperimental Thanks for updating the list! Please, can you tell me how to reproduce 7?

[2015-07-28 11:34] eksperimental commented on #232
@milmazz it is not happening in the live docs, but it is happening in my local copy, which was just pulled minutes before i reported the issue.
http://elixir-lang.org/docs/master/elixir/Agent.html#start/4
just directly visit any link to a function,
if you still cannot reproduce it, please let me know, I will check if it has to do with running on elixir-dev

[2015-07-29 08:45] #200 closed

[2015-08-04 17:26] milmazz commented on #192
@josevalim @eksperimental I think this issue is already fix.

After review the [Dict](http://elixir-lang.org/docs/master/elixir/Dict.html) module documentation, in particular this section:

`get/2` does not link to a nonexistent function anymore. Also, does not link to the proper [callback](http://elixir-lang.org/docs/master/elixir/Dict.html#c:get/2) (IMHO we should link to the proper callback). B

[2015-08-04 18:18] #242 closed

[2015-08-04 22:35] ericmj commented on #192
It shouldn't link to the callback unless a callback link is used, maybe `Dict` docs should be changed to use `c:...` links. We should automatically create links for all arities of functions with default arguments though.

[2015-08-07 10:00] josevalim commented on #232
#7 is fixed. @milmazz can we fix #3 and #6 and get a new release out? :D

[2015-08-07 10:02] josevalim commented on #192
#110 is the same issue, except it happens for types.

[2015-08-07 10:02] josevalim commented on #110
Closing in favor of #192.

[2015-08-07 10:02] #110 closed

[2015-08-07 10:03] josevalim commented on #75
Well, a long time has passed and this isn't in. So I will close. Sorry @pminten. :(

[2015-08-07 10:03] #75 closed

[2015-08-07 10:05] josevalim commented on #231
Adding the info here to the other issue.

[2015-08-07 10:05] #231 closed

[2015-08-07 10:06] josevalim commented on #235
@milmazz let's focus the efforts here with the new design, what do you think? If you agree, just close. If you don't, let's leave it open. :)

[2015-08-07 11:01] eksperimental commented on #232
I think the margins in the content area. are too narrow.
it looks too packed against the side bar.
the rigth margin could also be wider, what do you guys think?

[2015-08-07 11:12] josevalim commented on #237
Fixed in master!

[2015-08-07 11:12] #237 closed

[2015-08-07 11:12] josevalim commented on #232
@eksperimental let's focus on getting the functionality right for now. There is a new layout coming and we haven't released in ages.

[2015-08-07 11:28] josevalim commented on #232
I have just fixed #6 too. Now taking a look at #3. :D

[2015-08-07 11:40] josevalim commented on #232
Ok, I can't fix #3 because I am unsure how to trigger only the search when changing the tab. I will leave it up for @milmazz as he definitely has more knowledge than me on this!

[2015-08-07 11:48] eksperimental commented on #232
regarding no. 3
Just to be clear, because the way I described the issue is a bit of a counter intuitive the behaviour..
What i expect is when we type "ab" while in modules, we click on any another tab, and it should show us the results for "ab" in that tab. and not keep different states for different tabs.

[2015-08-07 12:21] josevalim commented on #232
Ok, I have fixed #3 in master! :D

Please give it a try a couple more tries, I will update the master version, and we should release something soon!™

[2015-08-07 12:21] #232 closed

[2015-08-07 12:22] milmazz commented on #235
@josevalim I agree, the new design will include a better support for assistive technologies.

[2015-08-07 12:24] #235 closed

[2015-08-07 12:48] eksperimental opened #252 "Menu Issues - Highlighting Selected Function"
Now that the issues have been fixed, i'm testing ex_doc

There are still a few issues regarding https://github.com/elixir-lang/ex_doc/issues/231

Lets take for example **[Task.Supervisor.children/1](http://elixir-lang.org/docs/master/elixir/Task.Supervisor.html#children/1)**

1. You cannot see where you are in the menu. I think what we need to do is to create an id for each module, and make the br

[2015-08-07 12:51] eksperimental commented on #232
It looks great,
thank you guys for the great work

[2015-08-07 19:21] eksperimental opened #254 "Breadcrumbs lock the scroll on menu"
~~This one happens only in firefox for linux (latest version)~~
Found in Firefox for Linux

visit any page, let's say home page.
click on the last item in the breadcrumb, the top div, goes a bit to the left.
overlaps the scroll bar in the menu.
and locks that scrollbar, without being able to scroll down the menu.
WEIRD!

Update:
It does happen if you visit directly the page including "#content"
fo

[2015-08-07 19:35] josevalim commented on #254
Haha, since it is very specific, please try to come with a fix for this one if you can! Or open up a bug report on Firefox! :D

[2015-08-08 03:00] eksperimental commented on #254
Let me rephrase myself.
I have only tested on linux, and I found this in Firefox.

[2015-08-08 10:00] eksperimental commented on #254
It does not happen only when you click, but if you link directly to "#content",
for example: http://elixir-lang.org/docs/master/elixir/Version.html#content

[2015-08-09 18:56] milmazz opened #261 "Release goals for v0.9"
The idea is to define our list of goals for the next release.

* [x] New design #275
* [x] Include a build system to concatenate and reduce the size of our assets. Also this build system must provide a way to check the quality of our JS code
* [x] Include some tests for JS to avoid break previous features.
* [x] Include support for LESS w/Bootstrap

@Dignifiedquire  is already working on some of t

[2015-08-09 19:04] josevalim commented on #261
I think this is great! :heart: I would move PDF/epub to another release though. A new design is already tons of work on its own. :)

[2015-08-09 19:10] Dignifiedquire commented on #261
I agree with @josevalim pdf/epub stuff is tricky to do from my experience so we should focus on the other things first and get that released and then one release focused on new formats

[2015-08-09 23:44] ericmj opened #262 "h3 has the same size as p"
See this for example: http://elixir-lang.org/docs/master/elixir/Kernel.Typespec.html

[2015-08-10 07:25] #262 closed

[2015-08-10 07:26] josevalim commented on #262
Great catch. Let's wait a day and do a new release in case we catch anything new.

[2015-08-10 20:03] milmazz opened #268 "Check the commit for non-updated dist files (when apply)"
Right now in the `build_system` branch you can find the ready to use CSS/JS versions in `lib/ex_doc/formatter/html/templates/dist`

One thing that we need to guarantee is that every time that somebody update a css/js file (located under `assets` directory), the files under the `dist` directory also gets updated.

We can try to guarantee this via a git hook (`pre-commit`)

[2015-08-11 03:19] milmazz commented on #261
@josevalim I've been testing @Dignifiedquire's work in the `build_system` branch and let me say that it is impressive :+1:

For sure in near future I'll include include more tests for JS with Karma, but the all structure appears to be right, I just add a few things to the README file (below the `assets` directory). I just want to ask you when you think is the right moment to merge the `build_syste

[2015-08-11 05:57] josevalim commented on #268
@milmazz can we do that only if the assets file change? Because remember we don't want to enforce that if people are fixing an Elixir bug.

[2015-08-11 06:06] josevalim commented on #254
@eksperimental I may have fixed this in master. We were setting a negative margin on the right side of the breadcrumbs and that could have been the issue.

[2015-08-12 00:51] eksperimental commented on #254
sorry @josevalim, but it did not fix it.
@milmazz is there anything that we are doing with javascript checking for "#content", because when i directly visit http://elixir-lang.org/docs/master/elixir/Version.html#content
and that may be the hint that there is a js function doing something to that div.
thank you.

[2015-08-12 04:13] milmazz commented on #254
@eksperimental Appears to be a problem related w/Firefox, I made a few tests with Chrome/Safari and everything appears to be working smoothly. But when I visit a page (w/Firefox) with any anchor link the `#content` section looks `-10px` to the left (but the computed CSS rules and the box model appears to be the same in both scenarios -with and without anchor link-, which is weird). I don't know wh

[2015-08-12 08:35] Dignifiedquire commented on #254
@milmazz fixed, see attached PR

[2015-08-12 18:20] josevalim opened #275 "New design"
## Action Plan

- [x] Sidebar styles
- [x] Content styles
- [x] Add footer
- [x] Only include from bootstrap what we use, rather than bundling all this stuff we don't need
- [ ] Highlight currently selected items in the sidebar modules/sections
- [ ] Pull fonts not from `templates/fonts` but from `node_modules/font-awesome` instead
- [x] Remove twitter bootstrap (we use too little of it) and repla

[2015-08-12 18:29] Dignifiedquire commented on #275
@josevalim thanks :)

[2015-08-12 18:42] milmazz commented on #275
@Dignifiedquire In the `new_design` branch all the unit test are running smoothly :) Also, I already replaced all the references to *Glyphicons*, now  we're using *Font Awesome*, the HTML structure for those icons was adapted to avoid confusion in screen readers. Tonight I'll work with the footer & header. Let me know if you need more help :+1:

[2015-08-12 18:52] Dignifiedquire commented on #275
Working on the sidebar now

[2015-08-12 21:16] eksperimental commented on #275
One thing that we should switch to is using hyphens in element ids and drop the convention from the old design where it uses undescore, so "full_list" should be "full-list" now. I think that is the standard in bootstrap and now we have a hybrid of both "_ and -"

[2015-08-12 21:19] Dignifiedquire commented on #275
@eksperimental yes I agree, I would also like to remove all usage of ids for styling and only use classes. See [this article](http://oli.jp/2011/ids/) for example as to why.

[2015-08-13 07:24] josevalim opened #279 "Index redirection is a bit annoying in practice"
/cc @eksperimental

Now that the feature is in master, we can see it working: http://elixir-lang.org/docs.html#master

I am honestly a little annoyed by the redirection. Although we could change the redirection from Elixir, it would be hard to do it for things like hexdocs (right @ericmj?).

If that is the cost, I would prefer to duplicate pages. Another idea is to have an iframe on index that inc

[2015-08-13 07:25] josevalim commented on #279
Yet another idea is to hide the redirection text (we can put it inside a noscript) and only show it with javascript about 3 seconds later. So we get a blank page (which is normal) but without all the busy text in the middle.

[2015-08-13 07:34] Dignifiedquire commented on #279
There is a cleaner solution, simply redirect immediately without showing anything. You can see an example of this here: http://karma-runner.github.io redirects to http://karma-runner.github.io/0.13/index.html without any issues.

The source can be found here for this: https://github.com/karma-runner/karma-runner.github.com/blob/master/index.html

[2015-08-13 10:57] eksperimental commented on #279
yes, it is very annoying indeed.
@Dignifiedquire's solution worked like a charm.

[2015-08-13 11:27] eksperimental commented on #275
Another question is how many of the glyphicons are we use,
right now the fonts are 215kb, including one svg file which is 108kb.
Relevant discussion could be https://github.com/elixir-lang/elixir-lang.github.com/pull/456

[2015-08-13 13:46] #279 closed

[2015-08-13 14:44] eksperimental opened #282 "Gulp instructions"
I am following the instructions in https://github.com/elixir-lang/ex_doc/tree/master/assets
but I cannot get it to work.

i run `gulp` from the ex_doc dir, and i get:

[code]

[2015-08-13 14:56] eksperimental commented on #282
somehow i mistakenly ran `sudo npm install gulp` and not `sudo npm install`

now when i run `sudo npm install` i get

[code]

and when i run `gulp`
[code]

[2015-08-13 15:02] eksperimental commented on #254
I am reopening this as #274 didn't fixit.

I have the feeling it is related to this line of code
https://github.com/elixir-lang/ex_doc/blob/master/assets/js/events.js#L344

and the offcanvas-navigation thing.
I tried replacing the links to #content  with #sidebar and it's not giving that issue (at least in firebug)

I'm trying to install but I cannot get it working, so i'm just reporting it here f

[2015-08-13 15:04] Dignifiedquire commented on #282
Sounds like your npm setup is a bit messed up. Try this

[code]

You should never user `sudo` for any `npm install` commands, especially not local ones, that will mess up your day

[2015-08-13 15:04] Dignifiedquire commented on #282
If you need more help, jump on IRC, that's quicker

[2015-08-13 16:17] eksperimental commented on #282
@Dignifiedquire it didnt work. I'm on IRC

[2015-08-13 16:57] Dignifiedquire commented on #282
@eksperimental sorry I'm out now..are you around later?

[2015-08-13 17:05] eksperimental commented on #282
@Dignifiedquire I may not, but do not worry, whenever I see you on IRC i will talk to you. thanks!

[2015-08-13 17:50] eksperimental opened #283 "Issues in third-party libraries affecting out generated docs"
This issue is just to list the bugs from third-party libraries but that still affect the docs generated by ExDoc.

The idea is to give more exposure to these bugs, and also save time when looking for that weird behaviour...

## Indented lines within Lists
- Library: [Earmark](https://github.com/pragdave/earmark/)
- Bug reported: https://github.com/pragdave/earmark/issues/27
- Code being affected:

[2015-08-13 17:51] josevalim commented on #283
It is a bug in our docs really. We should just fix `file.ex`. Can you please send a PR there? and close this one. :)

[2015-08-13 18:37] eksperimental commented on #283
The behaviour is a bit erratic. the list doesn't break until it finds a sixth whitespace in a raw.

https://gist.github.com/eksperimental/b8369ed6b317139218e7
![earmark_bug](https://cloud.githubusercontent.com/assets/9133420/9258291/d7889738-4224-11e5-8195-b49d69c424ac.png)

What is the format that we expect to have in the elixir files?
no spaces, just two to be in line with the text above?

[2015-08-13 18:48] josevalim commented on #283
The proper format to use in Elixir is 2 spaces before the bullet, 4 spaces after the line break.

[code]

[2015-08-13 19:09] eksperimental commented on #283
we need to add 2 spaces to these values since that's the margin we leave for the all the doc, correct?

[2015-08-13 19:10] milmazz opened #284 "Include a semantic template system for JS"
This is just a reminder, we need to refactor our JS code and include a minimal template system like [Handlebars ](http://handlebarsjs.com/), one of the functions that we need to improve is `fillSidebarWithNodes`, a previous discussion about this issue can be found in #278

[2015-08-13 19:27] josevalim commented on #283
We need to add two spaces because the code indent in bullet states with 8
spaces. So 2 + 2 + 4 is how the math works out for everything to be neatly
indented.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-08-13 22:53] milmazz commented on #275
We need to decide if we want to keep with the `identifyExternalLinks` function (which adds an icon to any external link #189) in `events.js`. Right now the links to the *source code* include an icon also. So, at the right side of the source link we have 2 icons, this looks ugly IMHO. What do you think about this?

[2015-08-14 03:02] josevalim commented on #275
We could also have a "data-no-external" attribute and not add the Source icon to links tagged with those. And then, of course, automatically tag the source with that. :)

[2015-08-14 05:33] #283 closed

[2015-08-14 20:18] Dignifiedquire commented on #275
I think we can remove the local fonts point, it's too much work, and it will still work if you are offline, just not with less nice fonts.

[2015-08-14 20:45] Dignifiedquire opened #289 "Having an outdated version in /doc results in test failures"
Checkout an older version, and build the docs of ex_doc into `/doc`. Checkout the latest version and run `mix test`. Some tests will fail. After removing the `/doc` folder all tests pass.

[2015-08-14 21:12] eksperimental commented on #289
@Dignifiedquire what version are you running.
im getting an error when running an older version.
and what command do you use to build the old docs.?
thank you

[2015-08-14 21:22] eksperimental commented on #289
ok, I was able to reproduce it.
you need to run `mix clean`
and then `mix test` will pass

[2015-08-14 22:09] Dignifiedquire commented on #289
Okay, thanks. But maybe that could be done automatically? (To help newbies like myself that like to forget things like that ;) )

[2015-08-15 07:19] josevalim commented on #289
Why what we have in /doc even matters? :S

[2015-08-15 07:51] eksperimental commented on #289
@josevalim I thought the same, but it's not what was in /doc but what was in /tmp/ebin/

[2015-08-15 07:54] eksperimental commented on #289
by the way, is there  a way to detect the app version used when a beam file was compiled?

[2015-08-15 08:11] josevalim commented on #289
@eksperimental ah, there isn't much we can do in this case I think. :(

[2015-08-15 09:32] josevalim opened #290 "Reduce blockquote size"
Search for "Note:" here:

http://hexdocs.pm/ecto/0.16.0/Ecto.html

It seems to be caused by bootstrap defaults?

[2015-08-15 10:31] Dignifiedquire commented on #290
Does this need to be fixed in master or is it enough in new_design

[2015-08-15 10:33] josevalim commented on #290
No need to rush. If @eksperimental or @milmazz can fix it in master, even better.

[2015-08-15 10:39] eksperimental commented on #290
I will fix it in master

[2015-08-15 12:51] eksperimental commented on #289
:-(

[2015-08-15 12:51] #289 closed

[2015-08-15 13:05] eksperimental commented on #290
@Dignifiedquire how can I build the CSS files now, without having them minified,
so i can look at the uncompressed sourcecode.
and what command should i run before commiting. thanks you!

[2015-08-15 14:31] eksperimental opened #291 "Tests are failing due to latest changes in Elixir master"
I think it's related to the latest chagnes related to Behaviour
I haven't followed what were the last changes about, so I cannot fix it.
[code]

[2015-08-15 14:36] eksperimental commented on #282
thank you so much @Dignifiedquire  for all the help!

[2015-08-15 14:36] #282 closed

[2015-08-15 15:36] josevalim commented on #291
I will investigate. Which elixir version?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-08-15 15:36] josevalim commented on #291
Sorry, the version is in the title. I will fix it when I get home. :)

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-08-15 16:21] josevalim commented on #291
I can't reproduce this. :( `mix clean && mix test` still errors for you?

[2015-08-15 16:24] milmazz commented on #291
@josevalim @eksperimental In my case all the tests are running OK.

[2015-08-15 16:40] eksperimental commented on #291
ok. i think there was something wrong with the compilation from elixir master,
I recompiled it, and problem solved.
thank you guys, sorry about the false alarm

[2015-08-15 16:40] #291 closed

[2015-08-15 17:43] milmazz opened #294 "Error trying to create docs for Ecto"
I'm getting the following error when I try to generate Ecto's documentation.

[code]

How to reproduce this error:

[code]

[2015-08-15 18:07] josevalim commented on #294
You need to use MIX_ENV=docs mix docs. That's because ecto has
dependencies.... So you need to use the mix task that knows how to load
them. The command line is useful mostly for elixir itself, really.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-08-15 20:52] milmazz commented on #294
@josevalim Thanks for your suggestion. Issue resolved!

[2015-08-15 20:52] #294 closed

[2015-08-15 21:05] jeramyRR opened #295 "Hex package does not pull earmark dependency"
Adding :ex_doc to mix.exs does not also pull earmark when executing `mix deps.get`  I'm not sure if this is the appropriate place to put this issue, or if it should be in the Hex github repo.

## Doesn't Work
[code]

## Works
[code]

[2015-08-15 21:13] milmazz commented on #295
According to the `README.md` you need to explicitly indicate `earmark` as dependency, remember that you can use other Markdown parsers, such as: `pandoc` or `hoedown`.

HTH

[2015-08-15 21:22] jeramyRR commented on #295
That is somewhat confusing since pulling ex_doc straight from github and running `mix deps.get` pulls earmark.

[2015-08-15 21:42] josevalim commented on #295
That's how optional dependencies work. They work on the current project, you need to specify them for your own project. Please follow the README instructions.

[2015-08-15 21:42] #295 closed

[2015-08-16 20:16] milmazz commented on #275
@Dignifiedquire In the `new_design` branch there is an updated version of `fillSidebarWithNodes`, this new version use Handlebars, let me know what do you think, any suggestion is more than welcome.

[2015-08-16 20:25] Dignifiedquire commented on #275
@milmazz looking good, see some comments in IRC

[2015-08-16 22:36] Dignifiedquire commented on #275
New target design:

![screen shot 2015-08-16 at 22 15 34](https://cloud.githubusercontent.com/assets/790842/9295718/eed00912-4477-11e5-9c35-f9fd76f289dd.png)

[2015-08-17 04:03] eksperimental commented on #275
@Dignifiedquire It looks simply amazing.
I really, REALLY appreciate the simplicity and clarity of it

[2015-08-17 08:59] ericmj opened #297 "Wrong casing on readme link"
Plug docs doesn't work due to this bug: http://hexdocs.pm/plug/ redirects to http://hexdocs.pm/plug/README.html but should redirect to http://hexdocs.pm/plug/readme.html.

[2015-08-17 09:07] eksperimental commented on #297
@ericmj what version of ExDoc are you running,
and what is the command you use to generate that code?
I am looking into that

[2015-08-17 09:27] eksperimental commented on #297
Eric, i have added a test and it is working fine (you can see the PR linked above).
So i guess what it could be is that main: "README" is being set,
instead of main: "readme"

[2015-08-17 09:30] ericmj commented on #297
I don't know which version it was built with. Looking at the plug 1.0.0 commit it seems ex_doc 0.8.3 is used.

I don't think the test is correct since you do: `main: "readme"` but plug's mix.exs says `main: "README"`. If all files are normalized to lower case you will also need to normalize the links.

[2015-08-17 09:34] eksperimental commented on #297
the thing is main: README is understood as that you want to link to the README module.
and since modules cannot start with a lowercase, then readme.html would not collide with any module name, same for index.html

[2015-08-17 09:35] josevalim commented on #297
@eksperimental That should not be it. `main: "...."` refers to any page. we should not downcase nor manipulate the main value in any way.

[2015-08-17 09:36] ericmj commented on #297
@josevalim The main value is not changed, the README.html filename is changed to lowercase.

[2015-08-17 09:38] josevalim commented on #297
@ericmj Yes, we should definitely not do that.

[2015-08-17 09:39] eksperimental commented on #297
we are using in "main:" two values in lowercase, for special cases, which is "overview" and "readme", overview is the default one.

[2015-08-17 09:49] josevalim commented on #297
@eksperimental the README is uppercase because it mirrors the page default, which is README.md.

[2015-08-17 09:53] josevalim commented on #297
The plan, btw, was to support translating multiple `.md` files, like `CHANGELOG.md`, user files and so on. In such cases, it is imperative for us to keep the same case as the original file. That's why an uppercase README makes sense. :)

[2015-08-17 09:53] josevalim commented on #297
Fixed in master and 0.8.4 has been released.

[2015-08-17 09:53] #297 closed

[2015-08-17 11:53] #290 closed

[2015-08-17 12:01] eksperimental commented on #290
has this been fixed, in New Design? if not I will add it to the task list

[2015-08-17 14:05] mgwidmann commented on #275
Design looks fantastic! But, I'm curious... Why do the module names show in all caps on the left? Would `MyModule.SubModule` show up as `MYMODULE.SUBMODULE`? It looks good in the mock up, but this may become annoying when using it...

Just my $0.02 cents... Sorry if its a dumb question, I don't have time to pull it down and try it out...

[2015-08-17 14:19] josevalim commented on #275
Oh, that's a very good point @mgwidmann. We can't show them in all caps. :D Sometimes it matters a lot, like `Plug.MIME` or `Plug.Mime`.

[2015-08-17 14:40] Dignifiedquire commented on #275
Yes that was an oversight on my part. Will do an new revision tonight hopefully.

[2015-08-17 14:43] josevalim commented on #275
@Dignifiedquire on my part too :D

[2015-08-17 18:26] Dignifiedquire commented on #275
Alright. Version 3 Draft 1 incorporating the feedback I got so far.

![layout02-v1](https://cloud.githubusercontent.com/assets/790842/9312647/3b1df6ca-451e-11e5-9ea9-1c1274a22eda.png)

// cc @josevalim @eksperimental @milmazz

[2015-08-17 18:34] mgwidmann commented on #275
I kinda liked the purple...  was different. ¯\_(ツ)_/¯

[2015-08-17 18:34] eksperimental commented on #275
I find it difficult to find the information now on the modules,
it could be because my eyes are tired, or because the lack of contrast. but I guess is a good condition to test it out.
I found the previous one much easier to spot along a long list.
Maybe full black, and a bit thicker...

[2015-08-17 18:48] josevalim commented on #275
I really like the fonts, the small blue details (which maybe could be
purple, sorry! :D) and the overall organization. I do miss the detail that
makes the sidebar a bit different though.

I can think of two improvements, not sure if they help. Change the sidebar
links to a lighter color or add a light background. Another idea is to make
the left side easily collapsable so if it is too strong, you

[2015-08-17 18:48] Dignifiedquire commented on #275
You'll have to talk that out with @josevalim ;)

I would love to do some more nesting/visualization with these long lists are not great from any ui perspective.

it could be because my eyes are tired, or because the lack of contrast. but I guess is a good condition to test it out.

Yes I can increase the thickness a bit (the color is already full on black). Also did you try viewing it in zoom-leve

[2015-08-17 19:13] tmjoen commented on #275
I think the last version with the white sidebar is far superior. Much cleaner and more professional looking. Nice work!

[2015-08-17 19:30] Dignifiedquire commented on #275
Light and dark alternatives with improved readability:

![layout02-v2-dark](https://cloud.githubusercontent.com/assets/790842/9314090/ffbc1d7e-4526-11e5-9f58-05978ce74bd2.png)
![layout02-v2-light](https://cloud.githubusercontent.com/assets/790842/9314091/ffbf9c10-4526-11e5-9cdd-2724f37de29a.png)

we should not be using a light gray background, either fully commit to a dark sidebar or fully commit

[2015-08-17 19:31] milmazz commented on #275
@Dignifiedquire I like all versions, really, the ones of this thread and the original proposal #150

But, if I need to choose one, then:

* From the first version, I think that we don't need the sticky header at the top (almost empty) and I prefer the new organization in the sidebar area (present in newer versions). But I want to see in the newer versions some contrast (just a little) in the code

[2015-08-17 19:40] josevalim commented on #275
:+1: for the new dark layout. Outstanding. Beautiful.

[2015-08-17 20:24] Dignifiedquire commented on #275
Latest version from irc:
![layout02-v4-dark](https://cloud.githubusercontent.com/assets/790842/9315292/ba1bf318-452e-11e5-86b2-27ae48f7ef4b.png)

[2015-08-17 20:33] josevalim commented on #275
Yes, yes, yes! I love the code colors!

[2015-08-17 22:52] milmazz opened #302 "One JSON object to rule them all"
To bring some flexibility in the design process #275, we need to decouple a few things first, most notably the things related with the sidebar area.

* In the new design we want to move this [section](https://github.com/elixir-lang/ex_doc/blob/new_design/lib/ex_doc/formatter/html/templates/module_template.eex#L12-L28) into the sidebar.
* We also want to replace the current `sidebar_items.js` with

[2015-08-18 05:02] eksperimental commented on #275
Guys: all my PRs have been merged,
@milmazz if you want to rebase for one last time, so we can carry on from the new_design branch

thank you everyone

[2015-08-18 05:37] eksperimental commented on #275
Ok, here is another suggestion,

One thing that I wanted to improve, in the current design and I think we should keep in mind, its a heading (but it doesn't not necessarily have to have a big font, in the current design i would make it bold)

in the new design, it looks smaller than the regular text, which is confusing.
the (`</>`) icon, which makes it look like code and even more confusing.
I sup

[2015-08-18 05:57] milmazz commented on #275
@eksperimental Rebase done!, please review all the changes. Please, commit all the new features into `new_design`, only fix to bugs will be pushed into `master` (after that I can rebase again), in both cases via PR (as we usually do).

We want to move that navigation bar into the sidebar, please check [this screenshot](https://cloud.githubusercontent.com/assets/790842/4030443/076a6136-2c5d-11e4-91

[2015-08-18 06:14] eksperimental commented on #275
@milmazz I have down a fresh pull from new_design and it says there are conflicts to merge.

[2015-08-18 06:37] josevalim commented on #275
@eksperimental you should not get conflicts from pulling new-design, should you? Unless you have changes in new-design or you have accidentally pulled new-design into another branch like master.

[2015-08-18 07:24] josevalim commented on #302
It looks great to me. Btw, one downside of moving the `[Summary] | [Types] | ...` to the sidebar is that we don't currently highlight the item in the sidebar. For example:

http://elixir-lang.org/docs/master/elixir/Kernel.html

Can we solve this problem? Because if we can't solve this problem reliably, then I am :-1: on moving those links there.

[2015-08-18 07:50] Dignifiedquire commented on #302
@milmazz looks good to me
@josevalim yes it is vital that we ar able to highlight the current active module and section in any case

[2015-08-18 08:39] eksperimental commented on #275
@josevalim now it is working (yes i deleted the branch, create a new one from master, pulled it and tried to rebase from master and got that).,
now it is working but the last revert was not there in the new design

[2015-08-18 08:47] josevalim commented on #275
We may need to rebase again, yeah.

[2015-08-18 16:41] milmazz commented on #302
@josevalim @Dignifiedquire Great!, Tonight I'll work on this.

Yes, in the sidebar creation process we can detect if the current element is *Active*, and then with CSS we can apply some magic :grin:

[2015-08-18 17:02] milmazz commented on #275
@eksperimental @josevalim @Dignifiedquire Rebase done! Please let me know is there any issues after this.

[2015-08-18 17:07] eksperimental commented on #275
@milmazz it worked flawlessly this time. thanks ;-D

[2015-08-18 17:12] milmazz opened #305 "EPUB support"
Just to let you know that I've been doing some research and some work to include an EPUB formatter for `ExDoc`, also the idea of this message is to inform you about this task and avoid duplication of efforts.

Of course, I'll give more priority to the issues related with the `new_design`, but I'll keep working whenever it's possible.

I'll keep you posted!

[2015-08-18 17:22] eksperimental commented on #305
you may get some ideas from:
https://github.com/jfreeze/elixir-book
It uses a ruby library called softcover
and no elixir code is used, but you may get some ideas

[2015-08-19 22:24] jeregrine opened #307 "Deep links from sidebar are broken"
Ex: http://hexdocs.pm/ecto/Ecto.Repo.html#update_all/3 is what you get when you click the sidebar
but http://hexdocs.pm/ecto/Ecto.Repo.html#c:update_all/3 is what it should be.

[2015-08-20 04:04] milmazz commented on #307
@jeregrine Thanks for your report, I'll fix this ASAP.

[2015-08-21 14:34] #307 closed

[2015-08-22 21:11] Dignifiedquire opened #312 "Improve template tests"
At the moment the tests for the templates are written using regexes mostly, which is brittle and very sensitive to things like space changes, simple addition of a class.
I suggest we use an html parser like https://github.com/philss/floki to test the html.

For example something like this:

[code]

would become

[code]
or even nicer with some helper methods

[code]

[2015-08-26 10:03] lpil opened #316 "Allow users to include additional markdown pages"
YARD, a similiar tool for Ruby, allows the user to include additional pages into the generated site, such as this [getting started](http://www.rubydoc.info/gems/yard/file/docs/GettingStarted.md) page on their site.

I like this feature as it allows me to include documents that detail more general architectural information in my documentation, and I think it would make a strong addition to ExDoc. :

[2015-08-26 11:24] Dignifiedquire commented on #316
Sounds like a good idea to me.

[2015-08-26 11:34] josevalim commented on #316
We should definitely do this. Currently we only support README and supporting other pages are planned. However, I would wait until the new design is ready. :)

[2015-08-26 11:47] Dignifiedquire commented on #316
Well I should start to think about the best way to integrate them into the navigation then :)

[2015-08-26 12:03] lpil commented on #316
Perhaps we could specify the files like this?

[code]

[2015-08-26 12:58] josevalim commented on #316
@Dignifiedquire definitely.

@lpil exdoc is usually configured on your mix because it is only a project concern, not an application one. But such a list would be ideal, yes.

[2015-08-26 13:24] milmazz commented on #316
I'm agree with this, just for reference, this is related with an old requirement #75, even there is an old proposal #76

Definitely it would be great to have this feature after the redesign.

[2015-08-26 13:31] milmazz commented on #275
@Dignifiedquire I've been working with the EPUB support for ExDoc, I'm almost done with that feature. So, let me know if I can help you in some way. If you want I can work with the search feature (recently broken), or is there some task with higher priority?

[2015-08-26 13:36] Dignifiedquire commented on #275
@milmazz it would be great if you could work on search, which is the main missing feature for the new design. The idea is that you type the query in the sidebar and when you hit enter it displays the results in the content area.
I hope to get the rest of the content styling done in the next couple of days :)

[2015-08-26 15:29] milmazz commented on #312
Something like this could help us to avoid the unit tests broken every time we change the layout or some style in general, and this kind of changes are very common in this redesign phase.

@josevalim What do you think? are you agree with this proposal?

[2015-08-26 15:58] josevalim commented on #312
Yes, that sounds good to me.

[2015-08-26 18:57] Dignifiedquire commented on #312
Working on this now

[2015-08-27 21:25] milmazz commented on #305
@Dignifiedquire If you have some free time, could you please help me to improve the CSS styles for the EPUB version?

With [Calibre](http://calibre-ebook.com/) you can edit an e-book, there is a guide that explains [how to edit an e-book](http://manual.calibre-ebook.com/edit.html), you can even add new fonts.

[Here](http://milmazz.koding.io/Ecto-v1.0.0.epub) you can find an e-book for [Ecto](http

[2015-08-28 07:41] Dignifiedquire commented on #305
Great stuff @milmazz I will take a look at styling for this in the next days

[2015-09-01 15:04] Dignifiedquire commented on #275
@milmazz have you started on the search? Also what about the custom image support? Do you think it's important or should we leave it for the next iteration

[2015-09-01 16:16] milmazz commented on #275
@Dignifiedquire Not yet, I haven't had so much time to work in this recently, if you can start with this feature please go ahead. Feel free to ping me if you have any questions.

About the custom image support, it would be great, but with the recent announcement of `Elixir-1.1.0-beta` I think we need to focus on small changes. I think it would be awesome if we can release v0.9 with the new Elixir

[2015-09-03 14:23] milmazz commented on #275
@Dignifiedquire Have you been able to work on the search feature? Could you please update the list of pending tasks at the beginning of this issue?

Any feedback is greatly appreciate it.

[2015-09-03 14:43] Dignifiedquire commented on #275
@milmazz sorry, my holidays didn't let me as much time for coding as I wished, updating the list now. No I haven't started on the search feature yet, but might be able to do some work on it tonight.

[2015-09-04 03:31] eksperimental opened #321 "Modules and functions that are not being linked"
Needs Fixing:
- [ ] **typespecs** are not getting linked.
- [ ] **Kernel.Specialforms** some being detected as functions
  - [ ] create a test that lists all available special forms in Elixir, and see if all of them get linked.

======
I created a shell script that checks for anything references to Modules that are not actually linked for the elixir project
http://git.io/check_not_linked_exdoc.sh

[2015-09-04 04:45] milmazz commented on #275
@Dignifiedquire FYI, I already merge your last PR into `new_design`. I also rebase `new_design` changes on `master`. Please, when you have time, fix #318 history (which it is broken after the rebase process)

The build result for `new_design` is OK, there was a little issue with *ESLint*, but I already fix that.

The current status of the `new_design` branch is awesome, looks really great, excelle

[2015-09-04 13:05] ericmj commented on #321
1. Do we ever create links when arity is not specified?

2. User bug.

3. I think arity is required here too.

4. This is a bug.

[2015-09-04 22:11] Dignifiedquire commented on #275
@milmazz just finished the base implementation for search.
I've also pushed some fixes for eslint to the `new_design` branch.

About the blinking, I will take a look tomorrow

[2015-09-05 08:06] josevalim commented on #275
Great job folks! I have been a bit away because I want to get the 1.1 beta out. I hope to have some ExDoc cycles in the next week. :)

[2015-09-07 17:58] eksperimental opened #326 "Sidebar - all function links are broken"
"Undefined" is the name for every function
here's the generated html code.
[code]

this works fine in v0.8.4,
so it has recently been introduced

[2015-09-07 19:00] eksperimental commented on #321
@ericmj I have submitted a PR for elixir fixing what had to be fixed from the Elixir side.

but, typespecs did not work when specified the arity, so I didn't touch that.

I will write a test in exdoc that checks for all the existing specialforms so in the future when new ones get added

[2015-09-09 06:07] milmazz commented on #326
@eksperimental Could you please give more details about this issue? how can I reproduce this? This behaviour occurs on which branch? `master` or `new_design`?

[2015-09-09 06:11] eksperimental commented on #326
@milmazz just run build ex_doc from master, and `make docs`

[2015-09-09 06:14] milmazz commented on #275
@Dignifiedquire I'll try to add all the Elixir code required to include the logo. I'll keep you posted!

I think that we're almost ready to merge `new_design` into `master` and receive some feedback. WDYT?

[2015-09-09 06:27] milmazz commented on #326
@eksperimental Are you sure? :confused:

[code]

[2015-09-09 06:37] milmazz commented on #254
@eksperimental Is this issue still valid? Also apply for the `new_design` branch?

[2015-09-09 06:39] milmazz commented on #252
@eksperimental Is this issue still valid? Could you please review the current `new_design` branch?, the sidebar behaviour changed a lot!

[2015-09-09 06:40] eksperimental commented on #254
@milmazz I haven't tested out new_design, once you merged, I will.
please ping me if I forget

[2015-09-09 06:44] eksperimental commented on #326
you are right @milmazz !
I'm sure what happened was that I checked out to master, and forgot to compile, and it was the beams from another dev branch a previously compiled.

I have to keep remembering to run `ex_doc/mix`, before `elixir/make docs`

[2015-09-09 06:44] #326 closed

[2015-09-09 09:12] Dignifiedquire commented on #302
Closing this, as this is now present in the `new_design` branch

[2015-09-09 09:12] #302 closed

[2015-09-09 09:12] Dignifiedquire commented on #284
Done in `new_design`

[2015-09-09 09:12] #284 closed

[2015-09-09 09:13] Dignifiedquire commented on #150
Closing in favor of #275

[2015-09-09 09:13] #150 closed

[2015-09-09 10:26] josevalim commented on #284
This looks all awesome. I can't wait to give it a try! :D

[2015-09-09 14:55] milmazz commented on #275
@Dignifiedquire Do we need to restrict the format (e.g. PNG only) or dimensions (width or height) of the logo?

[2015-09-09 14:57] Dignifiedquire commented on #275
We should restrict the format to `jpg|png` and leave a note that the image will be displayed in `64x64` but we not need to restrict the image in terms of size.

[2015-09-09 15:02] milmazz commented on #275
@Dignifiedquire Got it! Thanks.

[2015-09-09 17:59] milmazz commented on #275
@josevalim I think that we're ready to merge `new_design` into `master`, I think that @Dignifiedquire thinks the same :grinning:

Would you do the honor? :shipit:

[2015-09-09 18:09] josevalim commented on #275
Just be clear: @Dignifiedquire should do the honors :) Whenever you are ready!   :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-09-09 18:20] milmazz commented on #275
@josevalim :+1: /cc @Dignifiedquire

[2015-09-09 19:28] #275 closed

[2015-09-09 19:29] Dignifiedquire opened #328 "[sidebar] Highlight currently selected items"

[2015-09-09 19:29] dignifiedquire opened #329 "[sidebar] Add nesting level for the first level of modules"
@josevalim do you think you could look into this, or provide some tips on how to implement this?

[2015-09-09 19:30] Dignifiedquire opened #330 "Add image support"
@milmazz all yours

[2015-09-09 22:48] milmazz commented on #254
@eksperimental `new_design` is already merged into `master`

[2015-09-09 22:55] Dignifiedquire commented on #254
Breadcrumbs are no more, so I think it's safe to close this. Please reopen @eksperimental if you still find this issue.

[2015-09-09 22:55] #254 closed

[2015-09-09 23:06] milmazz commented on #252
Function list in the sidebar area are not available in the new design. I think it's safe to close this issue. Please reopen @eksperimental if you want.

[2015-09-09 23:06] #252 closed

[2015-09-09 23:09] #328 closed

[2015-09-09 23:13] milmazz opened #332 "Search features"
Search improvements:

* [x] provide a message to the user when there are no results at all
* [x] Ensure the `ESC` key cleans the input element
* [ ] Let's change the URL once you search and ensure it can be sent around. Note it may not work on the file protocol though, so we need to check for window.history
* [ ] Let's ensure the back button works with search (depends on the item above)

[2015-09-10 04:00] milmazz commented on #330
@Dignifiedquire Please review the f927a3c commit on the `logo` branch. Notice that in the sidebar now you can see something like this:

[code]

This option is available via `---logo Path_to_file.{jpg,png}`

Could you please add all the required CSS or if you want change the `sidebar_template.eex` and "beautify" the all thing :smile:

/cc @josevalim

[2015-09-10 09:11] Dignifiedquire commented on #330
@milmazz could you please pass the path to the logo including the extension as a variable to the sidebar template? As at the moment I can reference the image as I don't know the extension

[2015-09-10 12:32] lexmag opened #334 "Make "View Source" to show actual definition, not `@doc` attribute"

[2015-09-10 13:03] Dignifiedquire opened #335 "[content] Add proper table styles"

[2015-09-10 13:10] josevalim commented on #334
If you want to send a PR. We need to reach the line from the abstract format. :)

[2015-09-10 13:23] josevalim commented on #261
I am closing this since it is all done. :D

[2015-09-10 13:23] #261 closed

[2015-09-10 13:24] josevalim commented on #268
Is this still relevant? If not, please close it. :)

[2015-09-10 13:25] josevalim commented on #305
Let's focus on this after 0.9 is out. Once we get this in, let's add a new "Area" to the labels called "EPUB".

[2015-09-10 13:35] asonge opened #336 "[sidebar] The menu icon disappears in iOS Safari after opening menu"
The menu icon disappears in iOS Safari after opening menu

Screenshot: ![img_2089](https://cloud.githubusercontent.com/assets/90809/9789619/cc268c2e-5796-11e5-9362-70c9299506db.PNG)

[2015-09-10 13:35] josevalim commented on #336
Thank you, I was going to open just this. Also, it is worth noting that the button is very "light" instead of black when you just open the page.

[2015-09-10 13:46] josevalim opened #337 "[sidebar] Once a module is selected, there is no indication there are other modules above"
For example, access: http://elixir-lang.org/docs/master/elixir/Kernel.html

There are a bunch of modules above Kernel but there is no indication. I am not sure of what would be the best solution though.

[2015-09-10 13:49] josevalim opened #338 "[sidebar] Overview is never selected"
Clicking "OVERVIEW" is a bit weird because it is never really selected like Module and friends. So my first reaction when I clicked it, since the page reloaded super fast, is that I never went to the OVERVIEW page. To reproduce:

1. Click http://elixir-lang.org/docs/master/elixir/Version.html
2. Click on overview on the sidebar

This is an impression though and I may be wrong. Maybe a simpler fix

[2015-09-10 15:10] josevalim opened #339 "[content] The functions in the module summary don't look like links"
This is a twitter feedback. To be clear, he is mentioning the functions here:

http://elixir-lang.org/docs/master/elixir/Kernel.html#summary_details

[2015-09-10 15:11] Dignifiedquire commented on #339
Not fully convinced this can be classified as bug. I would say we can discuss it, but to be honest I think the current version is working out pretty good

[2015-09-10 15:12] josevalim opened #340 "[sidebar] Clicking on the module name after summary does not scroll up"
To reproduce:

1. Visit: http://elixir-lang.org/docs/master/elixir/Kernel.html#summary_details
2. Click on Kernel on the left side. It does not scroll up.

Using Chrome.

[2015-09-10 15:51] Dignifiedquire commented on #332
Search url and history support turns out to be much more complicated, I'm afraid we will have to delay that.

[2015-09-10 15:53] josevalim commented on #332
No problem. Let's have that pos 0.9. :D

[2015-09-10 15:53] dignifiedquire opened #341 "[Search] Add history support to the search page"
The idea here is to:
1. Change the URL once you search something
2. Make sure the back button works

We don't need to worry about this working with the file protocol.

Ref #332

[2015-09-10 15:54] Dignifiedquire commented on #332
Closing this then in favor of #341 as the rest I've just fixed

[2015-09-10 15:54] #332 closed

[2015-09-10 16:30] josevalim commented on #339
@Dignifiedquire it is your call. One non-obstrusive idea is that on mouse over an arrow pointing down could appear on the right side. The same way the link icon appears when you mouse over the actual function signature in the docs.

[2015-09-10 16:54] josevalim opened #342 "<code> tags should not be in italic"
For example, `sigil_r` and friends in the summary here: http://elixir-lang.org/docs/master/elixir/Kernel.html#summary_details

<img width="255" alt="screen shot 2015-09-10 at 18 53 07" src="https://cloud.githubusercontent.com/assets/9582/9794763/431eb2d8-57ed-11e5-916f-9815a9bf8975.png">

Notice the `~r` is in italic. Maybe we should not have code in italic as it can be harder to read? It would lo

[2015-09-10 16:56] Dignifiedquire commented on #342
@josevalim totally right, these should not be italic.

[2015-09-10 16:58] paulcsmith commented on #339
FWIF I also thought that the links in the summary did not look clickable. I actually wondered where the summary was for a bit. The docs look great though, just wanted to throw in my 2 cents :)

[2015-09-10 17:00] josevalim opened #343 "Accessing the summary details sections directly does not highlight "Summary" in the sidebar"
Steps to reproduce:

1. Visit http://elixir-lang.org/docs/master/elixir/Kernel.html#summary_details
2. Notice that you have `| Summary` in the sidebar and not `> Summary`

[2015-09-10 17:04] eksperimental commented on #342
:+1:

[2015-09-10 18:04] josevalim opened #345 "Remove has_readme variables from templates"
We can simply rely on config.readme.

[2015-09-10 18:47] #342 closed

[2015-09-10 18:49] Dignifiedquire commented on #343
Resolved in 93fde30896b9a5776fc2827ecb9f3afff32c69a4

[2015-09-10 18:49] #343 closed

[2015-09-10 18:50] Dignifiedquire commented on #337
I haven't found a good way to solve this yet, happy to hear suggestions.

[2015-09-10 18:55] josevalim commented on #337
One simple solution: can we scroll to two items above the current item? Then it looks like this:

<img width="264" alt="screen shot 2015-09-10 at 20 54 10" src="https://cloud.githubusercontent.com/assets/9582/9797914/2b001d48-57fe-11e5-81ef-57075eca1825.png">

The only issue is that, on first glance, the menu is too close to the modules lists, so it may not be apparent. Maybe the previous formatio

[2015-09-10 20:08] #336 closed

[2015-09-10 20:14] #330 closed

[2015-09-10 21:09] milmazz commented on #345
@josevalim Are you working on this? I can give it a try if you want, I think is almost the same as we did removing `has_logo`.

[2015-09-10 21:14] josevalim commented on #345
Yes, please go ahead then. We can just use `config.readme` it seems. :)

[2015-09-11 00:29] #345 closed

[2015-09-11 07:28] eksperimental opened #347 "Modules summary do not interpret numbered links"
http://elixir-lang.org/docs/master/elixir/overview.html#modules_summary
it will read:

this happens because ExDoc only reads the first line, and ignores the rest, and that [0] referenced is declared at the bottom of the module doc https://github.com/elixir-lang/elixir/blob/12f89a30b46279398fc7143e433681c2194b03d9/lib/elixir/lib/inspect/algebra.ex#L135

[2015-09-11 07:37] josevalim commented on #347
We should change the docs in Elixir. :)

[2015-09-11 07:37] #347 closed

[2015-09-11 07:41] eksperimental commented on #347
I don't think it's a bug in Elixir,
we can expect users to do the same, and to expect it to work. If the links are working in the module itself, why aren't they working in the summary.

I can update the docs in Elixir so we don't have that for 1.1, but I would consider this a bug.

[2015-09-11 07:42] josevalim commented on #347
@eksperimental i am fine to say it is a limitation in ExDoc then. Fixing it is going to be annoying and it will be complexity that is not worth for the benefits it brings.

[2015-09-11 07:44] eksperimental commented on #347
ok. so, should we document this somewhere?

[2015-09-11 07:45] josevalim commented on #347
I am fine with leaving it just as is, but we can wait for others feedback. :)

[2015-09-11 08:01] eksperimental opened #348 "Backticks are not interpreted inside HEADINGS (Earkmark bug)"
I'm posting this here to bring more attention to the bug.

[code]

earmark will convert the code above to:

[code]

while the rest of the implementations will do:

[code]

Full report: https://github.com/pragdave/earmark/issues/30

[2015-09-11 15:17] #335 closed

[2015-09-11 15:40] ericmj opened #349 "Callback links doesn't work"
See http://elixir-lang.org/docs/master/elixir/MapSet.html

[2015-09-11 15:42] iamvery opened #350 "Automatic documentation link for defdelegate"
From irc:

[2015-09-11 15:50] #350 closed

[2015-09-11 15:52] iamvery commented on #350
:100: :heart:

[2015-09-11 16:04] josevalim commented on #350
Thanks for pasting it here. My IRC client is horrible at pasting stuff!

[2015-09-11 16:21] iamvery commented on #350
literally me using irc:

![](http://i.imgur.com/xVyoSl.jpg)

[2015-09-11 19:17] #338 closed

[2015-09-11 19:17] #337 closed

[2015-09-11 19:26] #340 closed

[2015-09-11 21:25] Dignifiedquire opened #351 "Elixir logo"
![elixir-logo-docs](https://cloud.githubusercontent.com/assets/790842/9826692/733c92b0-58dc-11e5-8d25-7e4a64d5de17.png)

[2015-09-11 22:23] Dignifiedquire commented on #351
![elixir-simple](https://cloud.githubusercontent.com/assets/790842/9827650/7c65cf5c-58e4-11e5-996a-a07c7a7b6237.png)

[2015-09-11 22:23] josevalim opened #352 "The sidebar is flashing"
Because we make the sidebar show up after the page is loaded, we get the impression it is flashing:

You can see this by navigating through different modules quickly: http://elixir-lang.org/docs/master/elixir/Kernel.html

I am not sure if we can fix this though.

[2015-09-11 22:24] Dignifiedquire commented on #352
Can be fixed, needs some restructuring of how the sidebar works though.

[2015-09-11 22:24] Dignifiedquire commented on #352
Basic idea:

* Show/hide sidebar depending on the screen size using css
* JS only overrides those settings when the toggle is pressed

[2015-09-11 22:29] Dignifiedquire commented on #351
![elixir-logo-horizontal-02](https://cloud.githubusercontent.com/assets/790842/9827709/5549aa14-58e5-11e5-8ef5-0956476c1f1e.png)

[2015-09-11 22:31] Dignifiedquire commented on #351
![elixir-logo-horizontal-02](https://cloud.githubusercontent.com/assets/790842/9827730/8ba6d744-58e5-11e5-860d-57df5b142328.png)

[2015-09-11 22:34] #351 closed

[2015-09-11 22:37] josevalim opened #353 "Make the specs more compact"
Feedback from Twitter. The specs today take a lot of space, even more than the function signature, we could maybe it a bit more compact:

https://twitter.com/PaulLamb/status/642449985309679616

[2015-09-11 22:46] josevalim commented on #349
Nor callbacks themselves are generated.

[2015-09-11 22:49] josevalim opened #354 "Type docs seems out of proportion"
See the text alongside the types section here: http://elixir-lang.org/docs/master/elixir/GenServer.html#types_details

Please close if this is intended.

[2015-09-11 22:54] Dignifiedquire commented on #354
Needs improving :)

[2015-09-11 22:57] josevalim opened #355 "Clean up the classes coming from the sidebar template"
When we made the sidebar dynamic, we added classes like "node" and "docs". It seems those classes are no longer used and can be :fire:.

[2015-09-11 22:58] josevalim opened #356 "Revisit the need for functions in the sidebar"
We will release 0.9 without this but we should keep tracking the feedback on this.

[2015-09-11 22:58] Dignifiedquire commented on #355
They are actually used for design purposes, but they should be renamed to better match what they are representing.

[2015-09-11 23:19] josevalim commented on #349
Fixed in master.

[2015-09-11 23:19] #349 closed

[2015-09-11 23:24] josevalim commented on #353
To add to this, we should probably add `class="elixir hljs"` to the spec snippets. They currently have no syntax which makes it unreadable in cases like this: file:///Users/jose/OSS/elixir/doc/elixir/GenServer.html#callbacks_details

Also notice some specs have links inside. :) See "from" in handle_call/3.

[2015-09-11 23:24] josevalim commented on #353
I am tagging this for fix before 0.9.

[2015-09-11 23:27] josevalim opened #357 "The logo dances when collapsing/expanding sidebar"
To reproduce:

1. Visit http://elixir-lang.org/docs/master/elixir/GenServer.html#callbacks_details
2. Click on the hamburger menu multiple times. The logo appears in weird places

Browser: Chrome.

[2015-09-12 05:40] josevalim commented on #356
I've had one idea on this topic. I don't think folks actually want the functions in the sidebar, they do want, however, a place they can easily see all functions for a given module defined. The question is: do we have such a place in the docs? Actually, we do: the search page!

For example, if we search for something as common as "a", we see a bunch of results and they are all already neatly organ

[2015-09-12 14:19] Dignifiedquire commented on #356
Thanks @josevalim for the clarification, I have some ideas around this, will hopefully get some mockups in the next days to talk through them

[2015-09-12 14:21] Dignifiedquire commented on #357
Will be fixed when #352 is resolved (the main issue is that the logo is currently absolute positioned)

[2015-09-12 14:22] Dignifiedquire commented on #353
Agreed, the need proper highlighting

[2015-09-12 14:29] josevalim commented on #357
Ah, ok. I will remove the v0.9 milestone then. I don't think this is a blocker. :)

[2015-09-12 15:31] Dignifiedquire commented on #357
Working on this already, so it will be fixed

[2015-09-12 17:06] #357 closed

[2015-09-12 19:02] Dignifiedquire commented on #354
Done

[2015-09-12 19:02] #354 closed

[2015-09-12 19:03] Dignifiedquire commented on #352
Done

[2015-09-12 19:03] #352 closed

[2015-09-12 19:03] Dignifiedquire commented on #353
Wrong issue referenced :/

[2015-09-12 19:04] #353 closed

[2015-09-12 19:10] eksperimental opened #359 "Mobile: sidebar completely unusable when screen in landscape view"
the only scrollable part of the sidebar is the function list (this happens in either portrait or landscape, let me know if I should open a new issue for this)

the thing is when in landscape view, since it is not scrollable, all the sidebar is unusable because there is nothing to scroll. the only thing we can do is type something in the search and scroll it in the main area

Browser: Chrome

[2015-09-12 20:06] Dignifiedquire commented on #359
Not sure I understand, that's the idea, that only the function part is scrollable

[2015-09-12 20:22] josevalim commented on #359
I think this is the issue:

![img_3211](https://cloud.githubusercontent.com/assets/9582/9833599/b9a7d55a-599c-11e5-9650-a6f2f29193dd.PNG)

The scrolling part is too small, you can't get to it.

[2015-09-12 20:27] Dignifiedquire commented on #359
Okay, I see should be easy to fix

[2015-09-12 20:32] eksperimental commented on #359
exactly.
on my phone I don't even get to see "Access"

[2015-09-12 20:32] josevalim commented on #359
Do you mean you can't access Access? :D

[2015-09-12 20:41] eksperimental commented on #359
I mean i cannot see it.
that means, the whole menu is locked since the funtion list is the only scrollable area

[2015-09-12 20:42] eksperimental commented on #359
oops.. i didn't get the joke :-P

[2015-09-12 20:48] Dignifiedquire opened #360 "Insert line breaks into specs"
See IRC:

[10:45pm] josevalim:
it is better to see the whole picture
[10:45pm] josevalim:
even if poorly formatted
[10:46pm] josevalim:
specially typespecs which are semantically dense
[10:46pm] josevalim:
for example this
[10:46pm] josevalim:
some_fun(a, b, c) :: .... a lot of things .... when a: integer
[10:46pm] josevalim:
dignifiedquire: what "a" means is just at the end
[10:47pm] dignifiedqui

[2015-09-12 20:53] josevalim opened #361 "Large project names are hovering the new menu"
<img width="638" alt="screen shot 2015-09-12 at 22 43 32" src="https://cloud.githubusercontent.com/assets/9582/9833678/c45062e8-59a0-11e5-9d06-e72cfca9c04d.png">

Large project names may be a good reason to left-align the text. Here is the current docs left-aligned and after removing some of the space between the text and logo:

<img width="347" alt="screen shot 2015-09-12 at 22 48 56" src="https:

[2015-09-12 20:55] Dignifiedquire commented on #361
We could left align when no logo is present and right align with a logo?

[2015-09-12 21:00] josevalim commented on #361
Actually, right aligned is fine in both cases can we just:

1. Reduce the horizontal space between the header and the logo
2. While making sure the won't go over the menu when there is no logo or the title is too large?

[2015-09-12 21:41] josevalim commented on #360
In master!

[2015-09-12 21:41] #360 closed

[2015-09-12 21:44] #359 closed

[2015-09-12 21:44] Dignifiedquire commented on #361
Please recheck in `master`

[2015-09-12 21:51] josevalim commented on #361
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-09-12 21:54] josevalim commented on #361
Currently:

<img width="375" alt="screen shot 2015-09-12 at 23 53 46" src="https://cloud.githubusercontent.com/assets/9582/9833969/9666bfea-59a9-11e5-8510-b2372fe39fab.png">

[2015-09-12 22:21] Dignifiedquire commented on #361
@josevalim not sure where you are seeing this, this is what I got:

![screen shot 2015-09-13 at 00 21 09](https://cloud.githubusercontent.com/assets/790842/9834118/5c8ae374-59ad-11e5-9b8d-44ad1f6f1f17.png)

[2015-09-12 22:35] lexmag commented on #334
Related to https://github.com/elixir-lang/elixir/issues/3592.

[2015-09-13 03:34] anandubajith opened #364 "Add custom scrollbars to improve UI?"

[2015-09-13 08:03] #361 closed

[2015-09-13 08:05] #356 closed

[2015-09-13 08:17] josevalim opened #365 "Hamburger menu is broken on compact views"
To reproduce:

1. Visit http://elixir-lang.org/docs/master/elixir/Kernel.html#functions_details
2. Reduce your browser window size
3. Click on the menu - nothing happens

I think this is truly the last thing before we ship it! :D

[2015-09-13 08:39] Dignifiedquire commented on #365
I don't believe you

[2015-09-13 08:45] #316 closed

[2015-09-13 08:48] xavier commented on #365
I'm not sure whether this is related to the window size: it seems to work fine on Chrome even with a narrow window but it doesn't work on Safari, not matter what the window size is.  Once hidden, the sidebar cannot be revealed again.  There is no error or warning in the JS console.

[2015-09-13 09:41] #365 closed

[2015-09-13 09:41] Dignifiedquire commented on #365
@josevalim should be fixed now :)

[2015-09-13 10:08] josevalim commented on #364
We believe the scrollbars are fine as is, thank you!

[2015-09-13 10:08] #364 closed

[2015-09-13 10:22] josevalim opened #366 "Consider giving more space to module names"
Now that we support custom pages, the space where we show the existing modules is shrinking further and further:

<img width="276" alt="screen shot 2015-09-13 at 12 09 13" src="https://cloud.githubusercontent.com/assets/9582/9836194/6401db86-5a10-11e5-9063-cfe62a71b732.png">

Maybe we could squeeze things a little bit more. Another option is to move the search out and keep it on the right side (po

[2015-09-13 12:41] eksperimental opened #368 "Keep the current developement version suffixed with "-dev""
I would like to propose that after every release, we change the suffix the version to the next minor release + "-dev", so for example, now, it would be "v0.9.1-dev",

I'm using ExDoc in a project where I print the folder version with the current version number, and as of now there's no way to distinguish what's a proper release from a dev version.

[2015-09-13 12:43] josevalim commented on #368
@eksperimental please go ahead. :D there is a test you will have to fix as soon as you change it btw ;)

[2015-09-13 12:56] Dignifiedquire commented on #368
please use sth like `0.10.0-beta.0` to be semver v2 conform

[2015-09-13 13:00] #368 closed

[2015-09-13 13:00] josevalim commented on #368
`-dev` is valid semver too. :) And i think we can stay  a bit on 0.9.0 before going to 0.10.0. Unless we have a large change!

[2015-09-13 13:03] eksperimental commented on #368
yes, i was going to say that, if we add small changes, it shouldn't be 0.10,
I think to put an example we should have been 0.8.5-dev after 0.8.4 was releaesed, and when new_design branch was merged in, we should have moved into 0.9.0-dev (or beta), only then.

[2015-09-13 13:09] Dignifiedquire commented on #368
Okay :)

[2015-09-13 13:59] eksperimental opened #370 "2 tests failing when using Elixir 1.1.0-beta"
tests pass fine in 1.0.5, but fail in 1.1.0-beta
the tests checking for the link to source, fail, the line number is off by one.

https://gist.github.com/eksperimental/c895291a0b262dadc5d8

before digging into this, I would like to know if there were any recent changes in 1.1 that could be the source of this.

[2015-09-13 14:04] josevalim commented on #370
They all pass here and I am running on 1.1 for months, please make sure you
cleaned your temp directories and so on. :)

I think the build also uses 1.1

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-09-13 14:17] eksperimental commented on #370
I have cleaned everything:
including the temp for the deps and fixtures.

deleted folders:
- test/tmp
- _build/dev
- _build/test

I have tested it with master as well as with 1.1.0-beta and the same issues persist.

travis is using 1.0.2

[2015-09-13 14:52] josevalim commented on #370
You are right, sorry, this is due to #334 and I think @lexmag is on it, so I am closing it, it is a dup :D

[2015-09-13 14:52] #370 closed

[2015-09-13 14:56] eksperimental commented on #370
good! that's why I asked if there was any issue bc I sort of remembered something like this, now that you mentioned, that was the issue I saw earlier. I just couldn't make the connection.
 thanks for looking into this.

[2015-09-13 15:02] lexmag commented on #370
Right, I'm working on it. :smile:

[2015-09-13 17:52] #334 closed

[2015-09-14 10:38] eksperimental opened #374 "Issues and Suggestions"
## List of issues:

* __Footer__
  - [x] All issues Moved to #383
* __Sidebar__
  - [x] 1) Reduce size in version number: Moved to #366
  - [x] 2) If not logo provided, reduce size: Moved to #366
  - [x] 3) Overview white color/bolder: Obsolete b/c of changes in #395  ~~[Proposal](https://github.com/elixir-lang/ex_doc/issues/374#issuecomment-140719583)~~
* __Content Area__
  - [x] 1) Lineup title

[2015-09-14 10:49] josevalim commented on #374
Regarding the footer, maybe: "Built using ExDoc (v0.9.1-dev), designed by Friedel Ziegelmayer." It is more concise and because ExDoc is coming first to avoid the ambiguity, I would keep the design focus only on @Dignifiedquire.

[2015-09-14 10:52] eksperimental commented on #374
@josevalim agreed on a 100%. excellent idea!

[2015-09-14 10:56] josevalim commented on #374
I honestly like the spacing today. It gives a lot of breathing room to the content which is more important than aligning it with the left side IMO.

I think this should be fixed ASAP, since we are going to start having people linking to from the sidebar to particular places like: Access.html#callbacks_details

@eksperimental, can you please send a PR for this?

[2015-09-14 10:57] Dignifiedquire commented on #374
Thanks @eksperimental for the detailed review. Below some of my comments & answers.

## Footer

I pretty much agree with everything you said here :)

@josevalim you were the one suggesting that I mention the rest of the team :stuck_out_tongue_closed_eyes:  But yes that would make it simpler

## Sidebar

1), 2) Yes we need to improve spacing a bit, but it's a balancing act between giving things roo

[2015-09-14 10:58] eksperimental opened #375 "[Feature Request] Double click section titles"
I would love to be able to directly link to particular fixed sections in the modules, such as the Callbacks

![ex_doc_title_link](https://cloud.githubusercontent.com/assets/9133420/9848303/252c3c3a-5b0a-11e5-8abc-06ed204b7afa.png)

Just by double-clicking the title.I wouldn't change the cursor or the LINK icon such as in functions, just to not to add any distraction (maybe just use the "title" att

[2015-09-14 11:09] eksperimental commented on #366
_This comment was originally posted by me, in #374_

1) One thing that we can do to definitely give more room in the sidebar is reduce the size of the version number, and maybe may it bold. I know that area will still be 64px high, because of the size of the logo, This will reduce the size with projects with long names: https://github.com/elixir-lang/ex_doc/issues/361#issuecomment-139825040

2) If

[2015-09-14 11:21] eksperimental commented on #374
@Dignifiedquire

## General

*First Option, i just give a 0em bottom margin to `.summary-synopsis`,*
![ex_doc_summary_no_desc_fix](https://cloud.githubusercontent.com/assets/9133420/9848644/3445067c-5b0d-11e5-830b-82ced01a552e.png)

*Second Option, I give a 0em bottom margin to `.summary-synopsis`, and add 1em bottom margin to `.summary-row`*
![ex_doc_summary_fix_2](https://cloud.githubusercontent

[2015-09-14 11:23] eksperimental commented on #374
@josevalim  I will be ok sending a PR replacing the "_" with "-", but.. is there anything we need to consider @Dignifiedquire, or anything you want to say about it before I start?

[2015-09-14 11:30] eksperimental commented on #374
@josevalim I was a bit afraid of that too. that it will look too packed. @Dignifiedquire since you think it's a good idea, can you please send of a screenshot of what it would look like? I think it will be easier to judge with something to actually look at.

[2015-09-14 11:40] Dignifiedquire commented on #374
No just make sure everything still works ;)

[2015-09-14 11:40] Dignifiedquire commented on #374
Will do some thinking on this

[2015-09-14 11:50] eksperimental commented on #374
@Dignifiedquire regarding the external links, I don't agree with that it doesn't add much. Informing the user that he is going to go out of the website. The problem with using an icon is when it looks like it doesn't belong to the text; then I agree, it creates distraction. but if it's the same color as the link, same size, and it's actually a font-glyph like it could be http://fortawesome.github.

[2015-09-14 12:07] eksperimental opened #376 ":extras vs --extra"
I just found that we are using two different names for the same thing.

Well, i found out the hard way, when I used the wrong one in the command line.

I'm all in for using --extra and :extra in mix.exs, and not :extras as it is not consistent, but I want to know if I'm ignoring any reason for choosing this

thanks

[2015-09-14 12:10] josevalim commented on #376
Let's rename the one in CLI to `--extras`.

[2015-09-14 12:10] josevalim commented on #376
That's because I would like to make it clear that the Mix one is a list.

[2015-09-14 12:19] milmazz commented on #376
I don't agree with this proposal :-1:

When you use the command and you want to add more files, you explicitly indicate *each* element of the list (can be more than one), so, for this reason to me sound more proper to use a singular term. In the `mix.exs` file you explicitly indicate the list of elements.

[2015-09-14 12:21] josevalim commented on #376
@milmazz that's what I was also thinking originally but the fact we call `--extras` in the command line can be a good indication that it can be given more than once. Specially given that folks will most likely use `-e` rather than `--extras`. What do you think?

[2015-09-14 12:23] eksperimental commented on #376
yes, my only objection to that is that `--extras README.md --extras CONTRIBUTING.md` is weird.

Is this valid in the CLI: `--extras "README.md" "CONTRIBUTING.md"` ?

maybe the other options is support both behind the scenes --extras

but still will be confusing to give two different names for the same thing.

[2015-09-14 12:25] josevalim commented on #376
Now that you have mentioned it it is confusing indeed. I think we should leave it as is then.

No. :(

[2015-09-14 12:25] #376 closed

[2015-09-14 12:27] Dignifiedquire commented on #376
I think it would be ideal to support something like this:

[code]

[2015-09-14 12:27] Dignifiedquire commented on #376
Why is that not possible? I know a lot of cli tools that can do that

[2015-09-14 12:31] eksperimental commented on #376
Can we then give a warning and exit, when people call "--extras", and say it should be "--extra"
right now it silently ignores it.

in fact i think that should be the default behaviour for any unrecognized option.

[2015-09-14 12:32] josevalim commented on #376
@Dignifiedquire it is not possible with the currrent OptionParser today. We could add it but even though I am not a big fan because it often imposes order between arguments and switches in the command line. Imagine you have this:

    mix do_something --opt value arg

Once you allow multiple values to be given, you can two possible combinations:

    mix do_something --opt value arg
    mix do_som

[2015-09-14 17:10] eksperimental opened #378 "Search result links are escaped, linking to a non-existent id"
if you search for ">"
It will link to:
http://elixir-lang.org/docs/master/elixir/Kernel.html#&gt;/2

but that element doesn't exist,
it should link to
http://elixir-lang.org/docs/master/elixir/Kernel.html#>/2

[2015-09-14 17:16] eksperimental opened #379 "Rename internal links to sections"
I'm working on replacing all the elements with "_",
and I realize we don't actually need to link to
http://elixir-lang.org/docs/master/elixir/Kernel.html#summary_details
http://elixir-lang.org/docs/master/elixir/Kernel.html#functions_details
http://elixir-lang.org/docs/master/elixir/Kernel.html#macros_details

because we can link to:
http://elixir-lang.org/docs/master/elixir/Kernel.html#summary
ht

[2015-09-14 17:52] josevalim commented on #379
Much better. :+1:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-09-14 18:06] #268 closed

[2015-09-14 18:41] Dignifiedquire commented on #379
Yes please, I thought about that when implementing the current behaviour, but didn't want to change yet another thing :100:

[2015-09-14 19:08] Dignifiedquire commented on #378
@eksperimental should be good in master :)

[2015-09-16 05:55] nhu313 commented on #366
What if we make the logo and version all on one line? It's definitely not as pretty as before, but it does give more room for the full list.

### Before:
![before](https://cloud.githubusercontent.com/assets/3436429/9897294/89574cd0-5c14-11e5-94be-f0be6703972c.png)

### After:
![after](https://cloud.githubusercontent.com/assets/3436429/9897293/8954a322-5c14-11e5-98f1-961f2f983a46.png)

[2015-09-16 06:05] eksperimental commented on #366
@nhu313 I don't think that will work with projects with long names.
https://github.com/elixir-lang/ex_doc/issues/361#issuecomment-139825040

[2015-09-16 06:27] nhu313 commented on #366
Then we should not let people have project with more than 10 characters ;) Good thing I didn't make the change in the code.

We might need to fix the long name for the current layout too.

### Current
![event_source_before](https://cloud.githubusercontent.com/assets/3436429/9897715/b05c7d78-5c19-11e5-9dde-f6d975e679ea.jpg)

[2015-09-16 11:41] eksperimental opened #382 "Extra pages: checking for extension"
I realized we are only allowing files with only the `.md` extension.
to begin with github allows .markdown as well.

and digging deeper, i realize that markdown does not officially have any extension,
and pretty much everybody is doing their own implementation (as everything that revolves around markdown).

http://superuser.com/questions/249436/file-extension-for-markdown-files
please do read the

[2015-09-16 11:55] eksperimental commented on #374
@josevalim I didn't mean to put the purple thing on the left, but to somehow distinguish it from the other pages.

I set overview to `color: white; font-weight: 500`; here's what it looks like.
![sidebar_overview_menu](https://cloud.githubusercontent.com/assets/9133420/9903966/67b37c1c-5ca4-11e5-878b-57c83a26be7c.png)

@Dignifiedquire what do you think?

[2015-09-16 12:08] josevalim commented on #382
Honestly, I would keep it simple and go with ".md". If people need anything else that you suggested, they can open up an issue, explain their use case, and we will discuss. Simple is better than trying to guess future use cases. :)

[2015-09-16 12:10] eksperimental opened #383 "Create new footer"
Originally posted here https://github.com/elixir-lang/ex_doc/issues/374 by me.

### FOOTER
1) I think it should have the font a bit smaller (right now its 16px as the rest of the page)

2) Optionally a tad bit greyer, not full black.

3) Can we do a preferred breaking point in between the two sentences. Right now, if i used a zoomed view (125%) in my PC broswer , or in landscape view in my phone,

[2015-09-16 12:19] eksperimental commented on #382
well, one thing that I just realized i overlooked is that from mix, we are create .md pages.

[2015-09-16 12:19] #382 closed

[2015-09-16 12:22] josevalim commented on #383
Regarding the text, let's go with: "Built using ExDoc (v0.9.1-dev), designed by Friedel Ziegelmayer."

The design changes are up to @Dignifiedquire. :)

[2015-09-16 12:47] eksperimental opened #384 "Release v0.10.0 before Elixir v1.1.0 is out"
Hey guys,
I propose to have a release before Elixir v1.1.0 is out (due to September 25th).

Also we need to keep in mind that from this release on the documentation will be uploaded to the [Releases Page](https://github.com/elixir-lang/elixir/releases).

Some bugs have been fixed, and more are on the way.

If you guys are OK with it, I propose to have a list of pending tasks that we consider impor

[2015-09-16 12:48] Dignifiedquire commented on #384
Sounds good to me :+1:

[2015-09-16 12:49] Dignifiedquire commented on #384
Created a milestone: https://github.com/elixir-lang/ex_doc/milestones/v0.9.1

[2015-09-16 12:49] Dignifiedquire commented on #329
@josevalim any chance you can work on this in the next week or so?

[2015-09-16 13:12] josevalim commented on #329
I cannot, sorry. Since this at least won't affect Elixir itself, let's focus on the other stuff, and I will put some effort on this after 0.9.1 is out. :)

[2015-09-16 13:36] eksperimental opened #385 "Hightlight.js bugs (some fixed in dev version)"
@Sannis has been working on fixing the current 3 issues we have in posted some time ago in https://github.com/isagalaev/highlight.js/issues/730

He has submitted  a PR https://github.com/isagalaev/highlight.js/pull/927#issuecomment-139193837

He has fixed the issue with the regular expression that broke some of our pages (https://github.com/elixir-lang/elixir/issues/3670), but still is working on

[2015-09-16 13:37] eksperimental opened #386 "Update highlight.js to v8.8.0"

[2015-09-16 13:38] josevalim commented on #385
There is no reason to rush IMO. It has been broken for all months. A couple weeks won't hurt anyone.

[2015-09-16 13:47] Dignifiedquire commented on #329
Okay

[2015-09-16 17:04] #383 closed

[2015-09-16 18:23] Dignifiedquire commented on #366
First draft

![layout02-v5](https://cloud.githubusercontent.com/assets/790842/9914163/bfd8f3f2-5cb0-11e5-94dd-a9fdde17db7d.png)

[2015-09-16 21:33] Dignifiedquire commented on #366
New version:

![layout02-v5](https://cloud.githubusercontent.com/assets/790842/9919153/5177a1d6-5ccb-11e5-9a1b-19a1f14cc3f1.png)

[2015-09-16 21:42] josevalim commented on #366
:+1: for the last one

[2015-09-16 22:27] milmazz commented on #366
:+1: for the new version

[2015-09-16 23:35] benwilson512 opened #388 "CMD + link clicking problematic behavior"
Using: Chrome 45, OS X 10.10

To reproduce:
- Do a search
- CMD click one of the results

Result:
Initially the browser warns of a popup, and the results page suddenly ends up back at the top of Kernel.

After allowing popups, the above steps will indeed open the clicked upon link (after some delay) but the search page is relocated to Kernel.

[2015-09-17 03:22] eksperimental commented on #366
Beautiful! Last one. I look so pleasant to the eye

[2015-09-17 08:26] eksperimental opened #389 "Search title covers CLOSE button when Zoomed 150%"
![ex_doc_search_close](https://cloud.githubusercontent.com/assets/9133420/9928440/8588ffc6-5d50-11e5-8961-99e1bebc1a9a.png)

[2015-09-17 11:07] eksperimental opened #390 "[search] Unexpected behaviours / Usability issues"
__I have found a few glitches.__

1) __a new search should always take you to the top of the page.__
Replicate:
visit http://elixir-lang.org/docs/master/elixir/Kernel.html
go to the bottom of the page.
Now search for "a" in the sidebar.
and you are at the bottom of the search results.

2) __clicking on a menu item (summary, functions, macros) should close the search results automatically__
Continu

[2015-09-17 11:19] josevalim commented on #390
Related to #341.

[2015-09-17 11:29] eksperimental opened #391 "[Discussion] Project Title and Logo : Where should they link to"
I would like to talk about one issue that I think it is a bit important from the usability point of view. I would like like to discuss it with you guys.

There is a feature of ExDoc that – to be honest –  I find a bit obtrusive.

Which is the behaviour of the whole section "Project Title, version number and logo"
When I see something like that I expect to click on the big name and logo and take me

[2015-09-17 14:16] #385 closed

[2015-09-17 14:33] Gazler commented on #391
Perhaps the version should link to https://hex.pm/packages/phoenix so that other versions of the documentation can be found easily.

This does link ex_doc with hexdocs however.

[2015-09-17 14:59] josevalim opened #392 "[search] Search is broken when one of the subsections is empty"
To reproduce:

1. Visit: http://hexdocs.pm/phoenix_html/Phoenix.HTML.html
2. Try to search anything. Notice the menu item doesn't do anything when clicked too.

[2015-09-17 15:00] josevalim commented on #386
@eksperimental do we have anything we need from 8.8.0? If so, can you please take care of updating it?

[2015-09-17 15:01] josevalim commented on #379
@eksperimental ping.

[2015-09-17 15:05] Dignifiedquire commented on #386
Updating is as simple as

[code]

[2015-09-17 15:06] josevalim commented on #391
@eksperimental Luckily today this can already be configured :D So if your proposal is to make the default be whatever index.html links to, I completely agree. That's a better default.

[2015-09-17 15:06] Dignifiedquire commented on #392
This was already fixed in ea0adbbf8e76099fce617436d0824da06875035d

[2015-09-17 15:07] eksperimental commented on #386
@Dignifiedquire that's great, but... we are using a custom version of the highlight.vs, with only a small sets of languages. I don't know if this has been taken into account,
if not, i will take care of this @josevalim

[2015-09-17 15:10] josevalim commented on #386
We definitely don't need to bring all of highlight.js, if we are doing so, we should go back to the previous style. It will in fact help us reduce the size of the generated .js file.

[2015-09-17 15:10] eksperimental commented on #379
this is done since a day ago. I will update this soon and other changes.

[2015-09-17 15:34] josevalim commented on #392
@Dignifiedquire I will push a fix that ensures we always emit all nodes, so you don't need to `|| []` in the JS side.

We should also fix the markup for exceptions. Currently we generate this:

[code]

Notice the disabled class, but we don't style it. We should either style it or make it functional and render an empty list when clicked. :D

[2015-09-17 15:35] Dignifiedquire commented on #392
@josevalim sounds good

[2015-09-17 15:38] josevalim commented on #392
@Dignifiedquire another option is to hide the Exceptions thing altogether. It is already hidden from the Overview page:

http://hexdocs.pm/phoenix_html/overview.html

[2015-09-17 15:43] josevalim commented on #348
Closing this as it has been reported to earmark.

[2015-09-17 15:43] #348 closed

[2015-09-17 15:44] Dignifiedquire commented on #386
No at the moment we are using the version published on npm, which is a bundle of everything. For using a custom bundle we should change the the dependency to the github repo (a git tag preferably) and then set as part of our build task

[code]

[2015-09-17 15:44] Dignifiedquire commented on #392
@josevalim I like that better

[2015-09-17 15:46] josevalim commented on #375
This is straight-forward to do. For example, in module_template.eex, we just need to add this to every h1:

    <h1 class="section-heading"><a href="#types_details">Types</a></h1>

However, adding the link messes up the styling, so we need @Dignifiedquire to do his magic first. Then I can commit those changes. <3

[2015-09-17 16:09] josevalim commented on #392
Fixed in master.

[2015-09-17 16:09] #392 closed

[2015-09-17 16:09] #391 closed

[2015-09-17 16:16] josevalim commented on #386
@Dignifiedquire I have no idea how to do it but  let's do that then. It will help shrink the js size.

[2015-09-17 16:16] josevalim commented on #386
@eksperimental can you provide a list of the things we actually need from highlight.js?

[2015-09-17 16:56] eksperimental commented on #386
It looks like can do our own custom version
https://github.com/isagalaev/highlight.js/blob/master/tools/build.js#L69-L71

 *   Bash, CoffeeScript, CSS, Diff, Elixir, Erlang, Erlang-REPL,
 *   HTML/XML, HTTP, JavaScript, JSON, Markdown, SQL.

[2015-09-17 17:35] #386 closed

[2015-09-17 17:38] eksperimental commented on #386
yay! no more manually updating!!! thank you @Dignifiedquire

[2015-09-17 17:44] eksperimental opened #396 "Docs get stuck loading when offline"
I was offline for a while.
I turned off my network connection,
It became a nightmare to check the docs.

the pages wouldn't load becuase it tries to download the fonts,
I think this one was quiet fast, 8 second!

![ex_doc_offline](https://cloud.githubusercontent.com/assets/9133420/9941254/420481aa-5d9e-11e5-8d80-79fedca1c23d.png)

[2015-09-17 17:44] josevalim opened #397 "Rename overview to api_reference"
To be done after #395.

[2015-09-17 17:47] eksperimental opened #398 "Tests: if compiling the fixtures fail, do not run the tests. quit inmediately"
I will take care of this. this is just a reminder.

[2015-09-17 17:49] eksperimental opened #399 "bin/ex_doc should support --version option"

[2015-09-18 03:43] eksperimental opened #400 "[Discussion] Think of ways to pack a smaller highlight.js file"
We need to think of ways to improve the size of the generated highlight.js file.

One way I think it will be pretty straighforward, is to detect what languages were actually used,
and based on that deliverd a precompiled version of it.
Since now we can build it ourselves, we could provide two or more "flavours"

what i proposed it to have:
1) vanilla: just support elixir language . This will be th

[2015-09-18 04:01] eksperimental commented on #396
@Dignifiedquire @milmazz  is there a way we can generate the same file that google provides, and load it locally if we are offline, or loading from file:// (something like this https://github.com/elixir-lang/ex_doc/pull/257).

[2015-09-18 04:07] eksperimental opened #402 "[Discussion] Privacy: Loading external files"
I think we should give the option, to not to load any file from any external server like from CDN.

Personally i think if we are loading from file, localhost, 127.0.0.1 we should not do that anyways, because it is not needed.

This will be particularly important for projects or individuals concerned about privacy, surveillance, etc.
It won't make sense to create a project that integrates with TOR,

[2015-09-18 05:01] milmazz commented on #396
@eksperimental If we really want to provide everything locally we need to install more *npm* packages (which definitely will increase the ExDoc distribution package at the end). AFAIK right now the only font installed locally is [Font Awesome](http://fontawesome.io/). After a quick review of the [variables.less](https://github.com/elixir-lang/ex_doc/blob/eb602f92f0e3880aa3c4250a038ff9e2fd1e43f2/as

[2015-09-18 05:03] milmazz commented on #402
Related with #396

[2015-09-18 05:04] eksperimental commented on #396
@milmazz it is a great point the one about the great firewall of china,

[2015-09-18 05:05] eksperimental commented on #402
in fact, now that I look at it, and think this should be the opt-in,
and if users want to user cnd, they should choose --cdn

[2015-09-18 05:30] milmazz commented on #400
@eksperimental After a few tests, between *vanilla* and *medium* there is not so much difference.

[code]

[2015-09-18 05:45] eksperimental commented on #400
what about common,
Also this will be useful as we support more language (by the way I am sending a PR for that)

[2015-09-18 05:47] eksperimental commented on #400
great fine @milmazz: I think medium can be merged into vanilla.

[2015-09-18 06:02] eksperimental commented on #396
I have downloaded all the fonts,
[code]

It's 20 fonts, 504kb
[code]

I guess we can give the option to people to choose "CDN" to reduce the file sizes of their docs.

Maybe give the option to not to include any font, in case people want their docs to load fast, not use CDN, and also create a doc package as small as possible. Then we should do a good job at degrading fonts... if it's not already d

[2015-09-18 06:52] josevalim commented on #396
500k is a lot to take in. Are we using all of those?

[2015-09-18 07:00] josevalim commented on #400
Given there is no difference between common and vanilla: I am :-1:.

We should not guess which features will be useful, that's the path to a complex codebase. If someone needs a custom highlight.js, they can:

1. Replace the generated one in their scripts
2. Open up an issue so we can discuss it

But supporting a customization option before we are even sure we need one is work we don't need to do.

[2015-09-18 07:00] #400 closed

[2015-09-18 07:02] josevalim commented on #402
If we are talking about extra 20KB, I am ok with no CDN at all. Again, the best course for ExDoc is if we *don't need to add options to the CLI and the codebase at all*. However, if we are talking about 500k, CDN is a must.

[2015-09-18 07:06] eksperimental commented on #402
the index page for mix. downloaded 188kb from the CDN
![ex_doc_fonts_loaded](https://cloud.githubusercontent.com/assets/9133420/9953817/61fb3376-5e0e-11e5-874e-51bb4ae709e2.png)

[2015-09-18 07:09] josevalim commented on #402
Yes. Now imagine I am working with Phoenix, going through phoenix, plug, ecto... and every time downloading new 200kb. If we want to proceed with this, the first step is to validate if we can reduce the fonts size in the first place.

[2015-09-18 07:09] #379 closed

[2015-09-18 07:18] eksperimental commented on #402
yes, that's s concern. but we can always allow people to choose to use cdn, and public websites like hexdocs.pm can take advantage of it.

We do need to also reduce the size of font-awesome. see how many icons we are using there and do something like we did for the elixir website. (I will create a new issue for this).

[2015-09-18 07:22] eksperimental opened #405 "Highlight.js : support new languages"
Due to some recent interest increasing in the elixir-lang-talk list,
I propose to include **ELM** as a supported language in highlight.js

also i propose to include:
**LESS**
**SASS**

[2015-09-18 08:03] josevalim commented on #405
Let's wait until someone asks folks. Let's not try to guess demand and features.

[2015-09-18 08:03] #405 closed

[2015-09-18 08:04] josevalim commented on #374
@eksperimental is there anything pending here to move to separate issues? :D The separate issues are great and much easier to track. :)

[2015-09-18 08:07] josevalim commented on #384
Because we are changing quite some things, including the location of the extras files and links (#functions_details => #functions), the next release should be 0.10. I will update the milestones accordingly. :)

[2015-09-18 08:10] eksperimental commented on #384
makes sense...

[2015-09-18 08:10] josevalim commented on #384
Let's focus on fixing the remaining bugs and usability issues for 0.10.0. Don't forget to add the milestone to issues that fit this criteria but don't worry and no rush. We still have a week for Elixir v1.1. :)

[2015-09-18 08:14] josevalim commented on #366
Just to update everyone, we have made more progress here with #395. The idea to have a Pages section was two fold:

1. Phoenix is considering using the Pages mechanisms as guides, so we need something that supports a bit more structure
2. In this schema, we are actually parsing the `<h2>` tags out of the markdown and using it for navigation

[2015-09-18 08:14] eksperimental commented on #374
There are two proposal pending, i don't know if these issues have been fixed.

* __Sidebar__
  - 3) Overview chite color/bolder: [Proposal](https://github.com/elixir-lang/ex_doc/issues/374#issuecomment-140719583)
* __General__
  - 3) Vertical spacing Summary without description. [Proposal](https://github.com/elixir-lang/ex_doc/issues/374#issuecomment-140043635)

[2015-09-18 08:15] josevalim commented on #366
I will push a couple more improvements and publish new docs for Plug so everyone can give it a try.

[2015-09-18 08:17] eksperimental commented on #375
Should we add this to milestone v0.10 ?

[2015-09-18 09:07] #397 closed

[2015-09-18 09:14] josevalim opened #407 "Clicking on sidebar (#content) does not take you back to the top"
if you visit http://elixir-lang.org/docs/master/elixir/Kernel.html#content
you will think it does.
so. scroll to the middle of the page, and click on the menu "Kernel",
it will not take you anywhere.
I have tried removing the id="content" from section and put it under the div under it, and it does work.
for some reason it doesn't work when it's on div. (Chrome)

by @eksperimental

[2015-09-18 09:38] eksperimental commented on #407
I propose to create a new element, called "top" or something better and short, which will be the div with the class "inner-content"

And I think the sidebar menu shouldn't be linking to the top of the page, but to the `H1` of the module, so it will be consistent with this behaviour https://github.com/elixir-lang/ex_doc/issues/375

[2015-09-18 10:14] josevalim commented on #407
It definitely should go to the top because going to the h1 will be weird considering all other times we click on it, we go to the top. To be more precise: if we go to the `h1`, the content padding won't be shown, and I think we should show it.

[2015-09-18 14:13] Dignifiedquire opened #408 "[assets] Generate hashed assets to ensure cache busting on cdns"
When running `gulp build --type production` it should generate

[code]
and the elixir process needs to pic up those names to insert them correctly into the templates

cc @josevalim

[2015-09-18 15:01] Dignifiedquire commented on #366
Pages are now under their own category and I've made sidebar a little bit more compact. Closing this for now

[2015-09-18 15:01] #366 closed

[2015-09-18 15:02] josevalim commented on #407
I have fixed this here: 70627480796b9e5a0d7f2980d422a580509d1ddf

@Dignifiedquire, if you think the fix above is OK, please close this issue. It is a bit weird though that it does not work when the ID is in a section.

[2015-09-18 15:03] Dignifiedquire commented on #407
@josevalim looks good to me, as long as it's finally working :)

[2015-09-18 15:03] #407 closed

[2015-09-18 15:05] Dignifiedquire commented on #402
Not a big fan of this to be honest, it adds a lot of complexity maintaining and building the fonts ourselves. If you are offline you can still use the docs just with the fallback fonts, that's what they are for.

[2015-09-18 15:07] eksperimental commented on #407
@josevalim im not too sure about this change, that' why i suggested creating a new id,
I haven 't seen live the changes. but from looking at this line I can see it could create conflicts
https://github.com/elixir-lang/ex_doc/blob/master/assets/less/layout.less#L41-L52

[2015-09-18 15:10] eksperimental commented on #407
sorry, forget about my previous message. I thought it was #content, not .content.

[2015-09-18 15:19] josevalim commented on #408
I will take this out of v0.10 milestone because it has worked like this since ever, so it can wait a bit more. In any case, @Dignifiedquire if you change gulp in a branch to emit `app-<hash>` and send a pull request, I can take care of the rest. :)

[2015-09-18 15:19] Dignifiedquire commented on #388
Not sure how we can fix this, `Right Click + Open in new tab` does not produce the issue, I'm afraid Chrome is doing something really strange con Cmd click here :disappointed:

[2015-09-18 15:20] josevalim commented on #402
That's a great idea @eksperimental. please open up a new issue and let's close this one then.

[2015-09-18 15:23] eksperimental commented on #402
@josevalim but I see they are different issues.
we can reduce the usage of the fonts we load from google, but that will still not solve the issue of loading them.

[2015-09-18 15:25] eksperimental commented on #402
@josevalim or you mean we can continue it in https://github.com/elixir-lang/ex_doc/issues/396 ?

[2015-09-18 15:28] josevalim commented on #402
Yes, exactly. The first step for this, anyway, is to see how much we can reduce the font size, and complex would that be. So we need to open up an issue for reducing the size of font-awesome and we will continue the rest in #396.

[2015-09-18 15:34] eksperimental commented on #402
great. no worries, i will close this one as soon as the new one is created

[2015-09-18 15:38] Dignifiedquire commented on #374
@eksperimental https://github.com/elixir-lang/ex_doc/issues/374#issuecomment-140719583 is superfluous now that those are nested in the `Pages` category

[2015-09-18 15:39] Dignifiedquire opened #410 "[assets] Use custom font-awesome built to reduce the bundle size"
Ref #402

* Create the bundle with this tool: https://icomoon.io/

[2015-09-18 15:42] #402 closed

[2015-09-18 15:42] eksperimental commented on #388
the same issue happens here  in Chrome in Linux, with CTRL + click
or middle button click.

It does not happen with RIGHT CLICK + OPEN IN NEW TAB

[2015-09-18 15:43] Dignifiedquire commented on #396
We can't reduce the size of the actual fonts, we use them all. @eksperimental what's being displayed while they are trying to load? There are default fonts set to be used when google fonts are not loading, so this should just work but not as pretty.

[2015-09-18 15:44] eksperimental commented on #396
the whole page is blank, i think I can only see the title in the title bar.

[2015-09-18 15:45] Dignifiedquire commented on #396
@eksperimental okay that shouldn't happen :(

[2015-09-18 15:52] eksperimental commented on #374
@Dignifiedquire thank you, task list updated. it's shrinking!

[2015-09-18 17:37] #410 closed

[2015-09-18 18:00] eksperimental opened #413 "Update LICENSE file"
ref https://github.com/elixir-lang/ex_doc/pull/394/files#r39771829

We need to update [LINCENSE](https://github.com/elixir-lang/ex_doc/blob/master/LICENSE) with all the software/fonts we are shipping ExDoc with

## Tasks
- [ ] Remove github.com style https://github.com/elixir-lang/ex_doc/blob/master/LICENSE#L49-L56
- [ ] Add Tomorrow (highlightjs)
- [ ] Fonts Awesome

What else?

[2015-09-18 18:03] milmazz opened #414 "Shared API between HTML and EPUB formatter"
Every public API in the HTML formatter (which can be required by the EPUB formatter) must be documented, unit tested...

[2015-09-18 18:09] josevalim commented on #414
And to add to this, let do this *after* EPUB is merged. Only after the work is done we will know for sure what can be shared and what cannot.

[2015-09-18 18:09] josevalim commented on #413
From the Elixir side, nothing changed.

[2015-09-18 18:33] Dignifiedquire commented on #413
According to https://fortawesome.github.io/Font-Awesome/license/ we do not need to add font awesome to the license

[2015-09-18 18:34] Dignifiedquire commented on #396
@eksperimental should be fixed now, please test on master

[2015-09-18 19:16] eksperimental commented on #413
So i would personally add it, just to recognize his work.

[2015-09-18 19:27] eksperimental commented on #396
same. it took 40sec the first try, and 15 seconds the second try. I see now you are loading it via css. sam problem ;-(

[2015-09-18 19:30] eksperimental commented on #396
im test it with chrome console. DISABLE CACHING on.

[2015-09-18 19:35] eksperimental commented on #396
I have cleared the cache, and tested it in firefox and chrome, and it never loads. firefox it never loaded the page (longer than a minute)

[2015-09-18 19:37] Dignifiedquire commented on #396
@eksperimental It shouldn't load, it should simply show the content with system fonts instead of the custom fonts

[2015-09-18 19:39] eksperimental commented on #396
but "never loads"i am talking about the page, not the fonts.

[2015-09-18 19:42] Dignifiedquire commented on #396
Are you sure you rebuilt the docs correctly? (make sure to run mix clean && mix before building) I just tested on two different machines with two different browsers and all work fine offline

[2015-09-18 19:47] eksperimental commented on #396
yes. tested it again, same story

[2015-09-18 19:48] Dignifiedquire commented on #396
I don't understand :( can you show me a screenshot of the network request panel + the content please

[2015-09-18 19:51] eksperimental commented on #396
![ex_doc_not_loading](https://cloud.githubusercontent.com/assets/9133420/9969543/463624fa-5e79-11e5-8600-f83f5cde9f74.png)

[2015-09-18 19:52] eksperimental commented on #396
![ex_doc_contents](https://cloud.githubusercontent.com/assets/9133420/9969567/6d1bf1e4-5e79-11e5-8345-d21f35d98ff3.png)

[2015-09-18 19:53] Dignifiedquire commented on #396
@eksperimental but that looks fine. That's what I meant it works and shows the content without the custom fonts, the request simply fails.

[2015-09-18 19:53] Dignifiedquire commented on #396
My point is you can use it offline, it just looks not as pretty with the custom fonts.

[2015-09-18 19:56] eksperimental commented on #396
it looks great, but the issue is not about how it looks but how long it takes to load, it becames unsuable

[2015-09-18 19:57] Dignifiedquire commented on #390
Back button is a lot of work because we have to support the `file://` protocol and check for a lot of things, the rest I'm spinning off into their own issues.

[2015-09-18 19:57] eksperimental commented on #396
for 17 seconds i saw a blank screen. and in firefox i don't know how long. but it was a minute.

[2015-09-18 19:58] Dignifiedquire opened #415 "[search] A new search should always take you to the top of the page."
Ref #390

[2015-09-18 19:58] dignifiedquire opened #416 "[search] Clicking on a menu item (summary, functions, macros) should close the search results automatically"
Ref #390

[2015-09-18 19:59] dignifiedquire opened #417 "[Search] Closing the search doesn't take you to where you were in the previous page, but to the top of it"
Ref #390

[2015-09-18 19:59] Dignifiedquire commented on #390
Closing, as this is now being tracked in other issues

[2015-09-18 20:00] Dignifiedquire commented on #396
Okay, can you show me a screenshot of the `Elements` panel while it's showing a blank screen?

[2015-09-18 20:03] eksperimental commented on #396
![ex_doc_elements](https://cloud.githubusercontent.com/assets/9133420/9969777/f468fe34-5e7a-11e5-82c4-05d245aacb95.png)

[2015-09-18 20:04] eksperimental commented on #396
should we load them at the bottom of the page, same way we did with javascript in the older version of exdoc?

[2015-09-18 20:06] eksperimental commented on #390
thanks a lot or looking into this @Dignifiedquire ! :+1:

[2015-09-18 20:06] Dignifiedquire commented on #396
Hmm.. I don't understand it, why is it taking 17s for your browser to determine it can't reach the server. This is how it looks for me: (it's taking 6ms to fail the request)

![screen shot 2015-09-18 at 22 05 45](https://cloud.githubusercontent.com/assets/790842/9969849/73409e58-5e51-11e5-8bf7-b16e8d47638d.png)

how are you disabling the internet?

[2015-09-18 20:10] eksperimental commented on #396
by choosing "Enable networking", maybe it is my computer...
i think what is does is disables the network manager.

[2015-09-18 20:12] Dignifiedquire commented on #396
@josevalim @milmazz could you guys test this on your machines please, so we know if it's just @eksperimental machine

[2015-09-18 20:26] eksperimental commented on #396
@Dignifiedquire I just found it it was my DNS SERVER.
not it loads in 16ms. so sorry about this. i had no idea it could be that,

[2015-09-18 20:26] #396 closed

[2015-09-18 20:46] Dignifiedquire commented on #396
@eksperimental no prob, happy it works now :)

[2015-09-19 08:23] josevalim commented on #413
Yeah, since we already keep tons of things in License, why not? :)

[2015-09-19 08:26] eksperimental commented on #413
so to sum up. is this all?

just to be clear, we don't need to list all the tools to we use as node_modules,
but any pice of code that goes into theminified app.js files.
Is this correct?

so what is that. I think webpack is there, what else.

[2015-09-19 08:28] #399 closed

[2015-09-19 08:56] #390 closed

[2015-09-19 08:58] josevalim commented on #388
I have good news and bad news. The good news is that this no longer exists in master and CMD-click properly opens in another tab. The bad news is that clicking on the link with CMD is closing the search results but they should be kept open.

I am hoping these bad news are actually good news because they should be easy to fix (although I personally have no idea how :smile:).

[2015-09-19 09:39] josevalim commented on #388
Please ignore me. I was using safari. :(

[2015-09-19 09:42] josevalim opened #418 "[search] Search disappears when link is CMD+clicked"
To reproduce:

1. visit here http://elixir-lang.org/docs/master/elixir/Kernel.html (using anything other than chrome)
2. type "ag" in the search
3. cmd+click any link

The link opens in a new window but the search results disappear. they should continue on the page because cmd was used. I think there is a meta field in the event that could tell us CMD is being used.

[2015-09-19 12:51] #418 closed

[2015-09-19 14:43] eksperimental opened #419 "[Usability] Function headings are not clear"
I am having a hard time trying to spot where the functions begin.
I think we need to make clear where a function ends and where a new one starts..
Please, have a look at this screenshot.
![ex_doc_fuction_heading](https://cloud.githubusercontent.com/assets/9133420/9976744/0f1d8f00-5f17-11e5-89ee-6b3f18e9ce9a.png)

I know where Example Starts,
and the second Example begins.
but to my tired eyes, it

[2015-09-19 15:04] josevalim commented on #419
Others have mentioned this too. One approach is to reduce the headers size inside the functions themselves.

[2015-09-19 15:09] Dignifiedquire commented on #419
I think the solution is two fold. First reduce the size of headers like `Examples` to the same size as `Specs`, second add some indentation of the content inside the function block so the function header stands out more

[2015-09-19 15:10] eksperimental commented on #419
seriously combining this issue with the fact that visiting the internal links from the search does not take you exactly where it should, It's impossible to spot the functions.. i end up going to the sidebar and clicking there.

one solution, maybe is give move white space after each funcion.
another... maybe it won't look good, but it can be something along those lines.. is to extend the blueish b

[2015-09-19 15:12] eksperimental commented on #419
a solid horizantal divider ala `<HR>`, may help as well. sorry guys. my designing skills are horrible. ;-P

[2015-09-19 15:28] josevalim commented on #419
@Dignifiedquire we need to support h1 + h2 (they could have exactly the same size as docs are not meant to have h1), h3 and h4.

[2015-09-20 11:36] josevalim commented on #384
Folks, we only need to solve #404, #415 and #420 so we can ship 0.10.0. @eksperimental, two of them are PRs you own, so we should either just close or merge them.

@Dignifiedquire I tried to fix #415 but for some reason I couldn't make it work. If you can give it a try it is appreciated. :D

[2015-09-20 19:25] eksperimental commented on #384
sounds great @josevalim
I'm done with my changes,
i will send one more PR though.

[2015-09-20 20:47] eksperimental commented on #378
@Dignifiedquire I have reopened this one as there are still some issues. and some links are not working.

because now we are validating html5, so I cannot use `< > & ' "` as part of the ID,
Links containing these characters are not working.
so they should be encoded.

I am using the `enc_h` function to encode the URIs.
you can see what is does here https://github.com/elixir-lang/ex_doc/blob/6c4f09

[2015-09-20 20:52] eksperimental opened #423 "Javascript Error: Uncaught TypeError: Cannot read property 'top' of undefined"
originally posted: https://github.com/elixir-lang/ex_doc/commit/2d3c9fbadaeea9d532cb614726ef8d1cbd82ee44#commitcomment-13331577

@Dignifiedquire [this line](https://github.com/elixir-lang/ex_doc/commit/2d3c9fbadaeea9d532cb614726ef8d1cbd82ee44#diff-e9cc8298549e98be96351e6176bc85d5R21
) is giving me a JS error,
[code]

[2015-09-20 20:55] eksperimental commented on #384
alright @josevalim I have submitted a couple of PRs and  there are new more bugs (not serious ones).
I will work on the licenses, so we can include them as well.
Let me know if there is anything else.

the other thing is that if earmark get a new version (since i have submitted some PRs and they have been merged), we should update mix.exs

[2015-09-20 20:57] josevalim commented on #378
@eksperimental this may be an issue on Elixir's side. @eksperimental can you tell us exactly with IDs are being leaked?

[2015-09-20 21:00] eksperimental commented on #378
@josevalim could be. maybe we should use the same method to encode them before generating the json.
I think it's all functions that use the chars mentioned about.
for example the on I reported in this issue.

`http://elixir-lang.org/docs/master/elixir/Kernel.html#>/2`

[2015-09-20 21:10] eksperimental commented on #378
I saved the html tree generated by Chrome, as an html page. and run the validators,
it's saying this.

[code]

[2015-09-20 21:13] josevalim commented on #378
Thanks @eksperimental but we are not going to fix this for now. That's because those are their proper names after all. The only fix is if we done some weird alias but given it works in browsers, we will leave it as is for now.

[2015-09-20 21:13] #378 closed

[2015-09-20 21:18] eksperimental commented on #378
well, the thing is they don't work.
http://elixir-lang.org/docs/master/elixir/Bitwise.html#&lt;&lt;&lt;/2

[2015-09-20 21:26] eksperimental commented on #378
in addition to the ones reported by html5validator, if you look at the [generated html](https://gist.github.com/eksperimental/a189ecd8f7df137d648d) any function using the escaped version of symbols with &ampersand, will not work. ex. `#&amp;lt;&amp;gt;/2`

[2015-09-20 21:37] josevalim commented on #378
Yes, I have fixed this in master. :) It was some other cause. I think the validator will still complain though.

[2015-09-20 23:47] Dignifiedquire commented on #423
On which page/action?

[2015-09-21 14:36] eksperimental commented on #423
It happens when the element in the #hash in the url doesn't exist.
for example http://elixir-lang.org/docs/master/elixir/Kernel.SpecialForms.html#%/2

[2015-09-22 03:41] #413 closed

[2015-09-22 07:12] eksperimental opened #428 "Close Search button not working"
now i get a javascript error about MetaKey

[2015-09-22 08:02] josevalim commented on #428
How come? Which browser are you using? It is supposed to be supported on all of them: https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/metaKey

[2015-09-22 08:27] eksperimental commented on #428
sorry, it is not when i use the metakey, but when i click on the button.
the error is about the metakey

[2015-09-22 08:39] josevalim commented on #428
I got that. The question is the same: How come? Which browser are you using? `metaKey` exists on all mouse events on all browsers: https://developer.mozilla.org/en-US/docs/Web/API/MouseEvent/metaKey

[2015-09-22 08:40] eksperimental commented on #428
Chromium 43 / Ubuntu

[2015-09-22 08:45] eksperimental commented on #428
firefox gives me this:

[2015-09-22 08:49] josevalim commented on #428
I have no idea, the event is received explicitly:

https://github.com/elixir-lang/ex_doc/blob/93ee626aef65b56557914c05630f738dc6410ba0/assets/js/search.js#L117-L118

Maybe change both to `e` and see if it works?

[2015-09-22 18:33] eksperimental opened #430 "Search dissapears when click in combination with shiftKey, controlKey, and middle button click"
related to https://github.com/elixir-lang/ex_doc/issues/418

[2015-09-23 11:16] josevalim commented on #384
Folks, Elixir v1.1.0 will be released this friday. @eksperimental has a PR that fixes two of the remaining bugs, @Dignifiedquire please merge them if they look good.

The other two bugs are regarding with top and scrolling to the top. Then we are ready to go! :D

[2015-09-23 20:30] drewolson opened #431 "Search has javascript errors on newly generated docs"
I recently generated new docs for [Scrivener](http://hexdocs.pm/scrivener/Scrivener.html). If I type in a search term and hit "enter", nothing happens and I see the following javascript error in chrome's console:

<img width="1358" alt="screen shot 2015-09-23 at 3 27 51 pm" src="https://cloud.githubusercontent.com/assets/3536/10057830/e56eee3a-6207-11e5-8f04-db132c3699c6.png">

I was able to recre

[2015-09-23 20:50] josevalim commented on #431
This has been fixed in ExDoc master.

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2015-09-23 21:04] #431 closed

[2015-09-24 09:25] Dignifiedquire commented on #384
sorry guys you'll have to do this one without me, I'm in bed with a bad cold.

[2015-09-24 09:28] josevalim commented on #384
@Dignifiedquire no problem. Get better soon!

[2015-09-24 09:29] eksperimental commented on #384
sorry to hear that @Dignifiedquire.
We can take care of this, do not worrie.
please take a rest.

[2015-09-24 09:31] eksperimental commented on #423
I will try to fix this one myself. if no one else wants to jump in

[2015-09-24 09:40] josevalim commented on #423
Please go ahead, ping me on IRC if you want to chat.

[2015-09-24 12:14] #423 closed

[2015-09-24 12:33] eksperimental opened #433 "Linking directly to a function takes you to a wrong place"
http://elixir-lang.org/docs/master/elixir/File.html#cp!/3

[2015-09-24 12:42] eksperimental commented on #384
@josevalim i have created a new issue https://github.com/elixir-lang/ex_doc/issues/433
I think it's quiet important since we cannot rely on linking directly.

[2015-09-24 12:58] #433 closed

[2015-09-24 13:07] eksperimental commented on #433
thank you @josevalim
For some strange reason it does not work when you reload the page, only in Chrome

Firefox works fine

[2015-09-24 13:33] #415 closed

[2015-09-24 13:33] #428 closed

[2015-09-24 13:41] #388 closed

[2015-09-24 13:42] josevalim commented on #384
We have fixed all issues  and we are ready for release. I will let this sit through the night, so we get a new build, and tomorrow I will release. :heart:

[2015-09-24 13:42] benwilson512 commented on #388
Thanks! I know this had to be a weird one to find.

[2015-09-24 13:48] eksperimental commented on #430
fixed in https://github.com/elixir-lang/ex_doc/commit/d9f3002c62496bc4b7968c2ecabe3f3f897c72b6

[2015-09-24 13:48] #430 closed

[2015-09-24 13:50] eksperimental commented on #384
beautiful :heart: !!!
thanks for fixing those last few bugs.

[2015-09-25 07:53] eksperimental commented on #375
I'm reopening this, as the clickable feature has not been implemented.

[2015-09-25 07:56] josevalim commented on #375
We have agreed to not add the double click, only to click the header and link it properly. The discussion happened on IRC, my bad, we should have updated here.

[2015-09-25 07:56] #375 closed

[2015-09-25 08:02] eksperimental opened #434 "[Mobile] Link icon overlaps with hamburger"
This only happens in mobile.

![img_20150920_141459](https://cloud.githubusercontent.com/assets/9133420/10095753/52a0e0be-6396-11e5-804d-d9fe56ac4d22.jpg)

[2015-09-25 08:06] eksperimental commented on #375
alright, no worries

[2015-09-25 08:12] eksperimental commented on #434
Here's another example, with the title of the section.

![img_20150925_150854](https://cloud.githubusercontent.com/assets/9133420/10095947/b037979e-6397-11e5-8e8e-74bdab39ae11.jpg)

[2015-09-25 08:17] josevalim commented on #384
And it is out! We did it folks! The best exdoc ever is out :)

[2015-09-25 08:17] #384 closed

[2015-09-25 08:20] eksperimental opened #435 "[Mobile] No sign of what project's documentation we are reading"
If you follow the link for the main page for the documentation:
http://elixir-lang.org/docs/master/elixir/

there is no sign of what is the documentattion project we are reading about.

![img_20150920_141614 small](https://cloud.githubusercontent.com/assets/9133420/10096049/a315dcd2-6398-11e5-8ea8-8831d25ccdf8.jpg)

the same for the default page (API reference) if no landing page is specified.
![i

[2015-09-25 08:25] eksperimental commented on #384
yaaaaaaaaaaaaaaaaayyyyyyyy!! :tada:

thank you @Dignifiedquire @milmazz @josevalim for pulling this one out together.

[2015-09-25 08:26] josevalim commented on #435
Do we have title in mobile browsers? Shouldn't the title have this information?

[2015-09-25 08:32] eksperimental commented on #435
I don't think we do, that would take too much space. at least neither firefox nor chrome have it.

I'm thinking we could have only for the mobiel a little bar at the top with the logo and the title of the project, and the version number.

[2015-09-25 08:45] eksperimental opened #436 "[Mobile] clicking on menu option should close menu for currrent page"
This is to keep a consistent behaviour,
when I open the menu, and select modules > and click on any of the modules (except the one  i'm reading), it opens a new page with the menu closed.

but when i'm clicking on link that takes me to the current page, no action seems to happen in the front end (it does in the back when i close the menu).

I think as soon as an element is clicked, the menu should

[2015-09-25 08:51] eksperimental opened #437 "[Discussion] API reference should be always one click away"
I realized one thing with the new design, is that you need to click twice to read the API reference.
one click in PAGES, and then again in API references.

What I would like to propose is have API References always in the menu, at the top of the list.

Note that this breaks with the behaviour of the rest of those links that do not load a new page

I think most of the times documentations will not

[2015-09-25 09:07] josevalim commented on #437
We have discussed this somewhat extensively and we decided to try the current approach. If a lot of people are complaining about it, we can revisit it.

[2015-09-25 09:07] #437 closed

[2015-09-25 09:46] DanCouper commented on #419
Just to add to the discussion, I'd agree with @eksperimental on all counts. Here are two secreenshots:

![exdocs-zoomedin](https://cloud.githubusercontent.com/assets/573694/10097267/e29b7f84-636f-11e5-906b-75c44832ebf8.png)

![exdocs-zoomedout](https://cloud.githubusercontent.com/assets/573694/10097268/e29e063c-636f-11e5-8d2d-c49ef04f20d3.png)

I'm reiterating points, but there a. isn't enough whi

[2015-09-25 11:02] josevalim commented on #419
The spacing suggestion is a good one. Adding the spacing and reducing the headers font-size will be likely enough to solve this completely. :D

[2015-09-25 12:25] DanCouper commented on #419
I'd agree with that :)

[2015-09-25 17:50] eksperimental commented on #419
one good point that @DanCouper  made is that the function HEADER, looks like inline code.
having a background color similar to the ones in the code examples make it difficult to stand out.
maybe with a bigger font, it won't look like code anymore.. we'll see

[2015-09-26 07:48] eksperimental opened #438 "`mix test` would not recompile fixtures"
`mix test` would not recompiled fixtures if there is a `.beam` file present in the beam_dir,
basically, if you update your fixtures, and you run `mix text` you won't see the changes.
and `mix compile` won't touch them.
so all you can do is `MIX_ENV=test mix clean`
and recompile the whole ex_doc again,
and if you make a change, you have to recompile everything again.

these are the lines involving

[2015-09-26 09:45] josevalim commented on #438
fixed in master.

[2015-09-26 09:45] #438 closed

[2015-09-26 09:45] josevalim commented on #398
Fixed in master.

[2015-09-26 09:45] #398 closed

[2015-09-26 10:32] eksperimental commented on #438
thank you @josevalim, much neater now.
just playing aorund with it, I came up with an issue (probably a Mix issue).

If i delete the a beam file from the ebin folder, without modifying the .ex file.
and i run `mix compile`

the file will be ignored.
I think what it does check is that the file has not changed, but it doesn't take into consideration that the beam files is not present.
let me know if

[2015-09-26 11:01] josevalim commented on #438
It is not a bug because you are not supposed to touch _build.

[2015-09-26 11:11] eksperimental commented on #438
:grimacing:

[2015-09-27 09:53] henrik opened #440 "Borks on `#{}` in doc string?"
Did not verify this against master, but https://hexdocs.pm/phoenix_html/Phoenix.HTML.html#sigil_E/2 (built against 0.9.0) shows the below.

Note how the bits after "interpolate with" are borked.

![screenshot 2015-09-27 11 52 10](https://cloud.githubusercontent.com/assets/216/10122148/3b056d52-650e-11e5-8a7d-bf7a36dcf217.png)

The input docstrings are:

[code]

(From: https://github.com/phoenixfra

[2015-09-27 10:17] eksperimental commented on #440
I know. there is a bug that doesn't catch a few things, I'm working on it.
It doesn't catch uppercase, nether %,

same bug as item 4, in https://github.com/elixir-lang/ex_doc/issues/321

thanks for the report.

[2015-09-27 10:42] henrik commented on #440
@eksperimental :thumbsup: Thank you!

[2015-09-27 17:27] ericmj commented on #440
I don't think it's related to #321 since it doesn't have anything to do with links. The bug is in phoenix_html, it should use `@doc ~S""" ... """` to avoid interpolation.

[2015-09-27 17:33] josevalim commented on #440
@ericmj got it. We just need to use sigils in phoenix html docs.

[2015-09-27 17:33] #440 closed

[2015-09-27 17:40] henrik commented on #440
Aah, makes total sense now. An interpolation bug in interpolation docs :D I believe I introduced it – sorry about that. @ericmj @josevalim Thank you!

[2015-09-28 12:11] eksperimental commented on #434
Happening here (on a desktop computer)
https://hexdocs.pm/phoenix_html/Phoenix.HTML.html
![ex_doc_burger](https://cloud.githubusercontent.com/assets/9133420/10134954/48975be0-6614-11e5-92fb-c31d94b25bbe.png)

maybe we could make the burger have it in a circle with a purple bacground with an translucid background.. so if something goes under it, we can still see what's behind, and you can still see

[2015-09-28 13:15] josevalim opened #441 "Custom sidebar scrollbar"
My browser started to show up a white scrollbar out of nowhere in the sidebar. It really freaked me out and a bunch of users reported that they always saw the white scrollbar. Therefore I decided to fix it. Here is the CSS code (tested Safari, Chrome and IE, Firefox does not support it):

[code]

The background color is the same as the sidebar color. I am not merging this because I would like @Dig

[2015-09-28 13:26] Dignifiedquire commented on #441
In general I think this is good, please take a look I think Firefox allows for some styling of this as well. Just one thing, I feel using a light scrollbar would make it more visible

[2015-09-28 13:45] josevalim commented on #441
I couldn't make it work on Firefox nor find a supported way. This is all yours, if you want to adjust the color, size and what not. :) I just wanted to provide a starting point because it was hard to figure it out.

[2015-09-28 13:56] tmjoen commented on #441
Can't be done in Firefox afaik. There is an issue from 2001(!) in the mozilla tracker requesting scrollbar styling, but still not implemented. If you want truly cross browser support you have to go for a JS solution like https://noraesae.github.io/perfect-scrollbar/ -- otherwise just let it be ugly on Firefox. Most Firefox users are used to the scrollbars being ugly anyway :).

[2015-09-28 14:42] eksperimental opened #442 "Reloading an address with url with hash, dones't work on Chrome"
Browser: Chromium 43, Ubuntu (it does not happen in Firefox)
I'm creating an issue for this because it is starting to become annoying.

linking to a particular section of the page works
http://elixir-lang.org/docs/master/elixir/Enum.html#drop/2

but when you reload a page with a hash in the address, it still shows the same address in the url, but you are at the top of the page.

i don't know if th

[2015-10-02 19:01] ghitchens opened #443 "`mix help docs` should be featured more prominently in README"
Currently, the only way to find the guideline to use `mix help docs` to find out more about ex_doc is to read the entire README and find the recommendation buried at the bottom of the section called "Changing the Markdown tool".

This is confusing for new users.   I read the README 3 times and missed it because I didn't care about changing the markdown tool.

I think `mix help docs` should be ment

[2015-10-03 16:15] jeregrine opened #444 "Allow linking to all Headers/Sub Headers"
When helping people its handy to be able to "link directly" to a section in the docs.
<img width="1021" alt="screen shot 2015-10-03 at 11 13 59 am" src="https://cloud.githubusercontent.com/assets/100886/10263791/d71ad30c-69bf-11e5-93ef-b037acecd071.png">
Here it would be handy to have the little "link" icon popup and allow me to deep link to something like `http://hexdocs.pm/phoenix/Phoenix.Contro

[2015-10-03 16:17] jeregrine commented on #444
Feel free to kill this if duplicate, I noticed several issues about linking but they seemed specific to certain areas of the docs.

[2015-10-03 16:21] eksperimental commented on #444
I think this one should be posted to earmark. I think it falls into a the category of a plugin request.
I can't  remember If i posted myself a request like this one there.
But I think it's not easy to solve
think of the heading titles, where many there will be many "examples" heading in one page, how do you identify the one you want to link to in particular. maybe with prefixing it wiht the id of

[2015-10-03 16:23] jeregrine commented on #444
@eksperimental I'm thinking we could probably just do an incrementing id for each of these?

[2015-10-03 16:25] jeregrine commented on #444
@eksperimental also what other projects do is prefix these specific cases with `label-#{dasherize(h.text)}`
ex: `http://sequel.jeremyevans.net/rdoc/files/doc/migration_rdoc.html#label-The+migration+extension`

[2015-10-03 16:40] eksperimental commented on #444
@jering the latter solution will not work when you have two sections called "Examples", and the former one, will not work when you add a new function and #label-examples-2 becomes #label-examples-3
maybe the solution prefixing it with the funtion-id is a good one.
incrementing the id sounds reasonable for sections with the same title within the same function.

[2015-10-04 13:51] josevalim commented on #444
I am going to close this because it is a lot of work and we already have a quite big list of things to do we which we would rather prioritize. Thanks @jeregrine  :heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2015-10-05 07:48] eksperimental opened #446 "ExDoc.Retriever.docs_from_dir fails with modules with @moduledoc false"
I'm trying to create a fixture that lists all the functions in the Elixir project, to find out which are the functions/modules that are not being linked by the HTML formatter.
I am mimicking what ExDoc.generate_docs does, but I cannot figure out why generate_docs is working and my function is failing.

Here's the code: https://gist.github.com/eksperimental/e715af4c5c208103d1a1
It give me this erro

[2015-10-05 10:46] milmazz commented on #443
@ghitchens I agree with you, could you please send a Pull Request with your suggestion?

[2015-10-05 14:45] milmazz commented on #312
@Dignifiedquire Have you work on this lately?

[2015-10-05 14:55] Dignifiedquire commented on #312
No not lately

[2015-10-05 14:56] milmazz commented on #329
@Dignifiedquire Is this still required? Could you please explain which is the goal here? If @josevalim (assigned) cannot take this task, I can try to solve this issue.

[2015-10-05 15:03] Dignifiedquire commented on #329
The idea was to move from something like this:

[code]

to sth like this:
[code]

[2015-10-05 19:47] ericmj opened #447 "Callbacks with no docs doesn't show"
Only callbacks with `@doc false` should be hidden. See `Phoenix.Socket` for an example.

[2015-10-06 22:22] #443 closed

[2015-10-06 22:22] #444 closed

[2015-10-09 02:42] milmazz commented on #446
@eksperimental I think that the current behaviour is the expected, look:

[code]

The following example retrieve docs from the `CustomBehaviourOne` module

[code]

Also, this little helper works for Elixir:

[code]

HTH