[2015-10-09 02:56] milmazz commented on #446
@eksperimental Ups, you use `docs_from_dir`, let's fix my previous answer:

[code]

Docs from ExDoc:

[code]

[2015-10-09 03:05] eksperimental commented on #446
Yes , but you are giving the names of the modules. This issue happens when i try to retrieve all the docs from a directory. Same as when u execute exdoc in a project. Wht docs-from-dir dies when it finds a module with @moduledoc false, and exdoc when run on the elixir project doesnt die. If generate-docs is calling docs-from-dir same way im doing it. Thanks for looking into this @milmazz

[2015-10-09 04:33] milmazz commented on #446
@eksperimental Please notice that my [second comment](https://github.com/elixir-lang/ex_doc/issues/446#issuecomment-146741402) use `docs_from_dir` instead of `docs_from_modules`.

Another example, in this case with some modules with `@moduledoc false`:

[code]

[2015-10-09 16:48] bitwalker opened #450 "RFC: More options for extra pages"
So my only issue with ExDoc (and it's a small one), is that I can't seem to control the way extra pages are named and ordered in the sidebar. I would really like the ability to override those. Thoughts?

[2015-10-09 16:58] josevalim commented on #450
Thanks @bitwalker. They should be ordered by the order they are defined in your mix.exs file with the same name as in the filesystem. So ordering should not be an issue... and can't you name the files as you want them to show up?

[2015-10-09 17:13] bitwalker commented on #450
@josevalim The seem to alphabetically sorted, because they show up in a different order than I defined them. As far as naming goes, let's say I have `getting_started.md`, this is translated to `GETTING_STARTED.html` and displays as `GETTING_STARTED` in the sidebar. Perhaps I'm doing something wrong, but I'd like to be able to name it more naturally, i.e. "Getting Started".

[2015-10-09 17:26] josevalim commented on #450
I will take a look at the ordering thing. About the naming, just call the file "Getting Started.md" and you will be fine. :)

[2015-10-09 17:29] bitwalker commented on #450
@josevalim What about something like "Upgrades/Downgrades" or anything which uses special characters? I mean, there are workarounds obviously (like choosing a different name), but having the ability to explicitly define the name in `mix.exs` decouples the naming from how the files themselves are organized on disk.

[2015-10-09 17:30] bitwalker commented on #450
I am of course coming from the perspective of not knowing how complicated the ask is here, so maybe this is a lot of added complexity for little benefit?

[2015-10-09 17:31] josevalim commented on #450
I just checked and in 0.10.0 I used this:

    extras: ["guides/README.md", "guides/Getting Started.md"]

The order kept was the one I defined. Regarding the naming, pls just pick a different character for now. I know it is not ideal but there are other things we would rather focus (like supporting custom assets and so on). :)

[2015-10-09 17:32] bitwalker commented on #450
@josevalim Ah damn, didn't check my mix.lock, I was on 0.9.0. Sorry about that!

[2015-10-15 18:14] sunaku opened #453 "** (ExDoc.Retriever.Error) module MyListLexer was not compiled with flag --docs"
Hello,

I'm using ex_doc 0.10.0 with Elixir 1.1.1 and Erlang 18.1 under 64-bit Linux. :smiley:

[Following a guide](http://andrealeopardi.com/posts/tokenizing-and-parsing-in-elixir-using-leex-and-yecc/), I created a `src/Elixir.MyListLexer.xrl` file containing:

[code]

Afterwards, when I run `mix docs`, I get an error: :scream:

[code]

Unfortunately, `:leex.file/2` (which compiles the *.xrl file

[2015-10-15 21:24] ericmj commented on #453
You can create the xrl file with an erlang module name and then wrap it in an elixir module.

[2015-10-15 21:31] sunaku commented on #453
By _wrapping_, do you mean that I should define "proxy" functions (in the Elixir module) that simply call out the real functions provided by the Erlang module?  That seems tedious and I'd like to avoid doing it. :sweat_smile:

Alternatively, is there some ex_doc directive I could inject into the header of the generated *.erl file that causes ex_doc to relax its requirement of needing the module to

[2015-10-15 21:39] ericmj commented on #453
We don't support non elixir modules with elixir names. Maybe we can check some other way but there will always be ways for erlang modules to look like elixir modules.

Something like this will generate all proxy functions:

[code]

[2015-10-15 21:42] josevalim commented on #453
Nah we should probably fix this anyway.

[2015-10-15 21:43] ericmj commented on #453
What's the fix though? Check if the module has `__info__/1` defined or check some attribute on the module? There's no way to 100% check if a module was compiled by elixir.

[2015-10-15 21:45] josevalim commented on #453
Check for __info__, yeah

On Thursday, October 15, 2015, Eric Meadows-Jönsson <
notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2015-10-15 21:48] ericmj commented on #453
We are just moving the issue to another place. Is it less likely that an
erlang module has an __info__ function than it has the elixir naming scheme?

On Thu, Oct 15, 2015 at 4:45 PM, José Valim <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2015-10-15 21:52] josevalim commented on #453
Yes. :) We could also define an elixir module with an erlang name, so
__info__ is definitely better.

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

On Thu, Oct 15, 2015 at 4:48 PM, Eric Meadows-Jönsson <
notifications@github.com> wrote:

[2015-10-15 21:57] ericmj commented on #453
Alternatively we can just skip raising an exception.

On Thu, Oct 15, 2015 at 4:52 PM, José Valim <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2015-10-16 23:07] sunaku commented on #453
:+1: Issuing a warning instead of raising an exception would unblock me. :traffic_light:

[2015-10-19 21:03] edmz commented on #419
I was just going to submit an issue for this. Its good to realize that I am not the only one for who this is important.

My gripes have already been addressed here by eksperimental and dancouper.

[2015-10-28 21:43] pdilyard opened #456 "doctest formatted code requires four space indentation"
I noticed that doctests require four space indentation to be correctly formatted when you build the docs. For example, these are valid doctests that run and pass:
[code]
However, they will be formatted as plain text:
![image](https://cloud.githubusercontent.com/assets/1459456/10803803/850b219a-7d9a-11e5-9f83-47d035e15802.png)
If you indent the `iex>` lines with four spaces, like so:
[code]
The doc

[2015-10-28 21:55] josevalim commented on #456
We follow markdown and markdown is four spaces.

[2015-10-28 21:55] #456 closed

[2015-10-28 21:55] josevalim commented on #456
Therefore, we have no plans to change. :)

[2015-10-29 02:40] eksperimental commented on #456
Doctests do not require indentation at all.
Btw.. When u say most of the elixir code uve see uzes 2 spaces.. Which code is this?

[2015-10-29 16:36] bbense opened #457 "No hexdocs available."
I don't know how useful they would actually be, but I was suprised not to find them.

[2015-10-29 16:47] josevalim commented on #457
There is no public API in ExDoc. Everything is done via the mix task or command line which can be accessible directly with mix help or --help.

[2015-10-29 16:47] #457 closed

[2015-10-30 00:54] pdilyard commented on #456
@josevalim got it, thanks for the clarification!
@eksperimental for example, the [elixir standard lib](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/enum.ex)

[2015-10-30 02:19] eksperimental commented on #456
Which line? All i see is four spaces

[2015-10-30 17:14] pdilyard commented on #456
I think we're just misunderstanding each other..I was referring to the actual source code, not the `@doc`. The code itself (e.g. https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/enum.ex#L193-L195) is two spaces, which is why I thought that the `@doc`s should be two spaces as well. But I didn't realize that the Markdown specification clarified four spaces, so @josevalim's explanatio

[2015-11-01 00:48] wsmoak commented on #450
I ran into this as well.  Perhaps ExDoc could use the text of the first `<h1>` as the menu item?  I see that it already makes sub-menu items out of the `<h2>`'s. (Lines beginning with `#` and `##`, respectively.)

[2015-11-01 01:55] ericmj commented on #457
Might still be useful to publish the task documentation?

[2015-11-02 16:27] milmazz commented on #446
@eksperimental I'll close this because there is no more feedback about this issue.

[2015-11-02 16:36] milmazz commented on #312
@Dignifiedquire I'll close this for now, the current tests are working fine. If you have some free time time, feel free to reopen this issue.

[2015-11-02 16:36] #312 closed

[2015-11-03 03:09] milmazz commented on #355
@Dignifiedquire @josevalim Any suggestion regarding the name of those classes? I'm out of ideas :no_mouth:

[2015-11-03 05:04] milmazz commented on #374
@eksperimental I'll close this issue, *it's really difficult to keep track of everything here*. If you think there are still some pending tasks, instead of reopen this issue, please try to create a new issue per task. IMHO, that way is more easy to keep our list of issues as tight as possible.

Sorry for the inconvenience!

[2015-11-03 05:04] #374 closed

[2015-11-03 05:05] milmazz commented on #169
@josevalim Any advice on how to solve this issue?

[2015-11-03 14:28] Dignifiedquire commented on #355
Sorry not really :( that's why I didn't touch it before

[2015-11-03 14:39] #435 closed

[2015-11-04 02:47] josevalim commented on #355
Let's close this then. The name is not ideal but without better suggestions we should rather focus on other things. :)

[2015-11-04 02:54] milmazz commented on #355
@josevalim Closing... :grinning:

[2015-11-04 02:54] #355 closed

[2015-11-04 13:10] #389 closed

[2015-11-04 13:19] #408 closed

[2015-11-04 17:45] eksperimental commented on #446
sorry about the delay @milmazz , but I have been pretty much absent. that's why.
I run your code in the second example.
But I'm still getting the same error that I reported initially.

[code]

No idea why i get that "** (ExDoc.Retriever.Error) module String.Normalizer is not defined/available"

String.Normalizer has @moduledoc false, https://github.com/elixir-lang/elixir/blob/94a07df8d3879f8555b75

[2015-11-04 18:30] eksperimental opened #463 "Link containing `code` doesn't underline the code area"
Link containing `code` doesn't underline the code area. Making it impossible to determine whether its a link to Module/function or not.

http://elixir-lang.org/docs/master/elixir/Code.html
https://github.com/elixir-lang/elixir/blob/8fd3eb5a2cceb2f48244e3cb1fa11a1a71fc9601/lib/elixir/lib/code.ex#L5

![ex_doc_code_link_underlined](https://cloud.githubusercontent.com/assets/9133420/9847823/0ea9b4e6-5

[2015-11-04 18:32] eksperimental commented on #374
No worries, thanks for taking care of this, i completely forgot about this list.
I have updated the list, and only one task is pending, and I have created an issue for it.

[2015-11-04 18:39] eksperimental opened #464 "Text inside code looks a few pixels off now"
This was probably introduced recently with changes trying to fix the style in code.

Before
![ex_doc_code_link](https://cloud.githubusercontent.com/assets/9133420/9847907/b96f4274-5b06-11e5-953a-4e93eb33d28c.png)

Now
![code_off](https://cloud.githubusercontent.com/assets/9133420/10947950/9977f4be-835d-11e5-96a1-db24c93f1775.png)

when zoomed in it can be appreciated more clearly.

![code_off_zoom

[2015-11-04 18:45] eksperimental opened #465 "[Mobile] entering a term in search should close menu after "ENTER" is hit"
this is similar to https://github.com/elixir-lang/ex_doc/issues/436

In my mobile browser, when I enter a search term and hit ENTER or GO in my keywboard, the menu should be closed and display automatically the search results.

[2015-11-06 18:55] milmazz opened #466 "Add support for gettext"
I was just wondering if add support for `gettext` in ExDoc makes any sense.

@josevalim @eksperimental @Dignifiedquire What do you think?

[2015-11-06 20:19] josevalim commented on #466
I wouldn't say so? As in other situations, I would rather wait until somebody actually needs it, then we will better know the requirements. :)

[2015-11-06 21:44] #466 closed

[2015-11-07 22:58] wsmoak commented on #450
Can this be reopened please?

I've got my idea of taking the text of the first `<h1>` as the menu item working in this branch:
https://github.com/wsmoak/ex_doc/tree/h1-as-title

I need help with the tests if someone has time... apparently I've broken the bit where if you configure _only_ `[main: "README"]` then README.md magically gets added to the 'extras' and the page is generated.  I don't see

[2015-11-08 00:16] milmazz commented on #450
@wsmoak I already merge #468 into `master`. Please let me know if you need some help with you proposal.

[2015-11-08 15:34] wsmoak commented on #450
I'm re-working the "first h1 as menu item" after https://github.com/elixir-lang/ex_doc/pull/468 (to remove of the extras- prefix and allow configuring the output filename) was merged.

We have to defer calculating the title text until after the content is available, so I took title out of the config map.  If there is no `<h1>` then it falls back to the _input_ filename (current released behavior.)

[2015-11-08 15:46] josevalim commented on #450
Thanks @wsmoak! Regarding #469, I think we should just allow both to be configured.

[2015-11-08 15:49] josevalim commented on #450
It is important to notice that the changes in your PR make the filename reflect the path and I think it should still reflect the title (i.e. we should call title_to_filename) even if we are reading the title almost always from h1. The reason is that it is always easy to go from title to filename (API Reference -> api-reference) than the opposite.

But honestly, I think we can ignore the title from

[2015-11-09 20:01] milmazz commented on #450
Fixed via #470

[2015-11-09 20:01] #450 closed

[2015-11-11 18:07] edmz opened #472 "Hovering the function title with the mouse moves screen"
How to reproduce:

- click on any function
- scroll window so that function title is at the center of window
- hover function title with the mouse, as if you were to click on view source

[2015-11-12 03:03] eksperimental commented on #472
What are your Browser, OS and ExDoc Versions?

[2015-11-12 08:25] josevalim commented on #472
If you can link us to the documentation that reproduces the issue, it would be ideal. :)

[2015-11-12 10:22] edmz commented on #472
I was browsing this function when I saw the behaviour, using latest Chrome:

http://elixir-lang.org/docs/master/elixir/Kernel.html#get_in/2

[2015-11-12 10:34] eksperimental commented on #472
I cannot reproduce, but I know what you mean, working on a feature for the hex.pm website, i could see this happening,... but there only when I zoomed the page at a specific % it was only when it was happening.

[2015-11-12 17:12] edmz commented on #472
Ok, this happened in my work's computer and also on my home's. Both in Chrome. I disabled some extentions and the behaviour was still there. Noticed there was a Chrome update, and restarted it.

The behaviour disappeared and everything is fine now.

Closing this.

[2015-11-12 17:12] #472 closed

[2015-11-14 13:58] josevalim opened #474 "Night mode version for docs"
Tim created a night-mode version of the docs: https://twitter.com/seven1m/status/664998295291359232

If I remember correctly, one of the original version of the docs by @Dignifiedquire was all black. @Dignifiedquire, do you think it is worth having a night-mode version? We could have a tiny button to flip the configuration (for example: `?mode=black`) and store the value in a cookie when no mode i

[2015-11-14 22:15] milmazz commented on #474
It would be great to have that option :+1:

[2015-11-16 11:13] bcardarella opened #475 "Visual hierarchy issue with examples"
When viewing docs that have examples I see some visual hierarchy issues that make it more difficult for me to read the docs.
![drawing 2](https://cloud.githubusercontent.com/assets/18524/11180442/d14189c2-8c28-11e5-9c64-4bcc6a8019c0.png)

1. start of a function
1. code example for the first function
1. start of a new function

Due to the size of the `h2` element my eye is naturally drawn to the **

[2015-11-16 11:23] eksperimental commented on #475
hi @bcardarella, this specific issues has been addressed in https://github.com/elixir-lang/ex_doc/issues/419
please feel free to contribute with any comments to it.
I will close this issue as it's a duplicate

[2015-11-16 11:23] #475 closed

[2015-11-16 11:25] bcardarella commented on #475
@eksperimental great! Glad to see its already on the radar :smile:

[2015-11-16 11:25] eksperimental commented on #446
@milmazz I will reopen it, as the still cannot find a solution for my problem, which will help me solve issue #321

[2015-11-16 11:52] josevalim commented on #446
I still don't understand what is the issue here. `docs_from_dir` is a private function, it should not be called externally. Do you have a project where running `mix docs` crashes due to this issue?

[2015-11-16 11:52] josevalim commented on #446
In other words, I don't know what is wrong nor what needs to be fixed.

[2015-11-16 12:12] eksperimental commented on #446
@josevalim I don't think it's the function itself that is wrong, but something is not working as expected.
What I'm trying to do is list all the functions in all the modules in Elixir, and once I've got that I create a doc listing all these functions and see the ones that are not being linked by ExDoc.

[2015-11-16 21:47] Gazler opened #476 "Arguments being rewritten as |"
Currently on https://hexdocs.pm/ecto/Ecto.Repo.html#c:update/2 the function signature reads as:

And not:

[2015-11-16 22:30] #476 closed

[2015-11-17 18:03] #419 closed

[2015-11-17 19:27] milmazz opened #483 "What do we want to see in the next version of ExDoc?"
After the release of ExDoc 0.10 we have introduced new bug fixes and new features. The idea of this thread is to open the discussion about the things that we want to see in the next version of ExDoc.

So far, the following are some of the improvements already done in this iteration:

* [x] Increase the visual separation between functions #419
* [x] Allow to define the title in the sidebar area for

[2015-11-17 22:19] josevalim commented on #483
Thanks @milmazz! Most of those would be really nice improvements, although they should not block it because we already have enough IMO. So I think the big question is if there are any bugs or improvements that are extremely important to include so we focus our efforts on it. :)

[2015-11-17 23:25] ericmj commented on #483
All of these fixes seem enough for it's own release.

[2015-11-18 02:25] milmazz commented on #483
@josevalim AFAIK there is nothing extremely urgent to fix. Also, as you and @ericmj pointed out, there is a lot of things already done for a new release :-D

I'll send a PR with the updated Changelog.

[2015-11-18 12:07] mememori opened #486 "Code syntax highliter consider `fun!/n` and `fun?/n` as regexes"
Code:
[code]

Expected:
[code]

Got:
[code]

Reason: When the JS matches something that starts with `!/` or `?/` it thinks that it is the start of a regex

[2015-11-18 12:15] josevalim commented on #486
Thank you. This is an issue on highlight.js though, we just rely on it. Would you mind posting it there and likely sending a fix too? Thank you!

[2015-11-18 12:15] #486 closed

[2015-11-18 12:15] josevalim commented on #483
Closing then in favor of the CHANGELOG. :D

[2015-11-18 12:15] #483 closed

[2015-11-18 12:22] mememori commented on #486
Sorry, i tought the highlight library was tailored for ex_doc :stuck_out_tongue_closed_eyes:

[2015-11-19 15:42] eksperimental commented on #419
@milmazz what I meant what, now that I read back is exactly what @Dignifiedquire proposed earlier:

![indented](https://cloud.githubusercontent.com/assets/9133420/11274507/c5805b3c-8f0b-11e5-98de-1ad7c0dccb5e.png)

While it definitely  looks much better now after the changes, I think we still have the issue of having the function heading not clearly distinguishable.
As I mentioned before, having t

[2015-11-19 16:08] edmz commented on #419
+1 on the indentation.

Also, I think that the colors (the light blue and the gray) are inverted. At least for me, the blue stands out more, thus, giving more importance to the spec and the code example while the function name seems secondary.

Example of inverting colors:

<img width="771" alt="screen shot 2015-11-19 at 10 05 52 am" src="https://cloud.githubusercontent.com/assets/18996/11275898/5

[2015-11-19 16:14] endersstocker commented on #419
@eksperimental Your last screenshot looks good. I would increase the vertical gap though.

[2015-11-19 17:06] josevalim commented on #419
@eksperimental please create a new issue and copy @Dignifiedquire :)

[2015-11-21 05:42] eksperimental opened #487 "Functions headers should stand out more"
This issue is related to the original issue https://github.com/elixir-lang/ex_doc/issues/419

While it definitely  looks much better now after the changes introduced in #479, I think we still have the issue of having the function heading not clearly distinguishable.
As I mentioned before, having the same color as the code style, makes it difficult to stand out on its own. Specially when the previo

[2015-11-21 05:45] eksperimental commented on #487
@edmz commented https://github.com/elixir-lang/ex_doc/issues/419#issuecomment-158102564:

+1 on the indentation.

Also, I think that the colors (the light blue and the gray) are inverted. At least for me, the blue stands out more, thus, giving more importance to the spec and the code example while the function name seems secondary.

Example of inverting colors:

<img width="771" alt="screen shot 2

[2015-11-21 05:46] eksperimental commented on #487
@endersstocker  commented https://github.com/elixir-lang/ex_doc/issues/419#issuecomment-158104163:

[2015-11-21 05:55] eksperimental commented on #487
So multiple solutions  that I see to help solve this issue are:
- **Indent all the text** under the function heading (as show in the first mock-up)
- **Use colors** for the heading and the code samples that will make the heading stand out more than the code
- **The vertical bar** in the function heading can be a **stronger color** so it will catch attention of the the eye easily.
- **Increase the

[2015-11-21 10:53] mupkoo commented on #487
I think inverting the colors + indenting the text is the best looking solution.

Adding `margin-left: -19px;` to `.content-inner .detail-header` aligns the function name with the documentation.

![screen shot 2015-11-21 at 12 52 57](https://cloud.githubusercontent.com/assets/1788571/11318152/d8bf63a2-904e-11e5-9714-aa6a10b1e5b2.png)

[2015-11-24 03:38] johnhamelink opened #488 "Swagger support"
It'd be really nice if this library could be used to generate Swagger JSON, which can then be used with various code generators and API viewers.

[2015-11-24 09:38] josevalim commented on #488
@johnhamelink that's out of scope for this project as we have other priorities. There are some projects though that aim to bring this functionality, like phoenix_swagger: https://github.com/xerions/phoenix_swagger

[2015-11-24 09:38] #488 closed

[2015-11-24 16:44] johnhamelink commented on #488
Thanks Jose, keep up the great work :+1:

[2015-11-28 17:56] alco opened #489 "Incorrect title for README.md in the sidebar"
See here http://hexdocs.pm/porcelain/2.0.1/readme.html, it shows `</div>` as the title for the README page in the sidebar.

Project's [mix.exs](https://github.com/alco/porcelain/blob/7789047c949711df8ef18d4fe667f1f88fb4d67c/mix.exs#L23-L27) and [README.md](https://raw.githubusercontent.com/alco/porcelain/7789047c949711df8ef18d4fe667f1f88fb4d67c/README.md).

Changing this

[code]

to this

[code]

[2015-11-29 17:21] Gazler opened #490 "Links to special forms with a `%` don't work in side bar"
If you visit http://elixir-lang.org/docs/v1.1/elixir/Kernel.SpecialForms.html#%25/2 then you will not you are taken directly to the `%` macro.

If you click the same link on the sidebar it will take you to http://elixir-lang.org/docs/v1.1/elixir/Kernel.SpecialForms.html#%/2 which does not link correctly.

[2015-11-29 19:01] pdilyard commented on #474
I'd like to take a shot at this one if no one else is working on it yet

[2015-11-29 20:22] josevalim commented on #474
Please go ahead! You can even consider pinging Tim on Twitter for a head start. We can ask @Dignifiedquire to do a quick review once we have a PR. :)

[2015-11-29 20:23] josevalim commented on #487
I like the alignment, I think it will solve the issues once and for all. What are your thoughts @Dignifiedquire?

[2015-11-29 20:26] Dignifiedquire commented on #487
I agree the alignment changes seem to work quite well, but I disagree with switching the colors.

[2015-11-29 20:28] josevalim commented on #487
Thank you @Dignifiedquire. @eksperimental can you please send a PR with the alignment changes? :)

[2015-11-29 20:33] Dignifiedquire commented on #474
I like the idea, let's see some code ;)

[2015-11-29 22:59] wsmoak commented on #489
That's odd... it should take the text from the first `#` or else use the filename if you haven't specified a title in the configuration.

It does not understand the === format, it's actually looking for the `#` with a regular expression:
https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/formatter/html.ex#L171

[2015-11-30 09:09] alco commented on #489
I didn't know about the title option, I can use that.

[2015-12-01 03:22] pdilyard commented on #490
Has this already been fixed?

I tried to replicate the issue by creating pasting the macro from `Kernel.SpecialForms` and running ex_doc on it, but the sidebar seems to be encoding the link properly (although I can't find anywhere in the handlebars template that this is happening).

I'm not sure how often the Elixir docs get built, but it is possible that this problem will go away next time that h

[2015-12-01 03:30] pdilyard commented on #490
Yeah, I can confirm that the master branch of ex_doc properly encodes the `%` character in the sidebar and in the function title.

I could see where this was going wrong at some point, as the individual parts of the sidebar are generated from a handlebars template, and the function headers are generated from an EEx template that uses: `<a href="#<%=enc_h link_id(node) %>" ...`

[2015-12-01 03:34] ericmj commented on #490
The master docs: http://elixir-lang.org/docs/master/elixir are built once every day from ex_doc master.

[2015-12-01 03:34] #490 closed

[2015-12-01 21:34] Havvy opened #492 "Opportunistically Expand Sidebar Width"
Current state:

![Sidebar horizontal bar showing with main content whitespace taking up 2/3 of main content](http://i.imgur.com/qnO9vmA.png)

Expected: Given the extreme amount of whitespace around the main content, the sidebar would have a max-width that takes it into account so the horizontal scrollbar isn't necessary.

[2015-12-02 00:20] pdilyard commented on #492
I think this is a good idea, considering it could help eliminate horizontal scrolling on a lot of screens. If others agree, I'd love to make a PR for this one.

[2015-12-02 00:29] pdilyard opened #493 "Hovering on buttons jumps you back to the #link"
If you have an in-page anchor (`#MY_ID`) in the URL, e.g. `http://hexdocs.pm/plug/Plug.Test.html#content`, the browser will jump back to that element ID if you hover over some buttons, such as a function header. This happens for me on Chrome for OSX only (I also tested on Firefox and Safari, but the bug didn't occur).

Hopefully my explanation makes sense. Let me know if anyone else can replicate.

[2015-12-02 00:39] ericmj commented on #493
I have also seen the jumping back to anchor behaviour.

[2015-12-02 00:42] milmazz commented on #492
I agree if the idea is just to remove the horizontal scroll in the sidebar area. Please go ahead :)

[2015-12-02 00:43] pdilyard commented on #493
I'll try taking a look into this later.

[2015-12-02 14:45] ericmj opened #495 "Generate JSON file with index of all modules and functions"
Currently there is no way find all modules and functions without scraping the generated docs, which is difficult to say the least and not backwards compatible. An index file would make it much easier for external tools that want to implement search on documentation.

JSON files with the docs and specs would also be good to have.

[2015-12-02 15:22] milmazz commented on #495
@ericmj `dist/sidebar_items.js` includes a JS object that list all the exceptions, modules, protocols and additional documentation, its structure is something like this:

[code]

[2015-12-02 16:35] ericmj commented on #495
Any way we can get it as a pure json object without the surrounding javascript?

[2015-12-02 16:52] milmazz commented on #495
I can review if it's possible tonight... can I ask what do you have in mind? :)

[2015-12-02 17:30] pdilyard commented on #493
Found a thread about this in Chrome: https://code.google.com/p/chromium/issues/detail?id=561013&q=status%3Aunconfirmed&sort=-id&colspec=ID%20Stars%20Area%20Feature%20Status%20Summary%20Modified%20OS

It's been fixed in Chrome 47.0.2526.73 (stable channel of Chrome just got bumped to this last night/today), and I confirmed that this is no longer an issue.

(You do have to restart your browser for t

[2015-12-02 17:30] #493 closed

[2015-12-02 19:37] ericmj commented on #495
We need to store an index of all functions and modules for external tools to be able to implement search. Right now all tools scrape the html that ex_doc generates which is worse than looking at an index for obvious reasons. I would also like a separate file that contains all documentation for each function and module so that tools can implement full text search.

[2015-12-14 15:59] bordeltabernacle opened #498 "Documenting how the compiler infers function arguments."
After a conversation with @ericmj on IRC, I learnt that argument names for functions are inferred by the compiler.  And that this can be changed by naming the argument in the code: `def func(%HashDict{} = _dict)`. (I also tried `@spec func(dict :: HashDict.t)` and variants, without success.)

This originated from the differences in functions in the, soon to be deprecated, HashDict module, where `p

[2015-12-14 16:00] ericmj commented on #498
It should probably be documented on elixir since it's the compiler that does the inference.

[2015-12-14 16:01] josevalim commented on #498
We honestly need an Elixir document about writing good documentation. It is missing and it would be the perfect place to add this. @true_droid @lexmag any idea where we could put this document?

[2015-12-14 16:28] alco commented on #498
Can we add it as a page in Elixir docs? We currently have a single page there and it's `API Reference`. A documentation guide would fit there nicely. Having a few other things there would be nice as well, e.g. [FAQ](https://github.com/elixir-lang/elixir/wiki/FAQ),

[2015-12-14 16:29] josevalim commented on #498
@alco beautiful idea.

[2015-12-14 16:30] josevalim commented on #498
Moved to Elixir. Thanks everyone.

[2015-12-14 16:30] #498 closed

[2015-12-14 16:33] lexmag commented on #498
As an another option we can make `Kernel.Docs` by analogy with `Kernel.Typespec` (and move `Module.add_doc/6` there).

[2015-12-14 17:47] josevalim commented on #498
@lexmag I would even advocate making Kernel.Typespec private again and move the typespec to a page as well.

[2015-12-14 19:05] lexmag commented on #498
@josevalim :+1: for it.

[2015-12-15 09:42] bordeltabernacle commented on #498
Wow, I wish this is what it was like at work. :smiley:
:heart: Elixir!

[2015-12-17 02:53] vanstee opened #499 "Include a canonical link element to avoid multiple versions in search results"
Currently, if you search for something like "elixir enum join", you'll see a few results from different versions of the documentation, like this:
![screen shot 2015-12-16 at 9 13 44 pm](https://cloud.githubusercontent.com/assets/228734/11859562/20010654-a43a-11e5-87de-49806b939d25.png)

To fix this we'll need to add a canonical link element to the head of each page that points to the stable versio

[2015-12-17 11:38] ericmj commented on #499
We need to make sure this works with hexdocs, I suggest making it a command line option instead so `mix hex.docs` can pass it to the docs task.

[2015-12-17 18:32] #492 closed

[2015-12-22 12:04] alco commented on #498
The new page about [writing documentation](http://elixir-lang.org/docs/master/elixir/writing-documentation.html) does not address this issue still.

[2015-12-22 21:24] bordeltabernacle commented on #498
I'd be happy to have a go at putting this in after Christmas?

[2015-12-23 16:09] josevalim commented on #498
Thank you for the PR. :)

[2015-12-23 17:05] bordeltabernacle commented on #498
Most welcome! :)

[2015-12-29 19:01] niku opened #505 "Can't keep the sidebar at a narrow screen"
At a narrow screen, we can open the sidebar by clicking button.

We can keep the sidebar on [v1.1 docs](http://elixir-lang.org/docs/v1.1/elixir/Kernel.html).
We can't keep the sidebar on [master docs](http://elixir-lang.org/docs/master/elixir/Kernel.html), the sidebar close soon without any operation.

![untitled](https://cloud.githubusercontent.com/assets/10890/12040092/39959cfa-aea9-11e5-9023-9f

[2015-12-29 19:25] josevalim commented on #505
Thank you for the report! This may have been caused by #492. @Havvy can you please investigate? We will do a new release as soon as this is fixed. :)

[2015-12-30 00:52] Havvy commented on #505
CC @pdilyard who wrote the patch.

[2015-12-30 23:06] dayvsonlima opened #506 "Translation"
Hi,
It would be nice with it's possible translate the elixir-guide guide. I'm member from [phoenixframework-Brazil](https://github.com/phoenixframework-Brazil). We are translating the phoenix guide and we can help translate this style guide for portuguese.

[2015-12-30 23:25] victorlcampos commented on #506
+1 =)

[2015-12-31 06:57] josevalim commented on #506
Thank you @dayvsonlima! The Elixir guides are hosted here: http://github.com/elixir-lang/elixir-lang.github.com - You are free to translate them and host them. :) Bom ano novo!

[2015-12-31 06:57] #506 closed

[2016-01-04 15:39] michalmuskala opened #508 "Generate anchors for subtitles"
Currently anchors are only generated for sections and functions. It would be great if they could be also generated for subtitles. This is especially important for moduledocs, as sometimes they are quite long and it's hard to point someone to a specific point.

[2016-01-10 18:02] michalmuskala opened #509 "Anchor for <<>> is not working in Firefox"
In the documentation for [`Kernel.SpecialForms.<<>>/1`](http://elixir-lang.org/docs/stable/elixir/Kernel.SpecialForms.html#%3C%3C%3E%3E/1) the generated anchor is not linking to the correct section in Firefox 43.0.4.

[2016-01-15 09:58] RobertDober commented on #508
I agree with the usefulness of this feature but forgive a, maybe stupid, question. Subtitles, are they not part of the verbatim text passed to Earmark? And if that is the case that would be an Earmark issue, right?

[2016-01-15 20:29] RobertDober commented on #508
Ah I understand now, you post process the HTML so that you do not depend on the underlying conversion library.

[2016-01-17 12:11] zhongwencool commented on #474
Any configuration for setting default mode?

just like
[code]

[2016-01-23 16:58] Tica2 opened #511 "char "f" do not show for some words"
on ecto docs:
https://hexdocs.pm/ecto/Ecto.Schema.html#has_many/3
paragraf:
`:through - If this association must be deined`
I reed  `deined` instead `defined`

Tests on Mac OS Firefox + Safari
Picture here:
https://drive.google.com/file/d/0B0ERMrTdlpURQ3ZlZmRaY0paVzg/view?pref=2&pli=1

Good to use font that do not have this problem.

Thanks!

[2016-01-23 17:28] josevalim commented on #511
We just need to add this to the body CSS:

    -webkit-font-variant-ligatures: no-common-ligatures;

@Dignifiedquire, do you agree?

[2016-01-23 19:11] Dignifiedquire commented on #511
This is really odd. For me it looks completely fine (OS X)

### Firefox
![screen shot 2016-01-23 at 20 10 09](https://cloud.githubusercontent.com/assets/790842/12532173/5d6533d0-c20d-11e5-9dff-b981bb8eff23.png)

### Safari

![screen shot 2016-01-23 at 20 11 07](https://cloud.githubusercontent.com/assets/790842/12532177/76d82f52-c20d-11e5-8cda-6d2a8ab88070.png)

[2016-01-23 19:14] josevalim commented on #511
What is your safari version? Mine is: Version 9.0.2 (10601.3.9)

Maybe ligatures are a fairly new feature. I am also on Mavericks but I can confirm the issue exists here.

[2016-01-23 19:17] Dignifiedquire commented on #511
@josevalim mine is even newer: Version 9.0.2 (11601.3.9) maybe it's fixed in that build?

[2016-01-23 19:31] josevalim commented on #511
Isn't yours the same as mine? :P

[2016-01-23 19:32] josevalim commented on #511
@Tica2 @Dignifiedquire which OS are you on?

[2016-01-23 20:12] Tica2 commented on #511
El Capitan 10.11.2 (15C50)

[2016-01-23 20:13] Tica2 commented on #511
Firefox 43.0.4,
Safari Version 9.0.2 (11601.3.9)

[2016-01-23 22:12] josevalim commented on #511
I will go ahead because Safari is definitely trying to use ligatures here and the font does not support ligatures, so I don't see any occasions where the instruction above would be harmful. :)

[2016-01-23 22:27] Dignifiedquire commented on #511
Sure go ahead, but are you sure a `webkit` prefix will change anything in Firefox?

[2016-01-23 22:32] josevalim commented on #511
I can't reproduce it in Firefox. But if someone can give it a try and find
the proper one, I am all ears :D

On Saturday, January 23, 2016, Friedel Ziegelmayer <notifications@github.com>
wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-01-24 00:48] sheharyarn commented on #511
I can confirm the issue exists. Tested on Firefox, Safari and Chrome but the Fs are only invisible in Firefox and Safari. I'm on an Macbook Air running OSX El Capitan 10.11.2.

![screen shot 2016-01-24 at 5 45 14 am](https://cloud.githubusercontent.com/assets/2355108/12533784/ee82b7d4-c25d-11e5-92bd-4f706530b656.png)

_Notice the 'defines' in the second paragraph_

[2016-01-24 05:46] sheharyarn commented on #511
Sent in a pull req that fixes this.

[2016-01-24 08:50] #511 closed

[2016-01-24 09:35] josevalim commented on #511
:heart: :green_heart: :blue_heart: :yellow_heart: :purple_heart:

[2016-01-24 09:35] josevalim commented on #511
0.11.4 is out.

[2016-01-25 19:44] josevalim commented on #511
The root cause was found: https://github.com/Automattic/wp-calypso/issues/2720 :)

[2016-01-25 19:47] Tica2 commented on #511
:+1: good

[2016-01-27 13:20] davelab6 commented on #511
This should now be totally fixed at the GF API side :)

[2016-01-27 13:21] josevalim commented on #511
I will revert the css changes then, thank you @davelab6.

[2016-01-27 14:15] Dignifiedquire commented on #511
I just read "fixed at the girl friend API side" and was super confused :laughing:

[2016-01-27 14:47] ericmj opened #513 "Back button doesn't bring you back to search results page"
If you click a link from the search results page and then use the browser back button it wont bring you back to the search results.

[2016-01-27 16:44] davelab6 commented on #511
My girlfriend regular refers to Google Fonts as my other girlfriend due to workaholism =)

[2016-02-04 08:10] talentdeficit opened #514 "modules with :atoms for names are not included when generating docs"
[code]

i believe the pattern [here](https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/retriever.ex#L48) is the culprit. changing it to "*.beam" solves this issue but i am unsure of the implications of including all beam files when generating docs

[2016-02-08 15:09] milmazz commented on #509
@michalmuskala Could you please try the following: In the sidebar area, click `Macros` under `Kernel.SpecialForms` and then follow the `<<>>/1` link. This procedure works for you?

[2016-02-08 15:14] milmazz commented on #499
@vanstee Are you currently working on this feature?

[2016-02-08 15:19] milmazz commented on #514
I think that the pattern `Elixir.*.beam` tries to avoid some clashes with Erlang's modules, which certainly do not follow the same documentation syntax that we use in Elixir.

[2016-02-08 15:58] vanstee commented on #499
@milmazz Oh nope. I'll try to get around to doing it at some point. But if anyone wants to go ahead and take it, feel free.

[2016-02-08 20:53] michalmuskala commented on #509
Yes, this does work.

[2016-02-13 08:28] #499 closed

[2016-02-14 21:49] hubertlepicki opened #518 "Cannot generate docs (Argument Error in ExDoc.Retriever.find_actual_line/3)"
I'm trying to generate docs for Ecto master.

[code]

I am not sure if this is an issue with `ex_doc` or `Ecto` itself. My Elixir and Erlang versions:

[code]

Any ideas?

[2016-02-14 21:51] josevalim commented on #518
Which ExDoc version?

[2016-02-14 21:53] hubertlepicki commented on #518
[code]

0.11.2

[2016-02-14 21:53] josevalim commented on #518
`mix deps.update ex_doc` fixes it. :) I will push an updated one to Ecto as well.

[2016-02-14 21:53] #518 closed

[2016-02-14 21:57] hubertlepicki commented on #518
True, that helps @josevalim thank you. Possibly requiring 0.11.4 for Ecto makes sense.

[2016-02-15 01:39] eksperimental opened #519 "specs should be displayed in the same order as they have been defined"
See the example of Elixir.Range.range?/1

https://github.com/elixir-lang/elixir/blob/b6dc389f5e3eb2286885c172009333ef414d7860/lib/elixir/lib/range.ex#L73-L74
[code]

and how it's showed in the docs
http://elixir-lang.org/docs/master/elixir/Range.html#range?/1
[code]

the order changes the meaning.

[2016-02-15 01:58] ericmj commented on #519
The order of specs does not change it's meaning, they do not work like match patterns. The spec is actually wrong here.

To quote the erlang docs:

We need to figure out why this warning isn't triggered for elixir.

The order of specs should probably be preserved for documentation though.

[2016-02-23 21:18] eksperimental commented on #519
thanks @ericmj I will submit an issue to elixir then.
I leave this issue still open as we should preserve the order, as you mentioned.

[2016-03-01 10:47] bcardarella commented on #513
The search page is currently a modal. I suspect it would be non-trivial to properly manage the application history state unless a history and route manager for javascript.

[2016-03-07 08:27] allyraza commented on #514
modules with `:atom` name does not compile under default Elixir namespace this is going to be bit tricky

[2016-03-07 08:42] allyraza commented on #514
I have had the time to look into this, I think converting the pattern to `*.beam` should fix the problem I don't think it will conflict with erlang modules since all the deps are compiled in separate dir

[2016-03-07 09:34] allyraza commented on #513
We can use can push state when user clicks on a link to fix this, but it won't work in older browser I can send PR if that's okay

[2016-03-07 10:54] josevalim commented on #513
I believe that's fine. It is for developers, we at least expect them to
have up to date browsers. :)

On Monday, March 7, 2016, Ally Raza <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-03-07 19:46] allyraza commented on #514
It actually does conflict with erlang modules

[2016-03-16 11:26] pjhampton opened #522 "DuckDuckGo Docs Implementation Question"
I'm currently implementing the docs as a [FatHead IA](https://duck.co/ia/view/elixir) into the DuckDuckGo search engine so people can have a quick reference that maybe don't have access to their command line, like this PHP example:

![screen shot 2016-03-16 at 11 13 10](https://cloud.githubusercontent.com/assets/8960296/13810712/142688f6-eb69-11e5-92eb-1cc2ba3231d8.png)

I'm just going to parse th

[2016-03-16 11:29] ericmj commented on #522
Hexbob simply generates nightly docs from the elixir master branch. Wouldn't it be better to show the stable docs though?

[2016-03-16 11:34] pjhampton commented on #522
I suppose you are right - this would be easier to maintain. Many thanks :+1:

[2016-03-16 11:34] #522 closed

[2016-03-23 07:49] Bogdanp opened #523 "space bar key is broken when navigating to module documentation pages"
I generally find the way documentation is handled in this community very nice, but as an Elixir newbie reading lots of docs this issue in particular has been driving me a little nuts. :D

**Steps to reproduce:**

1. Go to https://hexdocs.pm/ecto/Ecto.html
2. Click on `Ecto.Adapter` in the sidebar
3. Hit space

**Expectation:**

The module documentation should scroll up.

**Actual behavior:**

It d

[2016-03-23 18:58] #519 closed

[2016-03-23 18:59] #523 closed

[2016-03-26 13:19] bjfish commented on #519
There is a dialyzer warning produced:
[code]

[2016-03-27 16:58] ericmj commented on #519
Seems like the spec is still not fixed. Would you be willing to send a PR to elixir fixing it @bjfish?

[2016-03-27 17:26] bjfish commented on #519
@ericmj I think a PR with a fix just got merged in here: https://github.com/elixir-lang/elixir/pull/4432

[2016-03-30 19:39] Qqwy opened #528 "'See also' breaks for method names that contain numbers"
I really like the feature where you can create a local link to another function in the documentation by typing its signature (such as `Module.function_name/1` ), enclosed in backtics. However, while writing on the [Math](https://github.com/folz/math) package, I found out that names like `Math.log10/1` or `Math.atan2/2`do not automatically generate these references.

[2016-03-30 20:43] #528 closed

[2016-03-31 16:55] seancribbs opened #530 "Generator blindly wipes directory"
On https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/formatter/html.ex#L18, the `File.rm_rf! output` call wipes the `doc` directory regardless of contents. This is an annoyance when the directory contains a git repository for publishing docs to Github Pages, because the `.git` directory is removed as well.

It would be nice if the generator only deleted files and directories it might ha

[2016-03-31 17:06] josevalim commented on #530
Good point. Any suggestions? We could try to find out what was generated but it may be error prone. For example, we could add a new file in the future and forget to list it for removal. Maybe we could erase everything except dot files/directories?

[2016-03-31 17:08] seancribbs commented on #530
Perhaps it could just be an whitelist option? Like `docs: [keep: [".git"]]`

[2016-03-31 17:08] seancribbs commented on #530
I'm also ok with ignoring dotfiles by default.

[2016-03-31 20:54] ericmj commented on #530
I think we should just ask the user if we should clean `doc`.

[2016-03-31 20:56] josevalim commented on #530
If we don't clean we leave stale modules, stale static pages and friends
around.

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-03-31 20:57] ericmj commented on #530
There can be good reasons for developers to keep files in `doc`, for example including extra documentation.

[2016-04-03 22:06] eksperimental commented on #519
Thank you @bjfish for fixing both issues

[2016-04-23 13:08] austinsmorris opened #532 "Left-side navigation menu is broken on small screens (mobile)"
For some libraries, if your screen is small enough (small on desktop, always on mobile), the left side menu will not stay open. If you click the hamburger to expand the menu, it slides out and disappears, making it unusable.

For example, these are broken:
https://hexdocs.pm/absinthe/Absinthe.html
https://hexdocs.pm/absinthe_relay/Absinthe.Relay.html

But others, like Ecto, work ok:
https://hexdoc

[2016-04-23 15:25] bruce commented on #532
@austinsmorris Thanks for reporting this for https://github.com/absinthe-graphql/absinthe. We appreciate it!

[2016-04-26 16:54] eksperimental opened #533 "[Search] Support CTRL+(ENTER/Click)"
It has happened to me many times that typing the full name of a function in the search box, to get a result page, and end up clicking on the first result.
I would LOVE to have a feature that when hit ENTER or clicked the magnifying glass icon in combination with the CONTROL key, it will directly redirect me to the first match.

something that would mimic what we have in IEx, when you use the `h` c

[2016-04-26 16:57] eksperimental opened #534 "[Search] Results should include PAGES names"
Search should be consistent and inclue PAGES (same as for the other main elements in the menu)

If you search for "typespecs" it should list the [Typespecs](https://hexdocs.pm/elixir/typespecs.html) page but it doesn't: https://hexdocs.pm/elixir/search.html?q=typespecs

[2016-05-12 20:42] lpil commented on #474
It seems this can be closed.

[2016-05-12 20:46] pdilyard commented on #474
👍

[2016-05-12 20:48] #474 closed

[2016-05-22 07:18] nscyclone opened #536 "[Mobile] The search box shrinks on focus (when the keyboard appears)"
Here is a [screencast](https://drive.google.com/file/d/0B_qNMs7-Bn2USDFmWm1qU29EdjQ/view). The device used in the test-case above has HD resolution but the problem exists on 1280x800 tablet as well. Unfortunately, I have nor FullHD device neither an emulator installed, so I can't confirm whether this is related to other resolutions.

I also think that it would be fine to use some sort of tag for i

[2016-05-22 16:28] #536 closed

[2016-05-28 23:33] michalwarda opened #540 "Improving sidebar animation."
At the moment the sidebar animation is handled via jQuery updating the width/flex-basis of sidebar.
It causes unnecessary repainting of the page while the animation is occurring.
Moreover currently implemented animation causes content of the sidebar to stutter while it's opening / closing.

Although trying to change this on the desktop version of the page doesn't give too much performance gain(bec

[2016-05-28 23:35] whatyouhide opened #541 "Optional callbacks"
Optional behaviour callbacks (`@optional_callbacks`) recently landed in Elixir (https://github.com/elixir-lang/elixir/pull/4705), we should mark that a callback is optional somehow in the documentation.

[2016-05-29 00:24] eksperimental commented on #540
My opinion is go for it!

[2016-05-29 15:30] nscyclone commented on #416
I suppose this can be closed now.

[2016-05-29 17:57] #416 closed

[2016-06-04 10:31] #540 closed

[2016-06-04 11:40] michalwarda commented on #540
Unfortunately as I now tested the master build I noticed that on some screens the sidebar is not entirely covered by the content background. I prepared a fix for it on a new branch. I'm sorry for the inconvenience but I didn't notice it previously :/

[2016-06-04 12:26] michalwarda commented on #532
@bruce, @austinsmorris I built it using the current master branch with the sidebar animation rewritten https://github.com/elixir-lang/ex_doc/tree/8a2345cd63b5b4e83d688599103bcee5427e129e and it's working a-ok! I guess the issue should stay until the next release but just so you know on master It's working fine now.

[2016-06-04 12:37] josevalim commented on #532
If you have verified it, we can close this and reopen if the issue persists. Thank you!

[2016-06-04 12:37] #532 closed

[2016-06-04 13:12] michalwarda opened #546 "Search results color in night mode is hard to read."
Currently in _night mode_ the visited search result links and top right `x` are in black just like on screen:
![night_mode_colors](https://cloud.githubusercontent.com/assets/8479334/15799678/8b0918b4-2a64-11e6-9394-59eb0d0a22dc.png)
_from https://hexdocs.pm/absinthe/Absinthe.html_

Because of that the contrast is too small to easily read the content.

I think it would be much nicer if we had diffe

[2016-06-04 15:15] josevalim commented on #546
Looks good to me!

[2016-06-04 15:51] eksperimental commented on #546
just off-topic but still worth mentioning:
it looks weird the search results with the screen is really wide.
Woudln't it look better left aligned?
/cc @dignifiedquire

[2016-06-06 07:44] #546 closed

[2016-06-06 08:23] #464 closed

[2016-06-06 11:22] michalwarda commented on #533
I can take this one. Will start it today.

- [ ] Differentiate search functionality when searching with CTRL key pressed - _Redirect Search_
- [ ] When _Redirect Search_ is active (CTRL is down) change the color of magnifying glass near search input to inform about different search functionality
- [ ] Somehow inform user of the possibility of using _Redirect Search_.
- [ ] _Redirect Search_ that e

[2016-06-06 11:44] eksperimental commented on #533
Yes thats exactly what i mean. We should correct something though.
"Kernel or Kernel.SpecialForms" should be when the project is the elixir language, when its a different project it should be the main module, usually the one with the same name as the project

[2016-06-10 18:49] #463 closed

[2016-06-12 16:01] #541 closed

[2016-06-15 22:44] #447 closed

[2016-06-21 00:59] joshprice commented on #508
I've been also wanting this for a while, for exactly the reason you mention. It often comes up that you need to reference a specific section within a moduledoc from other documentation.

Happy to take a look into this, if nobody else has.

[2016-06-21 07:55] josevalim commented on #508
:+1: for generating them for module docs!

[2016-06-21 19:42] thorsten-mueller opened #556 "Night Mode on Elixir 1.3 docs seems broken"
Not sure if this is actually an issue with ExDoc. But for the Elixir v1.3 documentation night mode has light grey text on a white background. Only the sidebar and code sections still have dark background. (It was built with ExDoc v0.11.4)

Right now for the old docs v1.2 (ExDoc v0.11.4) and master docs v1.4.0-dev (ExDoc v0.12.0) night mode works as it should.

The reason as far as I can see is tha

[2016-06-21 19:51] josevalim commented on #556
It is my fault, I generated them using an old ex_doc version, I will fix it. :) Thank you!

[2016-06-21 19:51] #556 closed

[2016-06-21 19:52] josevalim commented on #556
Done!

[2016-06-21 23:03] tzveeJ opened #557 "Formatting of function names are visually deceiving"
I have visual trouble with every set of docs and I finally decided to think about why. It is because the highlighting and formatting of function names do not follow standard practices for titles. A few "rules" are broken which make it hard to understand that each function name is a title.

1. Function names are indented but they should not be.
2. Each function name appears in a box, which implies

[2016-06-22 09:11] josevalim commented on #557
If someone believes they can improve the current layout, please do send proposals and PRs. Other than that, I am closing this issue since otherwise it is very easy to end-up on a discussion of "how we think the layout should be" without anyone working on actual samples. :)

[2016-06-22 09:11] #557 closed

[2016-06-22 23:39] joshprice opened #558 "Make night mode switch link more obvious"
Night mode is awesome. As discussed in #491 the night mode switch ended up right at the bottom.

However I had no idea it was there though, as I'd never noticed the link. The positioning is usually not obvious because most module docs are quite long. This means a lot of scrolling to get to the bottom of the docs to find the toggle eg. http://elixir-lang.org/docs/stable/elixir/String.html

It'd be

[2016-06-23 04:50] joshprice commented on #558
I've made a twitter poll to understand how people currently use this, whether they've discovered it and whether they think they would use the feature: https://twitter.com/joshprice/status/745762336145760256

[2016-06-23 05:39] josevalim commented on #558
It is really tricky because it is a button you need to learn about it once
and press once, so once you find out it doesn't warrant first class space
at the sidebar or at the top, but we need to make it somewhat more
discoverable.

On Thursday, June 23, 2016, Josh Price <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-06-23 06:18] joshprice commented on #508
Would love some feedback on my solution for this #559

[2016-06-23 22:45] eksperimental opened #560 "Search results should differentiate functions from callbacks and types"
I 'm not sure if we should do this all the time, but when more than one result with the same are displayed, we are not telling the user which one is which.

search for "handle_body" in the Elixir docs.

![ex_doc_funs_callbacks](https://cloud.githubusercontent.com/assets/9133420/16322643/badc5d5c-39ce-11e6-95cc-9191eed7d7b2.png)

[2016-06-23 22:59] josevalim commented on #560
Good catch!

[2016-06-23 23:14] eksperimental commented on #560
so should we write in parenthesis `(callback)` and `(type)` in all search results, or only when they share the same name with another function/callback/type within the same module?

[2016-06-23 23:14] josevalim commented on #560
I think we can write (callback) and (type) for those always as they should not be super common.

[2016-06-24 06:57] RobertDober opened #561 "Markdown errors cannot indicate source location (Earmark related)"
We have been fixing issue https://github.com/pragdave/earmark/issues/66 and face https://github.com/pragdave/earmark/issues/77 now, which is quite normal. In order to close the later some joint effort would be needed. Earmark would need to add the `start_linenumber` value to the `%Options{} struct` and ex_doc would need to adapt the call accordingly.

On the same token it would be nice to use the

[2016-06-24 08:29] josevalim commented on #561
Thank you @RobertDober. In Elixir we use the options `:line` and `:file`. Would you be ok with sticking with those or do you prefer `filename` and `start_linenumber`?

[2016-06-24 08:38] RobertDober commented on #561
https://github.com/pragdave/earmark/issues/77 updates accordingly

[2016-06-24 15:08] eksperimental commented on #561
thank you @RobertDober for looking after this issue.

[2016-06-24 16:17] eksperimental opened #562 "Hamburger icon is not clearly visible when left menu is hidden"
![ex_doc_humburger_not_visible](https://cloud.githubusercontent.com/assets/9133420/16343482/945119dc-3a61-11e6-9b68-271564ae2fed.png)

and the wider your screen resolution, the more lost it gets.

I don't know if we should have a different icon with darker lines,
or if we should put it a dark purple circle.

another issue to take into consideration while fixing this is https://github.com/elixir-la

[2016-06-24 19:16] milmazz commented on #562
@eksperimental Right now I don't have a machine where I can test this commit https://github.com/milmazz/ex_doc/commit/92bf78dbf2159a2b5d41324d29502742d06011c5. But, if you can run a quick test, please let me know what do you think.

/cc @dignifiedquire

[2016-06-25 00:32] eksperimental opened #563 "Improve callback typespecs"
There's a situation, when you want to define variable names in a `@calback` definition

`@callback init(opts :: Keyword.t) :: Macro.t` will generate

which is fine

`@callback init(_opts :: Keyword.t) :: Macro.t` will generate

I think the arg should be "opts" in the function description.
and Ideally i would hope to "_opts"  to not show up and leave the spec as for the rest of the functios,

as of

[2016-06-25 01:00] eksperimental commented on #562
@milmazz could you please tell me how can i create a branch from your commit into my local repo?

[2016-06-25 01:50] ericmj commented on #563
What's the reason for using underscore in type variables `@callback init(_opts :: Keyword.t) :: Macro.t`?

[2016-06-25 01:57] eksperimental commented on #563
I would expect it to work in a similar way was with functions.

I would like to have a way to show a variable name in the callback definition, and not to show any variable in the specs

[2016-06-25 02:04] ericmj commented on #563
But as it is right now there is no reason for it in callbacks. There is a reason for having underscores in function arguments though. If someone sees `_foo :: bar` they are going to wonder why `_foo` is underscored and there would be no reason for it.

So `_opts :: foo()` is your proposal for doing that? It's not really clear in the issue.

It seems like an arbitrary rule that no one is going to k

[2016-06-25 02:11] eksperimental commented on #563
well, true
maybe we should write the specs in a different way.
so instead of having
[code]

we can have something more readable as
[code]

[2016-06-25 02:16] ericmj commented on #563
To me the first one is more readable, but I am guessing that may depend on the formatting of the latter and will be different for everyone.

The erlang docs are an example of where I think this looks good. http://erlang.org/doc/man/lists.html

[2016-06-25 07:09] josevalim commented on #562
Closing in favor of the PR.

[2016-06-25 07:09] #562 closed

[2016-06-25 07:11] josevalim commented on #563
I think the current approach is fine because the types do not necessarily should follow the same naming as the function definitions.

[2016-06-25 07:11] #563 closed

[2016-06-25 07:12] whatyouhide commented on #563
I'm on @ericmj's side when it comes to this, no reason to use `_opts` in the callbacks instead of `opts`, so I think we shouldn't support this. Also, I always found Erlang types a bit "dispersive" 😛

[2016-06-26 03:22] eksperimental commented on #558
I would create a night mode icon (crescent moon with a start) at the right bottom of the left menu, and when the menu is collapsed, aligned with the hamburger icon,.

but only visible when you roll over.

on night mode the moon changes to a sun.

and still show the text at the bottom of the page, as we are doing right now.

[2016-06-28 04:09] noam87 opened #567 "Add ability to generate top-level docs in umbrella project"
Currently in an umbrella project, docs will be recursively generated for sub directories. However, sometimes it would be useful to generate top level documentation for the whole umbrella project.

[2016-06-28 07:58] josevalim commented on #567
@noam87 yup, I think this is fair and it should not be hard. If someone would like to contribute it, please go ahead. :)

[2016-06-28 11:53] michalmuskala opened #569 "Add titles of custom pages to search"
It might even make sense to add second-level subtitles in custom pages and moduledocs.

An example is searching for "typespecs" in elixir docs that yields currently no results, but before was giving the `Kernel.Typespecs` module - the documentation was moved to a separate "Typespecs" page.

This is partially related to https://github.com/elixir-lang/ex_doc/issues/508

[2016-06-28 13:39] eksperimental commented on #569
Hi @michalmuskala, this is a duplicate of #534

[2016-06-28 15:13] michalmuskala commented on #569
I'm so sorry. I should improve my search-fu.

[2016-06-28 15:13] #569 closed

[2016-06-29 13:26] joshprice commented on #558
@eksperimental I like this approach, seems to have some dependency on what is happening in #564

[2016-06-29 20:59] deadtrickster opened #571 "Autogenerated README.md title contains raw markdown"
Take a look here: https://hexdocs.pm/prometheus_plugs/readme.html. Apparently badges in header cause  this.

[2016-06-30 01:34] eksperimental opened #572 "Switching between night mode and day mode changes position in page"
You can clearly see this if you go to the bottom of a really long page [Enum](http://elixir-lang.org/docs/stable/elixir/Enum.html) module page. Scroll all the way to the bottom, and click SWITCH TO NIGHT MODE. You will see that the page moved.
You need to scroll again to be able to see the SWITCH TO DAY MODE link.

This affects the usability of the page.
You can barely see if in small pages, but a

[2016-06-30 01:43] eksperimental commented on #571
It also affect the items in the menu.

this is the offending code:
https://github.com/deadtrickster/prometheus-plugs/blob/master/README.md

`# Prometheus Plugs [![Hex.pm](https://img.shields.io/hexpm/v/prometheus_plugs.svg?maxAge=2592000?style=plastic)](https://hex.pm/packages/prometheus_plugs)`

[2016-06-30 13:30] #508 closed

[2016-06-30 22:50] pdilyard commented on #572
A good test to do would be to remove all the code examples from a long page and see if it still happens. If the issue goes away, it therefore must be due to the highlightjs theme, otherwise, it's something else.

[2016-07-02 18:07] eksperimental commented on #572
I found an easier way,
I replaced this line in `night.less`
`@import 'npm://highlight.js/src/styles/tomorrow-night';`
with
`@import 'npm://highlight.js/src/styles/tomorrow';`

the problem remains.
so it's somewhere else.

[2016-07-05 08:55] craig-day opened #573 "Can't get any CSS to be generated."
It looks like the CSS assets are failing to be generated, and I have very little configuration so I don't think that is the issue.

You can check out my [`mix.exs`](https://github.com/zendesk/cldrex/blob/master/mix.exs) to see if I've messed something up.  The resulting documentation can be seen on [hexdocs](https://hexdocs.pm/cldrex/0.0.1-dev.3/CLDRex.html).

[2016-07-05 09:14] josevalim commented on #573
Can you look at the doc directory and see if the CSS files are there? What
about the link to CSS files in the HTML files?

On Tuesday, July 5, 2016, Craig Day <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-05 09:17] craig-day commented on #573
There is no CSS in `doc/dist`, the only file there is `sidebar_items.js` and the link in the HTML is empty...

`<link rel="stylesheet" href="" />`

[2016-07-05 09:57] craig-day commented on #573
I'm not sure what the issue was, but I remove the ex_doc dependency, cleaned up the doc, and added it again. It all seems to be fine now... *shrug*

[2016-07-05 09:57] #573 closed

[2016-07-05 18:58] nscyclone commented on #572
I've found the reason of such a behavior. It's the `border: none;` rule in the `.content-inner .specs .specs-list pre code` selector.
Now the question is how should we fix it? Probably the simplest way is to show the border again in the day mode (suggested in the 2nd screenshot below) or remove it from the night mode (suggested in the 4th screenshot below).
Here are the screenshots:
* [day mode wi

[2016-07-05 19:06] josevalim commented on #572
@nscyclone awesome catch!

@dignifiedquire which approach do you prefer? I think you decided to remove the border so we call less attentions to specs?

[2016-07-05 22:43] aphillipo commented on #572
My practice it just to set such a border to be 'transparent' in such situations meaning the the area taken up will be identical but it won't be displayed.

[2016-07-06 00:08] eksperimental commented on #572
I was about to recommend same thing that @aphillipo, to set border as same color as background, but I wasn't aware of border being transparent, so I would go with that then!

[2016-07-06 00:08] eksperimental commented on #572
thank you @nscyclone for finding this

[2016-07-06 04:49] nscyclone commented on #572
Thanks, @aphillipo! At first I thought about this and even tried it but somehow I decided that it would be considered a dirty fix.

[2016-07-06 09:28] aphillipo commented on #572
If you are setting border-color: transparent; it's 100% clear you are overriding a border, making it invisible and keeping the space.  I'd argue it's the opposite of dirty :-)

[2016-07-06 09:33] dignifiedquire commented on #572
I think the dark mode should have a border, and the light mode should not. I know that is inconsistent as such, but visually it would achieve the best results I feel.
You can remove the border by either setting its color to either transparent or the same as the background color when needed, so no content moving around happens.

[2016-07-06 21:46] crertel opened #575 "Update Earmark dependcy"
Hey folks!

Earmark finally hit 1.0, so now would be a great time to [update the version](https://github.com/elixir-lang/ex_doc/blob/master/mix.exs#L24) ex_doc depends on.

Also, as an aside, where are the docs for the different dependency modes (`~>`, `>=`, etc.)?

[2016-07-06 21:58] eksperimental commented on #575
@pragedave already submitted a PR,
https://github.com/elixir-lang/ex_doc/pull/574

those docs can be found in the `Version` module

[2016-07-06 22:00] #575 closed

[2016-07-06 22:04] eksperimental commented on #575
thanks for the update anyway! ;-)

[2016-07-06 22:38] joshprice commented on #558
Transcribing the result of the [twitter poll](https://twitter.com/joshprice/status/745762336145760256) back in here for reference. From 226 respondents:

- **16%** Yes, I use regularly
- **20%** Yes, but never use
- **41%** No, I want this
- **23%** No, but don't care

Summarising the findings:

- **36%** Had already found night mode
- **64%** Did not know about night mode

Of those who knew of ni

[2016-07-06 22:47] eksperimental commented on #558
Thank you for the survey. It's very useful stats.
Just to mention that my solution does have one drawback and it is when the is fully expanded, then the icon will get on the way if we try to reach for the items at the very bottom of the list. May be we should place it agains the scroll bar of the menu, where it wouldn't get on the way. or find a better spot.

[2016-07-07 05:23] nscyclone commented on #572
Thanks, @dignifiedquire, I've just a sent a PR with the fix.

[2016-07-07 07:58] #572 closed

[2016-07-10 09:11] RobertDober commented on #561
@eksperimental glad I could help, unfortunately we still need to integrate the fix on the ex_doc side.

I am afraid my PR will just not cut it, as my understanding of ex_doc is very superficial.

There is one other issue though (please refer to https://github.com/pragdave/earmark/issues/79)

as long as we do not flood the `mix hex.docs` with thousands (of unjustified) warnings you will never know

[2016-07-10 09:14] eksperimental commented on #561
thank you @RobertDober,
I will start try to get my hands on this and see if we can come up with something, i had been busy with other PRs, thank you so much for looking after this, I will get back to you whenever i get my hands on it

[2016-07-10 09:15] RobertDober commented on #561
Sure thanx!

[2016-07-11 18:48] PragTob opened #578 "Code linking always goes to master --> links are off if master has changes"
Hi there and thank your for all your great work! I really love how ex_doc looks and how it works :)

One of my favourite features of rubydoc is the _View Source_ as it can often be immensely helpful if you are looking for something very specific or an undocumented feature.

ex_doc links to github, which is cool. However it seems to always link to master (or have I misconfigured it?). As master cha

[2016-07-11 18:52] antipax commented on #578
Hey @PragTob :) you can specify a git tag for your docs to use for a particular version like so in mix.exs:

[code]

hope that helps! :)

[2016-07-11 18:56] antipax commented on #578
@PragTob forgot to mention, you'll also have to set your project's "source_url" like so:

[code]

[2016-07-11 18:57] josevalim commented on #578
Yes, that's the way to go. I am thinking maybe we should change Mix to put
the version in a module attribute by default because it may make it easier
to handle cases like this?

On Monday, July 11, 2016, Eric Entin <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-11 18:58] antipax commented on #578
@josevalim I would be in support of that change, all of my published Hex packages have the version as a module attribute like that, and I think many others do as well.

[2016-07-11 19:14] PragTob commented on #578
@antipax thanks! I'll use that for the 0.3.0 release :)

@josevalim version as a module attribute sounds wonderful!

[2016-07-11 19:15] antipax commented on #578
@PragTob just so you know, you can actually update your hex.docs at any time, so you could regenerate/upload your docs with the source_ref/source_url configs for the existing versions, as well. :)

[2016-07-11 19:16] PragTob commented on #578
@antipax I did know... in the back of my head :) Thanks for reminding me, I'll put that on the todo agenda then!

[2016-07-11 19:26] PragTob commented on #578
I'll close this one then, as option 2 I asked for is already present. Thanks a lot. When I get around to it I might look to see how I missed this and take a stab at improving the docs to make this easier to learn for others :)

[2016-07-11 19:26] #578 closed

[2016-07-12 08:59] whatyouhide commented on #578
@josevalim still 100% of my packages have git tags like `vx.x.x` but Hex version like `x.x.x`, so putting the version in a module attribute still means I have to explain to ExDoc that it has to prefix the Hex version with `v` to find the Git tag. Makes sense? 😕

[2016-07-12 09:01] josevalim commented on #578
@whatyouhide yes. you will be just one step closer. :D It will also make it easier for things like ExDoc README, where we can show `docs: [source_ref: "v#{@version}"]` by default.

[2016-07-12 09:04] whatyouhide commented on #578
I am not convinced on this feature, because right now all info is in the kw list returned by `project/0` and I am a fan of that consistency 😄But we can see how it looks and take a decision then.

[2016-07-14 08:28] nscyclone commented on #505
I suppose this issue is not reproducible anymore after [the latest changes to sidebar animation](https://github.com/elixir-lang/ex_doc/pull/544) and thus should be closed.

[2016-07-14 08:57] #505 closed

[2016-07-14 09:00] josevalim commented on #505
Thank you @nscyclone!

[2016-07-14 12:29] ericmj opened #579 "ex_doc fetches too many fonts"
The docs for GenStage makes 10 http requests to fetch fonts. Including the initial css request that is 75% of all requests to load the page.

Do we really need all these fonts?
[code]

[2016-07-14 18:24] jc00ke opened #580 "Source location is sometimes a list"
With `ex_doc 1.2.0` on `Elixir 1.3.1` and `Erlang 19` I see the following error (which I did not used to see on earlier versions)

[code]

A quick patch of

[code]

does the trick and all tests pass, and my docs compile. I'm having a hard time tracking down exactly what is causing this to break in my (closed-source) app though.

I tried `rescue`'ing the exception and tracking down the source of th

[2016-07-14 18:46] josevalim commented on #580
Do we have 0.12.1 out? If not, can you try master? I remember fixing a
remotely similar problem.

On Thursday, July 14, 2016, Jesse Cooke <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-07-14 18:56] jc00ke commented on #580
`0.12.1` has not been released yet, and `master` still :boom:

[code]

That's with the latest `Earmark` too.

[2016-07-14 19:13] josevalim commented on #580
Cool. I think you find a bug in the Elixir compiler. Do you have a sample
app that triggers it? :)

On Thursday, July 14, 2016, Jesse Cooke <notifications@github.com> wrote:

--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2016-07-14 19:16] jc00ke commented on #580
I'll try to reduce my app to a minimum.

[2016-07-14 21:06] josevalim commented on #580
@jc00ke thank you! fwiw, it is definitely something macro related.

[2016-07-15 14:10] jc00ke commented on #580
Still working on tracking it down. Having a hard time making a concise repro, but my app does consistently error out on `:__phoenix_recompile__?/0` with `source_path` of `"web/views/error_view.ex"`.

[2016-07-15 14:16] josevalim commented on #580
@jc00ke if you start a new phoenix project and try to build docs for it, does it work or fail?

[2016-07-15 14:19] jc00ke commented on #580
It works, unfortunately. So I'm adding in dependencies to see if one of them triggers it, slowly building back up.

[2016-07-15 14:53] jc00ke commented on #580
Found it! I had missed setting the `source_url` in `mix.exs`.
Here's the repro repo: https://github.com/jc00ke/ex_doc_example

[2016-07-15 15:19] ericmj opened #581 "Put assets in priv/ instead of in lib/"
This `Path.expand` will break if the project directory is moved or copied: https://github.com/elixir-lang/ex_doc/blob/e0b99984b7713c52b404b674a630f17d79da0641/lib/ex_doc/formatter/html.ex#L261

[2016-07-15 15:32] josevalim commented on #580
@jc00ke thank you, i have pushed a fix to master. Once confirmed, I will do a new release!

[2016-07-15 15:34] josevalim commented on #581
:+1: but just the assets. The templates should remain in lib as they are compiled.

[2016-07-15 15:45] antipax commented on #581
Grabbing this, lemme know if not OK

[2016-07-15 15:46] ericmj commented on #581
Go ahead

On Fri, Jul 15, 2016 at 5:45 PM, Eric Entin <notifications@github.com>
wrote:

--
Eric Meadows-Jönsson

[2016-07-15 16:13] jc00ke commented on #580
Confirmed! Thanks for such a quick fix!

closed by 1381d861801c703cf37df885938abe21e8340544

[2016-07-15 16:13] #580 closed

[2016-07-15 16:34] antipax commented on #571
I'm not sure how we should fix this. It is not appropriate to include an image or link in the title, for sure, but what about the sidebar?

[2016-07-15 16:37] antipax commented on #560
Going to grab this, lemme know if not OK

[2016-07-15 16:46] josevalim commented on #571
@antipax currently we generate the sidebar based on the markdown or html?

[2016-07-15 16:47] #581 closed

[2016-07-15 16:51] antipax commented on #571
@josevalim it's based on the markdown: https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/formatter/html.ex#L179

[2016-07-15 16:59] josevalim commented on #571
@antipax one option is to make it based on the h2 (html) and then prune other tags although I am not sure.

[2016-07-15 17:02] josevalim commented on #580
New version is out!

[2016-07-15 18:57] antipax commented on #571
@josevalim I'm not sure how we would do that from Elixir? It seems like it would be error-prone and complex. I'm thinking it might be better to recommend using the `:title` option to override the extracted title for these cases.

[2016-07-15 19:46] #560 closed

[2016-07-15 19:46] josevalim commented on #571
Sounds good to me!

[2016-07-15 19:49] antipax commented on #571
So then we can close the issue, I suppose?

[2016-07-15 20:06] josevalim commented on #571
Yes, if a solution isn't trivial, I think closing is the best. The only other option I can think is filtering on the HTML side of things.

[2016-07-15 20:06] #571 closed

[2016-07-19 13:21] joshprice commented on #579
Unless I missed something, it seems like we could remove 4 of those fonts as they aren't used.

1. `Lato 900` isn't used at all:

        ✪ git grep -n "font-weight: 900" *.less
        No results

2. `Merriweather 700` and `Merriweather 700 italic` aren't used at all (`Lato 700` is used for most headings).

        ✪ git grep -n "font-weight: 700" *.less
        assets/less/sidebar.less:48:    fo

[2016-07-19 13:23] ericmj commented on #579
This all sounds good.

Do you know how many distinct icons we use?

[2016-07-19 14:27] joshprice commented on #579
@ericmj 6 or 7 depending on whether the first one counts https://raw.githubusercontent.com/elixir-lang/ex_doc/master/priv/ex_doc/formatter/html/templates/fonts/icomoon.svg

[2016-07-19 14:49] joshprice commented on #579
On my machine in Chrome it appears to be loading the `.ttf`rather than the `.woff` not sure what difference that would make though.

[2016-07-19 14:58] josevalim commented on #579
It looks good to me. /cc @dignifiedquire?

[2016-07-19 17:08] #579 closed

[2016-07-22 10:32] Gazler opened #587 "HTML in headers when the header contains an atom"
Looks like atoms inside of headers may cause some issues.

     Git options (<code class="inline">:git</code>)

http://elixir-lang.org/docs/stable/mix/Mix.Tasks.Deps.html#module-git-options-code-class-inline-git-code

[2016-07-23 16:35] alfert opened #588 "Local callback links don't work"
Referencing a locally defined callback `fun/2` via `c:fun/2` does not work. An example for that can be found at https://hexdocs.pm/propcheck/PropCheck.FSM.html, in section callbacks.

A pull request for that will arrive shortly.

[2016-07-23 17:39] eksperimental commented on #588
Shouldn't we should we allow the same for local types (`t:`) as well?
For what I can see it's not in the regex, excuse me if i'm wrong and this is already covered.

[2016-07-23 17:58] #588 closed

[2016-07-23 20:04] crertel commented on #561
Hey folks!

Just pinging to see what the progress on this was--I see an open PR from @RobertDober as #565.

Anything else needing to be done?

[2016-07-24 09:46] alfert commented on #588
@eksperimental, yes we should, because it is defined in the specs/docs for documenting Elixir. But it is not as simple since type have a different syntactical structure than functions. Thus the regex looks different. My PR is in construction.

[2016-07-24 11:25] eksperimental commented on #588
that's great. thanks a lot for looking after this @alfert

[2016-07-26 06:25] joshprice commented on #587
Good catch, I'll take a look

[2016-07-26 06:49] joshprice commented on #587
For reference it used to retain that markdown as is (http://elixir-lang.org/docs/v1.2/mix/Mix.Tasks.Deps.html) does it even make sense to retain this behaviour?

[2016-07-26 07:13] nscyclone commented on #587
I suppose that the result should look like [this](http://i.imgur.com/hoLrSaM.png?1).
The problem is that HTML entities in headers are escaped. Not sure whether it is caused by the Markdown parser itself.

[2016-07-26 16:50] joshprice commented on #587
Agreed, that's the intention and it looks ok.

I did make an assumption that extra markup in headers probably wasn't a
great idea in most cases, but mostly because I hadn't seen many examples of
it done.

We could try escaping the HTML, but I wonder what the consequences might be?

On Tuesday, 26 July 2016, Dmitry <notifications@github.com> wrote:

[2016-07-26 18:18] josevalim commented on #587
Agreed with @nscyclone. If that is valid markdown and it renders correctly, I think we should keep such properties (i.e. we should stop escaping the HTML).

[2016-07-28 07:25] goofansu opened #592 "Generated an empty document"
`mix docs` succeed, but the document is empty.

Repo: https://github.com/goofansu/wechat_elixir

Doc: https://hexdocs.pm/wechat/api-reference.html

[2016-07-28 07:58] goofansu commented on #592
Sorry, my fault, all my files are `@moduledoc false`

[2016-07-28 07:58] #592 closed

[2016-07-28 08:09] joshprice commented on #587
So tried to remove escaping and it breaks an existing test https://github.com/elixir-lang/ex_doc/blob/e0b99984b7713c52b404b674a630f17d79da0641/test/ex_doc/formatter/html_test.exs#L165

So unless we go back to preprocessing the markdown we're only able to support either escaping html entities or converting markup. I'd imagine that an `&` or `>` in a header might be more likely than HTML markup.

Th

[2016-07-28 17:04] ericmj opened #593 "Back and forward does not work for fragment links"
When clicking a link to a function on the same page the back and forward does not work in the browser for that link.

[2016-08-05 17:26] loganhenson commented on #456
Absolutely understand the why on this, but it was unexpected and made me do a double take, luckily this issue existed 😄

Thoughts on something like this being in the readme?

# Doc Formatting FAQ

[code]

[2016-08-06 22:35] eksperimental commented on #456
@loganhenson you are right. this is not mentioned anywhere that I know of.
Places where it should be mentioned is:

https://github.com/elixir-lang/elixir/blob/1c3a3bde539bc96c80d917fbcf3c9dc9e123860b/lib/elixir/pages/Writing%20Documentation.md#doctests
it should give an example of a test using `iex>` rather than only mention it how to do it.

https://github.com/elixir-lang/elixir/blob/a519165bbe48

[2016-08-24 00:06] milmazz commented on #530
@seancribbs @josevalim @ericmj I think that `ExDoc` can create a new file (e.g. `#{output}/.build`), in that file `ExDoc` keeps track of all the files generated, then, at the beginning of another build process `ExDoc` just delete all the files listed in `#{output}/.build`, if that file does not exist `ExDoc` will delete `#{output}` directory. Wdyt?

[2016-08-24 16:23] josevalim commented on #530
@milmazz sounds good to me!

[2016-08-26 13:08] joshprice commented on #587
Fixed in https://github.com/elixir-lang/ex_doc/issues/591

[2016-08-26 14:47] #587 closed

[2016-09-09 19:14] #530 closed

[2016-09-10 13:44] dimitko opened #599 "My local module docs don't link to the Access behaviour's docs."
Hey maintainers,

I am working on a custom data structure and I want it to fully implement the `Access` behaviour. I am implementing the 4 required callbacks and I want to make that fact clear in the documentation, but I can't make ExDoc produce links to the built-in module/function. Here is one example that I can't make ExDoc work with:

[code]

And ExDoc doesn't produce a link for both `Access`

[2016-09-10 14:32] josevalim commented on #599
Which ExDoc version?

On Saturday, September 10, 2016, dimitko <notifications@github.com> wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-09-10 14:34] dimitko commented on #599
[code]

[2016-09-10 14:35] dimitko commented on #599
Another one:

[code]

[2016-09-10 14:36] dimitko commented on #599
In case it helps, I am on Windows 10, Elixir was installed via Chocolatey:

[code]

[2016-09-10 14:37] whatyouhide commented on #599
@dimitko I would advise to first try out ex_doc master, just in case, to make sure this is not already fixed. Also, small note, but I think the callback should still be `c:Access.fetch/2`? Otherwise it won't be able to know where `fetch/2` comes from. (this is not really relevant to the bug, just thought to mention it :))

[2016-09-10 14:42] dimitko commented on #599
@whatyouhide Thank you for the suggestion. I am very new to Elixir, very excited and not experienced. ;)

Here's what I changed in `mix.exs`:

[code]

Then I tried both `c:fetch/2` and `c:Access.fetch/2`, both didn't produce link. :(

`mix deps`:

[code]

[2016-09-10 14:48] whatyouhide commented on #599
Yep, then it is likely a bug. It may be a nice way to getting your feet wet with Elixir if you want and try to fix this :D Personally, I would start by looking at [`ExDoc.Autolink.project_funs/2`](https://github.com/elixir-lang/ex_doc/blob/1381d861801c703cf37df885938abe21e8340544/lib/ex_doc/formatter/html/autolink.ex#L236-L257) which should be related to turning `t:` and `c:` stuff into links, and

[2016-09-10 14:50] dimitko commented on #599
@whatyouhide I wouldn't mind at all, it's just that I finished the full tutorials (all 3) on [elixir-lang.org](http://elixir-lang.org) just a week ago and have been slowly making my way out of the total amateur league, so I am kind of scared of the thought to try and contribute while I am still an Elixir baby.

I'll have a look at your link however, and bookmark it.

Thanks!

[2016-09-10 14:52] whatyouhide commented on #599
However, just wanted to mention that there's the problem of knowing what comes from Elixir and what comes from other places. I think cross linking to arbitrary modules is not a feasible idea (@josevalim will correct me if I'm wrong), since you don't really know where a module comes from. You would maybe need to keep a list of which modules are part of the Elixir standard library, maybe that's a po

[2016-09-10 15:04] dimitko commented on #599
IMO it's fine to preserve the current behaviour by default. But being able to add extra configuration via the `config.exs` file should be able to make it cross-reference any docs. I'm thinking of something like this:

[code]

I realize this might be a lot of work and might introduce ambiguity and actually end up doing much more damage than it might bring benefit. Devising code dealing with such am

[2016-09-10 15:23] josevalim commented on #599
We do have this feature though: https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/formatter/html/autolink.ex#L168

@dimitko can you please start `iex` and run `:code.where_is_file('Elixir.Kernel.beam')` and then `:code.where_is_file('Elixir.Access.beam')` and let us know what both examples return?

[2016-09-10 15:25] dimitko commented on #599
[code]

[2016-09-10 15:30] josevalim commented on #599
Ok, my bad. Apparently we only do this for typespecs, we don't do it for documentation. So this would be a feature request. :)

[2016-09-10 15:39] dimitko commented on #599
@josevalim I'd be happy to contribute but I have zero idea what's happening in ExDoc. I checked the link that @whatyouhide posted here and while some things are understandable, I'm still lacking very baseline knowledge there.

In any case, I do have free time here and there. I could try and devise a patch in The Future™.

[2016-09-11 13:42] #599 closed

[2016-09-11 13:49] dimitko commented on #599
@josevalim I checked out the commit, you have addressed this there in the tests, but still, let me hopefully make you happy ;)

`c:Access.fetch/2` is indeed producing the proper link! Thanks a lot!

Quick question since I can't parse the code that well myself: does this address links to the Elixir stable alone, or to anything else linked in the project as well?

[2016-09-11 14:00] dimitko commented on #599
Oops, my bad, just found this: https://github.com/elixir-lang/ex_doc/commit/bd7acad595915ae705fae8efd43c7d9dd1b1d36d#diff-4cca810c5bca54191f6de3e9b8edafb0R244

Thanks @josevalim! Now I am even more excited to work with your fantastic language. :+1:

[2016-09-20 08:47] josevalim opened #601 "Making it explicit the sections with Types / Functions / Macros are expandable"
Take this screenshot:

<img width="263" alt="screen shot 2016-09-20 at 10 38 52" src="https://cloud.githubusercontent.com/assets/9582/18663592/62de8ff8-7f1f-11e6-9d10-515051be9ae4.png">

There is nothing in there indicating that we can actually click on Functions so it is expanded and we see a list of all functions. Maybe we should add `v` like thing before or after the words Types, Functions and

[2016-09-21 01:49] josevalim opened #602 "Remove or use normal font for the "Specs" heading"
Today it is just repetitive and it gives the impression the current section, including the notes about the function definition, are all part of a section named "Specs".

[2016-09-22 14:49] josevalim commented on #602
@eksperimental should we remove it or should we use normal font?

[2016-09-22 15:16] eksperimental commented on #602
If we remove it we should do something like we do with the functions that has the icon `</>`, and I 'm not sure if it will be clear that those are the specs.

If we leave it, we need to change the font, as that font in normal weight looks bad.

Do we have other examples of documentation where the specs are shown. i would like to see how other people are tackling this issue

[2016-09-22 15:19] josevalim commented on #602
We would use the same found used in the regular text. That's what Erlang docs do too.

[2016-09-22 15:20] josevalim commented on #602
http://erlang.org/doc/man/lists.html#all-2

[2016-09-22 15:42] eksperimental commented on #602
Playing with it, i think it's better to get rid of the colored background,
![ex_doc_specs](https://cloud.githubusercontent.com/assets/9133420/18755224/86d0b4a2-8115-11e6-844f-498260207dd2.png)

"Specs" uses same font like the spec code.

(it's just a sketch, i'm horrible with design) :-p

[2016-09-22 15:44] josevalim commented on #602
@eksperimental I think Specs should either use the same font as all other headings (how it works today) OR it should be the regular text font. I don't think we should introduce yet another font/demarcation/heading. Removing the background also looks neat to me but I will delegate the decision to @dignifiedquire :)

[2016-09-22 16:07] eksperimental commented on #602
Regular font, looks wrong (size too big)

this is regular font, size: 0.90em
![image](https://cloud.githubusercontent.com/assets/9133420/18755803/bb614a5e-8117-11e6-9e9f-295900555736.png)

HEADING FONT (bold)
![image](https://cloud.githubusercontent.com/assets/9133420/18755993/63c3480a-8118-11e6-8e6d-f0919293cea5.png)

HEADING FONT (normal weight)
![image](https://cloud.githubusercontent.com/asset

[2016-09-23 01:43] #305 closed

[2016-09-26 09:35] #489 closed

[2016-09-26 13:25] bbugh commented on #602
The Elixir docs are *wonderful*, especially in comparison to most languages, and I've noticed myself regularly struggling to remember function signatures. Having the specs there is helpful, but I think it is harder to remember because the type info is out of context of the signature.

Many languages use the types as parameter names (`concat` example: [Ruby](http://ruby-doc.org/core-1.9.3/String.ht

[2016-09-26 13:32] josevalim commented on #602
I actually like 6. It also brings more attention to the function header altogether, which is a common complaint. I would put it *under* the signature.

I don't fix we can mix function definition with the specs though. Sometimes specs have multiple clauses, other times they have their own variables too.

[2016-09-26 13:32] josevalim commented on #602
And thank you for the feedback @bbugh!

[2016-09-26 13:43] dignifiedquire commented on #602
It is interesting there is such a discussion around this, as this was one of the sections I had the hardest time to design. While I generally like the ideas from @bbugh and agree with the sentiment, I don't think it would be good to have the function headers vary in their height.

The hard part about this section is that it can regularly be just a single spec, in which case it would make so much s

[2016-09-26 13:48] eksperimental commented on #602
I was going to propose something like number 6, but couldn't design it.
it should be the specs before the signature, and the bar in the left with a lighter colour, and maybe lighter background color aswell.

[2016-09-28 09:30] josevalim opened #605 "Remove italic summaries"
A concern has been raised regarding readability of summaries in Elixir due to the use of italic. Here is a current screenshot:

<img width="879" alt="screen shot 2016-09-28 at 11 26 59" src="https://cloud.githubusercontent.com/assets/9582/18908161/d1c227d6-856e-11e6-9892-0bb6d58841b7.png">

Here is the screenshot without italics which does seem more readable:

<img width="907" alt="screen shot 201

[2016-09-28 09:37] dignifiedquire commented on #605
I personally like the current version with italics better, but if there are multiple people who have problems with readability due to the italics we can of course drop it.

[2016-09-28 09:49] josevalim opened #606 "html documentation presentation suggestions"
Following discussion on erlang-questions, I looked a little at the docs CSS and I have some comments.

- the main site has text size set to 0.8em, why? It is quite small.

- some font sizes and height lines are hardcoded (px, not em), for example 'code' elements
- IMHO line height can be made 1.4em (maybe even 1.3) without impairing legitibility
- .content-inner pre has "overflow-x: scroll;", chan

[2016-09-28 09:56] josevalim commented on #606
Thank you @vladdu for the report. Replies inline.

I will look into it. Also a pull request here would be appreciated. :)

This has been fixed in master. Please access http://elixir-lang.org/docs/master/elixir/Kernel.html and hit a hard reload and let us know how it goes.

Where is line-height 1.4em? For content it seems to be 1.68em.

To move the discussion on this, here is how it looks with them

[2016-09-28 10:03] josevalim commented on #593
Is that something that we broke (because browsers support it) or is that something we need to support ourselves?

[2016-09-28 10:07] vladdu commented on #606
I'll look at submitting a PR, but my Less skills aren't good. Hopefully, just checking for font sizes won't require much :-)

I meant that it could be made 1.4 from 1.68.

The vertical space is most as a premium on today's monitors, so every little bit helps. There are also element margins that could be made narrower.

Regarding the indentation, I'd do a level more, that is having "specs" and "exa

[2016-09-28 10:07] ericmj commented on #593
I think it's something we broke. Compare clicking a fragment link (next to a header) on https://github.com/elixir-lang/ex_doc and on https://hexdocs.pm/ecto/Ecto.Repo.html. On github I can use back and forward to jump between headers, but with ex_doc the back button does not work.

[2016-09-28 10:13] josevalim commented on #606
Oh, that's a great starting point. Don't worry, I will get started on that.

I will run with those settings locally and let you know how it goes. But at first I was not happy with them. Specially if we increase the font-size (which I was already trying giving your initial report). :D

[2016-09-28 10:29] josevalim commented on #606
I have used em in fonts and indent the function contents, those should be in the Elixir master documentation overnight. I will give it a try with a bigger font and smaller line-height locally and push it later on depending on the results. Thank you!

[2016-09-28 10:29] #606 closed

[2016-09-28 10:47] josevalim commented on #606
@vladdu I have pushed to master the changes so far. I had to revert some of the px -> em changes because they had unwarranted side effects. I kept the code ones. I have also indented the function information as in the screenshot for more feedback.

[2016-09-28 10:47] #605 closed

[2016-09-28 11:11] josevalim commented on #602
To continue moving the discussion here, here is a proposal for 6 where:

  1. The specs comes after the signature (but with opaque 0.6)
  2. The inside of the function is indented (1.2em)
  3. The space between the function contents and headers are increased (from 0 to 1.2em)

<img width="1269" alt="screen shot 2016-09-28 at 13 04 31" src="https://cloud.githubusercontent.com/assets/9582/18911263/5

[2016-09-28 11:23] josevalim commented on #602
I have also added a title to the typespecs section so a short explanation appears on mouse hover but we cannot see it on the screenshot.

[2016-09-28 11:39] eksperimental commented on #602
@josevalim that's beautiful, and that's what I meant in my last message (I expressed it backwards specs before signature)... but that's exactly what I meant!
Could you please send a screenshot of how it looks with a multi-line spec?

If it looks ok with multi-line spec i will just go with this one, and it conveys the message and it has brings zero distraction to the table.

thank you!

[2016-09-28 12:18] vladdu commented on #606
Thanks. Some things are hard to see without several examples and context, and still not everyone will agree with the result.

[2016-09-28 12:22] josevalim commented on #606
@vladdu yup! and I also let things run locally (and later online) at least a week because our first reaction to most of those things is to think "everything is worse now", haha.

[2016-09-28 13:26] josevalim commented on #602
@eksperimental can you find a multi-line spec? :D

Also, note to @josevalim: also tidy up the types section once this is approved.

[2016-09-28 13:54] dignifiedquire commented on #601
We could do something similar as we do with one level down:

![screen shot 2016-09-28 at 15 53 37](https://cloud.githubusercontent.com/assets/790842/18916161/c968a496-8593-11e6-99e4-cbf67033d9d4.png)

[2016-09-28 13:57] josevalim commented on #602
Ok, I found a multi-line one:

<img width="1266" alt="screen shot 2016-09-28 at 15 56 47" src="https://cloud.githubusercontent.com/assets/9582/18916288/3e2e91be-8594-11e6-8685-d534e631698b.png">

[2016-09-28 14:06] josevalim commented on #602
Here are two other approaches. One makes the border and the whole bottom of the heading more opaque:

<img width="1251" alt="screen shot 2016-09-28 at 16 03 28" src="https://cloud.githubusercontent.com/assets/9582/18916642/5cf3ea9e-8595-11e6-9459-01cc79256ea1.png">

This keeps specs in its own section without background:

<img width="1257" alt="screen shot 2016-09-28 at 16 04 45" src="https://clou

[2016-09-28 14:11] dignifiedquire commented on #602
I really like the last one, but fear that with the single line ones (which as far as I can tell are much more common) it gets lost easily.

[2016-09-28 14:13] josevalim commented on #602
@dignifiedquire yup, I am afraid the last one puts us back where we started.

[2016-09-28 14:25] bbugh commented on #602
For what it's worth, I like either the first or the second one.

For what it's worth, I'm strongly in favor of the spec being in the same context as the function. I think your first example @josevalim is what I would pick personally. 😄 Here it is in dark mode:

![image](https://cloud.githubusercontent.com/assets/438465/18916974/fcb1bbb8-855b-11e6-8ea9-cabba04ca225.png)

Another rendition with the

[2016-09-28 14:40] josevalim commented on #601
@dignifiedquire that would work. However, would it be possible to expand the list functions WITHOUT clicking on the #functions section? Today those actions are coupled with each other.

[2016-09-28 14:46] dignifiedquire commented on #601
@josevalim do you mean auto expanding the `Functions` when clicking the section is selected? What about `Summary` and other items in this list?

[2016-09-28 14:48] josevalim commented on #601
@dignifiedquire we need to have two actions:

1. Clicking on "Functions" can lead us to the Functions header and list all functions

2. Clicking only on the icon should list all functions *without* navigating away to the Functions header

[2016-09-28 15:08] dignifiedquire commented on #601
Ahh now I understand, that should be doable.

[2016-09-28 15:16] eksperimental commented on #602
I like Jose's second example.
playing with gimp I have added a bottom border, and reduced the top padding of the spec (only on B and C)

I think the signature's bottom border draws a line (literally) between the signature and the spec.
So far I like B the best

A: Bars of same color, opaque background for spec
B: Different colors in bars, + bottom border for signature. Top padding in spec reduced.

[2016-09-28 15:22] josevalim commented on #601
@dignifiedquire ok, I will get into this soon.

Before I start, another option if we want to distinguish from the `>` used later on, would be to use something like `[+]` or `+`, which is also used for listing. Can you think of other more explicit approaches rather than a single `>`?

[2016-09-28 16:39] josevalim commented on #602
I have pushed the first option to master so people have something more accessible to play with: http://elixir-lang.org/docs/master/logger/Logger.html

I will continue to take feedback and improving it. I have also unified how we handle types with the remaining of the functions/callbacks. Compare how types work now on [master](http://elixir-lang.org/docs/master/logger/Logger.html#types) with [stabl

[2016-09-28 17:19] michalmuskala commented on #602
It seems there's a bug where if the function name is the same as a type name it will be highlighted and linked to the type http://elixir-lang.org/docs/master/logger/Logger.html#level/0

<img width="229" alt="screenshot 2016-09-28 19 18 57" src="https://cloud.githubusercontent.com/assets/477062/18924432/759b47c0-85b0-11e6-8588-0f1ccc70f3ad.png">

[2016-09-28 17:20] josevalim commented on #602
@michalmuskala that bug exists before this patch it seems. Please open up a new issue?

[2016-09-28 19:07] michalmuskala opened #607 "Some functions are highlighted as types in typespecs"
If the function name is the same as a type name it will be highlighted and linked to the type http://elixir-lang.org/docs/master/logger/Logger.html#level/0

<img width="229" alt="screenshot 2016-09-28 19 18 57" src="https://cloud.githubusercontent.com/assets/477062/18928220/7d2853ac-85bf-11e6-81d4-e6eb9abf617a.png">

[2016-09-28 21:27] josevalim commented on #601
@dignifiedquire unfortunately I was not able to implement this. In fact, I think the problem is more wide-spread. Even though we have the access to all modules and functions, it is only possible to explore a given function or a given module by moving away.  For example, if you access [the Kernel module](http://elixir-lang.org/docs/master/elixir/Kernel.html), it is not possible to access the functi

[2016-09-28 23:23] josevalim commented on #601
Ok, I was able to implement this. There is a live version in Elixir master: http://elixir-lang.org/docs/master/elixir/Kernel.html

With the changes above, we can now navigate the whole Elixir documentation without moving away from the current page. Each top-level item can be expanded and from then on each expandable item is marked with a `+`.

Over the next days I will be collecting some feedback

[2016-09-28 23:38] josevalim commented on #602
This was approved by @dignifiedquire, so I am closing it.

[2016-09-28 23:38] #602 closed

[2016-09-29 10:51] dignifiedquire commented on #601
Happy to hear you were able to do this, it seems to work great.

I'm not a big fan of the `+` and `-` but I haven't gotten a better idea yet.

[2016-09-29 11:21] josevalim commented on #601
@dignifiedquire I hear you. My first try was to use `>` but it didn't work well with the `|` and `>` used for each function/macro/callback/type right below. That's when I decided to use `+` and `-` (and also because I could not figure out a way to add new icons to the current icon font export. I am not sure if the icons we currently use are documented but this may also be a problem in the future).

[2016-09-29 12:36] #593 closed

[2016-09-29 12:38] josevalim commented on #593
This has been fixed but unfortunately it means we can no longer animate once the sidebar is clicked.

The reasoning is written on the commit message. I tried to find an alternative so we still keep the scrolling animation but failed to do so. Since having the back button working is more important than the animation, we won't have scrolling until someone can add it back without breaking Chrome.

[2016-09-29 14:51] schnittchen opened #608 "Night mode: darkness does not extend to bottom of the page"
I'm on FF 49.0.

![screenshot from 2016-09-29 16-54-19](https://cloud.githubusercontent.com/assets/166765/18958977/d6e1885a-8664-11e6-8b52-c7145f28140c.png)

[2016-09-29 15:14] #608 closed

[2016-09-29 15:43] schnittchen commented on #608
<3

[2016-10-01 07:59] christopheradams opened #609 "Modules with no functions cannot be navigated to in the sidebar"
If a module defines no functions but just has a `@moduledoc` (which may be common for the root module in a library), there is no way to navigate to it from the sidebar.

Clicking the module name toggles the `"open"` class on the module name, but then there is no sub-menu to click on. It should at least include the "Top" link for each module, even if it has no functions.

[2016-10-01 08:32] josevalim commented on #609
@christopheradams yes, it has been fixed on master and released on v0.14.1. Please let me know if the problem persists after updating. :)

[2016-10-01 08:32] #609 closed

[2016-10-01 09:29] christopheradams commented on #609
@josevalim oh wow, you fixed this faster than I got around to reporting it. nicely done.

[2016-10-04 18:15] boxxxie opened #610 "elixirc_paths: elixirc_paths(Mix.env) doesn't work in umbrella projects"
in my inner mix.es project files including `elixirc_paths: elixirc_paths(Mix.env)` (needed for compiling ex files for tests) will break my documentation generation.

when i comment out the line the doc generation works fine.

versions:
[code]

[2016-10-04 18:18] josevalim commented on #610
Can you please provide an application that reproduces the error?

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-10-04 18:32] boxxxie commented on #610
https://github.com/boxxxie/broken_ex_doc_example

[2016-10-05 16:08] boxxxie commented on #610
In my example file
[code]
the second line is causing the problem.

[code]
the above fixes the problem

[2016-10-05 16:15] andyl opened #611 "Dividing line to delineate scrollable area"
In the scrollable list, very often the top word is cut off at the element border.  My brain processes this as a bug, and it causes a moment of distraction to understand why the word is cut off.  Here's how it looks:

![cutoff](https://cloud.githubusercontent.com/assets/90030/19121582/eab070b4-8adb-11e6-89f0-eb9f6d656020.png)

Suggestion: add a thin top border to the scrollable list:

![with_border

[2016-10-05 16:21] josevalim commented on #611
This is fixed on 0.14.x where we use a gradient to avoid a sudden cut: http://elixir-lang.org/docs/master/elixir/Kernel.html (you may need to do a hard refresh).

[2016-10-05 16:21] #611 closed

[2016-10-05 16:32] josevalim commented on #610
Yes, otherwise you have no paths, and no compiled artifacts, so nothing to generate the documentation for. We will make sure to provide a better error message for such cases.

[2016-10-05 16:32] #610 closed

[2016-10-05 17:22] andyl commented on #611
The gradient is an improvement:
![fuzzy](https://cloud.githubusercontent.com/assets/90030/19123749/b2073406-8ae4-11e6-889b-d1b599426984.png)

For comparison - to my eye, this is cleaner:
![distinct](https://cloud.githubusercontent.com/assets/90030/19123758/bd752410-8ae4-11e6-8831-2b597c3b9c31.png)

[2016-10-05 18:45] eksperimental commented on #611
I agree. I am not a big fan of that gradient either, specially when it fades the scroll bar.

What other possible solutions do we have for this?

[2016-10-05 19:45] andyl commented on #611
Another approach would be to use contrasting background colors - somethings like this:
![contrast](https://cloud.githubusercontent.com/assets/90030/19128719/6041b0e6-8af9-11e6-953e-b01bdb233d1e.png)

[2016-10-05 19:50] eksperimental commented on #611
@andyl i tried that one in my browser and I was not happy with the results. :-(

[2016-10-05 20:01] andyl commented on #611
Another mockup showing a more subtle contrast in background colors:
![subtle](https://cloud.githubusercontent.com/assets/90030/19129270/934dad80-8afb-11e6-859c-154e67658819.png)

[2016-10-08 10:02] josevalim commented on #599
@dimitko btw, I saw your other comments just now, sorry. The reason I went ahead and fixed this is because I realized I was expecting this to work in many projects, so I wanted to fix it and release it ASAP.

However, I got here from the [Elixir Forum mention](https://elixirforum.com/t/link-to-external-types-in-exdoc/1915/2) and, if you would like to contribute the feature that allows us to link t

[2016-10-08 10:16] dimitko commented on #599
@josevalim I'd be honored. As it is right now, I am not much far ahead than all your fantastic tutorials (including the optional ones; OTP was hard but it made sense at one moment and then it became lot easier) and a small exercise project implementing the Trie data structure.

You know what? I'll post my toy mini project in GitHub and then will look for a time slot during which to (1) gain more u

[2016-10-08 10:22] josevalim commented on #599
No problem! Let me know if I can help with anything.

[2016-10-08 11:29] #514 closed

[2016-10-08 11:46] dimitko commented on #599
Poked you on elixirforum.com. Let's take it there. Thank you!

[2016-10-08 12:25] josevalim commented on #169
In master!

[2016-10-08 12:25] #169 closed

[2016-10-08 13:43] josevalim commented on #192
Yes, docs should be changed instead.

[2016-10-08 13:43] #192 closed

[2016-10-08 14:09] josevalim commented on #321
1. Requires arity
2. ExDoc bug. From the user perspective both List.keyfind/3 and List.keyfind/4 exist. Maybe we should define links for functions with defaults?
3. Requires arity
4. ExDoc bug.

[2016-10-08 15:30] #321 closed

[2016-10-08 15:30] josevalim commented on #329
We are closing this. We may reopen in the future if necessary.

[2016-10-08 15:30] #329 closed

[2016-10-08 15:33] josevalim commented on #339
Closing this. We may discuss changing it in the future but this is one year old and the consensus seems to be no changes.

[2016-10-08 15:33] #339 closed

[2016-10-08 15:33] #414 closed

[2016-10-08 15:34] josevalim commented on #436
Fixed.

[2016-10-08 15:34] #436 closed

[2016-10-08 15:35] josevalim commented on #442
Fixed.

[2016-10-08 15:35] #442 closed

[2016-10-08 15:36] josevalim commented on #446
This should be fixed after we added the feature to always traverse all modules.

[2016-10-08 15:36] #446 closed

[2016-10-08 15:37] josevalim commented on #441
I believe is fixed (I no longer see a white scroll bar on chrome or safari).

[2016-10-08 15:37] #441 closed

[2016-10-08 15:38] josevalim commented on #487
Those are all solved since v0.14.0.

[2016-10-08 15:38] #487 closed

[2016-10-08 15:38] josevalim commented on #509
@michalmuskala can you please confirm if this is still a bug?

[2016-10-08 15:39] josevalim commented on #513
Duplicate of #341.

[2016-10-08 15:39] #513 closed

[2016-10-08 15:41] josevalim commented on #533
If someone would like to implement it, please go ahead. Maybe instead of using the search, we could have something more like editors or GitHub's `Ctrl+T`, where you enter a special prompt to go to a single file or function. This would be, in my opinion, a more robust API than something that feels like Google's I'm feeling lucky.

[2016-10-08 15:45] josevalim commented on #567
For those interested in implementing it, we would need to make the ExDoc task non-recursive and then get the compilation path for all umbrella children.

[2016-10-08 15:56] josevalim commented on #601
I am closing this as this is up and running. I am still looking forward to feedback if there is interest in changing/improving this.

[2016-10-08 15:56] #601 closed

[2016-10-08 16:01] josevalim commented on #495
To sum up the discussion on #496, the proper way to solve this would be through a JSON formatter, which emits the whole documentation in a way to be consumed by a third party.

[2016-10-08 16:05] josevalim commented on #206
I am closing this one. First of all, callbacks may still specify their types in case they expose a larger or a more restrict API. Second of all, implementing this would require rewriting all of the local types in the specs, which will add unnecessary complexity. That said I would rather focus on other features and functionality than this one.

[2016-10-08 16:05] #206 closed

[2016-10-08 16:56] eksperimental commented on #206
should we add a similar TAG as in Elixir: `Unresolved` ?
Just in case we want to tackle it in the future

[2016-10-08 16:59] michalmuskala commented on #509
I can confirm this is a bug with firefox 49.0.1 on macOS 10.12

[2016-10-08 18:22] josevalim commented on #206
Done.

[2016-10-09 15:59] josevalim commented on #561
This is in master! :heart:

[2016-10-09 15:59] #561 closed

[2016-10-10 18:57] josevalim opened #614 "Use triangles instead of + and - for functions menu"
@dignifiedquire: [Instead of the current solution with `+` and `-`](http://wsmoak.net/phoenix/Phoenix.Channel.html#content):

<img width="287" alt="screen shot 2016-10-10 at 20 57 39" src="https://cloud.githubusercontent.com/assets/9582/19247599/377dcc94-8f2c-11e6-86eb-01d478dc7865.png">

Would you prefer the following:

<img width="291" alt="screen shot 2016-10-10 at 20 52 22" src="https://cloud.

[2016-10-10 19:01] josevalim commented on #614
Or with the border aligned to the triangle:

<img width="289" alt="screen shot 2016-10-10 at 21 00 57" src="https://cloud.githubusercontent.com/assets/9582/19247695/b55a8cce-8f2c-11e6-9c2a-30debb5c5e2a.png">

[2016-10-10 19:08] eksperimental commented on #614
I like the one with the border aligned. Could u send a screen capture when u hove an item showing the ">"

[2016-10-10 19:10] josevalim commented on #614
@eksperimental it would be the same as today, both the text and the icon get lighter/"whiter".

[2016-10-10 19:13] josevalim commented on #614
Here is a screenshot showing the triangles with mouseover and the border aligned under the C:

<img width="290" alt="screen shot 2016-10-10 at 21 12 07" src="https://cloud.githubusercontent.com/assets/9582/19248100/66d176e2-8f2e-11e6-9d88-69a717911781.png">

Here is a screenshot of using + and - with the border aligned under the C:

<img width="291" alt="screen shot 2016-10-10 at 21 13 05" src="ht

[2016-10-10 19:50] josevalim commented on #614
FWIW, I think I prefer the last one the most. The triangles are bulkier and that's looks more distracting.

[2016-10-10 20:11] ericmj commented on #614
I agree, last one is best. Also prefer the border aligned under the C.

[2016-10-11 00:30] eksperimental opened #615 "AutoLinking to function with default argument arity will link to http://elixir-lang.org/docs/stable/"
`Map.pop/2` will link to http://elixir-lang.org/docs/stable/elixir/Map.html#pop/2
when it should be to `Map.html#pop/2`

introduced in
https://github.com/elixir-lang/ex_doc/commit/822d7a01bf1fc500e81eb4bd70485c7860332b7e

[2016-10-11 01:31] eksperimental opened #616 "`__ENV__/0` not autolink within module."
I'm editing the moduledocs for `Kernel.SpecialForms` and calling `__ENV__/0`, __MODULE__/0`, `__DIR__/0` and `__CALLER__/0`
doesn't autolink to the functions.

but `__block__/1` and `__aliases__/1` does link them.

[code]

[2016-10-11 07:43] josevalim commented on #615
Sorry, I don't see the issue?

On Tuesday, October 11, 2016, Eksperimental <notifications@github.com>
wrote:

--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2016-10-11 07:56] josevalim commented on #615
This is working as desired. The function `Map.pop/2` exists and we should be able to link to it. This is specially important if we add a default argument in the future, we shouldn't break previous links.

[2016-10-11 08:46] #616 closed

[2016-10-11 15:00] eksperimental commented on #614
sorry jose, i was not clear enough, I would like to see wehn you hover let's say: "handle_info/2", i'm intgerested in how it will look like with the "> " symbol.

I'm concerned about two things:
1. if we leave margin, it will be too wide for functions with a relatively long name.
1.a.  there's a bug when the ">" symbol and function name don't fit in the same like (PR coming soon)
2. the ">" symbol

[2016-10-11 15:04] eksperimental commented on #616
:heart:

[2016-10-11 15:27] josevalim commented on #614
@eksperimental it would work the same as today. It becomes lighter on mouseover and a `>` appears when it is clicked on.

[2016-10-11 15:40] eksperimental commented on #614
@josevalim i know. i was asking for a screenshot to have a visual representation of everything at one glance ;-p

[2016-10-11 15:43] eksperimental commented on #615
i mean the link is to absolute URL http://elixir-lang.org/docs/stable/elixir/Map.html#pop/2 not to relative Map.html#pop/2
i tried to look for the source of the issue and was not able to find it.
i'm reopening as it was happening in my local elixir version.

[2016-10-11 15:54] #615 closed

[2016-10-11 15:54] josevalim commented on #615
@eksperimental great catch! :heart: I have fixed it in master. :)

[2016-10-11 15:56] josevalim commented on #614
@eksperimental can I own you this one? :) Given I am convinced the last one is best and we have another discussion on that other issue, I would like to wait before putting more work on this. :)

[2016-10-11 16:01] eksperimental commented on #614
yes. sure. once we decide which one, we can see if there's a particular issue with the width... no worries

[2016-10-11 16:02] eksperimental commented on #615
beautiful! :heart:

[2016-10-11 16:04] eksperimental opened #617 "Font Awesome: are we still using this one?"
I think we are using IconMoon only.
just to confirm, if that's the case.
1. we need to remove Font Awesome from the license

regardless of 1.
2. we need to add IconMoon to the license

[2016-10-12 05:16] milmazz opened #619 "Fix bugs in EPUB format"
- [x] Mimetype file entry is missing or is not the first file in the archive.
- [x] Delete `OEBPS/assets/logo.png` at the end of the process, is still remaining.
- [ ] Fix missing assets in the header section: `<link type="text/css" rel="stylesheet" href="" />` or `<script src=""></script>`.
- [ ] Declare all the assets (images, JS, CSS) in the OPF manifest.
- [ ] Support the `:group` option from

[2016-10-12 07:38] josevalim commented on #619
I have fixed the first today morning and the second yesterday when I added support for assets copying. :)

[2016-10-12 07:47] josevalim commented on #617
I don't think we are using anymore. We moved away from it when we minimized assets size. PR?

[2016-10-12 12:49] eksperimental commented on #617
I will update the license file then

[2016-10-12 13:27] nscyclone commented on #434
If I am not mistaken, anchors appear before the headers only on hover. To be honest, I am not sure that they are necessary because the action for both anchor and header is the same. The simpler the better.
![Regular](https://cloud.githubusercontent.com/assets/5345029/19310999/4e279104-9095-11e6-98d6-45741bcf2ef3.png)
![Hover](https://cloud.githubusercontent.com/assets/5345029/19311000/4e35df20-909

[2016-10-12 17:06] josevalim commented on #434
Can you please send a PR for that?

[2016-10-13 01:17] eksperimental opened #622 "Link to functions with custom text"
I'm going thoroughly through the Elixir documentation, and I have come across quiet a common pattern, which is wanting to link to a function/callback without showing the full Module.function/arity thing. (most of the time trying to hide the module)... in this case because it's either Kernel or Kernel.SpecialForms and we don't need to distract the user with this information.

A good example is the

[2016-10-13 08:10] josevalim commented on #622
I think we should support this:

    [...](Module.functions_name/arity)

What is inside square brackets shouldn't really matter. The example above has a small ambiguity, since it would match a page that looks like this `Page.html/2` but those are uncommon and can be solved by using `./Page.html/2`, so I think we should be fine?

[2016-10-13 08:15] josevalim commented on #622
Actually, if we want to support modules:

    [...](Module)

Then we should require backticks to avoid false positives but backticks feel weird in there. :S Plus there is also parsing ambiguities. For example, this is valid text:

   see the main module (`Kernel`)

So we would need to be careful in the regex side. One option is to tell folks to link to it directly:

    [...](Module.html#function_

[2016-10-13 08:16] josevalim commented on #622
@eksperimental btw, please don't put "feature request" in the title and use the labels for that. It is easier to explore like that.

[2016-10-13 14:16] #617 closed

[2016-10-13 14:23] eksperimental commented on #622
not using backticks in the parenthesis will lead to problems. people may want to link to a file, and that could be the same name as the module.

I don't think backticks are unnecessary in the parenthesis.
backticks convert:
  - `Kernel` to `Kernel.html`
  - `Kernel.if/2` to `Kernel.html#if/2`
  - `ExUnit.Case.test/2` to `http://elixir-lang.org/docs/stable/ex_unit/ExUnit.Case.html#test/3`

so doing

[2016-10-13 14:27] eksperimental commented on #617
@josevalim how does the thing that automatically closes the issues when a PR is merged?

[2016-10-13 14:40] josevalim commented on #617
You need to say in the commit or in the PR that it closes or fixes issue #...

[2016-10-13 14:43] eksperimental commented on #617
https://github.com/elixir-lang/ex_doc/pull/623 mentioned this issue.
but i had the feeling it was not closed automatically, was it?

[2016-10-13 14:46] josevalim commented on #617
It was:

[2016-10-13 14:46] eksperimental commented on #617
oh. great. i got a notification about this issue being closed way after you merged the PR. thank you

[2016-10-13 14:50] josevalim commented on #617
@eksperimental sometimes it happens to me too. :)

[2016-10-14 20:13] sheharyarn commented on #465
I'd like to take a shot at this. @josevalim can you point me to the commit that closes #436? It would really help me since both of them are very similar.

[2016-10-15 20:47] #465 closed

[2016-10-17 10:27] #567 closed

[2016-10-23 18:40] #607 closed

[2016-10-27 20:01] mrkaspa opened #628 "FIlter the modules"
Is there a way to generate the documentation for a set of modules i.e. the ones beginning with Core.Models or the ones that have the Command word?

[2016-10-27 20:13] ericmj commented on #628
What's the use case? Does `@moduledoc false` not work to filter the modules?

[2016-10-27 20:14] mrkaspa commented on #628
I need to create a separate kind of documentation with the modules inside in some specific folders

[2016-10-27 20:49] josevalim commented on #628
@mrkaspa should they be separate apps?

In any case, a patch that supports the `--filter-prefix` option would likely be welcome. Then you could do `mix docs --filter-prefix="Core." --output=core`.

[2016-10-28 20:19] mrkaspa commented on #628
That would work

[2016-10-28 21:22] eksperimental opened #629 "Add sytle for keyboard key: <kbd>"
I would like to be able to style the `<kbd></kbd>` tag, and make it look like a keyboard key, same as Github does.. for example: <kbd>Tab</kbd>

[2016-10-28 21:25] josevalim commented on #629
Theoretically you can use `<kbd>Tab</kbd>` in your docs. We could support it in markdown too... but we would need to find an engine that supports it or if there is a conversation to support it.

[2016-10-28 21:31] eksperimental commented on #629
sorry i was not clear enough. I'm just talking about the HTML tag.
choosing to support it in markdown would be difficult since it is not a common tag (i think it has been proposed as an extension in commonmark).

Currently "it works" in ExDoc, but it just looks like plain test, therefore we need to add a style to support this feature.

[2016-10-28 21:33] josevalim commented on #629
Ohhhhhhhhh. Sure! Please go ahead, we can use GitHub's style.

[2016-10-28 21:35] eksperimental commented on #629
ok. the other thing is how not to show the html code in IEx

[2016-10-28 21:37] eksperimental commented on #629
If we want an example to work on, IEx module documentation, **Autocomplete** section.

[code]

[2016-10-28 21:45] josevalim commented on #629
@eksperimental no idea. We could strip tags in IEx but I am afraid it would be non trivial to support it.

[2016-10-28 22:18] ericmj commented on #629
I'm not against adding extra styles to the default CSS but I think we should avoid using HTML in the elixir docs.

[2016-10-28 22:26] josevalim commented on #629
@ericmj yup.

[2016-10-29 14:00] whatyouhide opened #630 "Named type isn't linked when there's a type variable with the same name"
When there's a type defined in the current module, and a function has a spec that uses the same name as the type for one of its type variables, the type in the spec isn't linked to the type definition.

For example, create a new Mix project and bring in ExDoc from master, then have this in a module:

[code]

Now run `mix docs` and go to the documentation: you will see that the `foo/0` type is link

[2016-10-29 19:01] josevalim commented on #630
@whatyouhide @lexmag this may be a bug in Elixir if the AST for `when foo: foo` has foo as a variable rather than a funcall.

[2016-10-29 19:59] whatyouhide commented on #630
Oh, I see. I will investigate when I have some time 👍

[2016-10-30 22:10] sheharyarn opened #631 "Make links in night mode more obvious"
When generating documentation with links in `ex_doc`, they look fine in Day mode, but in Night mode they are almost indistinguishable from the normal text.

Here are screenshots for comparison:

![screenshot from 2016-10-31 02-45-47](https://cloud.githubusercontent.com/assets/2355108/19840395/7cf36f6e-9f16-11e6-9e23-1d44e902af59.png) ![screenshot from 2016-10-31 02-45-20](https://cloud.githubuserc

[2016-10-30 22:58] josevalim commented on #631
We should definitely underline them.

[2016-10-30 22:59] sheharyarn commented on #631
I can do this and send in a pull request by tomorrow.

[2016-10-31 22:26] #631 closed

[2016-11-01 05:26] scouten opened #633 "Need instructions on how to configure dependent documentation links"
In https://github.com/elixir-lang/ex_doc#auto-linking, it says ...

... but when I read the documentation for [Mix deps](http://elixir-lang.org/docs/stable/mix/Mix.Tasks.Deps.html), I see no such instructions. Please add instructions either here or there for how to do this.

(Or, alternatively, if the umbrella-project changes in #625 were released, I might no longer have this need. 😄 )

[2016-11-01 05:28] scouten commented on #633
Or … if I was looking in the wrong place, please provide a link to where I _should_ have been looking for how to use the `:deps` option in mix.exs.

[2016-11-01 08:20] #633 closed

[2016-11-01 08:20] josevalim commented on #633
Thank you, i have improved the docs in the readme.

[2016-11-08 01:17] craig-day opened #636 "Can't run local.hex because of some crypto failure"
I have a docker image, which is starting from a base alpine 3.4 image and then I install elixir using `apk`.  Everything is fine until I add `ex_doc` as a dependency, then I can't build my docker image anymore because of some weird dependency here.

[code]

[2016-11-08 02:43] ericmj commented on #636
You did not install erlang correctly on your machine. If you are on linux you are probably missing a package such as `erlang-ssl` or `erlang-crypto`.

Closing this issue since it's not related to ex_doc.

[2016-11-08 02:43] #636 closed

[2016-11-08 18:38] craig-day commented on #636
FWIW, it was `erlang-crypto` if anyone stumbles across this. Thanks for the help.

[2016-11-09 00:48] #619 closed

[2016-11-09 00:50] #628 closed

[2016-11-09 17:39] jcelliott opened #637 "Have to click twice to get to documentation"
Recently something changed so that I have to click twice in the sidebar to get to actual documentation. It used to go to the relevant page on the first click, and it would also expand the navigation in the sidebar. Now the first click expands the navigation for that section and you have to click on "Top" to actually see the documentation.

It seems like this was a deliberate change. What are the a

[2016-11-09 17:50] eksperimental commented on #637
its to allow users to navigate the whole of the options in the sidebar, without having to reload every page to know what's under a certain module.

[2016-11-09 18:37] josevalim commented on #637
Yes, it was by design due to what @eksperimental said. There are discussions to have both the navigation aspects and single click but we haven't reached a conclusion yet.

[2016-11-09 18:37] #637 closed

[2016-11-09 19:13] michalmuskala commented on #637
I believe we should have single click at least on pages with a single title. It's silly when you click on the page, it opens the submenu, and there's a single "Top" link with nothing else.

[2016-11-09 19:32] jcelliott commented on #637
Couldn't we have both behaviors? Have a :plus: next to the headings to expand it, but if you click on the actual heading it takes you to the page.

[2016-11-09 19:54] josevalim commented on #637
I won't have any coding cycles to put on ExDoc soon, so whoever is interested on this, please make some mockups or some live examples so we can move the discussion forward. :)

[2016-11-09 20:01] jcelliott commented on #637
Thats fine, just want to make sure that something like this wouldn't be shot down.

[2016-11-11 02:35] ericmj opened #638 "Add hash to sidebar_items.js filename for cache busting"
We do this for app.css and app.js [1] but we should add it to sidebar_items.js also. I've seen this issue on hexdocs when a new function is added. The module page has the new function but it does not show up in the sidebar until I force bust the cache in the devtools.

[1] https://github.com/elixir-lang/ex_doc/issues/408

[2016-11-11 13:59] #638 closed

[2016-11-11 14:00] ericmj commented on #638
:heart:

[2016-11-18 02:48] njonsson opened #642 "Uncaught JS ReferenceError: sidebarNodes is not defined"
This occurs in [_assets/js/events.js_:143](https://github.com/elixir-lang/ex_doc/blob/a02ef545ce1934bb14dcb10274d0871685702cf4/assets/js/events.js#L143). None of the sidebar items are shown. I suspect [_lib/ex_doc/formatter/html/templates.ex_:122](https://github.com/elixir-lang/ex_doc/blob/78adbaff7884bd53fa4bb7d8d34a59c52a9f749b/lib/ex_doc/formatter/html/templates.ex#L122) is never getting execut

[2016-11-18 03:18] milmazz commented on #642
@njonsson Where did you see that error? URI? Did you clean your cache first?

[2016-11-18 04:14] njonsson commented on #642
Yes, I removed _doc/_, ran `mix docs`, cleared my browser cache, and reopened _doc/index.html_. The error recurs.

[2016-11-18 05:00] milmazz commented on #642
@njonsson Could you please tell me which `ExDoc` version are you using?

I just run the following test with `ExDoc` from the `master` branch:

[code]

![screen shot 2016-11-17 at 10 56 00 pm](https://cloud.githubusercontent.com/assets/34700/20419053/0fcc4012-ad19-11e6-977a-e2c38f8fa1f9.png)

Tested on:

* Chrome (Version 54.0 )
* Safari 10.0.1

[2016-11-18 16:03] njonsson commented on #642
I am using ExDoc v0.14.3.

[2016-11-18 16:09] njonsson commented on #642
I have more information on the potential source of the problem. My _mix.exs_ contains ExDoc options in the `def project do` block. When I remove these options, the generated docs have no JavaScript errors. Note that the referenced files, _README.md_, _License.md_, and _History.md_, all exist in the root of my project.

[code]

[2016-11-18 16:31] josevalim commented on #642
@njonsson could you please push a small project to github that reproduces the error? It would help us a lot on fixing it. :)

[2016-11-18 16:40] josevalim commented on #642
Nevermind, I can reproduce it on Elixir source: http://elixir-lang.org/docs/master/elixir/behaviours.html#full-list :)

[2016-11-18 17:05] milmazz commented on #642
@josevalim The issue is that we create first the extra pages... and then the `sidebar_items-<rev>.js`. So, when you create an extra page... `head_template.eex` returns `nil` :(

[2016-11-18 17:06] milmazz commented on #642
@josevalim Are you working on this?

[2016-11-18 17:11] josevalim commented on #642
@milmazz yes :)

[2016-11-18 17:48] josevalim commented on #642
Fixed in master. It also allowed us to remove the duplication between epub/html formatters in regards to extra handling.

[2016-11-18 17:48] #642 closed

[2016-11-21 14:56] josevalim opened #646 "Remove the distinction between functions and macros from the sidebar"
Today we split entries between functions and macros which is not useful for discoverability. If I am learning a new API, I typically do not care if something is a macro or a function.

I propose to remove the distinction between functions and macros from the sidebar and use the tag to mark macros as macros. The tag works similar to here:

http://elixir-lang.org/docs/master/elixir/GenServer.html#c:

[2016-11-22 01:28] eksperimental opened #647 "Long specs should be broken up into lines, besides by " | ""
I think we need to break really long structs, or tuples like this one

http://elixir-lang.org/docs/stable/elixir/Inspect.Opts.html#t:t/0

[2016-11-29 18:16] aphillipo opened #650 "[Suggestion] Improve the fully navigable menu and removing "Top""
I love that ExDoc has a fully navigable menu structure on every page without reload, but I strongly dislike "Top" to actually get to the page (because it's meaningless and repetitive - it might as well say "go" or "start", all of which feel weird).  It really wasn't clear to me what was happening the first time I used it and I've been thinking about a better UI for this for a while.

Let's see if

[2016-11-29 18:55] josevalim commented on #650
Can you do a quick mock up of what you have in mind? At least visually? It has been very hard to put the pieces together only with text.

[2016-11-30 21:44] aphillipo commented on #650
<img width="317" alt="plug-ex_doc_screenshot" src="https://cloud.githubusercontent.com/assets/52347/20772631/2e3ed5be-b746-11e6-8155-49fe98f641b1.png">

[2016-12-01 19:22] josevalim commented on #650
To be very honest I am not convinced about the proposed changes. I would have no idea when to click on `[+]` when to click on `=>` and when to click on `+`. Ideally we would use the same `+` we use for "Functions" and add a distinction between clicking on the name and on the "+" sign. It leads to less clicks but I am not sure if it is less confusing.

[2016-12-01 19:24] josevalim commented on #647
Unfortunately to fix this we would need to introduce algebra documents for `Macro.to_string/2` too given the current solution for `|` is mostly a workaround which won't scale for more complex data structures. And right now there are no plans to add inspect algebra to the AST.

[2016-12-01 21:20] aphillipo commented on #650
Fair enough, I'll close this then, I'm still not convinced "Top" is the right messaging; I guess I'm trying to hack around this.  Thanks for taking a look.

[2016-12-01 21:20] #650 closed

[2016-12-01 22:26] eksperimental commented on #650
the only way this wouldn't be confusing would be opening the tree branches with the +/- icon. and clicking on the module names and functions takes you to that page.

[2016-12-01 23:43] aphillipo commented on #650
It's a very small clickable area tho... not too sure.  Like I say I find anything that get's rid of "Top" to be preferable; I can't put my finger on why I dislike it so much but it's just me probably!

[2016-12-05 00:38] wsmoak commented on #650
It is not just you @aphillipo . :)  I commented on usability the first time I saw it, but I do not have the expertise to try to fix it.  Anecdotally, I have been all over the docs looking up things for Advent of Code, and I _still_ stare at the screen waiting for the content for the menu item I just clicked on to appear.  Then I have to look left again and find that item and the "Top" underneath i

[2016-12-21 18:03] jparise commented on #646
I took at shot at this in #653, and I'm happy with the results. Discover definitely feels improved. The only negative aspect of the change that I've felt so far is that, for some complex modules (e.g. Kernel), the function list is now quite long. I suspect that's atypical, however, and says more about how the module is organized and less about the ratio of exported macros vs functions.

[2016-12-21 18:34] jparise opened #654 "Markdown Pandoc test fails (Pandoc 1.19.1)"
The expected output for the fenced code block test isn't being satisfied:

[code]

This is using Pandoc 1.19.1 from homebrew:

[code]

It would be easy to revise the expected content string with the output above, but I'm not sure if the difference has to do with this pandoc version, my pandoc configuration, or some other factor. The test itself might need to become more flexible in terms of expect

[2016-12-22 09:08] josevalim commented on #646
We are keeping this one open because we removed the distinction between Functions / Macros from the sidebar but we should find a way to make it slightly more obvious that something is a macro in the full listing.

[2016-12-22 10:03] josevalim commented on #654
FWIW, we are running pandoc on travis, and there the tests pass: https://travis-ci.org/elixir-lang/ex_doc/jobs/186013829#L186

[2016-12-22 10:05] josevalim commented on #654
And FWIW2, I have installed the latest pandoc via brew and I see the same failure as you.

[2016-12-22 15:04] milmazz commented on #654
@josevalim @jparise I haven't checked Pandoc's changelog recently, but maybe they change the fenced code block format in newer versions of Pandoc. Please remember that for TravisCI we're using Pandoc 1.15.0. Maybe we should update our `.travis.yml`, wdyt?

[2016-12-24 21:34] jparise commented on #654
I looked at this a bit more, and it also appears like the `pretty_codeblocks/1` helper function is no works (or is no longer relevant). It originally moved the class attributes from the `<pre>` tag to the `<code>` tag, but pandoc is now emitting class attributes for both tags.

`pretty_codeblocks/1` could be updated to always strip the class attributes from `<pre>` and only re-add them to `<code>`

[2016-12-24 21:45] josevalim commented on #654
@jparise I would say so given that the original intent was to align it to the output of other tools. :) Alternatively, we can just drop support for pandoc. I doubt anyone uses it given we have plenty of options in Elixir today? If someone needs it, it could be tackled in a separate project.

[2016-12-24 21:53] jparise commented on #654
@josevalim Dropping pandoc sounds like an ideal solution given the variability of its output across versions. I also have a close-to-finished patch to "normalize" (read: massage using multiple regex's) the output across versions. Let me know the project's preference, and I'm happy to help move this issue forward accordingly.

[2016-12-24 22:09] josevalim commented on #654
@jparise my vote is to remove it then, it is less code, but let's wait a bit to see if someone else has reasons against removing it.

[2016-12-24 22:26] jparise commented on #654
For purposes of the discussion, here's what `pretty_codeblocks/1` could become to support both pandoc output formats:

[code]

Not very "pretty". 😉

[2016-12-25 23:08] milmazz commented on #654
+1 to remove support for Pandoc, most of the time I use `earmark` as Markdown parser and in a few cases I've been using `devinus/markdown`

[2016-12-26 00:06] josevalim commented on #654
Beautiful, let's go ahead then!

[2016-12-26 17:41] #654 closed

[2016-12-26 21:53] jparise commented on #509
These symbols appear to exhibit the same problem:

- `%/2`
- ` %{}/1`
- `^/1`

[2016-12-28 19:41] sschneider1207 opened #657 "Parameterized type in function spec generates an extra anchor tag"
I have something similar to the following defined:
[code]
When docs are generated for this, the entry for `append` looks like

![image](https://cloud.githubusercontent.com/assets/16026066/21530000/9af0bd96-cd0b-11e6-906f-8deeb3727c63.png)

It appears that it is trying to add another link to the entry for type `t`

[2017-01-06 21:38] wojtekmach opened #658 "Sigil syntax highlighting"
Hello, I noticed syntax highlighting for sigils is somewhat irregular (e.g. left bracket is highlighted differently from right one):

![zrzut ekranu 2017-01-06 o 22 31 25](https://cloud.githubusercontent.com/assets/76071/21733781/91e82458-d460-11e6-8d55-92b3098525f8.png)

I'd like to propose to change it to either:

1.
![zrzut ekranu 2017-01-06 o 22 31 51](https://cloud.githubusercontent.com/asset

[2017-01-06 22:01] josevalim commented on #658
I think we simply depend on a javascript library to do syntax highlighting. So that would need to be solved there first. :)

[2017-01-06 22:10] wojtekmach commented on #658
Good point, it's not an issue on ex_doc then.

Btw, I'm curious, do you have a preference? fwiw in iex the entire sigil is printed with the same color.

[2017-01-06 22:10] #658 closed

[2017-01-06 22:17] eksperimental commented on #658
yes, it has to do with highlight.js project.
I have submitted this bug (i think it's the same, but it was reported with `~S`) almost two years ago, but it looks like it hasn't been fixed yet.
https://github.com/isagalaev/highlight.js/issues/730

by the way, we should update the package to the latest version c9.9.0,
since we are running v8.8.0
and see if the problem is still there.

[2017-01-07 13:50] eksperimental opened #659 "Logger error when running Mix command in 1.3.2"
I'm running ExDoc with the lowest supported version (v1.3.2),
and everytime I run a mix command within the ExDoc project itself, I get this error.

[code]

everything works fine, it's just annoying.

[2017-01-07 14:20] josevalim commented on #659
That's an incompatible Erlang version. You are probably running 1.3.2 with Erlang 19.

[2017-01-08 15:16] eksperimental commented on #659
yes, I am. So how should we proceed? I didn't know 1.3 would be incompatible with Erlang 19.
in the README it states it works with Erlang  18 or later, and in the changelog it mentions some features that work only with Erlang 19, so I assume this version is supposed to work with Erlang 19

[2017-01-08 17:25] josevalim commented on #659
@eksperimental if an Elixir version was released before Erlang 19, then there is no guarantee it actually works when Erlang 19 is out. Ideally it just works but sometimes it doesn't. In this case, we were calling an undocumented gen_event API, which was on us. Ideally it shouldn't happen.

[2017-01-08 17:25] #659 closed

[2017-01-15 19:38] fcevado opened #662 "Generating docs breaks with argument error."
I've got this error while generating docs:
[code]

Evaluating the error message and the function `ExDoc.Retriever.find_actual_line/3`, what happened is that `abst_code` was an empty list. I did a small change(`find_actual_line/3` returns false if `abst_code` is an empty list) and it  works fine locally, I'm creating this issue just to confirm that the bug is real before opening a pr.

[2017-01-15 19:59] josevalim commented on #662
Do you have a scenario that reproduces why find_actual_line is having abst_code as an empty list?

[2017-01-15 20:02] fcevado commented on #662
I was publishing a release for this lib: https://github.com/fcevado/phone
Environment:
[code]

[2017-01-16 12:07] #662 closed

[2017-01-19 08:51] michalmuskala opened #664 "Consider leveraging typespecs for argument names"
There's recently a lot of PRs to various projects that add additional bodyless function clauses to provide better argument names in the documentation generated by ex_doc for functions that pattern match on the arguments directly without naming them. Very often, though, a better naming source (than the default arg0, arg1) already exists for those functions in the typespecs - usually using the varia

[2017-01-19 11:12] josevalim commented on #664
The figuring out of signatures today currently happens on Elixir, so if something is changing, we would likely change it there.

[2017-01-19 11:12] #664 closed

[2017-01-19 11:13] josevalim commented on #664
Unless we want to keep Elixir the same and use the specs to override what Elixir infers. However, one of the advantages of doing Elixir is because it would also help other documentation consumers, such as IEx.

[2017-01-19 11:32] michalmuskala commented on #664
Should I reopen on https://github.com/elixir-lang/elixir?

[2017-01-19 11:51] josevalim commented on #664
I would wait for now because we are working on something that may completely obsolete this request. We will keep it in mind though.

[2017-01-19 11:51] michalmuskala commented on #664
No problem. Thanks for the information.

[2017-01-30 15:13] whatyouhide opened #667 "Prettify struct documentation"
Related to https://github.com/elixir-lang/elixir/pull/5718. I noticed that the `Task` module in the Elixir stdlib was documenting the `%Task{}` struct by using `@doc` above `defstruct`. This caused the [`Task.__struct__/0`](https://hexdocs.pm/elixir/Task.html#__struct__/0) function to be documented; however, I don't think this is a nice way to document structs as `__struct__/0` is more of an inter

[2017-01-30 15:23] josevalim commented on #667
Due to #646, I would keep it all together. You may change the annotation to `(struct)` though. We should probably have it always come on the top as well.

[2017-01-30 15:24] whatyouhide commented on #667
I'll look into implementing this.

[2017-02-01 03:36] njonsson opened #668 "Markdown link markup containing image gets mangled"
Consider the following Markdown (which I believe to be valid — at least GitHub handles it), contained in [the readme for *example_files*](https://github.com/njonsson/example_files/blob/master/README.md):

[code]
---

I expect ExDoc to produce the HTML:

[code]

which renders as:

[![Travis CI build status]][Travis-CI-build-status] [![Hex release]][Hex-release]

[Travis CI build status]: https://se

[2017-02-01 08:14] josevalim commented on #668
I believe you need to report this to the underlying markdown project, which is likely https://github.com/pragdave/earmark in your case. :) Thank you!

[2017-02-01 08:14] #668 closed

[2017-02-01 10:54] RobertDober opened #669 "Please do not upgrade Earmark dependency to 1.1"
Sorry for this one, I had a glitch in `Earmark.as_html` which does not return what it should.
Easy fix for 1.1.1.

Please wait for that version before upgrading the Earmark dependency.

[2017-02-03 10:28] RobertDober commented on #669
@pragdave has already released the fixes with v1.1.1 so the API is correct and stable now.

[2017-02-03 10:28] #669 closed

[2017-02-07 10:10] whatyouhide commented on #667
Closed by #670.

[2017-02-07 10:10] #667 closed

[2017-02-13 19:08] #417 closed

[2017-02-15 20:24] nscyclone opened #673 "[Mobile] The initial state of sidebar hamburger is invalid"
On devices with screen width lower than [`768px`](https://github.com/elixir-lang/ex_doc/blob/master/assets/js/sidebar.js#L10) the sidebar hamburger doesn't respond to the first click.
Steps to reproduce:
* Make your browser window narrower than [`768px`](https://github.com/elixir-lang/ex_doc/blob/master/assets/js/sidebar.js#L10);
* Visit the [index page](https://hexdocs.pm/elixir/Kernel.html) of t

[2017-02-16 03:33] #673 closed

[2017-02-16 07:10] nscyclone opened #675 "[Mobile] Slightly different appearance at 767px and 768px width"
[`768px`](https://github.com/elixir-lang/ex_doc/search?utf8=%E2%9C%93&q=768px) used to be a common width breakpoint. But there is [a place](https://github.com/elixir-lang/ex_doc/blob/6bc628d96a2d760c962acee5d98a67a438758d8f/assets/less/content/general.less#L155) where `767px` is used instead.
This causes a slightly different appearance at `767px` and `768px`: `768px` screen width seems to be consi

[2017-02-16 08:23] #675 closed

[2017-02-20 10:10] nscyclone commented on #647
Can we use [CSS white-space](https://developer.mozilla.org/ru/docs/Web/CSS/white-space) as a temporary solution?
It would look like this in the given [test case](http://elixir-lang.org/docs/stable/elixir/Inspect.Opts.html#t:t/0):
![specs](https://cloud.githubusercontent.com/assets/5345029/23120508/06cbc8fa-f776-11e6-8520-5f58ea0887fe.png)

[2017-02-20 10:49] josevalim commented on #647
That sounds like a good compromise until we have a more permanent solution in place (which would require a large refactor in Macro.to_string).

[2017-02-20 17:30] #647 closed

[2017-02-24 22:40] ericmj opened #678 "localStorage error when third-party site data is blocked"
This only happens for me when I view docs locally and I have this chrome flag enabled: https://www.chromium.org/for-testers/bug-reporting-guidelines/uncaught-securityerror-failed-to-read-the-localstorage-property-from-window-access-is-denied-for-this-document.

[2017-02-24 22:43] josevalim commented on #678
This is the error with a fix: http://stackoverflow.com/questions/30481516/iframe-in-chrome-error-failted-to-read-localstorage-from-window-access-den

[2017-02-25 10:17] josevalim commented on #678
Fixed in master.

[2017-02-25 10:17] #678 closed

[2017-02-27 10:42] eksperimental opened #679 "Automatically link to Special Forms"
Linking to a special form function such as `alias/2`, does not autolink.
I guess from a user perspective, it is not necessary to know whether it's a Kernel function, macro, or a special form. ExDoc should automatically determine this and link to it.

WDYGT?

[2017-02-27 10:51] josevalim commented on #679
Yes, definitely.

[2017-03-03 18:03] eksperimental opened #681 "Table cells should vertically align content"
Now that I am working on the Deprecations page in the Elixir project,
Example: you can see it in first and third raw

![deprecations](https://cloud.githubusercontent.com/assets/9133420/23562741/61f0ae5e-0076-11e7-8349-ad9361d30972.png)

[2017-03-03 18:08] eksperimental opened #682 "Autolink should deal with built-in types differently"
Let's say I want to link to `t:char_list/0` type, ExDoc should remove the "t:".

Currently, since  `t:char_list/0` cannot be linked to anyhting, then it doesn't do anything to what's in backticks.

This issue came up in: https://github.com/elixir-lang/elixir/pull/5808#discussion_r103186125

[2017-03-03 20:22] josevalim commented on #681
@eksperimental yes, that doesn't look like nice.

I know this is unrelated to this particular issue but maybe we should merge the 3rd and 4th columns? They are repeating information in many cases. I would suggest:

[code]

[2017-03-04 03:42] eksperimental commented on #681
@josevalim thank you for the suggestion. done!

[2017-03-06 02:10] eksperimental opened #683 "Soft deprecate :formatters option in favor of :formatter"
[`:formatters` option in the `docs` task](https://github.com/elixir-lang/ex_doc/blob/05eb89e93559e129744cf021d580f14cf6fff313/lib/mix/tasks/docs.ex#L51-L52) is used, where in the [CLI](https://github.com/elixir-lang/ex_doc/blob/2228073feabda52136aed345208c8af8ea74b596/lib/ex_doc/cli.ex#L16) and in [`%ExDoc.Config{}`](https://github.com/elixir-lang/ex_doc/blob/2228073feabda52136aed345208c8af8ea74b5

[2017-03-06 09:21] josevalim commented on #683
This is by design. Internally we want to support the ability of running multiple formatters but because we don't have it yet, it was never exposed at the upper levels.

[2017-03-06 09:21] #683 closed

[2017-03-06 15:14] ericmj opened #685 "Night mode broken on 0.15.0"
Night mode does not work after page reload on ex_doc 0.15.0.

Working page (with 0.14.5) https://hexdocs.pm/elixir/1.4.2/Kernel.html.
Broken page (with 0.15.0) https://hexdocs.pm/elixir/master/Kernel.html.

[2017-03-06 15:49] milmazz commented on #685
@ericmj Which browser (and version) are you using?

I don't see the error on Chrome (56.0.2924.87), IE 10, and Firefox Developer Edition.

[2017-03-06 16:07] nscyclone commented on #685
@milmazz It seems to be reproducible in FF 51, Chrome Canary 59 and Edge 38.
Here are the steps:
* Visit https://hexdocs.pm/elixir/master/Kernel.html;
* Click on `Switch to night mode`;
* Press <kbd>F5</kbd>;
* The page switches to the day mode.

Might be related to [this](https://github.com/elixir-lang/ex_doc/commit/feaff64bd91066f6d4895175069e59a8381b7003) but it requires some investigation.

[2017-03-06 16:09] ericmj commented on #685
Chrome 56 and Safari 10.0.3 on macOS 10.12.3.

[2017-03-06 16:17] milmazz commented on #685
@nscyclone @ericmj Yes, it should be related with that change:

![image](https://cloud.githubusercontent.com/assets/34700/23618482/0d8f5e32-0256-11e7-9685-f2a15ee50dc9.png)

[2017-03-06 16:31] ericmj commented on #685
I don't think it's related to that change since v0.15.0 was released before and the bug seems to be on that version also: https://hexdocs.pm/ecto/Ecto.html

[2017-03-06 16:38] nscyclone commented on #685
@ericmj @milmazz I guess I found a potential cause. If I am right it seems to be my fault.

[2017-03-06 16:47] nscyclone commented on #685
@ericmj @milmazz Yeah, I was right, it was caused by the recent updates I made to the sidebar.
I am really sorry for that. #686 should fix this issue.

[2017-03-06 16:58] milmazz opened #687 "Provide source maps for JS"
When debugging errors like #685 is almost impossible to use the *Developer Tools* and put breakpoints in the `app-*.js` minified version, even with the *pretty print* feature from Chrome or other browsers is difficult to understand the application workflow:

![image](https://cloud.githubusercontent.com/assets/34700/23620196/aa052698-025b-11e7-8c52-f04e9bd7f437.png)

One way to do this task a littl

[2017-03-06 17:50] josevalim commented on #687
Yes please!
--

*José Valim*
www.plataformatec.com.br
Skype: jv.ptec
Founder and Director of R&D

[2017-03-06 20:33] josevalim commented on #685
@nscyclone no problem at all. Thank you for all of your contributions to ExDoc!

[2017-03-06 20:33] #685 closed

[2017-03-07 03:22] eksperimental opened #688 "Fix warning: index.html redirects to README.html, which does not exist"
I cannot tell what is the test that is causing this line, but it is really annoying, and I thought it was the change I was working on but it was not.

[2017-03-07 11:43] christhekeele opened #690 "Wrong variable name in docs for Access.get_and_update/3"
See elixir-lang/elixir#5846:

The short signature for [`c:Access.get_and_update/3`](https://hexdocs.pm/elixir/Access.html#c:get_and_update/3) is called `list` [when it should be](https://github.com/elixir-lang/elixir/blob/master/lib/elixir/lib/access.ex#L202) `fun`.

I'm pretty sure that the issue lies in how [this code](https://github.com/elixir-lang/ex_doc/blob/018cc55a436755cf2e6c727b806e4641f9

[2017-03-08 20:43] #687 closed

[2017-03-13 15:13] eksperimental opened #693 "Search results should list "types""
Search for any `type` and you will not find it.

[2017-03-25 07:55] ymtszw commented on #657
@ericmj I think you mentioned about docs for "type definition" in which it's true that parameters in parameterized types can be arbitrary so not to be linked even if it is named as `t` (or any other names identical to existing local types).

On the other hand, in docs for "function typespecs", actual, concrete types can be specified as parameters in parameterized types, so they are to be linked.
I

[2017-03-25 13:04] #657 closed

[2017-03-29 23:09] sheharyarn opened #695 "Merriweather font not loading in Firefox"
[Opening any HexDocs page](https://hexdocs.pm/elixir/Kernel.html) in Firefox doesn't load the Merriweather font, which causes it to look like this:

<img width="855" alt="screen shot 2017-03-29 at 6 59 36 pm" src="https://cloud.githubusercontent.com/assets/2355108/24480367/f048ee4c-14b1-11e7-98aa-1dd8412e06bb.png">

---

The developer console shows these errors:

<img width="1039" alt="screen shot

[2017-03-30 22:53] milmazz commented on #695
@sheharyarn It seems that Firefox (among others) is using [ots](https://github.com/khaledhosny/ots) to try to sanitize Open Type fonts. The *Merriweather* font is hosted in http://fonts.google.com. So, I think this issue should be addressed by the [Google Fonts team](https://github.com/google/fonts), wdyt?

/cc @josevalim @dignifiedquire

[2017-03-31 00:30] michalmuskala commented on #695
The docs should work offline, though. So I'm not sure using google fonts is an option here.

[2017-03-31 00:45] josevalim commented on #695
They do work offline because we fallback to a local font.

[2017-03-31 01:49] aphillipo commented on #695
You can just download the font from Google and include it without too many issues; it's licensed as follows:

http://scripts.sil.org/cms/scripts/page.php?site_id=nrsi&id=OFL_web

TLDR; "The OFL allows the licensed fonts to be used, studied, modified and
redistributed freely as long as they are not sold by themselves"

More about OTS and maybe changing to WOFF might help in Firefox?

http://typedra

[2017-04-03 18:18] Nicd opened #696 "Project name that is too long wraps weirdly"
It seems #621 breaks wrapping of a project name that is too long, since it wraps on any character. This is what it looks like on my project:

https://files.nytsoi.net/NFyT.png

This is what it looks like if you remove `word-break: break-all`:

https://files.nytsoi.net/iFNw.png

If I remove the break-all and make my browser window smaller, I cannot see any wrapping issues. But maybe the issue fixed

[2017-04-03 18:28] Nicd commented on #696
Ah, I see now that the problem is if the project name is one long word like `VeryLongWordThatDoesNotFit`. But I think adding `word-wrap: break-word` is a better solution than `word-break: break-all`, since the former tries to wrap the name normally first and then falls back to wrapping on any character, whereas the latter will always wrap on any character.

With `word-wrap: break-word`:

![](https

[2017-04-04 01:26] josevalim commented on #696
Good catch. Can you please send a PR?

[2017-04-09 17:43] #696 closed

[2017-04-17 02:27] sheharyarn commented on #695
The problem seems to be with the `v2.001` update of the Merriweather font. There's an [issue open](https://github.com/EbenSorkin/Merriweather/issues/44) on the font's [Github repository](https://github.com/EbenSorkin/Merriweather) too.

[2017-04-17 13:17] dm1try opened #698 "Nested type links are rendered incorrectly"
https://hexdocs.pm/logger/Logger.html#t:metadata/0 :bowtie:
![image](https://cloud.githubusercontent.com/assets/486807/25089945/422cb348-2389-11e7-9de9-ca46bcbcfbcb.png)

[2017-04-18 01:29] lalo2302 commented on #688
Could you describe the process you followed, so I can reproduce it

[2017-04-18 01:46] eksperimental commented on #688
simply run `mix test` you will see it.
for example
https://travis-ci.org/elixir-lang/ex_doc/jobs/220122262#L1894

[2017-04-18 10:00] josevalim commented on #698
This is probably related to #694. /cc @ymtszw

[2017-04-18 14:40] ymtszw commented on #698
Yes it is.

I'm not familiar with standard libraries' (like Logger's) doc generations but now with ex_doc v0.15.1 released,
when Logger's doc is re-generated using ex_doc v0.15.1 or newer, this should be resolved I presume.

[2017-04-18 15:55] dm1try commented on #698
Okie 👍

[2017-04-18 15:55] #698 closed

[2017-04-28 13:04] balena opened #700 "Ability to exclude files from generated documentation"
ExDoc should have a way to exclude files from the documentation.

There are several cases where certain parts of the implementation are not relevant for a library user. For instance, in GenServer implementations, functions like `init/1`, `handle_call/2`, `handle_cast/2` and `handle_info/2` correspond generally to "internal implementation", and could be removed from the generated documentation with

[2017-04-28 13:41] balena commented on #700
OK, `@moduledoc false` is a fair option. Please ignore my request.

[2017-04-28 13:41] #700 closed

[2017-04-29 13:54] eksperimental commented on #700
To excluse functions but not the whole module use
"@doc false"

[2017-05-05 17:05] kevinlitchfield opened #701 "Link `<h3>` headings in generated documentation"
Currently, only `<h2>` headings are linked in generated documentation (see `ExDoc.Formatter.HTML.Templates.link_headings/3`). It would be useful to be able to link to `<h3>` headings as well (for example, "Term ordering" under "[Comparison operators](https://hexdocs.pm/elixir/operators.html#comparison-operators)" in the Elixir docs).

Would the maintainers consider a PR making this change?

[2017-05-05 23:16] josevalim commented on #701
Yes, that does sound like a reasonable change assuming it won't introduce a lot of code to the codebase.

[2017-05-05 23:29] kevinlitchfield commented on #701
Cool, thanks. Will give it a go.

[2017-05-08 14:38] #688 closed

[2017-05-08 21:16] nscyclone opened #703 "Old search results won't disappear"
Steps to reproduce:
* Visit a page built on the latest `ex_doc` release (e.g. https://hexdocs.pm/ecto/Ecto.html);
* Type something into the search field, press <kbd>Enter</kbd>. Repeat this at least two times.
* Close the last results;
* Scroll to the bottom of the page: all the results except for the explicitly closed ones will be present.

Expected behavior: the old results should be removed aft

[2017-05-08 22:04] #703 closed

[2017-05-11 16:29] DoumanAsh opened #705 "h2 header with `link` breaks generation navi part without any warning/error?"
I didn't notice it immediately, but when i published my package i noticed that navi part of my docs has nothing https://hexdocs.pm/elivndb/EliVndb.html

It seems to happen due to me putting following header in README:
[code]

There is no error or warning.
But all other pages are generated without issues. And if i remove quotes then navi part will have content:
[code]

[README.md](https://raw.githu

[2017-05-11 17:46] josevalim commented on #705
@DoumanAsh definitely sounds like a bug. Could you please investigate? Let us know if you have any questions regarding ExDoc codebase.

[2017-05-11 18:17] DoumanAsh commented on #705
Ok, i tried to compare produced `sidebar-items-<digest>.js` and it turns out that my README.md causes ex_doc to create invalid JS Object:

Normal case:
[code]

Broken case:
[code]

It seems like attempts to put quotes forces ex_doc to turn ID into actual link
[code]

Problem most likely somewhere in `Templates.create_sidebar_items`
I'll try to look there

[2017-05-11 18:23] josevalim commented on #705
Awesome, great find!

[2017-05-11 18:39] DoumanAsh commented on #705
Ok, looking into code. Each header gets id from regex `@h2_regex  ~r/<h2.*?>(.+)<\/h2>/m`
Since its intended to capture all stuff and by this point content is already converted fully to HTML, you get full link as ID.

The question is what to do with that?

Should ex_doc be able to handle this cases?
Most likely we need to determine what kind of header we get, before actually processing it.
Another

[2017-05-11 19:03] josevalim commented on #705
@DoumanAsh I think we decided to work on HTML to unify all mechanisms that we have for generating titles. I know the way to hell is paved with regexes but maybe we should use a regex for stripping HTML tags?

[2017-05-11 19:06] DoumanAsh commented on #705
Yes, i'll try to play around.
Actually now i think we can strip it with something simple as `&(String.replace(&1, ~r/<[^>]+>/, ""))`

I'll be back with PR later on

[2017-05-11 19:16] eksperimental commented on #705
@DoumanAsh please if you are going to this, try with a well tested regex, as it is a common problem.
I tried looking for one tha strips html tags and come up with this one
http://stackoverflow.com/a/17668453
`<(?:[^>=]|='[^']*'|="[^"]*"|=[^'"][^\s>]*)*>`
I haven't tested it myself though

[2017-05-11 20:14] DoumanAsh opened #707 "warning: redefining module Mix.Tasks.Docs (current version defined in memory)"
When just building as dependency
[code]

Should it be addressed?

[2017-05-11 20:23] josevalim commented on #707
I cannot reproduce it. Are you using master from your dependency?

[2017-05-11 20:24] #705 closed

[2017-05-11 20:25] DoumanAsh commented on #707
No, it is current stable `0.15.1`
I can see the same in Travis tests when running `mix do local.hex --force, deps.get, test && mix coveralls.travis`

[2017-05-11 20:26] josevalim commented on #707
@DoumanAsh yes, i can reproduce it now. Investigating...

[2017-05-11 20:30] josevalim commented on #707
The bug comes from earmark that loads a docs test in there. I will send a PR there.

[2017-05-11 20:30] #707 closed

[2017-05-11 20:42] josevalim commented on #707
And before I forget, thank you for reporting! :+1:

[2017-05-15 05:08] ScrimpyCat opened #710 "Malformed h2 link_headings when using a markdown processor that outputs minimised/packed HTML"
When using a markdown processor that outputs minimised HTML (no newlines between tags) the h2 link_headings end up malformed. This issue also applies to the sidebar links.

### Example

[code]

The first `<h2>Foo</h2><h2>Bar</h2>` produces the malformed output, while the second `<h2>Foo</h2>\n<h2>Bar</h2>` variant produces the correct output.

[2017-05-15 05:19] eksperimental commented on #710
what processor in particular are you using and with what options?

[2017-05-15 05:31] ScrimpyCat commented on #710
The processor is my own toy library. Regardless the fix should be fairly simple, I believe it should only require changing the two `@h2_regex` at lines 146 and 226 to: `@h2_regex ~r/<h2.*?>(.*?)<\/h2>/m`

e.g.
[code]

Whilst still works for empty h2.

[code]

[2017-05-15 08:02] josevalim commented on #710
Can you please send a PR? Note that this has been recently changed in master, so it may be fixed there.

[2017-05-15 09:27] ScrimpyCat commented on #710
Sure, I'll make one now. And yes this still affected master (those iex sessions were from the master branch).

[2017-05-15 11:52] #710 closed

[2017-05-16 15:49] michalmuskala opened #712 "Generate a separate section for mix task documentation"
Today, mix tasks are documented as regular modules. This is fine, but in some cases creates a lot of noise in the documentation. For example this is what we see when we open phoenix docs
<img width="289" alt="screenshot 2017-05-16 17 47 58" src="https://cloud.githubusercontent.com/assets/477062/26115287/d778918c-3a5f-11e7-9914-3a7551cc0aba.png">
Only the tasks!

I propose we document tasks separat

[2017-05-16 15:51] whatyouhide commented on #712
I am 👍 on this given exceptions are modules as well but we document them in a separate section. The  only thing to note is that all other things (protocols, exceptions, modules) are Elixir concept while Mix is slightly "external" to Elixir, but I don't think that should be a problem.

[2017-05-16 16:13] milmazz commented on #712
@michalmuskala There was a proposal from @dignifiedquire some time ago #329 to add a nesting level for the first level of modules, that proposal at least to me seems more generic than to create a new tab called "Tasks". wdyt?

[2017-05-16 16:34] michalmuskala commented on #622
I'm looking to make some changes in the Phoenix Endpoint documentation and this would be really helpful - the primary use case would be linking to the callback documentation while spelling out arguments, something like:

[code]

[2017-05-16 16:36] michalmuskala commented on #712
I'm not sure we need something as general. Grouping things wouldn't also solve the issue with the tasks being listed before real modules. Separating tasks from modules also solves this issue.

[2017-05-16 17:06] josevalim commented on #712
:+1: for a tasks group.

[2017-05-17 18:55] blaketan opened #714 "Multiple extra files that share the same filename overwrite each other."
I'm currently using ex_doc in the root directory of an umbrella project with multiple applications, each having it's own README.md file.  The following is from the `mix.exs` of the project root:

[code]

When I run the `mix docs`, the headings from each of respective files show up in the sidebar, however they are all linked into the last defined extra file with the same name (`apps/app2/README.md`

[2017-05-17 19:07] josevalim commented on #714
I believe we log in this case, don't we?

The solution here is to fully specify your extras, as the default mechanisms use only the last part of the path and changing this would be backwards incompatible.

    "apps/app1/README.md": [filename: "app1-readme", title: "App1 README"]

[2017-05-17 20:09] blaketan commented on #714
You're correct, it's logged as:
`warning: file doc/readme.html already exists`

Managed to get it working by fully specifying extras as suggested, thanks @josevalim !

[2017-05-17 22:43] josevalim commented on #714
awesome!

[2017-05-17 22:43] #714 closed

[2017-05-18 23:09] eksperimental opened #717 "Allow http:// when guessing URL pattern"
I coudln't figure out what was wrong with a test, and it was because source_ref was set to "http://github.com/elixir-lang/ex_doc/" and not "https://..."
https://github.com/elixir-lang/ex_doc/blob/8269ca8/lib/ex_doc.ex#L145-L159

GitHub, GitLab and BitBucket will redirect you to https if you try to fetch a project via "http://"

My proposal is to accept http:// and return the guessed address with h

[2017-05-19 06:01] josevalim commented on #717
Isn't this what we do? If you are proposing to rewrite http to https I don't think we should rewrite it. Users can fix on their side.

[2017-05-19 15:00] milmazz commented on #717
I'm with @josevalim here, I don't think we should rewrite from `http` to `https`. @eksperimental Is that what are you suggesting?

[2017-05-19 15:10] eksperimental commented on #717
@milmazz no! that's not :open_mouth:

As of now, if you pass `source_url: "http://github.com/elixir-lang/ex_doc"`
the guess url pattern will be "http://github.com/elixir-lang/ex_doc" and not "http://github.com/elixir-lang/ex_doc/blob/master/%{path}#L%{line}"

What I meant by:

...was that if you provide `source_url: "http://github.com/elixir-lang/ex_doc"`, it should set  `source_url_pattern: "http

[2017-05-19 15:11] eksperimental commented on #717
@josevalim nope. that's not precisely what we are doing now. it only accepts "https://"

[2017-05-19 15:33] milmazz commented on #717
@eksperimental Thanks for your explanation! Now I understand what's your goal here, but, in order to keep things simple I would say that we leave the current behavior as is, because otherwise we also should support URLs like this:

* `source_url: "http://www.github.com/elixir-lang/ex_doc"` -> `source_url_pattern: "http://www.github.com/elixir-lang/ex_doc/blob/master/%{path}#L%{line}"`
* `source_ur

[2017-05-19 15:39] eksperimental commented on #717
but https is really easy to mistake for http, more than www.
We had a test including http as source_ref in ExDoc itself, and it made me waste some of my time trying to figure out that one.  I just corrected it in my last commit.

[2017-05-19 16:29] josevalim commented on #717
In this case let's do a previous pass and rewrite  to https for the cases
we attempt to guess the pattern. Basically let's do the thing I originally
said we should not do :P
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-05-19 18:15] milmazz commented on #717
@josevalim @eksperimental We could cover both transformations in just one step:

[code]

And then guess the URL.

[2017-05-19 19:11] josevalim commented on #717
Let's go with only http -> https for now.

[2017-05-19 19:11] josevalim commented on #717
We will add more complexity with we need later on.

[2017-05-20 07:32] josevalim commented on #695
Ping. Is this fixed? Hopefully they rolled back the version? Thank you!

[2017-05-20 07:33] josevalim commented on #701
@kevinlitchfield if you ever get to this, please let us know! For now we are closing the issue. Thank you!

[2017-05-20 07:33] #701 closed

[2017-05-20 07:33] josevalim commented on #712
Closing in favor of the PR

[2017-05-20 07:33] #712 closed

[2017-05-20 07:35] josevalim commented on #646
This is in master!

[2017-05-20 07:35] #646 closed

[2017-05-20 07:36] josevalim commented on #629
Closing this so we don't promote using HTML in the docs.

[2017-05-20 07:36] #629 closed

[2017-05-20 07:36] josevalim commented on #495
Closing in favor of the PR.

[2017-05-20 07:36] #495 closed

[2017-05-20 07:36] #614 closed

[2017-05-20 08:05] aphillipo commented on #695
Firefox latest seems to work fine.  Testing the developer edition now...

[2017-05-20 08:42] whatyouhide commented on #695
I am 👍 on a better stack :)

[2017-05-20 13:06] #695 closed

[2017-05-20 13:36] whatyouhide commented on #693
This should be closeable after #724 has been merged.

[2017-05-20 13:38] #693 closed

[2017-05-20 13:38] josevalim commented on #717
Closing in favor of the PR.

[2017-05-20 13:38] #717 closed

[2017-05-20 15:59] #690 closed

[2017-05-21 10:20] whatyouhide commented on #622
Should we proceed with any of the alternatives above? I agree that

[code]

feels weird with the backticks but I can't really think of a better alternative 😕

[2017-05-21 10:27] josevalim commented on #622
I think that's the way to go because anything else is pretty much ambiguous.

[2017-05-23 13:22] jamen opened #730 "Improving search engine results for functions"
When I Google a specific function for Elixir looking for API docs, I am not given a link directly to that function.  Instead I get a link to the module page, but this is not always obvious or useful especially if you are new to the language trying to figure out what to use.

Take a few searches as an example:
 - elixir string split
 - elixir binary macro
 - elixir defmodule

I think if each functi

[2017-05-23 13:25] josevalim commented on #730
We probably don't need to have separate pages but there is likely something we can do for Google to index the page better.

[2017-05-23 13:49] milmazz commented on #730
We can include support for *Structured Data* in ExDoc with [schema.org](http://schema.org) or even better with [JSON-LD](https://json-ld.org) in the near future. wdyt?

BTW, this [Structured Data Testing Tool](https://search.google.com/structured-data/testing-tool/#url=http%3A%2F%2Fhexdocs.pm%2Felixir) from Google it's very handy for developers. The example shows that we don't provide any Structur

[2017-05-23 13:54] josevalim commented on #730
That's awesome @milmazz. If we can embed it directly in the markup, it definitely gets more vote.

[2017-05-24 13:20] cloud8421 opened #731 "Missing version error with Umbrella app"
Hello,

I just updated to version `0.16.1` in an umbrella application.

Upon running `mix docs`, this is the error that I get:

[code]

I've created a minimal example here: <https://github.com/cloud8421/ex_doc_error_example>

It's an umbrella app created with Elixir 1.4.4 and I just added the ex_doc dependency, run `mix deps.get` and `mix docs`.

It looks like a change in behaviour (I see that [th

[2017-05-24 13:38] ericmj commented on #731
This is a workaround that might work but we should handle it in ex_doc itself.

[2017-05-24 13:42] cloud8421 commented on #731
Thanks @ericmj I'll use the workaround for now as the umbrella ends up having a version anyway when distillery prepares the release.

[2017-06-01 19:05] lee-dohm opened #735 "Getting error message when configuring :ex_doc Markdown parser according to README"
After adding the following to my `config.exs`:

[code]

I'm getting the error message:

[code]

when I run `mix test` now after following the instructions to configure the Markdown parser that ex_doc uses. Changing the dependency entry in `mix.exs` to the following seems to be a workaround:

[code]

I assume that I'll get the same error message in production? Is there some better way to configure

[2017-06-01 19:10] lee-dohm commented on #735
I moved the configuration item to my `dev.exs` and that fixed the problem :+1:

[2017-06-01 19:10] #735 closed

[2017-06-01 19:10] josevalim commented on #735
Why are you configuring it under `config :ex_doc, ...`? ExDoc is not a runtime application, the configuration should be in mix.exs rather.

[2017-06-01 20:44] lee-dohm commented on #735
I guess I'm not understanding [the part of the README](https://github.com/elixir-lang/ex_doc#cmark) that states: "Update your project configuration to use Cmark". I took that to mean that I should put the line `config :ex_doc, ...` shown there in my application's `config/config.exs`.

[2017-06-01 20:55] josevalim commented on #735
Apologies, you are correct. :)

[2017-06-01 20:56] lee-dohm commented on #735
😅 Thank you for the quick response and the great tools :bow:

[2017-06-02 02:17] eksperimental opened #736 "[Mobile] Sidebar disappears when clicked in search box"
This is happening in Chrome browser for Android, in hexdocs.pm

[2017-06-02 05:56] josevalim commented on #736
Which URL precisely? And can you please post a screenshot? :)

[2017-06-02 06:42] nscyclone commented on #736
@josevalim I suppose any URL would work, for example, https://hexdocs.pm/ecto. I was unable to reproduce in any of the desktop browsers, but it reproduces on Android in Chrome 58.0.3029, Firefox 53 and Opera Mini 25.0.2254. Unfortunately, I don't have any Apple devices to confirm that the bug is present there as well.
It should not be related to responsive layout because changing the viewport size

[2017-06-02 09:10] aphillipo commented on #736
It works fine on iOS (10.3.2) if that's helpful.

[2017-06-02 11:43] eksperimental commented on #736
Correct. It happens in any URL, in landscape and portrait view

[2017-06-02 11:44] eksperimental commented on #736
And a screenshot wouldnt work, as it dissapears instantly as if you were closing thr side panel

[2017-06-06 21:47] d4rk5eed opened #738 "Test helpers in ex_doc output"
Hi guys,
I have some documentation in `test/support/graphql_case.ex`.
But can't make `mix docs` to compile documentation for this module.
How to resolve issue?
thanx in advance

[2017-06-06 21:50] josevalim commented on #738
We only generate documentation from compiled files in the current environment. Given test/support/graphql_case.ex is compiled only in test, you probably want to do `MIX_ENV=test mix docs`.

Btw, please use the mailing list, stack overflow or elixir forum for questions. More people are available for help there. :)

[2017-06-06 21:50] #738 closed

[2017-06-07 02:20] eksperimental opened #739 "Increase contrast of backticks background"
I have to get really close to the screen to be able to determine weather there had been used backticks or not (I mostly can determine this because of the typeface rather than the background color. Particularly when it's plain text (not a link).
Here's what I mean

![backticks](https://user-images.githubusercontent.com/9133420/26859473-25b73ce6-4b62-11e7-8f85-decae98fccb8.png)

/cc @dignifiedquire

[2017-06-07 06:53] josevalim commented on #739
I am particularly fine with how things look like, especially because we also change the font. Having a strong visual distinction would make it rather distracting than readable, no?

[2017-06-07 12:02] eksperimental commented on #739
I don't have sight problems and it is really hard for me to determine whether backticks have been used, specially when reviewing documents, we either need to change the color of the font inside, change the background, add a border, or a combination of them.
I don't have a problem when there is a link inside, so maybe changing the color of the font would help.
I think @milmazz was working on correc

[2017-06-07 12:54] aphillipo commented on #739
I personally think that blue-grey on 80% of computers is very difficult to see and for people with poor eyesight even more so.  If it's there at all it should be a little visible to most users; if the font is enough as Jose implies we shouldn't have the background.  Not everyone has a Mac that has great colour differentiation and IPS panels.  I would just put a border around it:

<img width="879"

[2017-06-07 13:38] josevalim commented on #739
Please do!

[2017-06-07 14:00] eksperimental commented on #739
Regarding relying on the font itself, symbols don't change, for example in my screenshot `===` looks exactly the same as regular font,

Thank you @aphillipo, that will be great if you can do that.

[2017-06-07 14:29] milmazz commented on #739
@eksperimental We certainly decrease the number of accessibility errors recently but we still have a lot of work to do on this subject, especially in the contrast area as you noticed. Sadly I don't have too many spare cycles now to invest on this, but please go ahead @aphillipo, every contribution is more than welcome. I think that we can improve our docs accessibility without sacrificing the curr

[2017-06-08 04:46] aphillipo commented on #736
Might be worth taking a photo of a live phone then to at least everyone would be able to see it?

[2017-06-08 04:58] eksperimental commented on #736
The change is instant. if you want a before is the with sidebar open, ADN the after is wi not side bar.
you can only see that recording a screencast.

[2017-06-09 12:05] profil commented on #736
Browsers running on android will trigger the `resize` event when the on-screen keyboard pops up. Since the `initialize` function in `assets/js/sidebar.js` adds a listener on window resize, the sidebar will be closed every time a resize happens.

I guess the solution would be to either remove the event listener on window resize, or only close the sidebar if the width changed (ignoring the height).

[2017-06-13 14:47] nscyclone commented on #736
Huge thanks to everyone. I suppose that #742 should fix the issue.

[2017-06-15 13:53] mcherep opened #743 "earmark dependency requires Elixir 1.4"
The project requires Elixir v1.3 or above, but earmark requires Elixir v1.4 or above

[2017-06-15 14:52] josevalim commented on #743
@mcherep you can specify an earlier earmark version in your `mix.exs`.

[2017-06-15 14:52] #743 closed

[2017-06-15 15:30] eksperimental commented on #743
ex_doc requires `{:earmark, "~> 1.1"}`, which is the last minor version to use Elixir v1.2

[2017-06-16 11:31] mcherep commented on #743
My bad. Thanks guys

[2017-06-22 10:17] profil opened #745 "Sidebar toggle misaligned"
The recently added "Toggle Sidebar" text next to the hamburger menu is misaligned vertically to the icon, and also partially covered by the sidebar background when opened. I also think that the color of the button should be inverted when shown on top of the sidebar to increase contrast.

![closed_misalignment](https://user-images.githubusercontent.com/412048/27429110-632bef52-5744-11e7-9182-241ad5

[2017-06-22 10:20] josevalim commented on #745
Hrm, I don't see any text. Maybe it depends on your accessibility configuration or such?

[2017-06-22 10:22] profil commented on #745
I guess it has to be built with a later version, I haven't specified any special accessibility options and I can see it on the [gen_stage](https://hexdocs.pm/gen_stage/GenStage.html) docs.

[2017-06-22 10:33] josevalim commented on #745
It was a bug when publishing the docs. It is fixed now, thank you!

[2017-06-22 10:33] #745 closed

[2017-06-26 20:48] #736 closed

[2017-06-26 20:51] eksperimental commented on #736
Thank you @nscyclone for fixing this issue.
Amazing work!

[2017-06-26 20:52] eksperimental commented on #736
@josevalim I think we need to make a new release as this is a very annoying bug if you are checking docs in a mobile

[2017-06-30 08:56] aphillipo opened #747 "[Search] should be part of the browser history..."
Performed on:

https://hexdocs.pm/elixir/String.html (ExDoc 0.16.0)

Steps to recreate:

1) Navigate to the above URL and perform a search
2) Click back
3) You are navigated to the previous page (i.e. possibly a different site)

Desired outcome:

You stay on the same page and the search overlay closes.

I've seen some very strange things around this such as multiple Searches being part of the hist

[2017-06-30 09:00] aphillipo commented on #533
I like the idea of Autocomplete as you type for this and might take it at some point.  What entities should be part of the search just function/macro names and arity?  Or do we want structs and callables and signals and behaviours as well?

[2017-06-30 09:02] aphillipo commented on #341
Okay I'll take a look at this seeing at I just filed the same bug.

[2017-06-30 09:02] #747 closed

[2017-07-01 09:23] josevalim commented on #533
@aphillipo I think everything that we can possibly search should work (module names, function, macros, structs, etc).

[2017-07-02 05:52] aphillipo commented on #533
@josevalim I have a prototype of search browser  history that works (still a few weird edge cases to iron out).  I’ll refector search to support this afterwards.  I have one question though, which shortcut should we use?

[2017-07-02 05:54] aphillipo commented on #533
Ctrl + T on Mac I guess?  Presumably Ctrl + T on Windows/Linux opens a new tab?

[2017-07-02 06:10] aphillipo commented on #533
Be good to be able to effectively Alt - Tab between history items from with ExDoc too.  Probably a different feature though.

[2017-07-02 08:31] josevalim commented on #533
Thanks Andrew!

Is it a simple shortcut for the search? i think so right? Since if we need
autocomplete we could also add it directly there. If so, any shortcut is
fine by me. What do sites usually use? Alternatively we can simply start
with the search bar focused.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-07-02 10:21] aphillipo commented on #533
@josevalim I was thinking it would look like Spotlight on a Mac instead, with a nice shadow and as you typed it would show search results?

[2017-07-02 10:24] josevalim commented on #533
Oh, I see. So one is a "Go to" kind of thing, the other is an actual search. Yes, that sounds good to me then. If we are going to pick a shortcut, I would use "t" which is the file finder for github.

[2017-07-02 10:26] aphillipo commented on #533
"t" with no modifier key works!  Please try out the history in #748 !

[2017-07-02 11:49] aphillipo commented on #533
Oh I can add the Ctrl search/Go to feature as well but I'll be based on the history changes.  It's very quick but it should probably be based upon #749 to avoid issues.  Do we need an autocomplete Spotlight style search as well?

[2017-07-02 13:30] josevalim commented on #533
@aphillipo I think we are discussing two things:

1. Search history with autocomplete based on the history
2. A feature that works like go-to in auditors

Is it correct? I think both would be welcome, I just want to make sure we don't talk past each other.

[2017-07-02 14:48] aphillipo commented on #533
Yes. I believe this issue is 2. - shall I open an issue for 1.?

[2017-07-02 15:28] josevalim commented on #533
No, it is fine. I just wanted to make sure we were on the same page.

[2017-07-04 07:26] Gazler opened #750 "Nested links generated when using `Module` inside of a link"
When working on the Phoenix Guides, I wrote the following line:

    There are many functions defined in the endpoint module for path helpers, channel subscriptions and broadcasts, instrumentation, and  endpoint configuration. These are all covered in the [Endpoint API of the `Phoenix.Endpoint` docs](Phoenix.Endpoint.html#module-endpoints-api).

Which rendered as
![exdoc-nested-link](https://user-

[2017-07-05 05:00] aphillipo opened #751 "[Build] Do not include generated assets in source control"
To avoid endless conflicts we really shouldn't have to add the generated app*.* in source instead build them as part for a release.

- [ ] Make sure travis.yml includes nodejs, npm, gulp and less
- [ ] Understand the release process a bit better
- [ ] Generate CSS as part of a release
- [ ] Generate JS as part of a release
- [ ] Generate CSS as part of travis build
- [ ] Generate JS as part of tra

[2017-07-05 05:14] aphillipo opened #752 "[Testing] Setup Javascript Integration Testing"
The Search History functionality is by it's nature very easy to break.  I'd feel much more comfortable having it tested with something like hound.

https://github.com/HashNuke/hound

- [ ] Add Hound as only: test dependancy (maybe with Chrome Headless support?)
- [ ] Setup build to include Chrome or phantomjs
- [ ] Write tests for Search History functionality
- [ ] Discuss other Javascript that co

[2017-07-05 05:17] aphillipo commented on #434
I've personally always found the Anchor symbol a little weird.  Shall we just remove it and them this bug can be closed :-)?

Also there is obviously no hover on real mobile devices so maybe we are worrying about something that will only affect a very very limited number of situations?

[2017-07-05 07:44] josevalim commented on #434
Yes, I am fine to leave this as is.

[2017-07-05 07:44] #434 closed

[2017-07-05 07:45] josevalim commented on #752
Shouldn't be using javascript tests instead?

[2017-07-05 07:45] josevalim commented on #751
I am a :-1: on here because then it means ex_doc is no longer usable out of the box as a git dependency and i don't want to impose users of ex_doc to have all of that tooling.

[2017-07-05 07:45] #751 closed

[2017-07-05 07:46] josevalim commented on #751
In other words, I would rather have us deal with the pain than push that to everybody else. :)

[2017-07-05 07:52] aphillipo commented on #751
Sure, fair points. Really do wonder some days how you became so good at this, most of the decisions in this community are the correct ones.

[2017-07-05 07:53] aphillipo commented on #752
I think using a real browser (or several) is vital because unit testing (which I presume you mean) won't really give us any idea of the truth. Unfortunately the browser is still a hostile environment compared to   Elixir and only integration tests will really show us if the browser hasn't decided that it doesn't like adding history in weird edge cases (for example).

[2017-07-10 13:33] m13m opened #753 "Is someone is working on this Port ExDoc to Elm"
I saw the [idea](https://github.com/beamcommunity/beamcommunity.github.com/wiki/Project:-Elixir ) over here is someone working on this project.

[2017-07-10 13:38] josevalim commented on #753
Nobody is working on it. :) So if you are interested in exploring it, please go ahead.

[2017-07-10 13:38] #753 closed

[2017-07-10 13:42] aphillipo commented on #752
Okay I need to concentrate on finishing my current project.  This is not sign to happen any time soon.

[2017-07-10 13:42] #752 closed

[2017-07-14 13:51] #509 closed

[2017-07-17 22:12] Eiji7 opened #755 "Extra term() as first argument for all macros in @spec."
Here you can see [original post](https://elixirforum.com/t/exdoc-why-i-get-always-term-as-a-type-of-first-argument-in-spec-for-any-macro/6959?u=eiji) on Elixir forum.
I looked deeper and found: #166 PR.

@ScrimpyCat asked:

and @josevalim answered:

I do not see any `MACRO-` prefix, so this part looks ok for me, but I can see `term()` as first argument, so it should be corrected as José said.

[2017-07-18 08:13] #755 closed

[2017-07-30 11:53] SchrodingerZhu opened #757 "MathJax Wanted!"
Why there is no original MathJax support? I am begging for it!

[2017-07-30 16:37] josevalim opened #758 "Should we always include source map files ( .map) in generated docs?"
Or only if we include a flag such as --dev?

/cc @ericmj @milmazz @eksperimental @nscyclone

[2017-07-30 16:38] #341 closed

[2017-07-30 16:43] josevalim commented on #757
Can you please provide some examples and use cases of what you are trying to achieve? It is most likely you will have to implement it yourself but we can provide some guidance depending on what you want to build.

[2017-07-30 21:17] milmazz commented on #757
@josevalim I bet @SchrodingerZhu is working with some mathematical formulas and also wants to see a good-quality typography for them in the Web Browser. Something like this:

![screenshot_20170730-161014](https://user-images.githubusercontent.com/34700/28757135-261a824c-7542-11e7-9164-60d7d752747d.png)

@SchrodingerZhu As a workaround, you should include the MathJax CDN in the header template.

[2017-07-31 16:14] ericmj commented on #758
I don't think it's necessary for production doc builds because it's usually pretty easy to regenerate the same docs by getting the library and ex_doc versions. But it's a very small thing to include anyway so for me either works :)

[2017-07-31 17:09] josevalim commented on #758
It is 1.4mB per project. In Elixir, with 6 projects, it is a noticeable
increase on file size.
--

*José Valimwww.plataformatec.com.br
<http://www.plataformatec.com.br/>Founder and Director of R&D*

[2017-07-31 22:19] ericmj commented on #758
increase on file size.

In that case I would not recommend to include it by default.

[2017-08-01 09:30] SchrodingerZhu commented on #757
Yes, as I am writing some data structures, time and space complexities of my methods require me to write formula in my docs. Of course I can add support on my own, but it is of great inconvenience. So I suggest that ex_doc should add MathJax or other form of formula plugin.

[2017-08-01 09:37] josevalim opened #760 "Bugs in the new search history"
Hi @aphillipo!

I have been running your new PR on master and it works great. We were also able to catch some bugs. Some of those have been fixed in master:

* 3e8f16db75df1a183f752726851151817779d57c
* 050591baff102a4ddb426f27674c791e4fafc45e

But some were not. Those are described below:

## It breaks usual navigation

To reproduce:

1. Open up the documentation of any module
2. Click on any fun

[2017-08-01 09:39] josevalim commented on #757
@SchrodingerZhu I am worried about adding something that will affect the page load of all projects when very few projects will need the feature. I believe we should make this as easy as possible but I don't think we will provide this experience out of the box.

[2017-08-01 11:14] josevalim commented on #758
I put it behind a --debug flag in master.

[2017-08-01 11:14] #758 closed

[2017-08-01 14:03] aphillipo commented on #760
I will take a look now...

[2017-08-01 23:13] SchrodingerZhu commented on #757
OK, in that case, I may add it by myself. And I suppose that you can add it as an optional feature which can be chosen in 'mix'.

[2017-08-01 23:14] SchrodingerZhu commented on #757
You can close this issue now.

[2017-08-01 23:50] tmbb commented on #757
A little offtopic, but try KaTeX. It supports almost everything Mathjax does and is much faster.

[2017-08-02 01:04] tmbb opened #761 "Customizing ExDoc templates"
Is it possible to customize the HTML templates without forking ExDoc? Or at least inject some CSS and Javascript?

[2017-08-02 06:17] josevalim commented on #761
Not right now but we would gladly consider a pull request that supports such. Maybe we could have `html_head` key in the mix.exs which we simply inject in templates.

[2017-08-02 06:18] josevalim commented on #757
Issue #761 should make this possible.

[2017-08-02 06:18] #757 closed

[2017-08-02 07:00] tmbb commented on #761
I think we should add the following options:

* `html_extra_head` - text to include after the head (useful for CSS and maybe Javascript)
* `html_extra_footer` - text to include after the footer (useful for Javascript)
* `extra_files` - something like this:

[code]

I have real use cases at least for the `:dynamic` part.

What do you think?

[2017-08-02 07:06] josevalim commented on #761
@tmbb then maybe it is better to allow you to hook into each HTML generated. We give you the whole HTML and you can do whatever you want with it. So `custom_html: &add_extra/2` and for each generate HTML the function receives the filename (such as "search") and the whole body and it must return the body.

[2017-08-02 07:30] tmbb commented on #761
That solves the first two points, not the third (it doesn't allow me to add my own Javascript and CSS files). And it would require manipulating an HTML document, which is not ideal. But if you think that's the best option, then ok. It's certainly the most flexible, short of overwriting the templates with custom ones supplied by the user (which might even be better).

For the second point, could yo

[2017-08-02 07:45] tmbb opened #762 "ExDoc assumes too much about the markdown modules"
The function `ExDoc.Markdown.as_html/2` (https://github.com/elixir-lang/ex_doc/blob/master/lib/ex_doc/markdown.ex#L31) assumes that the markdown implementation will generate code blocks eant to be highlighted by javascript. It calls `pretty_codeblocks/1` which mangles the resulting code blocks. This should be handled by the `as_html/2` function in the markdown modules themselves (`ExDoc.Markdown.{

[2017-08-02 07:50] tmbb commented on #762
PS: my "custom markdown implementation" is just earmark with a custom code highlighter.

[2017-08-02 07:53] tmbb commented on #762
I'm aware that this is a breaking change for people who use their own markdown implementations (I don't think this is a thing, though) and might depend on you changing the code block class. If tou think it's best, I can simply output code that deals with your postprocessing step.